Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

fix(deployments): panic on database errors on DELETE /artifacts
  backend/services/deployments/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned snapshots after mui updates
  frontend/src/js/common-ui/forms/__snapshots__/TimeFramePicker.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
Due: none

chore(gui): tuned test expectations after dependency updates
  frontend/src/js/store/devicesSlice/thunks.test.tsx
  frontend/src/js/store/storehooks.test.tsx
Due: none

revert: "chore(iot-manager): replace deprecated cipher NewCFBDecrypter and NewCFBEncrypter (...)"
  backend/services/iot-manager/crypto/crypto.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(iot-manager): ignore NewCFBEncrypter NewCFBDecrypter deprecations for now
  backend/services/iot-manager/crypto/crypto.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed an issue that prevented updating existing sso configs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/settings/organization/Organization.tsx
Due: none

chore(gui): increased reliance on backend defined types for delta gen interactions
  frontend/src/js/components/releases/DeltaGenerationDetailsDrawer.tsx
Due: none

ci: upgraded node image used in frontend jobs to supported version
  frontend/pipeline.yml
Due: none

chore(gui): updated gui base images to current version
  frontend/Dockerfile
Due: none

docs(deployments): document 'sort' option in the internal endpoint for getting deployments
  backend/docs/api/deployments/internal_v1.yaml
  backend/services/deployments/docs/internal_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): made it easier for type checker to catch delta gen status name misalignment
  frontend/src/js/components/releases/DeltaGenerationDetailsDrawer.tsx
Due: none

fix(gui): removed error messages shown when subscribing or showing billing info as trial user
  frontend/src/js/components/settings/organization/Billing.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

docker-compose: introduce healthcheck for mongo, nats and traefik
  docker-compose.yml
Due: none

docker-compose: increase restart
  docker-compose.yml
Due: none

chore(gui): aligned test reference versions after mender-demo-artifact update
  frontend/tests/e2e_tests/fixtures/fixtures.ts
Due: none

chore: clean up stale requirements
  backend/services/deployments/apk-requirements.txt
  backend/services/deployments/deb-requirements.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: consolidate coveralls jobs
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

docs: Add documentation that `retries` is restricted to professional and enterprise plans
  backend/docs/api/deviceconfig/management_v1.yaml
  backend/services/deployments/docs/management_api_v2.yml
  backend/services/deviceconfig/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix: Validate rate limit config when setting up redis
  backend/pkg/config/ratelimits/config.go
  backend/pkg/config/ratelimits/ratelimits.go
  backend/pkg/config/ratelimits/ratelimits_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(pkg): extend UnmarshalSliceSetting to handle slice of structs
  backend/pkg/config/unmarshal.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor: learning how to spell "Rate limits"
  backend/pkg/config/rate.limits/config.go
  backend/pkg/config/rate.limits/ratelimits.go
  backend/pkg/config/rate.limits/ratelimits_test.go
  backend/services/deviceauth/config.yaml
  backend/services/deviceauth/config/config.go
  backend/services/deviceauth/server.go
  backend/services/useradm/config.yaml
  backend/services/useradm/config/config.go
  backend/services/useradm/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(ratelimits): Move ratelimits default configs to service config
  backend/pkg/config/ratelimits/config.go
  backend/services/deviceauth/config/config.go
  backend/services/useradm/config/config.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(useradm): Add rate limiting configuration for authenticated requests
  .cliffignore
Due: none

feat(deviceauth): Add rate limiting configuration for authenticated requests
  .cliffignore
  backend/services/deviceauth/config.yaml
  backend/services/deviceauth/config/config.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: This is just a test commit to check CI
  .gitlab-ci.yml
  README.md
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

fix(gui): increased reliance on theme defined button colors to align more w/ updated theme
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/common-ui/dialogs/ConfirmDismissHelpTips.tsx
  frontend/src/js/common-ui/dialogs/Log.tsx
  frontend/src/js/common-ui/forms/KeyValueEditor.tsx
  frontend/src/js/common-ui/forms/PasswordInput.tsx
  frontend/src/js/components/auditlogs/AuditlogsView.tsx
  frontend/src/js/components/auditlogs/eventdetails/TerminalPlayer.tsx
  frontend/src/js/components/deployments/Deployments.tsx
  frontend/src/js/components/deployments/Report.tsx
  frontend/src/js/components/deployments/ScheduledDeployments.tsx
  frontend/src/js/components/deployments/deployment-report/AiLogAnalysis.tsx
  frontend/src/js/components/deployments/deployment-report/Log.tsx
  frontend/src/js/components/deployments/deployment-report/PhaseProgress.tsx
  frontend/src/js/components/devices/device-details/ConfigImportDialog.tsx
  frontend/src/js/components/devices/device-details/Configuration.tsx
  frontend/src/js/components/devices/device-details/DeviceTags.tsx
  frontend/src/js/components/devices/device-details/DeviceTwin.tsx
  frontend/src/js/components/devices/dialogs/CustomColumnsDialog.tsx
  frontend/src/js/components/devices/dialogs/MakeGatewayDialog.tsx
  frontend/src/js/components/devices/dialogs/MonitorDetailsDialog.tsx
  frontend/src/js/components/devices/group-management/CreateGroup.tsx
  frontend/src/js/components/devices/group-management/RemoveGroup.tsx
  frontend/src/js/components/devices/troubleshoot/FileTransfer.tsx
  frontend/src/js/components/devices/troubleshoot/TerminalWrapper.tsx
  frontend/src/js/components/devices/widgets/Filters.tsx
  frontend/src/js/components/login/Password.tsx
  frontend/src/js/components/login/PasswordReset.tsx
  frontend/src/js/components/login/signup-steps/OrgdataEntry.tsx
  frontend/src/js/components/releases/Releases.tsx
  frontend/src/js/components/releases/dialogs/AddArtifact.tsx
  frontend/src/js/components/releases/dialogs/AddTags.tsx
  frontend/src/js/components/settings/ArtifactGeneration.tsx
  frontend/src/js/components/settings/organization/SSOEditor.tsx
  frontend/src/js/components/settings/role-management/RoleDefinition.tsx
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/twofactorauth-steps/AuthSetup.tsx
  frontend/src/js/components/tenants/TenantCreateForm.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/common-ui/dialogs/__snapshots__/ConfirmDismissHelpTips.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/ConfigImportDialog.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Configuration.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceTwin.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MakeGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/PreauthDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/customColumnsDialog.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/RemoveGroup.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOEditor.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/RoleDefinition.test.tsx.snap
  frontend/src/js/components/settings/user-management/twofactorauth-steps/__snapshots__/AuthSetup.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantsForm.test.tsx.snap
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
