Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore(gui): remove redundant vitest config options
  frontend/vitest.config.ts
Due: none

chore(gui): bump vitest to v5
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): spread field and forward onChange in ControlledSelect
  frontend/src/js/common-ui/forms/ControlledSelect.tsx
  frontend/src/js/components/settings/role-management/PermissionsItems.tsx
Due: none

chore(gui): update snapshots
  frontend/src/js/common-ui/forms/__snapshots__/Select.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/AuthorizedDevices.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/FilterItem.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/Filters.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/AccessTokenManagement.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/RoleDefinition.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
Due: none

chore(gui): update eslint-config to newest version
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/formatLicenses.ts
  frontend/src/js/components/dashboard/SoftwareDistribution.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.tsx
  frontend/src/js/components/devices/device-details/DeviceTwin.tsx
  frontend/src/js/components/devices/device-details/InstalledSoftware.tsx
  frontend/src/js/components/devices/dialogs/CustomColumnsDialogContent.tsx
  frontend/src/js/components/settings/organization/SSOEditor.tsx
  frontend/tests/e2e_tests/integration/02-baseline/02-settings.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-auditlogs.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/30-saml.spec.ts
Due: none

test(e2e): adjust select dismissal to prevent stale listboxes from blocking navigations
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
Due: none

test(e2e): disable autofocus when appending empty option to PermissionItem select
  frontend/src/js/components/settings/role-management/PermissionsItems.tsx
Due: none

chore(gui): let focus stay with currently edited permissions for scoped permission sets
  frontend/src/js/components/settings/role-management/PermissionsItems.tsx
Due: none

docs(deviceauth): update IdentityData definition from enterprise
  backend/docs/api/common/schemas.yaml
  backend/docs/api/deviceauth/management_v2.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: regenerate API clients from OAS
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/model_auth_set.go
  backend/pkg/api/client/model_device.go
  backend/pkg/api/client/model_identity_data.go
  backend/pkg/api/client/model_pre_auth_set.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/auth_set.py
  backend/tests/mender_client/models/device.py
  backend/tests/mender_client/models/identity_data.py
  backend/tests/mender_client/models/pre_auth_set.py
  backend/tests/runner/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: update integration tests IdentityData model
  backend/tests/runner/tests/opensource/devauth_management_v2_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): update acceptance test identity_data OAS model
  backend/services/deviceauth/tests/tests/client.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): use controlled autocomplete in country select
  frontend/src/js/common-ui/forms/CountrySelect.tsx
  frontend/src/js/components/settings/PlanExpanded.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
Due: none

chore(gui): update snapshots
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
Due: none

fix(deviceauth): upgrade github.com/golang-jwt/jwt v4 -> v5
  backend/go.mod
  backend/services/deviceauth/jwt/claims.go
  backend/services/deviceauth/jwt/jwt_ed25519.go
  backend/services/deviceauth/jwt/jwt_ed25519_test.go
  backend/services/deviceauth/jwt/jwt_rsa.go
  backend/services/deviceauth/jwt/jwt_rsa_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deviceauth): cleanup deadcode :broom:
  backend/services/deviceauth/jwt/token.go
  backend/services/deviceauth/jwt/token_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: tidy integration test dependencies :broom:
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(useradm): add JWT validation test case for tokens without expiry
  backend/services/useradm/jwt/jwt_rsa_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(useradm): upgrade github.com/golang-jwt/jwt v4 -> v5
  backend/go.mod
  backend/go.sum
  backend/services/useradm/jwt/claims.go
  backend/services/useradm/jwt/jwt.go
  backend/services/useradm/jwt/jwt_ed25519.go
  backend/services/useradm/jwt/jwt_ed25519_test.go
  backend/services/useradm/jwt/jwt_rsa.go
  backend/services/useradm/jwt/jwt_rsa_test.go
  backend/services/useradm/user/useradm.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): increase timeout for long user creation e2e test
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
Due: none

feat(deviceconnect): add readiness probe memory limits
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/config.yaml
  backend/services/deviceconnect/config/config.go
  backend/services/deviceconnect/server/server.go
  backend/services/deviceconnect/utils/memlimit/memlimit.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): Unit tests for memlimit utilities
  backend/services/deviceconnect/utils/memlimit/memlimit_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceconnect): add readiness probe memory limits
  backend/services/deviceconnect/config/config.go
  backend/services/deviceconnect/utils/memlimit/memlimit.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): make attribute options wrap & widen the popper
  frontend/src/js/components/devices/widgets/AttributeAutocomplete.tsx
Due: none

test(deviceconnect): unit tests for loading readiness config
  backend/services/deviceconnect/config/config_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: fix installing mender-artifact in the integration tests
  backend/tests/Dockerfile.integration
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(workflows): do not evaluate ${...} expressions coming from user-supplied data
  backend/services/workflows/app/processor/job.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): unit tests for healthcheck readiness limits
  backend/services/deviceconnect/app/app_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): remove grouping from issue selection & align w/ design
  frontend/src/js/components/devices/widgets/IssueSelection.tsx
Due: none

test(gui): adjust unit tests after issueSelection adjustments
  frontend/src/js/components/devices/AuthorizedDevices.test.tsx
  frontend/src/js/components/devices/widgets/IssueSelection.test.tsx
Due: none

test: fix integration tests Dockerfile
  backend/tests/Dockerfile.integration
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(4.0.x): release 4.0.5
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore(4.1.x): release 4.2.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix(deviceconnect): only allow one connection per device at a time
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/device_test.go
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/app/mocks/App.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(4.0.x): release 4.0.6
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix(deployments): constrain individual tag length to 256 characteres
  backend/docs/api/deployments/management_v1.yaml
  backend/docs/api/deployments/schemas.yaml
  backend/docs/api/dist/openapi.yaml
  backend/services/deployments/model/release.go
  backend/tests/mender_client/api/deployments_v2_management_api_api.py
  backend/tests/mender_client/models/release_v1.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(inventory): allow `.` (period) in group names
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/inventory/internal_v1.yaml
  backend/docs/api/inventory/management_v1.yaml
  backend/pkg/api/client/api_device_inventory_management_api.go
  backend/pkg/api/client/model_group.go
  backend/pkg/rules/patterns.go
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/inventory/model/device_test.go
  backend/tests/mender_client/api/device_inventory_management_api_api.py
  backend/tests/mender_client/models/group.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
