Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

test(gui): add a wait for pending requests started in unit tests
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/common-ui/dialogs/Feedback.test.tsx
  frontend/src/js/components/deployments/Report.test.tsx
  frontend/src/js/components/devices/DeviceGroups.test.tsx
  frontend/src/js/components/devices/device-details/Deployments.test.tsx
  frontend/src/js/components/settings/AccessTokenManagement.test.tsx
  frontend/tests/setupTests.ts
  frontend/tests/testUtils.tsx
Due: none

chore(gui): update snapshots
  frontend/src/js/common-ui/__snapshots__/TwoColumnData.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Configuration.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/ArtifactInformationForm.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/FileInformation.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
Due: none

chore(gui): ensure legitimate dom values are passed
  frontend/src/js/common-ui/TwoColumnData.tsx
  frontend/src/js/common-ui/forms/ChipSelect.tsx
  frontend/src/js/components/subscription/SubscriptionConfirmation.tsx
Due: none

chore(gui): avoid nesting paragraphs in each other
  frontend/src/js/components/deployments/DeploymentItem.tsx
  frontend/src/js/components/releases/dialogs/FileInformation.tsx
Due: none

chore(gui): expanded allowed validation rules to be more dot inclusive
  frontend/src/js/common-ui/forms/validations.ts
  frontend/src/js/components/devices/group-management/GroupDefinition.test.tsx
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

chore(gui): aligned manifest name limits w/ backend
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

test(e2e): ensure dotted group name + release tags are accepted across the product
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
  frontend/tests/e2e_tests/utils/constants.ts
Due: none

feat(gui): enable uniform phases rollout during deployment creation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
Due: none

feat(gui): block phased deployments exceeding the phase limit
  frontend/src/js/components/deployments/deployment-wizard/phases/UniformPhases.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/constants.ts
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/validation.ts
Due: none

chore(gui): adjusted snapshots
  frontend/src/js/components/deployments/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/DeploymentsList.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/InProgressDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeploymentStatus.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/RolloutSchedule.test.tsx.snap
  frontend/src/js/components/deployments/progress/__snapshots__/RolloutProgressBar.test.tsx.snap
Due: none

feat(gui): improved deployments overview for phased deployments w/ many phases
  frontend/src/js/components/deployments/DeploymentItem.tsx
  frontend/src/js/components/deployments/deployment-report/DeploymentStatus.tsx
  frontend/src/js/components/deployments/deployment-report/PhaseStatus.tsx
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.tsx
  frontend/src/js/components/deployments/progress/DeploymentProgress.tsx
  frontend/src/js/components/deployments/progress/RolloutProgressBar.tsx
  frontend/src/js/components/deployments/progress/usePhaseProgress.ts
  frontend/src/js/components/deployments/progress/utils.ts
Due: none

chore(gui): improve scroll to error behaviour on deployment creation
  frontend/src/js/components/deployments/CreateDeployment.tsx
Due: none

chore(gui): simplified deployment items appearance to align w/ updated design
  frontend/src/js/components/deployments/DeploymentItem.tsx
  frontend/src/js/components/deployments/DeploymentsList.tsx
  frontend/src/js/components/deployments/InProgressDeployments.tsx
  frontend/src/js/components/deployments/PastDeployments.tsx
  frontend/src/js/components/deployments/ScheduledDeployments.tsx
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
Due: none

test(gui): add unit tests for uniform phased deployments
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.test.ts
  frontend/src/js/components/deployments/deployment-wizard/utils.test.ts
  frontend/src/js/components/deployments/progress/RolloutProgressBar.test.tsx
  frontend/src/js/components/deployments/progress/utils.test.ts
Due: none

refactor(e2e): gave deployment creation helper link capabilities
  frontend/tests/e2e_tests/utils/utils.ts
Due: none

test(gui): add e2e test for uniform phased deployments
  .gitlab-ci.yml
  frontend/pipeline.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/utils/commands.ts
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test(deployments): port deployment lifecycle tests to integration:ng
  backend/tests/runner/tests/opensource/deployments_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): port device decommissioning test to integration:ng
  backend/tests/runner/tests/opensource/decommission_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): port inventory management tests to integration:ng
  backend/tests/runner/go.mod
  backend/tests/runner/tests/opensource/inventory_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): port artifact tests to integration:ng
  backend/tests/runner/tests/opensource/deployments_artifacts_v1_test.go
  backend/tests/runner/tests/opensource/deployments_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(e2e): align admin panel tests after mui picker introduction
  frontend/tests/e2e_tests/integration/05-admin-panel/02-tenants.spec.ts
Due: none

chore(gui): allow detailstable columns to render components w/ access to typed column definition
  frontend/src/js/common-ui/DetailsTable.tsx
  frontend/src/js/components/releases/manifests/ComponentTypesTable.tsx
Due: none

chore(gui): switched tenant list to detailstable based rendering
  frontend/src/js/components/tenants/TenantList.tsx
Due: none

chore(gui): removed details navigation indicator to align w/ updated design
  frontend/src/js/components/tenants/TenantList.tsx
  frontend/tests/e2e_tests/integration/02-baseline/04-tenant.spec.ts
Due: none

chore(gui): aligned tests + snapshots
  frontend/src/js/common-ui/List.test.tsx
  frontend/src/js/common-ui/__snapshots__/List.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantList.test.tsx.snap
Due: none

chore(gui): drop live selection sorting in checkbox autocomplete
  frontend/src/js/common-ui/forms/CheckboxAutocomplete.tsx
Due: none

chore(gui): allow options to wrap and align height with design
  frontend/src/js/common-ui/forms/CheckboxAutocomplete.tsx
Due: none

test(gui): adjust filter interactions in e2e tests
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
Due: none

chore(gui): update snapshots
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleasesFilters.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestsFilters.test.tsx.snap
Due: none

chore(gui): use new chip checkbox autocomplete in filters
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
  frontend/src/js/components/releases/ReleasesFilters.tsx
  frontend/src/js/components/releases/manifests/ManifestsFilters.tsx
Due: none

fix(deviceconnect): make devices websocket connections exclusive
  backend/services/deviceconnect/client/nats/client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(pkg): make stream.ListenNATS listen subject exclusive
  backend/pkg/stream/nats.go
  backend/pkg/stream/nats_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deviceconnect): migrate github.com/urfave/cli{v1 -> v3}
  backend/go.mod
  backend/go.sum
  backend/services/deviceconnect/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deployments): migrate github.com/urfave/cli{v1 -> v3}
  backend/services/deployments/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deployments): cleanup unused configuration variable `middleware`
  backend/services/deployments/config.yaml
  backend/services/deployments/config/config.go
  backend/services/deployments/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deviceauth): migrate github.com/urfave/cli{v1 -> v3}
  backend/services/deviceauth/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deviceconfig): migrate github.com/urfave/cli/{v1 -> v3}
  backend/services/deviceconfig/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(inventory): migrate github.com/urfave/cli/{v1 -> v3}
  backend/services/inventory/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(inventory): non-zero exit code on errors
  backend/services/inventory/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(iot-manager): migrate github.com/urfave/cli/{v1 -> v3}
  backend/services/iot-manager/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses
