Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

build:backend:docker:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

build:backend:docker-acceptance:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

test:backend:static:
  stage: test
  needs: []
  tags:
  - hetzner-amd-beefy
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:6.0
    alias: mongo
  variables:
    TEST_MONGO_URL: mongodb://mongo
  ...

test:backend:acceptance:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

test:backend:integration:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  variables:
    COVERALLS_TOKEN: $COVERALLS_REPO_TOKEN
  ...

fix(gui): prevented device count retrieval for sp tenants to limit error messages in the UI
  frontend/src/js/components/header/header.js
Due: none

fix(gui): fixed loggedin detection on dashboard
  frontend/src/js/components/dashboard/dashboard.js
Due: none

fix(gui): ensured pagination total is a number
  frontend/src/js/store/organizationSlice/thunks.ts
Due: none

chore(gui): aligned layout slightly more with design
  frontend/src/js/components/header/devicecount.tsx
  frontend/src/js/components/tenants/ExpandedTenant.tsx
  frontend/src/js/components/tenants/TenantPage.tsx
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
Due: none

fix(gui): staggered app initialization to reduce unauthorized API calls in SP configs
  frontend/src/js/components/__snapshots__/app.test.js.snap
  frontend/src/js/components/app.test.js
  frontend/src/js/store/storehooks.test.tsx
  frontend/src/js/store/storehooks.ts
Due: none

docs: Update README.md
  README.md
Due: none

chore(gui): introduced common details drawer title component
  frontend/src/js/common-ui/DrawerTitle.tsx
Due: none

chore(gui): aligned relevant drawers to use title component
  frontend/src/js/components/auditlogs/__snapshots__/eventdetailsdrawer.test.js.snap
  frontend/src/js/components/auditlogs/eventdetailsdrawer.js
  frontend/src/js/components/deployments/__snapshots__/report.test.js.snap
  frontend/src/js/components/deployments/createdeployment.js
  frontend/src/js/components/deployments/report.js
  frontend/src/js/components/devices/__snapshots__/expanded-device.test.js.snap
  frontend/src/js/components/devices/expanded-device.js
  frontend/src/js/components/login/signup.test.js
  frontend/src/js/components/releases/releasedetails.js
  frontend/src/js/components/settings/organization/__snapshots__/ssoeditor.test.js.snap
  frontend/src/js/components/settings/organization/ssoeditor.js
  frontend/src/js/components/settings/role-management/RoleDefinition.tsx
  frontend/src/js/components/settings/role-management/__snapshots__/roledefinition.test.js.snap
  frontend/src/js/components/settings/role-management/roles.test.js
  frontend/src/js/components/settings/user-management/userdefinition.js
  frontend/src/js/components/settings/webhooks/configuration.tsx
  frontend/src/js/components/settings/webhooks/management.tsx
  frontend/src/js/components/tenants/ExpandedTenant.tsx
  frontend/src/js/components/tenants/TenantCreateForm.tsx
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantsForm.test.tsx.snap
Due: none

feat: added tenant audit logs type support
  frontend/src/js/components/auditlogs/__snapshots__/auditlogs.test.js.snap
  frontend/src/js/components/auditlogs/__snapshots__/auditlogslist.test.js.snap
  frontend/src/js/components/auditlogs/__snapshots__/eventdetailsdrawer.test.js.snap
  frontend/src/js/components/auditlogs/auditlogs.js
  frontend/src/js/components/auditlogs/auditlogslist.js
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/userchange.test.js.snap
  frontend/src/js/components/auditlogs/eventdetails/userchange.js
  frontend/src/js/components/auditlogs/eventdetails/userchange.test.js
  frontend/src/js/components/auditlogs/eventdetailsdrawer.js
  frontend/src/js/store/organizationSlice/constants.ts
Due: none

fix(gui): removed reliance on role description id and rely on user visible selector instead
  frontend/tests/e2e_tests/integration/08-rbac.spec.ts
Due: none

docs(deviceauth): migration to OpenAPI3
  backend/services/deviceauth/Makefile
  backend/services/deviceauth/docs/devices_api.yml
  backend/services/deviceauth/docs/internal_api.yml
  backend/services/deviceauth/docs/management_api.yml
  backend/services/deviceauth/tests/.openapi-generator.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage

chore: types update
  frontend/src/js/store/api/types/NewTenant.ts
  frontend/src/js/store/api/types/TenantIdsData.ts
Due: none

test: tenant and roles creation, removal and modification
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/09-tenant.spec.ts
  frontend/tests/e2e_tests/run
Due: none

ci(backend): add govendor check to the pipeline definition
  .gitlab-ci.yml
Due: none

fix(gui): rely on user visible selector for role name input
  frontend/tests/e2e_tests/integration/08-rbac.spec.ts
Due: none

fix(gui): do not rely on user visible selector as the rhf + mui combo breaks the connection from select label to actual select
  frontend/tests/e2e_tests/integration/08-rbac.spec.ts
Due: none

chore(deployments): small improvement in the deployments docs
  backend/services/deployments/docs/management_api_v2.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage

chore(pkg): Interface for rate limiting and trivial implementation
  backend/go.mod
  backend/pkg/rate/limit.go
  backend/pkg/rate/limit_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

chore(pkg): Fixed window rate limiting implementation using Redis
  backend/pkg/redis/ratelimit.go
  backend/pkg/redis/ratelimit_test.go
  backend/pkg/redis/redis.go
  backend/pkg/redis/redis_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

test: Unit tests for configuring rate limits
  backend/services/deviceauth/server_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

test: Fix deviceauth.cache tests after changing client initialization
  backend/services/deviceauth/cache/cache_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

feat: Add caching for device limits
  backend/services/deviceauth/cache/cache.go
  backend/services/deviceauth/cache/mocks/Cache.go
  backend/services/deviceauth/devauth/devauth.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

feat(deviceauth): Rate limit authenticated devices API
  backend/services/deviceauth/cache/cache.go
  backend/services/deviceauth/config/config.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_ratelimits.go
  backend/services/deviceauth/main.go
  backend/services/deviceauth/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

test: Unit tests for rate limit parameters and applying rate limits
  backend/services/deviceauth/devauth/devauth_ratelimits_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

ci: create changelog pr every release
  .docs_header.md
  .gitlab-ci.yml
Due: none

ci: release-please optimizations
  .gitlab-ci.yml
Due: none

feat(deployments): new endpoint for getting release by name
  backend/services/deployments/api/http/api_deployments_releases.go
  backend/services/deployments/api/http/api_deployments_releases_test.go
  backend/services/deployments/api/http/routing.go
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_releases.go
  backend/services/deployments/app/app_releases_test.go
  backend/services/deployments/app/mocks/App.go
  backend/services/deployments/docs/management_api_v2.yml
  backend/services/deployments/store/datastore.go
  backend/services/deployments/store/mocks/DataStore.go
  backend/services/deployments/store/mongo/datastore_mongo_releases.go
  backend/services/deployments/store/mongo/datastore_mongo_releases_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

chore: Use Copy for copying leftover shell session data from recording
  backend/services/deviceconnect/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

test(deviceauth): acceptance and backend tests port
  backend/services/deviceauth/docs/management_api.yml
  backend/services/deviceauth/tests/common.py
  backend/services/deviceauth/tests/conftest.py
  backend/services/deviceauth/tests/tenantadm.py
  backend/services/deviceauth/tests/tests/client.py
  backend/services/deviceauth/tests/tests/mockserver.py
  backend/services/deviceauth/tests/tests/orchestrator.py
  backend/services/deviceauth/tests/tests/test_device.py
  backend/services/deviceauth/tests/tests/test_internal_api.py
  backend/services/deviceauth/tests/tests/test_limits.py
  backend/services/deviceauth/tests/tests/test_mgnt_v2.py
  backend/services/deviceauth/tests/tests/test_token.py
  backend/tests/integration/tests/test_api_endpoints.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage

docs(deviceauth): migration to OpenAPI3
  backend/services/deviceauth/Makefile
  backend/services/deviceauth/docs/devices_api.yml
  backend/services/deviceauth/docs/internal_api.yml
  backend/services/deviceauth/docs/management_api.yml
  backend/services/deviceauth/tests/.openapi-generator.yml
  backend/services/deviceauth/tests/common.py
  backend/services/deviceauth/tests/conftest.py
  backend/services/deviceauth/tests/tenantadm.py
  backend/services/deviceauth/tests/tests/client.py
  backend/services/deviceauth/tests/tests/mockserver.py
  backend/services/deviceauth/tests/tests/orchestrator.py
  backend/services/deviceauth/tests/tests/test_device.py
  backend/services/deviceauth/tests/tests/test_internal_api.py
  backend/services/deviceauth/tests/tests/test_limits.py
  backend/services/deviceauth/tests/tests/test_mgnt_v2.py
  backend/services/deviceauth/tests/tests/test_token.py
  backend/tests/integration/tests/test_api_endpoints.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage

fix(gui): fixed an issue that prevented webhook creation as webhooks no longer can be edited, so their id was never adjusted
  frontend/src/js/components/settings/webhooks/configuration.tsx
  frontend/src/js/components/settings/webhooks/webhooks.test.js
Due: none

fix: fixed an issue that prevented the UI from showing deeply nested software installations
  frontend/src/js/components/devices/device-details/installedsoftware.js
  frontend/src/js/components/devices/device-details/installedsoftware.test.js
Due: none

ci: enable gui release to staging
  .gitlab-ci.yml
Due: none

chore(gui): eased auditlog entry type references
  frontend/src/js/store/organizationSlice/constants.ts
Due: none

ci: fix missing container digest
  .digests/.gitkeep
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: none

feat(gui): added support for Personal Access Token auditlog entries
  frontend/src/js/components/auditlogs/__snapshots__/auditlogs.test.js.snap
  frontend/src/js/components/auditlogs/__snapshots__/auditlogslist.test.js.snap
  frontend/src/js/components/auditlogs/auditlogslist.js
  frontend/src/js/store/organizationSlice/constants.ts
Due: none

chore(gui): split audit logs view and logic
  frontend/src/js/components/auditlogs/AuditlogsView.jsx
  frontend/src/js/components/auditlogs/auditlogs.js
Due: none

test(gui): aligned auditlogs snapshots
  frontend/src/js/components/auditlogs/__snapshots__/auditlogs.test.js.snap
  frontend/src/js/components/auditlogs/__snapshots__/auditlogslist.test.js.snap
Due: none

chore: moved auditlogs list styles from main.less to component
  frontend/src/js/components/auditlogs/auditlogslist.js
  frontend/src/js/themes/Mender/common.js
  frontend/src/js/themes/Mender/dark.js
  frontend/src/less/main.less
Due: none

chore: passed auditlogslist component as children to enhance list customizability
  frontend/src/js/components/auditlogs/AuditlogsListColumns.js
  frontend/src/js/components/auditlogs/AuditlogsView.jsx
  frontend/src/js/components/auditlogs/auditlogs.js
  frontend/src/js/components/auditlogs/auditlogslist.js
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
