Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore(gui): aligned pagination appearance w/ updated design
  frontend/src/js/common-ui/Pagination.tsx
Due: none

chore(gui): aligned device list header & pagination w/ updated design
  frontend/src/js/common-ui/List.tsx
Due: none

chore(gui): aligned device status notifications w/ updated designs
  frontend/src/js/components/devices/DeviceStatus.tsx
Due: none

chore(gui): aligned device page w/ updated design
  frontend/src/js/components/devices/AuthorizedDevices.tsx
  frontend/src/js/components/devices/DeviceGroups.tsx
  frontend/src/js/components/devices/DeviceStatusNotification.tsx
  frontend/src/js/components/devices/Groups.tsx
  frontend/src/js/components/devices/widgets/DeviceAdditionWidget.tsx
  frontend/src/js/components/devices/widgets/DeviceStateSelection.tsx
  frontend/src/js/components/devices/widgets/IssueSelection.tsx
Due: none

chore(gui): aligned snapshots w/ updated design
  frontend/src/js/common-ui/__snapshots__/List.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/AuditLogsList.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/AuthorizedDevices.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/BaseDevices.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceStatus.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceStatusNotification.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/Groups.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Monitoring.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroupExplainer.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/DeviceAdditionWidget.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/FilterItem.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/Filters.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/IssueSelection.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/DeltaGeneration.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleasesList.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantList.test.tsx.snap
Due: none

chore: removed warnings about implicit aria props spread on fragments by tooltip
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
Due: none

ci: aligned spec bundling w/ enterprise to ensure spec order & reduce CI fails
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: removed unused per service spec bundling
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: moved service specific schemas back to per service location
  backend/docs/api/common/schemas.yaml
  backend/docs/api/deployments/internal_v1.yaml
  backend/docs/api/deployments/management_v1.yaml
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/deployments/schemas.yaml
  backend/docs/api/inventory/devices_v1.yaml
  backend/docs/api/inventory/internal_v1.yaml
  backend/docs/api/inventory/internal_v2.yaml
  backend/docs/api/inventory/management_v2.yaml
  backend/docs/api/inventory/schemas.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: aligned update metadata w/ defined type to allow parsing
  backend/docs/api/deployments/internal_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: aligned bundled spec
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deployments): Throw error when `per_page` exceeds maximum allowed value
  backend/services/deployments/api/http/api_deployments.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed an issue that prevented editing SSO configurations
  frontend/src/js/components/settings/organization/Organization.tsx
Due: none

fix(gui): fixed faulty check to see if user settings info can be relied on
  frontend/src/js/components/dashboard/SoftwareDistribution.test.tsx
Due: none

chore(gui): component local dayjs extension to ensure feedback eligibility can be calculated
  frontend/src/js/components/header/Header.tsx
Due: none

chore(gui): updated nt-gui deps to access appropriate settings selectors
  frontend/package-lock.json
  frontend/package.json
Due: none

test(gui): extended timeouts for longer running tests after recent dependency update
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/releases/Releases.test.tsx
Due: none

chore(deployments): let specs use unified statistics schema
  backend/docs/api/deployments/management_v1.yaml
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/deployments/schemas.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deployments): let specs use unified update schema
  backend/docs/api/deployments/management_v1.yaml
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/deployments/schemas.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deployments): cleanup unused schema as it now lives in a shared location
  backend/docs/api/deployments/internal_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: let inventory & deployments have a common understanding of attribute scopes
  backend/docs/api/common/schemas.yaml
  backend/docs/api/deployments/management_v1.yaml
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/inventory/management_v2.yaml
  backend/docs/api/inventory/schemas.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deployments): aligned specs on common filter predicate format
  backend/docs/api/deployments/management_v1.yaml
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/deployments/schemas.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deployments): aligned update metadata understanding w/ mender-artifact
  backend/services/deployments/model/update.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(workflows): Expose Jetstream `replicas` parameter
  backend/services/workflows/client/nats/client.go
  backend/services/workflows/client/nats/mocks/Client.go
  backend/services/workflows/config.yaml
  backend/services/workflows/config/config.go
  backend/services/workflows/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: Fix missing git(1) in coveralls done job
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

docs(deployments): Clarify V2 `/artifacts` endpoint usage
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/dist/openapi.yaml
  backend/services/deployments/docs/management_api_v2.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): enabled more granular text input interactions while using RHF
  frontend/src/js/common-ui/forms/TextInput.tsx
Due: none

refactor(gui): refactored subscription form to be a RHF form & reduce faulty billing calls
  frontend/src/js/common-ui/forms/AddonSelect.tsx
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/components/subscription/SubscriptionSummary.test.tsx
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
Due: none

chore(gui): made device limit downgrade preventing check more explicit
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

fix(gui): fixed an issue that left notch in outlined w/o a background
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

chore(gui): simplified addon selection handling during subscription changes
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/components/subscription/SubscriptionSummary.tsx
Due: none

ci: let more frontend jobs rely on default k8s runner to reduce waiting times
  frontend/pipeline.yml
Due: none

chore: debug
  backend/services/deployments/docs/devices_api.yml
  backend/services/deployments/docs/internal_api.yml
  backend/services/deployments/docs/management_api.yml
  backend/services/deployments/docs/management_api_v2.yml
  backend/services/deviceauth/docs/devices_api.yml
  backend/services/deviceauth/docs/internal_api.yml
  backend/services/deviceauth/docs/management_api.yml
  backend/services/deviceconfig/docs/devices_api.yml
  backend/services/deviceconfig/docs/internal_api.yml
  backend/services/deviceconfig/docs/management_api.yml
  backend/services/deviceconnect/docs/asyncapi/deviceconnect.yml
  backend/services/deviceconnect/docs/devices_api.yml
  backend/services/deviceconnect/docs/internal_api.yml
  backend/services/deviceconnect/docs/management_api.yml
  backend/services/inventory/docs/devices_api.yml
  backend/services/inventory/docs/internal_api.yml
  backend/services/inventory/docs/internal_api_v2.yml
  backend/services/inventory/docs/management_api.yml
  backend/services/inventory/docs/management_api_v2.yml
  backend/services/iot-manager/docs/internal_api.yml
  backend/services/iot-manager/docs/management_api.yml
  backend/services/useradm/docs/internal_api.yml
  backend/services/useradm/docs/management_api.yml
  backend/services/workflows/docs/workflows_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: debug
  backend/services/deviceauth/Makefile
  backend/services/deviceconfig/Makefile
  backend/services/deviceconnect/Makefile
  backend/services/iot-manager/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: debug
  backend/services/deviceauth/tests/conftest.py
  backend/services/deviceauth/tests/tests/client.py
  backend/services/deviceauth/tests/tests/test_device.py
  backend/services/deviceauth/tests/tests/test_internal_api.py
  backend/services/deviceauth/tests/tests/test_limits.py
  backend/services/deviceauth/tests/tests/test_mgnt_v2.py
  backend/services/deviceconfig/tests/common.py
  backend/services/deviceconfig/tests/conftest.py
  backend/services/deviceconnect/tests/common.py
  backend/services/deviceconnect/tests/conftest.py
  backend/services/deviceconnect/tests/tests/test_connect.py
  backend/services/iot-manager/tests/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses
