Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

fix(gui): show alert if dynamic group is removed after deployment
  frontend/src/js/components/deployments/deployment-report/Overview.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/devices/AuthorizedDevices.tsx
  frontend/src/js/components/devices/DeviceGroups.tsx
Due: none

chore(gui): user creation timeout e2e test
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
Due: none

test: made use of more user like locator for listed deployments in e2e tests
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
  frontend/tests/e2e_tests/utils/constants.ts
Due: none

chore(gui): removed obsolete leftover snapshot files
  frontend/src/js/common-ui/__snapshots__/ConfigurationObject.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroupExplainerContent.test.tsx.snap
  frontend/src/js/components/header/__snapshots__/DemoNotification.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/AddonSelection.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/PlanSelection.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Upgrade.test.tsx.snap
Due: none

chore(gui): aligned deployment details closer w/ updated design
  frontend/src/assets/img/largeFail.png
  frontend/src/assets/img/largeSuccess.png
  frontend/src/js/components/deployments/Report.tsx
  frontend/src/js/components/deployments/deployment-report/Overview.tsx
Due: none

chore(gui): dark mode adjustments to align w/ updated design
  frontend/src/js/common-ui/Confirm.tsx
  frontend/src/js/common-ui/forms/Filters.tsx
Due: none

chore(gui): made use of generated alignment classes
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): prevented confirmation overlays from bleeding out of their containers
  frontend/src/js/common-ui/DrawerTitle.tsx
  frontend/src/js/components/dashboard/widgets/ChartAddition.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/Report.tsx
  frontend/src/js/components/devices/device-details/Configuration.tsx
  frontend/src/js/components/devices/device-details/authsets/AuthSets.tsx
  frontend/src/js/components/settings/Integrations.tsx
Due: none

chore(gui): aligned deployment phase counter for scheduled deployments
  frontend/src/js/components/deployments/DeploymentItem.tsx
Due: none

chore: aligned generator versions used to generate openapi based clients
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: aligned client generation working dir assumption
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deployments): aligned deployment filtering w/ ux expectations
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/dist/openapi.yaml
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/model/deployment.go
  backend/services/deployments/store/mongo/datastore_mongo.go
  backend/services/deployments/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: updated generated backend clients
  backend/pkg/api/client/api/openapi.yaml
  backend/pkg/api/client/api_deployments_v2_management_api.go
  backend/pkg/api/client/docs/DeploymentsV2ManagementAPIAPI.md
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): removed unnecessary e2e dep installation in lint job
  frontend/pipeline.yml
Due: none

chore(gui): added ci formatting check
  frontend/package.json
  frontend/pipeline.yml
Due: none

chore(gui): adjusted eslint config
  frontend/eslint.config.js
  frontend/package.json
Due: none

chore(gui): prettier formatting fixes
  frontend/scripts/dependencyLicenseCheck.ts
  frontend/src/js/common-ui/dialogs/Feedback.tsx
  frontend/src/js/common-ui/forms/CountrySelect.tsx
  frontend/src/js/components/devices/widgets/DeviceQuickActions.tsx
  frontend/src/js/components/header/DeviceNotifications.tsx
  frontend/src/js/components/settings/PlanExpanded.tsx
  frontend/src/js/components/settings/organization/Billing.test.tsx
  frontend/src/js/components/settings/role-management/RoleDefinition.tsx
Due: none

chore(gui): removed mender github link and version env
  frontend/entrypoint.sh
  frontend/src/js/components/LeftNav.tsx
Due: none

test(gui): adjusted tests after mender client link removal
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
  frontend/src/js/components/help/mockData.ts
Due: none

test(gui): adjusted tests to use more specific release page link selector
  frontend/tests/e2e_tests/integration/01-basic/01-basic.spec.ts
  frontend/tests/e2e_tests/integration/01-basic/02-login.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
Due: none

ci: add qa-common retry and runner defaults
  .gitlab-ci.yml
  .gitlab/merge-enterprise.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): fixed incorrect navbar link selector
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
Due: none

test: aligned navigation to release page w/ user scoped pages
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
Due: none

ci: review apps initial documentation
  compose/k8s/README.md
Due: none

ci: review apps namespace creation script
  compose/k8s/setup-review-namespace.sh
Due: none

ci: review apps user creation
  compose/k8s/create-initial-user.sh
Due: none

ci: review apps stage
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: helm values template for review apps
  compose/k8s/review-values.yaml.tpl
Due: none

chore(gui): harden the navbar link in delta tests
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
Due: none

chore: review apps demo
  frontend/src/js/components/dashboard/Dashboard.tsx
  frontend/src/js/config/routes.tsx
Due: none

chore: updated generated backend clients
  backend/pkg/api/client/api/openapi.yaml
  backend/pkg/api/client/api_deployments_v2_management_api.go
  backend/pkg/api/client/docs/DeploymentsV2ManagementAPIAPI.md
  backend/tests/.openapi-generator/FILES
  backend/tests/.openapi-generator/VERSION
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/deployments_device_api_api.py
  backend/tests/mender_client/api/deployments_internal_api_internal_api_api.py
  backend/tests/mender_client/api/deployments_management_api_api.py
  backend/tests/mender_client/api/deployments_v2_management_api_api.py
  backend/tests/mender_client/api/device_authentication_device_api_api.py
  backend/tests/mender_client/api/device_authentication_internal_api_api.py
  backend/tests/mender_client/api/device_authentication_management_api_api.py
  backend/tests/mender_client/api/device_configure_device_api_api.py
  backend/tests/mender_client/api/device_configure_internal_api_api.py
  backend/tests/mender_client/api/device_configure_management_api_api.py
  backend/tests/mender_client/api/device_connect_device_api_api.py
  backend/tests/mender_client/api/device_connect_internal_api_api.py
  backend/tests/mender_client/api/device_connect_management_api_api.py
  backend/tests/mender_client/api/device_inventory_device_api_api.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_internal_api_api.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_management_api_api.py
  backend/tests/mender_client/api/device_inventory_internal_api_api.py
  backend/tests/mender_client/api/device_inventory_management_api_api.py
  backend/tests/mender_client/api/io_t_manager_internal_api_api.py
  backend/tests/mender_client/api/io_t_manager_management_api_api.py
  backend/tests/mender_client/api/user_administration_and_authentication_internal_api_api.py
  backend/tests/mender_client/api/user_administration_management_api_api.py
  backend/tests/mender_client/api/workflows_other_api.py
  backend/tests/mender_client/api_client.py
  backend/tests/mender_client/configuration.py
  backend/tests/mender_client/exceptions.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/new_device_internal_provision.py
  backend/tests/mender_client/rest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: aligned backend test w/ newly generated backend client
  backend/services/iot-manager/tests/tests/test_webhooks.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: always build docker images for review apps
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: fix missing pwgen command
  compose/k8s/setup-review-namespace.sh
Due: none

ci: fix seaweedfs naming collision
  compose/k8s/setup-review-namespace.sh
Due: none

refactor(deviceauth): Migrate mongo-driver to v2
  backend/pkg/mongo/v2/doc/bson.go
  backend/pkg/mongo/v2/oid/objectid.go
  backend/pkg/mongo/v2/oid/objectid_test.go
  backend/services/deviceauth/cmd/commands.go
  backend/services/deviceauth/cmd/commands_test.go
  backend/services/deviceauth/cmd/main_test.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
  backend/services/deviceauth/jwt/claims.go
  backend/services/deviceauth/jwt/jwt_ed25519_test.go
  backend/services/deviceauth/jwt/jwt_rsa_test.go
  backend/services/deviceauth/jwt/token_test.go
  backend/services/deviceauth/model/limit.go
  backend/services/deviceauth/store/datastore.go
  backend/services/deviceauth/store/mocks/DataStore.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/deviceauth/store/mongo/datastore_mongo_cleanup.go
  backend/services/deviceauth/store/mongo/datastore_mongo_cleanup_test.go
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
  backend/services/deviceauth/store/mongo/main_test.go
  backend/services/deviceauth/store/mongo/migration_1_10_0.go
  backend/services/deviceauth/store/mongo/migration_1_10_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_11_0.go
  backend/services/deviceauth/store/mongo/migration_1_11_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_1_0.go
  backend/services/deviceauth/store/mongo/migration_1_2_0.go
  backend/services/deviceauth/store/mongo/migration_1_2_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_3_0.go
  backend/services/deviceauth/store/mongo/migration_1_3_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_4_0.go
  backend/services/deviceauth/store/mongo/migration_1_4_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_5_0.go
  backend/services/deviceauth/store/mongo/migration_1_5_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_6_0.go
  backend/services/deviceauth/store/mongo/migration_1_7_0.go
  backend/services/deviceauth/store/mongo/migration_1_8_0.go
  backend/services/deviceauth/store/mongo/migration_1_9_0.go
  backend/services/deviceauth/store/mongo/migration_1_9_0_test.go
  backend/services/deviceauth/store/mongo/migration_2_0_0.go
  backend/services/deviceauth/store/mongo/migration_2_0_0_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
