Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

fix(create-artifact-worker): hardened single file generation input validations
  backend/services/create-artifact-worker/cmd/single-file.go
  backend/services/create-artifact-worker/cmd/single-file_test.go
  backend/services/create-artifact-worker/config/config.go
  backend/services/create-artifact-worker/config/config_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deployments): aligned deployment filtering w/ ux expectations
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/dist/openapi.yaml
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/model/deployment.go
  backend/services/deployments/store/mongo/datastore_mongo.go
  backend/services/deployments/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: updated generated backend clients
  backend/pkg/api/client/api/openapi.yaml
  backend/pkg/api/client/api_deployments_v2_management_api.go
  backend/pkg/api/client/docs/DeploymentsV2ManagementAPIAPI.md
  backend/tests/.openapi-generator/FILES
  backend/tests/.openapi-generator/VERSION
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/deployments_device_api_api.py
  backend/tests/mender_client/api/deployments_internal_api_internal_api_api.py
  backend/tests/mender_client/api/deployments_management_api_api.py
  backend/tests/mender_client/api/deployments_v2_management_api_api.py
  backend/tests/mender_client/api/device_authentication_device_api_api.py
  backend/tests/mender_client/api/device_authentication_internal_api_api.py
  backend/tests/mender_client/api/device_authentication_management_api_api.py
  backend/tests/mender_client/api/device_configure_device_api_api.py
  backend/tests/mender_client/api/device_configure_internal_api_api.py
  backend/tests/mender_client/api/device_configure_management_api_api.py
  backend/tests/mender_client/api/device_connect_device_api_api.py
  backend/tests/mender_client/api/device_connect_internal_api_api.py
  backend/tests/mender_client/api/device_connect_management_api_api.py
  backend/tests/mender_client/api/device_inventory_device_api_api.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_internal_api_api.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_management_api_api.py
  backend/tests/mender_client/api/device_inventory_internal_api_api.py
  backend/tests/mender_client/api/device_inventory_management_api_api.py
  backend/tests/mender_client/api/io_t_manager_internal_api_api.py
  backend/tests/mender_client/api/io_t_manager_management_api_api.py
  backend/tests/mender_client/api/user_administration_and_authentication_internal_api_api.py
  backend/tests/mender_client/api/user_administration_management_api_api.py
  backend/tests/mender_client/api/workflows_other_api.py
  backend/tests/mender_client/api_client.py
  backend/tests/mender_client/configuration.py
  backend/tests/mender_client/exceptions.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/new_device_internal_provision.py
  backend/tests/mender_client/rest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: aligned backend test w/ newly generated backend client
  backend/services/iot-manager/tests/tests/test_webhooks.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: made test script easier to digest & reuse for feature deployments
  frontend/tests/e2e_tests/integration/session.setup.ts
  frontend/tests/e2e_tests/integration/session.teardown.ts
  frontend/tests/e2e_tests/playwright-qemu.config.ts
  frontend/tests/e2e_tests/playwright.config.ts
  frontend/tests/e2e_tests/run.js
  frontend/tests/e2e_tests/runner/cli.js
  frontend/tests/e2e_tests/runner/compose.js
  frontend/tests/e2e_tests/runner/config.js
  frontend/tests/e2e_tests/runner/interactive.js
  frontend/tests/e2e_tests/runner/lifecycle.js
  frontend/tests/e2e_tests/runner/test-execution.js
Due: none

chore: fixed typo in e2e tests util
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

chore(gui): try to await docker client teardown
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

docs: added explanation for e2e test usage
  frontend/tests/e2e_tests/README.md
Due: none

feat(gui): added tier support to sp tenant dashboard
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/tenants/TenantList.tsx
  frontend/src/js/components/tenants/TenantPage.tsx
Due: none

feat(gui): added sp tenant support request form
  frontend/src/js/components/tenants/LimitChangeRequestForm.tsx
Due: none

test(gui): adjusted sp tenant tests
  frontend/src/js/components/tenants/ExpandedTenant.test.tsx
  frontend/src/js/components/tenants/TenantList.test.tsx
  frontend/src/js/components/tenants/TenantsForm.test.tsx
Due: none

feat(gui): added tier support to child tenant creation form
  frontend/src/js/components/tenants/TenantCreateForm.tsx
Due: none

feat(gui): added tier support to child view and edit drawer
  frontend/src/js/components/tenants/ExpandedTenant.tsx
Due: none

chore(gui): made types rely on generated types
  frontend/src/js/components/tenants/types.ts
Due: none

chore(gui): updated snapshots
  frontend/src/js/common-ui/__snapshots__/List.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Dashboard.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Devices.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/AcceptedDevices.test.tsx.snap
  frontend/src/js/components/header/__snapshots__/DeviceNotifications.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantList.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantsForm.test.tsx.snap
Due: none

chore(gui): always show clear button when searching instead of loading spinner
  frontend/src/js/common-ui/Search.tsx
  frontend/src/js/common-ui/__snapshots__/Search.test.tsx.snap
  frontend/src/js/components/header/Header.tsx
Due: none

feat(gui): extract SettingsItem as reusable common-ui component
  frontend/src/js/common-ui/SettingsItem.test.tsx
  frontend/src/js/common-ui/SettingsItem.tsx
  frontend/src/js/common-ui/__snapshots__/SettingsItem.test.tsx.snap
Due: none

chore(gui): adopted settingsitem in current consumers of organizationsettingsitem
  frontend/src/js/components/settings/organization/Billing.tsx
  frontend/src/js/components/settings/organization/Organization.tsx
  frontend/src/js/components/settings/organization/SSOConfig.tsx
Due: none

chore(gui): cleaned up now unused org settings item
  frontend/src/js/components/settings/organization/OrganizationSettingsItem.test.tsx
  frontend/src/js/components/settings/organization/OrganizationSettingsItem.tsx
Due: none

feat(gui): add DocsTextLink variant for inline documentation links
  frontend/src/js/common-ui/DocsLink.test.tsx
  frontend/src/js/common-ui/DocsLink.tsx
  frontend/src/js/common-ui/__snapshots__/DocsLink.test.tsx.snap
Due: none

chore(gui): adopted latest nt-gui interaction package
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deployments): nil pointer dereference getting non-existing deployment
  backend/services/deployments/app/app.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): Unit tests for getting deployment app logic
  backend/services/deployments/app/app_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fix prerelease implementation with release-please > 17.2.0
  release-please-config.json
Due: none

chore(gui): unified structured widgets to increase consistency
  frontend/src/js/components/dashboard/widgets/AcceptedDevices.tsx
  frontend/src/js/components/dashboard/widgets/ActionableDevices.tsx
  frontend/src/js/components/dashboard/widgets/BaseWidget.tsx
Due: none

chore(gui): aligned pending devices further w/ updated design
  frontend/src/js/components/dashboard/widgets/BaseWidget.tsx
  frontend/src/js/components/dashboard/widgets/PendingDevices.tsx
Due: none

chore(gui): aligned dashboard titles w/ updated design
  frontend/src/js/components/dashboard/Dashboard.tsx
  frontend/src/js/components/dashboard/Deployments.tsx
Due: none

chore(gui): aligned more unique widgets closer w/ updated design
  frontend/src/js/components/dashboard/Devices.tsx
  frontend/src/js/components/dashboard/widgets/ChartAddition.tsx
  frontend/src/js/components/dashboard/widgets/RedirectionWidget.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Dashboard.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Devices.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/SoftwareDistribution.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/AcceptedDevices.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/ChartAddition.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/PendingDevices.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/RedirectionWidget.test.tsx.snap
Due: none

chore(gui): aligned service provider form with design
  frontend/src/js/components/tenants/TenantCreateForm.tsx
Due: none

test(gui): adjusted service provider e2e tests
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/e2e_tests/integration/02-baseline/04-tenant.spec.ts
Due: none

ci: bump docker from 27.3 to 29.1 for CI jobs
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

fix(deviceauth): minimize precondition conflicts for cmd/sync-inventory-data
  backend/services/deviceauth/cmd/maintenance.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: bump golang-ci lint to v2.11.3
  .gitlab-ci.yml
  backend/.golangci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: upgrade golang in the .gitlab-ci.yml
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): added micro tiers to sp Tenant
  frontend/tests/e2e_tests/integration/02-baseline/04-tenant.spec.ts
  frontend/tests/e2e_tests/runner/test-execution.js
Due: none

test: restored artifact downloads to use backend retrieved location instead of set href
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
