Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

test: support for application/jwt Content-Type for backend integration tests
  backend/tests/integration/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): aligned the attribute type used by the patch endpoint
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/inventory/internal_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: saving the backend integration logs on failure
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test: backend integration test_health: do not override default host
  backend/tests/integration/test_health.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned login + signup form w/ updated design & theme
  frontend/src/js/common-ui/forms/PasswordInput.tsx
  frontend/src/js/components/login/Login.tsx
  frontend/src/js/components/login/LoginForm.tsx
  frontend/src/js/components/login/__snapshots__/Login.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Signup.test.tsx.snap
  frontend/src/js/components/login/signup-steps/OrgdataEntry.tsx
  frontend/src/js/components/login/signup-steps/UserdataEntry.tsx
  frontend/src/js/components/login/signup-steps/__snapshots__/UserdataEntry.test.tsx.snap
Due: none

chore(gui): aligned custom subheader appearance w/ updated design
  frontend/src/js/common-ui/LinedHeader.tsx
  frontend/src/js/components/deployments/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/InProgressDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/RolloutSchedule.test.tsx.snap
Due: none

fix(iot-manager): Fix re-encrypt to encrypt ALL secrets
  backend/services/iot-manager/cmd/reencrypt.go
  backend/services/iot-manager/cmd/reencrypt_test.go
  backend/services/iot-manager/crypto/crypto.go
  backend/services/iot-manager/main.go
  backend/services/iot-manager/store/datastore.go
  backend/services/iot-manager/store/mocks/DataStore.go
  backend/services/iot-manager/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): enabled dark mode support for saml + other editors
  frontend/src/js/components/devices/device-details/DeviceTwin.tsx
  frontend/src/js/components/settings/organization/SSOEditor.tsx
  frontend/src/js/components/settings/webhooks/EventDetails.tsx
  frontend/src/js/components/settings/webhooks/Management.tsx
Due: none

fix(gui): removed the automatic pie-chart height adjustment
  frontend/src/js/components/dashboard/widgets/Distribution.tsx
  frontend/src/js/components/dashboard/widgets/__snapshots__/Distribution.test.tsx.snap
Due: none

test(gui): let enterprise tenant have new understanding of infinity
  frontend/tests/e2e_tests/run.js
Due: none

test(gui): adjusted e2e test to a new device limit widget
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Dashboard.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Devices.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/AcceptedDevices.test.tsx.snap
  frontend/src/js/components/header/DeviceNotifications.tsx
  frontend/src/js/components/header/__snapshots__/DeviceNotifications.test.tsx.snap
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

chore(gui): removed unintended counter underline to ensure widget tags stay as intended
  frontend/src/js/components/dashboard/__snapshots__/Devices.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/ActionableDevices.tsx
Due: none

chore(gui): aligned password reset page w/ updated design
  frontend/src/js/components/login/PasswordReset.tsx
  frontend/src/js/components/login/__snapshots__/PasswordReset.test.tsx.snap
Due: none

fix(gui): fixed the email verification flow for oauth2 users
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
  frontend/src/js/components/settings/user-management/TwoFactorAuthSetup.tsx
Due: none

fix(gui): removed the state from billing address form
  frontend/src/js/components/settings/PlanExpanded.tsx
  frontend/src/js/components/settings/PlanExpandedForm.tsx
  frontend/src/js/components/settings/organization/Billing.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

feat(gui): let device attributes be shown in a more useful order, prioritizing recent usage
  frontend/src/js/components/devices/widgets/AttributeAutocomplete.tsx
Due: none

chore(gui): aligned 2fa note sizing w/ remainder of tooltips
  frontend/src/js/components/helptips/HelpTooltips.tsx
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/login/LoginForm.tsx
Due: none

chore(gui): aligned tooltip appearance w/ updated design
  frontend/src/js/components/helptips/MenderTooltip.tsx
Due: none

chore(gui): simplified tooltip prop passing to align w/ streamlined functionality
  frontend/src/js/components/helptips/MenderTooltip.tsx
Due: none

chore: removed deprecated spec definitions to align on oa3 specs
  backend/services/deployments/docs/devices_api.yml
  backend/services/deployments/docs/internal_api.yml
  backend/services/deployments/docs/management_api.yml
  backend/services/deployments/docs/management_api_v2.yml
  backend/services/deviceauth/docs/devices_api.yml
  backend/services/deviceauth/docs/internal_api.yml
  backend/services/deviceauth/docs/management_api.yml
  backend/services/deviceconfig/docs/devices_api.yml
  backend/services/deviceconfig/docs/internal_api.yml
  backend/services/deviceconfig/docs/management_api.yml
  backend/services/deviceconnect/docs/asyncapi/deviceconnect.yml
  backend/services/deviceconnect/docs/devices_api.yml
  backend/services/deviceconnect/docs/internal_api.yml
  backend/services/deviceconnect/docs/management_api.yml
  backend/services/inventory/docs/devices_api.yml
  backend/services/inventory/docs/internal_api.yml
  backend/services/inventory/docs/internal_api_v2.yml
  backend/services/inventory/docs/management_api.yml
  backend/services/inventory/docs/management_api_v2.yml
  backend/services/iot-manager/docs/internal_api.yml
  backend/services/iot-manager/docs/management_api.yml
  backend/services/useradm/docs/internal_api.yml
  backend/services/useradm/docs/management_api.yml
  backend/services/workflows/docs/workflows_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): adjusted tests to rely on oa3 specs
  backend/services/deviceconnect/Makefile
  backend/services/deviceconnect/tests/common.py
  backend/services/deviceconnect/tests/conftest.py
  backend/services/deviceconnect/tests/tests/test_connect.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): adjusted tests to rely on oa3 specs
  backend/services/deviceauth/Makefile
  backend/services/deviceauth/tests/conftest.py
  backend/services/deviceauth/tests/tests/client.py
  backend/services/deviceauth/tests/tests/test_device.py
  backend/services/deviceauth/tests/tests/test_internal_api.py
  backend/services/deviceauth/tests/tests/test_limits.py
  backend/services/deviceauth/tests/tests/test_mgnt_v2.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): adjusted tests to no longer rely on bravado
  backend/services/inventory/Makefile
  backend/services/inventory/tests/.openapi-generator.yml
  backend/services/inventory/tests/common.py
  backend/services/inventory/tests/conftest.py
  backend/services/inventory/tests/docker-compose.acceptance.yml
  backend/services/inventory/tests/tests/client.py
  backend/services/inventory/tests/tests/test_api_internal.py
  backend/services/inventory/tests/tests/test_grouping_devices.py
  backend/services/inventory/tests/tests/test_inventory_searching.py
  backend/services/inventory/tests/tests/test_inventory_sorting.py
  backend/services/inventory/tests/tests/test_mgmt_tag_attributes.py
  backend/services/inventory/tests/tests/test_mgmt_v2_filters_attributes.py
  backend/services/inventory/tests/tests/test_remove_device_groupping.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconfig): adjusted tests to rely on oa3 specs
  backend/services/deviceconfig/Makefile
  backend/services/deviceconfig/tests/common.py
  backend/services/deviceconfig/tests/conftest.py
  backend/services/deviceconfig/tests/tests/test_device_config.py
  backend/services/deviceconfig/tests/tests/test_internal.py
  backend/services/deviceconfig/tests/tests/test_management_config.py
  backend/services/deviceconfig/tests/tests/test_management_config_auditlogs.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(iot-manager): adjusted tests to rely on oa3 specs
  backend/services/iot-manager/Makefile
  backend/services/iot-manager/tests/conftest.py
  backend/services/iot-manager/tests/tests/client.py
  backend/services/iot-manager/tests/tests/test_sync_aws_iotcore.py
  backend/services/iot-manager/tests/tests/test_sync_azure_iothub.py
  backend/services/iot-manager/tests/tests/test_webhooks.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(useradm): adjusted tests to no longer rely on bravado
  backend/services/useradm/Makefile
  backend/services/useradm/tests/.openapi-generator-ignore
  backend/services/useradm/tests/.openapi-generator.yml
  backend/services/useradm/tests/common.py
  backend/services/useradm/tests/conftest.py
  backend/services/useradm/tests/docker-compose.acceptance.yml
  backend/services/useradm/tests/tests/client.py
  backend/services/useradm/tests/tests/test_api_internal.py
  backend/services/useradm/tests/tests/test_api_management.py
  backend/services/useradm/tests/tests/test_api_personal_access_tokens.py
  backend/services/useradm/tests/tests/test_auth.py
  backend/services/useradm/tests/tests/test_cli.py
  backend/services/useradm/tests/tests/test_tokens_delete.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): subscription drawer fixes
  frontend/src/js/components/subscription/SubscriptionDrawer.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
  frontend/src/js/components/subscription/__snapshots__/SubscriptionAddon.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test: aligned pagination locator w/ rest of e2e tests to avoid matching uuids in usernames
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

test: allow saml login time to settle navigation before documenting + checking for success
  frontend/tests/e2e_tests/integration/02-baseline/03-saml.spec.ts
Due: none

chore(gui): fixed typo in device status notification
  frontend/src/js/components/devices/DeviceStatusNotification.tsx
  frontend/src/js/components/devices/__snapshots__/DeviceStatusNotification.test.tsx.snap
Due: none

test(gui): fixed e2e test after professional upgrade
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test: add & adopt reusable safer deployment creation utility
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
  frontend/tests/e2e_tests/utils/utils.ts
Due: none

fix(gui): fixed an issue that might confuse tenants without a device limit by showing a limit
  frontend/src/js/components/dashboard/widgets/AcceptedDevices.tsx
Due: none

chore(gui): aligned snapshots after mui update
  frontend/src/js/common-ui/dialogs/__snapshots__/ConfirmDismissHelpTips.test.tsx.snap
  frontend/src/js/common-ui/dialogs/__snapshots__/Log.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/ReleaseArtifactFilter.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/ConfigImportDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/ConnectToGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/DeviceConnectionDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MakeGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MonitorDetailsDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/PreauthDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/customColumnsDialog.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroup.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroupExplainer.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/RemoveGroup.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/DeviceAdditionWidget.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/AddArtifact.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/RemoveArtifact.test.tsx.snap
  frontend/src/js/components/settings/dialogs/__snapshots__/CancelRequest.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
Due: none

chore(gui): aligned 2fa code generation w/ updated dep
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

chore(gui): aligned license location after dep update
  frontend/tests/licenses/directDependencies.csv
Due: none

chore(gui): removed last remnants of now unused jest setup
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/licenses/directDependencies.csv
Due: none

chore(gui): made use of latest nt-gui packages + aligned related snapshots
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionAddon.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
Due: none
