Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:dist, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

build:backend:dist:
  image: golang:${GOLANG_VERSION}
  stage: build
  tags:
  - hetzner-amd-beefy
  script:
  - make -C backend build
  after_script:
  - tar -zcvf dist.tar.gz dist/
  artifacts:
    expire_in: 1w
    when: always
    paths:
    - dist.tar.gz

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:unit:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:${GOLANG_VERSION}-bullseye
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:6.0
    alias: mongo
  variables:
    TEST_MONGO_URL: mongodb://mongo
  ...

test:backend:acceptance:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:26-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:26-dind
    alias: docker
  needs:
  - job: build:backend:dist
    artifacts: true
  before_script:
  - apk add make bash go git
  ...

test:backend:integration:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:26-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:26-dind
    alias: docker
  needs:
  - job: build:backend:dist
    artifacts: true
  before_script:
  ...

fix: document the 409 return for creating deployment to a group
  backend/services/deployments/docs/management_api.yml
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): Initialize Dockerfile and add to composition
  dev/docker-compose.yml
  frontend/Dockerfile
Due: none

chore(dev): Align compose images with Makefile defaults
  dev/docker-compose.yml
Due: none

build(make): Introduce better make variables for docker builds
  backend/Makefile
  backend/services/Makefile.common
  backend/services/create-artifact-worker/Makefile
  backend/services/deployments/Makefile
  backend/services/deployments/tests/out.mender
  backend/services/deviceauth/Makefile
  backend/services/deviceconfig/Makefile
  backend/services/deviceconfig/tests/.openapi-generator/FILES
  backend/services/deviceconnect/Makefile
  backend/services/deviceconnect/tests/.openapi-generator/FILES
  backend/services/inventory/Makefile
  backend/services/iot-manager/Makefile
  backend/services/iot-manager/main_test.go
  backend/services/reporting/Makefile
  backend/services/reporting/tests/.openapi-generator/FILES
  backend/services/reporting/tests/.openapi-generator/VERSION
  backend/services/reporting/tests/docker-compose.acceptance.yml
  backend/services/useradm/Makefile
  backend/services/workflows/Makefile
Due: build:backend:dist, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: added generators for build, test & helm sync
  ci-generate-build-n-test.js
  ci-generate-sync.js
Due: none

chore: aligned traefik setup with integration/ helm
  dev/docker-compose.yml
Due: none

chore: removed now unused gui image target
  frontend/Dockerfile
Due: none

chore: centralized editorconfig for simplicity
  .editorconfig
Due: none

chore: re-introduced frontend dependabot checks
  .github/dependabot.yml
Due: none

chore: aligned gui codeql checks with repo structure
  frontend/.github/workflows/codeql-analysis.yml
Due: none

build(make): Iniitalize root Makefile and frontend/Makefile
  Makefile
  frontend/Makefile
Due: none

build(make): Remove distdir and do not create subdirectories for os/arch
  backend/services/Makefile.common
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/reporting/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

docs(make): Add README.make for documenting the build targets
  README.make
Due: none

ci: Remove go dependency from running acceptance tests
  .gitlab-ci.yml
  backend/Makefile
  backend/services/deployments/Makefile
  backend/services/deviceauth/Makefile
  backend/services/deviceconfig/Makefile
  backend/services/deviceconnect/Makefile
  backend/services/inventory/Makefile
  backend/services/iot-manager/Makefile
  backend/services/useradm/Makefile
  backend/services/workflows/Makefile
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: Add job for building docker images from binaries
  .gitlab-ci.yml
Due: none

build(make): Remove debug prints
  backend/Makefile
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: Clean up unused acceptance tests compose files for enterprise
  backend/services/deviceauth/tests/docker-compose.acceptance.enterprise.yml
  backend/services/useradm/tests/docker-compose.acceptance.enterprise.yml
  backend/services/workflows/tests/docker-compose.enterprise.yml
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

feat: made search results reopen whenever the search field is clicked again and has a search term
  frontend/src/js/components/common/search.js
  frontend/src/js/components/search-result.js
Due: none

fix: fixed an issue that could prevent opening a linked to release
  frontend/src/js/components/releases/releases.js
Due: none

fix: prevented commercial client components are only selected when plan/ addon accessible
  frontend/src/js/components/common/dialogs/physicaldeviceonboarding.js
  frontend/src/js/components/common/dialogs/physicaldeviceonboarding.test.js
  frontend/src/js/helpers.js
  frontend/src/js/helpers.test.js
Due: none

fix: fixed an issue that prevented retrieving group devices & related reports
  frontend/src/js/actions/appActions.test.js
  frontend/src/js/actions/deviceActions.js
  frontend/src/js/actions/deviceActions.test.js
  frontend/src/js/components/__snapshots__/app.test.js.snap
  frontend/src/js/components/dashboard/__snapshots__/dashboard.test.js.snap
  frontend/src/js/components/dashboard/__snapshots__/deployments.test.js.snap
  frontend/src/js/components/dashboard/dashboard.js
  frontend/src/js/components/dashboard/deployments.js
  frontend/src/js/selectors/index.js
  frontend/tests/__mocks__/deviceHandlers.js
Due: none

build(make): Add build dependencies and update `%-acceptance` targets
  .gitlab-ci.yml
  backend/Makefile
  backend/services/Makefile.common
  backend/services/create-artifact-worker/Makefile
  backend/services/deployments/Makefile
  backend/services/deployments/tests/docker-compose.acceptance.yml
  backend/services/deviceauth/Makefile
  backend/services/deviceauth/tests/docker-compose.acceptance.yml
  backend/services/deviceconfig/Makefile
  backend/services/deviceconfig/tests/docker-compose.acceptance.yml
  backend/services/deviceconnect/Makefile
  backend/services/deviceconnect/tests/docker-compose.acceptance.yml
  backend/services/inventory/Makefile
  backend/services/inventory/tests/docker-compose.acceptance.yml
  backend/services/iot-manager/Makefile
  backend/services/iot-manager/tests/docker-compose.acceptance.yml
  backend/services/iot-manager/tests/tests/client.py
  backend/services/iot-manager/tests/tests/conftest.py
  backend/services/reporting/Makefile
  backend/services/reporting/tests/docker-compose.acceptance.yml
  backend/services/useradm/Makefile
  backend/services/useradm/tests/docker-compose.acceptance.yml
  backend/services/workflows/Makefile
  backend/services/workflows/tests/docker-compose.acceptance.yml
  backend/services/workflows/tests/docker-compose.yml
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: Do not propagate build artifacts (binaries) to test stage
  .gitlab-ci.yml
Due: none

ci: Exclude frontend and rename `build:backend:*` jobs
  .gitlab-ci.yml
Due: none

ci: Bump docker major version to 27
  .gitlab-ci.yml
Due: none

ci: Use correct image when building docker images
  .gitlab-ci.yml
Due: none

build(make): Do not infer compoenent name using `go list`
  backend/services/Makefile.common
  backend/services/create-artifact-worker/Makefile
  backend/services/deployments/Makefile
  backend/services/deviceauth/Makefile
  backend/services/deviceconfig/Makefile
  backend/services/deviceconnect/Makefile
  backend/services/inventory/Makefile
  backend/services/iot-manager/Makefile
  backend/services/reporting/Makefile
  backend/services/useradm/Makefile
  backend/services/workflows/Makefile
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

build(make): Target `build` makes all target platforms
  backend/services/Makefile.common
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

build(make): Infer target arch from DOCKER_PLATFORM on `build`
  backend/services/Makefile.common
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: Initialize multiplatform builder before building containers
  .gitlab-ci.yml
Due: none

chore: add depenabot configuration for backend
  .github/dependabot.yml
  backend/pkg/.github/dependabot.yml
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: Upgraded mender-artifact in create-artifact-worker from jammy to noble
  backend/services/create-artifact-worker/Dockerfile
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: deployments: reverting release name filtering and docs
  backend/services/deployments/docs/management_api.yml
  backend/services/deployments/docs/management_api_v2.yml
  backend/services/deployments/store/mongo/datastore_mongo.go
Due: build:backend:dist, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

build(docker): Add build stage to Dockerfiles
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/reporting/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

build(make): Update `docker` targets to use updated Dockerfiles
  backend/Makefile
  backend/services/Makefile.common
  backend/services/create-artifact-worker/Makefile
  backend/services/deployments/Makefile
  backend/services/deviceauth/Makefile
  backend/services/deviceconfig/Makefile
  backend/services/deviceconnect/Makefile
  backend/services/inventory/Makefile
  backend/services/iot-manager/Makefile
  backend/services/reporting/Makefile
  backend/services/useradm/Makefile
  backend/services/workflows/Makefile
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

build(make): Change default target to `docker` and add variable TAGS
  backend/Makefile
  backend/services/Makefile.common
  backend/services/deployments/Makefile
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

build(make): Do not expand `go` shell commands unconditionally
  backend/services/Makefile.common
  bin/.gitignore
  dist/.gitignore
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: Clean up unused compose files
  backend/services/deviceauth/tests/docker-compose.acceptance.enterprise.yml
  backend/services/useradm/tests/docker-compose.acceptance.enterprise.yml
  backend/services/workflows/tests/docker-compose.acceptance.yml
  backend/services/workflows/tests/docker-compose.enterprise.yml
Due: build:backend:dist, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: Add docker login to Gitlab registry
  .gitlab-ci.yml
Due: none

Path conditions:
  build:backend:dist: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
