Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

test(deployments): port artifact tests to integration:ng
  backend/tests/runner/tests/opensource/deployments_artifacts_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): port inventory management tests to integration:ng
  backend/tests/runner/go.mod
  backend/tests/runner/tests/opensource/inventory_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): port device decommissioning test to integration:ng
  backend/tests/runner/tests/opensource/decommission_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): let react graduation out of facebook be reflected in license file
  frontend/directDependencies.csv
Due: none

chore(gui): aligned the deployment log dialog with design
  frontend/src/js/components/deployments/deployment-report/Log.tsx
Due: none

chore(gui): use a table in the deployment status
  frontend/src/js/components/deployments/deployment-report/DeploymentStatus.tsx
Due: none

chore(gui): aligned deployment overview with design
  frontend/src/js/components/deployments/deployment-report/Overview.tsx
Due: none

chore(gui): use Typography in Past Deployments
  frontend/src/js/components/deployments/PastDeployments.tsx
Due: none

chore(gui): aligned deployment report page with design adjustments
  frontend/src/js/components/deployments/Report.tsx
Due: none

chore(gui): aligned device list in deployment report
  frontend/src/js/components/deployments/deployment-report/DeviceList.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeploymentStatus.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/Overview.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/RolloutSchedule.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Login.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Signup.test.tsx.snap
  frontend/src/js/components/login/signup-steps/__snapshots__/OrgdataEntry.test.tsx.snap
  frontend/src/js/components/login/signup-steps/__snapshots__/UserdataEntry.test.tsx.snap
Due: none

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceauth): split out logic for aggregating device status
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): adjusted unit tests with wrong expectations
  backend/services/deviceauth/devauth/devauth_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(create-artifact-worker): pin single-file-artifact-gen to a release tag
  backend/services/create-artifact-worker/Dockerfile
  renovate.json5
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceauth): add feature flag to restore legacy provision behavior
  backend/services/deviceauth/config/config.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/server.go
  backend/services/workflows/worker/workflows/legacy_provision_iot_manager.json
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(e2e): aligned webhook event expectation w/ improved device provisioning behavior
  frontend/tests/e2e_tests/integration/03-advanced/02-webhooks.spec.ts
Due: none

chore(gui): aligned common device related list item text appearance w/ updated design
  frontend/src/js/common-ui/DeviceIdentity.tsx
  frontend/src/js/components/devices/BaseDevices.tsx
  frontend/src/js/components/devices/DeviceStatus.tsx
  frontend/src/js/components/devices/device-details/authsets/AuthSetListItem.tsx
Due: none

chore(gui): moved device list hover state to updated theme definition
  frontend/src/js/components/devices/DeviceListItem.tsx
Due: none

chore(gui): aligned snapshots w/ updated list appearance
  frontend/src/js/common-ui/__snapshots__/DeviceIdentity.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/AuditLogsList.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceConfiguration.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceDetails.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/FileTransfer.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/PortForward.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/BaseDevices.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceListItem.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/AuthStatus.test.tsx.snap
  frontend/src/js/components/devices/device-details/authsets/__snapshots__/AuthSetList.test.tsx.snap
  frontend/src/js/components/devices/device-details/authsets/__snapshots__/AuthSetListItem.test.tsx.snap
Due: none

chore(gui): aligned auditlog related list item text appearance w/ updated design
  frontend/src/js/components/auditlogs/ColumnComponents.tsx
Due: none

fix(gui): check if global setting changed before submitting
  frontend/src/js/components/settings/Global.tsx
Due: none

chore(gui): simplify isOs condition
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
Due: none

chore(gui): add email change back for OS users
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
Due: none

chore(gui): aligned role edit flow with new design
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
Due: none

feat(gui): remove email edit from user details view
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
Due: none

test(gui): adjusted unit test to new design
  frontend/src/js/components/settings/user-management/UserManagement.test.tsx
Due: none

chore(gui): moved user remove button to drawer bottom
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
Due: none

chore(gui): aligned auth status further with design
  frontend/src/js/components/devices/device-details/AuthStatus.tsx
  frontend/src/js/components/devices/device-details/authsets/AuthSetListItem.test.tsx
  frontend/src/js/components/devices/device-details/authsets/AuthSetListItem.tsx
  frontend/src/js/components/devices/device-details/authsets/AuthSets.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/AuthStatus.test.tsx.snap
  frontend/src/js/components/devices/device-details/authsets/__snapshots__/AuthSetList.test.tsx.snap
  frontend/src/js/components/devices/device-details/authsets/__snapshots__/AuthSetListItem.test.tsx.snap
Due: none

feat(deviceauth): added feature flag for legacy provision events
  backend/services/deviceauth/devauth/devauth.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(pkg): added ability to provide per-tenant feature flags
  backend/pkg/identity/middleware.go
  backend/pkg/identity/middleware_test.go
  backend/pkg/identity/token.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): show verification, 2FA, and auth type columns in user list
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/UserList.tsx
  frontend/src/js/components/settings/user-management/UserManagement.test.tsx
  frontend/src/js/components/settings/user-management/__snapshots__/UserList.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserManagement.test.tsx.snap
Due: none

chore(gui): clean up stale snapshot
  frontend/src/js/components/settings/organization/__snapshots__/OrganizationSettingsItem.test.tsx.snap
Due: none

refactor(gui): let user role changes get reflected in the form they happen in right away
  frontend/src/js/components/settings/user-management/UserForm.tsx
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

refactor(gui): let user deletion confirmation rely on common confirmation dialog
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

refactor(gui): let user modifications handle their own dialog visibility
  frontend/src/js/components/settings/user-management/UserForm.tsx
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

refactor(gui): aligned user details w/ updated design
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/UserManagement.test.tsx
Due: none

chore(deps): update npm-prod-dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
