Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore: added generated per service client
  backend/pkg/api/internalapi/inventory/client.gen.go
  backend/pkg/api/internalapi/inventory/generate.yaml
  backend/pkg/api/internalapi/inventory/wrapper.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: adjusted to generated client
  backend/services/deployments/client/inventory/client_test.go
  backend/services/deviceauth/client/inventory/client_test.go
  backend/services/reporting/client/inventory/client_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: removed wrapper indirection
  backend/services/deployments/client/inventory/adapter.go
  backend/services/deployments/client/inventory/client.go
  backend/services/deployments/client/inventory/client_test.go
  backend/services/deviceauth/client/inventory/adapter.go
  backend/services/deviceauth/client/inventory/client.go
  backend/services/reporting/client/inventory/adapter.go
  backend/services/reporting/client/inventory/client.go
  backend/services/reporting/client/inventory/client_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: added makefile target to regenerate spec bundle
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: made use of spec regen makefile target
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: bundled updated spec
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: let deviceauthevents rely on typing info from the the event
  backend/docs/api/iot-manager/management_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: fixed schema name collisions
  backend/docs/api/deployments/internal_v1.yaml
  backend/docs/api/deployments/schemas.yaml
  backend/docs/api/deviceauth/management_v2.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: fixed number type related spec issues to allow codegen to work
  backend/docs/api/inventory/internal_v1.yaml
  backend/docs/api/inventory/internal_v2.yaml
  backend/docs/api/inventory/management_v1.yaml
  backend/docs/api/inventory/management_v2.yaml
  backend/docs/api/useradm/management_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(inventory): aligned attribute.value type w/ service reality
  backend/docs/api/inventory/management_v1.yaml
  backend/docs/api/inventory/schemas.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: aligned bundled spec
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: reduced noise caused by spec bundle regeneration
  .gitignore
Due: none

chore(gui): reduced locator specificity to help playwright find right device limit input - pt2
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

docs(inventory): added inventory statistics api documentation
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/inventory/management_v2.yaml
  backend/services/inventory/docs/management_api_v2.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): added tests for device statistics endpoint
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/inventory/inv/inventory_test.go
  backend/services/inventory/store/mongo/datastore_mongo_test.go
  backend/tests/integration/tests/test_inventory.py
  backend/tests/integration/testutils/api/inventory_v2.py
  backend/tests/integration/testutils/common.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(inventory): added endpoint for retrieving device statistics
  backend/pkg/tiers/tiers.go
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/api/http/routing.go
  backend/services/inventory/inv/inventory.go
  backend/services/inventory/inv/mocks/InventoryApp.go
  backend/services/inventory/model/statistics.go
  backend/services/inventory/store/datastore.go
  backend/services/inventory/store/mocks/DataStore.go
  backend/services/inventory/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(inventory): shared device status definitions
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/model/device.go
  backend/services/inventory/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: enforce hostname verification for compose development environment
  compose/docker-compose.enterprise.yml
  compose/docker-compose.seaweedfs.yml
  docker-compose.yml
Due: none

chore: remove `wss` domain "self" from content security policy
  frontend/httpd.conf
Due: none

ci: simplify mender-docs-changelog generation
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: override git cliff header and footer
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: remove horizontal bar header/footer from changelog
  CHANGELOG.md
Due: none

refactor(deviceauth): extend RejectAuthSetsForDevice to exclude AuthSets
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
  backend/services/deviceauth/store/datastore.go
  backend/services/deviceauth/store/mocks/DataStore.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): let client logs always be collected, not only on failures
  frontend/tests/e2e_tests/run.js
Due: none

chore: debug
  frontend/tests/e2e_tests/docker-compose.e2e-tests.rofs.yml
Due: none

test(e2e): load demo cert from /usr/share/doc/mender-auth/examples/demo.crt
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
Due: none

chore: debug
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
Due: none

chore: debug
  frontend/tests/e2e_tests/docker-compose.e2e-tests.rofs.yml
  frontend/tests/e2e_tests/qemu/setup-mender-configuration.py
Due: none

feat: create docker-compose file for mender-client-qemu
  docker-compose.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.client.yml
  frontend/tests/e2e_tests/run
Due: none

chore: debug
  frontend/tests/e2e_tests/docker-compose.e2e-tests.rofs.yml
  frontend/tests/e2e_tests/qemu/entrypoint.sh
Due: none

ci: Pin QEMU image for e2e tests to the previous working version
  frontend/tests/e2e_tests/docker-compose.e2e-tests.rofs.yml
Due: none

debug: Verify fresh QEMU image
  frontend/tests/e2e_tests/docker-compose.e2e-tests.rofs.yml
Due: none

ci: Add playright traces to CI job artifacts for `frontend:acceptance`
  frontend/pipeline.yml
Due: none
