Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

fix(gui): fetch tenant token in device onboarding modal
  frontend/src/js/components/devices/dialogs/DeviceConnectionDialog.tsx
Due: none

fix(gui): let immediate validation run when a deployment gets created w/ device count based phases
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.test.ts
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/validation.test.ts
Due: none

chore(gui): rely on settings cleanup on logout via updated api logout handler
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(pkg): remove redundant "ts" field and defer latency calculation
  backend/pkg/accesslog/middleware_gin.go
  backend/pkg/accesslog/middleware_gin_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(pkg): accesslog uses status code 499 for client closed connection
  backend/pkg/accesslog/middleware_gin.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): use rhf in Integrations settings
  frontend/src/js/components/settings/Integrations.tsx
Due: none

chore(gui): align integrations settings with theme adjustments
  frontend/src/js/components/settings/Integrations.tsx
  frontend/src/js/components/settings/constants.ts
Due: none

chore(gui): update snapshots
  frontend/src/js/components/settings/__snapshots__/Integrations.test.tsx.snap
Due: none

chore(gui): replace adhoc confirm with modal confirm
  frontend/src/js/common-ui/Confirm.tsx
  frontend/src/js/components/settings/Integrations.tsx
Due: none

chore(gui): aligned pending devices notification further w/ updated design + ux
  frontend/src/js/components/devices/DeviceStatusNotification.test.tsx
  frontend/src/js/components/devices/DeviceStatusNotification.tsx
  frontend/src/js/components/devices/__snapshots__/DeviceStatusNotification.test.tsx.snap
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

test(deployments): use clean_db in TestRelease
  backend/services/deployments/tests/tests/test_release_v2.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): do not use deprecated endpoints in tests
  backend/services/deployments/tests/common.py
  backend/services/deployments/tests/conftest.py
  backend/services/deployments/tests/tests/client.py
  backend/services/deployments/tests/tests/test_artifact.py
  backend/services/deployments/tests/tests/test_deployment.py
  backend/services/deployments/tests/tests/test_release.py
  backend/tests/integration/test_artifact.py
  backend/tests/integration/test_deployments.py
  backend/tests/testutils/api/deployments.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): fix status code assertion
  backend/tests/integration/test_deployments.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed an issue that prevented getting to software info from a device in a deployment
  frontend/src/js/components/deployments/deployment-report/DeviceList.tsx
Due: none

test(e2e): cleaned up admin-panel tests to rely on backend only tests where browser usage is optional
  frontend/tests/e2e_tests/integration/03-advanced/06-adminPanel.spec.ts
  frontend/tests/e2e_tests/integration/05-admin-panel/01-navigation.spec.ts
  frontend/tests/e2e_tests/integration/05-admin-panel/02-tenants.spec.ts
  frontend/tests/e2e_tests/integration/05-admin-panel/03-users.spec.ts
  frontend/tests/e2e_tests/integration/05-admin-panel/04-notices.spec.ts
  frontend/tests/e2e_tests/integration/09-potentially-destructive/02-adminPanel.spec.ts
  frontend/tests/e2e_tests/utils/adminPanel.ts
Due: none

test(deployments): port deployment lifecycle tests to integration:ng
  backend/tests/runner/tests/opensource/deployments_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): port device auth tests to integration:ng
  backend/tests/runner/tests/opensource/devauth_management_v2_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: debug
  frontend/pipeline.yml
  frontend/tests/e2e_tests/playwright.config.ts
  frontend/tests/e2e_tests/runner/cli.js
  frontend/tests/e2e_tests/runner/config.js
  frontend/tests/e2e_tests/runner/test-execution.js
Due: none

test(deployments): port artifact tests to integration:ng
  backend/tests/runner/tests/opensource/deployments_artifacts_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): port inventory management tests to integration:ng
  backend/tests/runner/go.mod
  backend/tests/runner/tests/opensource/inventory_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): port device decommissioning test to integration:ng
  backend/tests/runner/tests/opensource/decommission_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deployments): add request timeout middleware to devices APIs
  backend/pkg/middlewares/error_response.go
  backend/pkg/middlewares/error_response_test.go
  backend/pkg/middlewares/timeout.go
  backend/pkg/middlewares/timeout_test.go
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/api/http/api_deployments_test.go
  backend/services/deployments/api/http/common_test.go
  backend/services/deployments/api/http/routing.go
  backend/services/deployments/config/config.go
  backend/services/deployments/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update docker.io/library/golang docker tag to v1.27.1
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update docker docker tag to v29.8
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(deps): update npm-mui
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency @babel/plugin-transform-runtime to v8
  frontend/package.json
Due: none

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deployments): add request timeout middleware to devices APIs
  backend/pkg/middlewares/error_response.go
  backend/pkg/middlewares/error_response_test.go
  backend/pkg/middlewares/timeout.go
  backend/pkg/middlewares/timeout_test.go
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/api/http/api_deployments_test.go
  backend/services/deployments/api/http/common_test.go
  backend/services/deployments/api/http/routing.go
  backend/services/deployments/config.yaml
  backend/services/deployments/config/config.go
  backend/services/deployments/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: update golang-ci lint to v2.13.2
  .gitlab-ci.yml
  backend/pkg/mongo/doc/bson.go
  backend/pkg/mongo/v2/doc/bson.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: align golang version used by CI
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: modernize Dockerfile.integration and bump Python to 3.14-trixie
  backend/tests/Dockerfile.integration
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: replace dep. azure-iot-hub with azure-iot-hub-api for integration
  backend/tests/integration/tests/test_azure_iothub.py
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): remove deprecated mongo-driver dependency
  backend/go.mod
  backend/go.sum
  backend/pkg/mongo/codec/bson.go
  backend/pkg/mongo/codec/bson_test.go
  backend/pkg/mongo/dbtest/db.go
  backend/pkg/mongo/doc/bson.go
  backend/pkg/mongo/doc/bson_test.go
  backend/pkg/mongo/doc/ops.go
  backend/pkg/mongo/doc/ops_test.go
  backend/pkg/mongo/lock.go
  backend/pkg/mongo/lock_test.go
  backend/pkg/mongo/migrate/db.go
  backend/pkg/mongo/migrate/db_test.go
  backend/pkg/mongo/migrate/main_test.go
  backend/pkg/mongo/migrate/migration.go
  backend/pkg/mongo/migrate/migrator.go
  backend/pkg/mongo/migrate/migrator_dummy.go
  backend/pkg/mongo/migrate/migrator_dummy_test.go
  backend/pkg/mongo/migrate/migrator_simple.go
  backend/pkg/mongo/migrate/migrator_simple_test.go
  backend/pkg/mongo/migrate/mocks/Migration.go
  backend/pkg/mongo/migrate/version.go
  backend/pkg/mongo/migrate/version_test.go
  backend/pkg/mongo/oid/objectid.go
  backend/pkg/mongo/oid/objectid_test.go
  backend/pkg/mongo/tenant.go
  backend/pkg/mongo/tenant_test.go
  backend/pkg/mongo/testing/db.go
  backend/pkg/mongo/testing/db_env.go
  backend/pkg/mongo/testing/db_env_test.go
  backend/services/iot-manager/api/http/internal_test.go
  backend/services/iot-manager/crypto/string.go
  backend/services/iot-manager/crypto/string_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: drop chardet pin conflicting with azure-cli
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
