Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

refactor(inventory): Migrate mongo-driver to v2
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/inventory/inv/inventory.go
  backend/services/inventory/inv/inventory_test.go
  backend/services/inventory/model/device.go
  backend/services/inventory/model/device_test.go
  backend/services/inventory/store/mongo/datastore_mongo.go
  backend/services/inventory/store/mongo/datastore_mongo_test.go
  backend/services/inventory/store/mongo/dbsetup_test.go
  backend/services/inventory/store/mongo/helper_test.go
  backend/services/inventory/store/mongo/migration_0_2_0.go
  backend/services/inventory/store/mongo/migration_0_2_0_test.go
  backend/services/inventory/store/mongo/migration_1_0_0.go
  backend/services/inventory/store/mongo/migration_1_0_0_test.go
  backend/services/inventory/store/mongo/migration_1_0_1.go
  backend/services/inventory/store/mongo/migration_1_0_1_test.go
  backend/services/inventory/store/mongo/migration_1_0_2.go
  backend/services/inventory/store/mongo/migration_1_0_2_test.go
  backend/services/inventory/store/mongo/migration_1_1_0.go
  backend/services/inventory/store/mongo/migration_1_1_0_test.go
  backend/services/inventory/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(workflows): Migrate mongo-driver to v2
  backend/services/workflows/api/http/workflow.go
  backend/services/workflows/app/processor/job.go
  backend/services/workflows/app/processor/utils_test.go
  backend/services/workflows/store/mongo/bson.go
  backend/services/workflows/store/mongo/datastore_mongo.go
  backend/services/workflows/store/mongo/datastore_mongo_test.go
  backend/services/workflows/store/mongo/migration_1_0_0.go
  backend/services/workflows/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(useradm): Migrate mongo-driver to v2
  backend/services/useradm/api/http/api_useradm_test.go
  backend/services/useradm/authz_simple_test.go
  backend/services/useradm/jwt/claims.go
  backend/services/useradm/jwt/jwt_ed25519_test.go
  backend/services/useradm/jwt/jwt_rsa_test.go
  backend/services/useradm/jwt/token_test.go
  backend/services/useradm/model/settings.go
  backend/services/useradm/model/settings_test.go
  backend/services/useradm/model/token.go
  backend/services/useradm/store/datastore.go
  backend/services/useradm/store/mocks/DataStore.go
  backend/services/useradm/store/mongo/bson.go
  backend/services/useradm/store/mongo/datastore_mongo.go
  backend/services/useradm/store/mongo/datastore_mongo_test.go
  backend/services/useradm/store/mongo/main_test.go
  backend/services/useradm/store/mongo/migration_1_0_0.go
  backend/services/useradm/store/mongo/migration_1_0_0_test.go
  backend/services/useradm/store/mongo/migration_1_1_4.go
  backend/services/useradm/store/mongo/migration_1_1_4_test.go
  backend/services/useradm/store/mongo/migration_1_3_2.go
  backend/services/useradm/store/mongo/migration_1_3_2_test.go
  backend/services/useradm/store/mongo/migration_2_0_0.go
  backend/services/useradm/store/mongo/migration_2_0_0_test.go
  backend/services/useradm/store/mongo/migration_2_0_1.go
  backend/services/useradm/store/mongo/migration_2_0_1_test.go
  backend/services/useradm/store/mongo/migration_2_0_3.go
  backend/services/useradm/store/mongo/migrations.go
  backend/services/useradm/store/mongo/migrations_test.go
  backend/services/useradm/user/useradm.go
  backend/services/useradm/user/useradm_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove mongo flag `--nojournal`
  backend/pkg/mongo/dbtest/db.go
  backend/pkg/mongo/v2/dbtest/db.go
  backend/services/deviceconfig/store/mongo/main_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fix seaweedfs naming collision
  compose/k8s/setup-review-namespace.sh
Due: none

ci: fix missing pwgen command
  compose/k8s/setup-review-namespace.sh
Due: none

ci: always build docker images for review apps
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): adjusted eslint config
  frontend/eslint.config.js
  frontend/package.json
Due: none

chore(gui): added ci formatting check
  frontend/package.json
  frontend/pipeline.yml
Due: none

chore(gui): removed unnecessary e2e dep installation in lint job
  frontend/pipeline.yml
Due: none

chore(gui): prettier formatting fixes
  frontend/scripts/dependencyLicenseCheck.ts
  frontend/src/js/common-ui/dialogs/Feedback.tsx
  frontend/src/js/common-ui/forms/CountrySelect.tsx
  frontend/src/js/components/LeftNav.tsx
  frontend/src/js/components/deployments/progress/SubstateProgressBar.test.tsx
  frontend/src/js/components/devices/widgets/DeviceQuickActions.tsx
  frontend/src/js/components/settings/PlanExpanded.tsx
  frontend/src/js/components/settings/organization/Billing.test.tsx
Due: none

chore: update release please configuration
  release-please-config.json
Due: none

ci: fake change for testing
  README.md
Due: none

chore: review apps demo
  frontend/src/js/components/dashboard/Dashboard.tsx
  frontend/src/js/config/routes.tsx
Due: none

chore: sample backend change
  backend/services/deviceconnect/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: add `traefik` as a valid routing hostname
  compose/docker-compose.enterprise.yml
  docker-compose.yml
Due: none

chore: and back again
  backend/services/deviceconnect/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fix pipeline execution
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

refactor(deviceauth): remove dead code
  backend/services/deviceauth/api/http/api_handler.go
  backend/services/deviceauth/api/http/context.go
  backend/services/deviceauth/api/http/routing.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/model/authset.go
  backend/services/deviceauth/model/devadm-authset-req.go
  backend/services/deviceauth/model/tenant.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): added time limited announcement for ai analysis feature to let more users benefit from it
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/header/Header.tsx
  frontend/src/js/components/header/OfferHeader.tsx
  frontend/src/js/components/header/__snapshots__/OfferHeader.test.tsx.snap
Due: none

chore(gui): centralized monaco customizations in wrapper component to ease aligning modifications
  frontend/src/js/common-ui/CodeEditor.tsx
Due: none

chore(gui): let device twin config diff display also align closer w/ updated editor design
  frontend/src/js/common-ui/CodeEditor.tsx
  frontend/src/js/components/devices/device-details/DeviceTwin.tsx
Due: none

feat(gui): enabled dark mode support for saml + other editors
  frontend/src/js/components/devices/device-details/DeviceTwin.tsx
  frontend/src/js/components/settings/organization/SSOEditor.tsx
  frontend/src/js/components/settings/webhooks/EventDetails.tsx
Due: none

chore(gui): fixed faulty device twin sync status class combination
  frontend/src/js/components/devices/device-details/DeviceTwin.tsx
Due: none

chore(gui): slight alignments w/ updated design
  frontend/src/js/components/settings/organization/SSOEditor.tsx
  frontend/src/js/components/settings/webhooks/EventDetails.tsx
Due: none

fix(gui): fixed an issue that could hinder the device config difference view if none were found
  frontend/src/js/components/devices/device-details/DeviceTwin.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceTwin.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOEditor.test.tsx.snap
Due: none

ci: upgraded node image used in frontend jobs to supported version
  frontend/pipeline.yml
Due: none

chore: added 4.1.x branch to dependabot checking
  .github/dependabot.yml
Due: none

test: Relax e2e match criteria for `mender-demo-artifact` version
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

chore(gui): aligned 2fa code generation w/ updated dep
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

test: aligned 2fa code generation w/ updated dependency
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

chore(gui): aligned license location after dep update
  frontend/tests/licenses/directDependencies.csv
Due: none

chore(gui): aligned license references with updated versions
  frontend/tests/licenses/directDependencies.csv
Due: none

chore(gui): aligned snapshots after mui update
  frontend/src/js/common-ui/dialogs/__snapshots__/ConfirmDismissHelpTips.test.tsx.snap
  frontend/src/js/common-ui/dialogs/__snapshots__/DeviceConnectionDialog.test.tsx.snap
  frontend/src/js/common-ui/dialogs/__snapshots__/Log.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/ConfigImportDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/ConnectToGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MakeGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MonitorDetailsDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/PreauthDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/customColumnsDialog.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroup.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroupExplainer.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/RemoveGroup.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/DeviceAdditionWidget.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/AddArtifact.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/RemoveArtifact.test.tsx.snap
  frontend/src/js/components/settings/dialogs/__snapshots__/CancelRequest.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
Due: none

fix: Unmarshal `interface{}` as bson.M using v2 mongo-driver
  backend/pkg/mongo/v2/client.go
  backend/pkg/mongo/v2/dbtest/db.go
  backend/pkg/mongo/v2/testing/db.go
  backend/services/deployments/store/mongo/datastore_mongo.go
  backend/services/deviceconfig/store/mongo/datastore_mongo.go
  backend/services/deviceconfig/store/mongo/main_test.go
  backend/services/deviceconnect/store/mongo/datastore_mongo.go
  backend/services/iot-manager/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix: Revert tests to use the correct type bson.M instead of bson.D
  backend/services/deployments/store/mongo/deployments_external_test.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned snapshots after mui update
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/header/__snapshots__/DeviceNotifications.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionSummary.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
Due: none

chore(gui): aligned license tracking w/ updated dependencies
  frontend/directDependencies.csv
Due: none
