Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore(pkg): allocate the v2 protocol types
  backend/pkg/ws/protomsg.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): ease reuse of device acceptance flow in e2e tests via shared helper
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
  frontend/tests/e2e_tests/utils/utils.ts
Due: none

test(e2e): ensure enterprise tenants have usable tests for current scenarios
  frontend/tests/e2e_tests/runner/test-execution.js
Due: none

test(e2e): add an orchestrator e2e test variant
  frontend/pipeline.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.orchestrator.yml
  frontend/tests/e2e_tests/playwright-qemu.config.ts
  frontend/tests/e2e_tests/runner/cli.js
  frontend/tests/e2e_tests/runner/config.js
  frontend/tests/e2e_tests/runner/interactive.js
  frontend/tests/e2e_tests/runner/lifecycle.js
  frontend/tests/e2e_tests/runner/test-execution.js
Due: none

test(e2e): added orchestrator device cycle tests
  frontend/.gitignore
  frontend/tests/e2e_tests/fixtures/manifest-rtos.yaml
  frontend/tests/e2e_tests/integration/06-orchestrator-dependent/01-orchestrator.spec.ts
Due: none

chore(gui): drop hideEmptyOption from common select
  frontend/src/js/common-ui/forms/Select.test.tsx
  frontend/src/js/common-ui/forms/Select.tsx
Due: none

refactor(gui): use the shared select component across the UI
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/Input.tsx
  frontend/src/js/components/devices/device-details/Deployments.tsx
  frontend/src/js/components/devices/widgets/DeviceStateSelection.tsx
  frontend/src/js/components/devices/widgets/FilterItem.tsx
  frontend/src/js/components/devices/widgets/TierSelection.tsx
  frontend/src/js/components/settings/AccessTokenManagement.tsx
  frontend/src/js/components/settings/Global.tsx
  frontend/src/js/components/settings/Integrations.tsx
  frontend/src/js/components/settings/organization/Organization.tsx
  frontend/src/js/components/settings/role-management/PermissionsItems.tsx
  frontend/src/js/components/settings/user-management/UserForm.tsx
Due: none

chore(gui): use common select in common controlled select
  frontend/src/js/common-ui/forms/ControlledSelect.tsx
Due: none

test(deviceconnect): add unit tests covering new filetransfer protocol
  backend/services/deviceconnect/api/http/management_filetransfer_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceconnect): implement simplified filetransfer upload protocol
  backend/services/deviceconnect/api/http/management_filetransfer.go
  backend/services/deviceconnect/model/filetransfer.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceconnect): implement simplified filetransfer download protocol
  backend/services/deviceconnect/api/http/management_filetransfer.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): cleaned up webkit remnants in e2e tests
  frontend/tests/e2e_tests/fixtures/terminalContent-webkit.png
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/02-deviceDetails.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-auditlogs.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/30-saml.spec.ts
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
  frontend/tests/e2e_tests/playwright.config.ts
Due: none

test(deployments): port deployment lifecycle tests to integration:ng
  backend/tests/runner/tests/opensource/deployments_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): port inventory management tests to integration:ng
  backend/tests/runner/go.mod
  backend/tests/runner/tests/opensource/inventory_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): port device auth tests to integration:ng
  backend/tests/runner/tests/common/device.go
  backend/tests/runner/tests/opensource/devauth_management_v2_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): port artifact tests to integration:ng
  backend/tests/runner/tests/opensource/deployments_artifacts_v1_test.go
  backend/tests/runner/tests/opensource/deployments_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): port device decommissioning test to integration:ng
  backend/tests/runner/tests/opensource/decommission_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(gui): adopt new controlled select in software select form
  frontend/src/js/components/auditlogs/AuditLogsFilter.tsx
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
  frontend/src/js/components/settings/AccessTokenManagement.tsx
Due: none

chore(gui): update snapshots
  frontend/src/js/common-ui/forms/__snapshots__/Select.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/AuthorizedDevices.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/FilterItem.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/Filters.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/AccessTokenManagement.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/RoleDefinition.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
Due: none

refactor(gui): drop the redundant addon select in favor of ControlledSelect
  frontend/src/js/common-ui/forms/AddonSelect.tsx
  frontend/src/js/components/deployments/PastDeployments.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

test(gui): harden and unify navigation in e2e tests
  frontend/tests/e2e_tests/integration/01-basic/01-basic.spec.ts
  frontend/tests/e2e_tests/integration/01-basic/02-login.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/03-manifest.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/04-tenant.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/02-webhooks.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-auditlogs.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
  frontend/tests/e2e_tests/integration/06-orchestrator-dependent/01-orchestrator.spec.ts
  frontend/tests/e2e_tests/utils/utils.ts
Due: none

chore(4.1.x): release 4.2.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update npm-dev-dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency mendersoftware/mender-artifact to v4.4.2
  backend/services/create-artifact-worker/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update dependency @mui/x-date-pickers to v8.29.3
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency monaco-editor to v0.57.0
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(pkg): remove deprecated mongo-driver dependency
  backend/go.mod
  backend/go.sum
  backend/pkg/mongo/codec/bson.go
  backend/pkg/mongo/codec/bson_test.go
  backend/pkg/mongo/dbtest/db.go
  backend/pkg/mongo/doc/bson.go
  backend/pkg/mongo/doc/bson_test.go
  backend/pkg/mongo/doc/ops.go
  backend/pkg/mongo/doc/ops_test.go
  backend/pkg/mongo/lock.go
  backend/pkg/mongo/lock_test.go
  backend/pkg/mongo/migrate/db.go
  backend/pkg/mongo/migrate/db_test.go
  backend/pkg/mongo/migrate/main_test.go
  backend/pkg/mongo/migrate/migration.go
  backend/pkg/mongo/migrate/migrator.go
  backend/pkg/mongo/migrate/migrator_dummy.go
  backend/pkg/mongo/migrate/migrator_dummy_test.go
  backend/pkg/mongo/migrate/migrator_simple.go
  backend/pkg/mongo/migrate/migrator_simple_test.go
  backend/pkg/mongo/migrate/mocks/Migration.go
  backend/pkg/mongo/migrate/version.go
  backend/pkg/mongo/migrate/version_test.go
  backend/pkg/mongo/oid/objectid.go
  backend/pkg/mongo/oid/objectid_test.go
  backend/pkg/mongo/tenant.go
  backend/pkg/mongo/tenant_test.go
  backend/pkg/mongo/testing/db.go
  backend/pkg/mongo/testing/db_env.go
  backend/pkg/mongo/testing/db_env_test.go
  backend/services/iot-manager/api/http/internal_test.go
  backend/services/iot-manager/crypto/string.go
  backend/services/iot-manager/crypto/string_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): pinned jsdom to 30.0 for vitest compatibility
  frontend/package-lock.json
  frontend/package.json
Due: none

docs(deviceconnect): updated status code for deviceconnect shutdown to OK
  backend/docs/api/deviceconnect/internal_v1.yaml
  backend/docs/api/dist/openapi.yaml
  backend/tests/mender_client/api/device_connect_internal_api_api.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(review-apps): reuse SeaweedFS S3 keys on re-deploy
  compose/k8s/setup-review-namespace.sh
Due: none

test(e2e): prevent failure due to concurrent software uploads of manifests & generated artifacts
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

chore(deps): migrate azure tests to use CLI and bump cryptography
  backend/tests/integration/test_azure_iothub.py
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): do not install golang in pytest integration test image
  backend/tests/Dockerfile.integration
  backend/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): suggest accepted default name when copying Manifest
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

chore: update client versions for compat tests
  backend/tests/docker/docker-compose.backend-tests-compat.yml
  backend/tests/integration_compat/test_compat.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses
