Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

refactor(deviceconnect): consolidate error handling and ws close frame
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/utils.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceconnect): improve error handling reaching session recording limit
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(gui): migrate deployment retries to numberinput/ rhf
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
Due: none

refactor(gui): migrate checkbox only sections to rhf compatible
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
Due: none

refactor(gui): add rhf foundation to deployment creation
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/types.ts
  frontend/src/js/components/deployments/deployment-wizard/utils.ts
Due: none

refactor(gui): migrate synced deployments to rhf value tracking too
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
Due: none

refactor(gui): prepared deployment phase config for design changes
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
Due: none

refactor(gui): track deployment scheduling with rhf too
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
Due: none

refactor(gui): remove deployment object reliance for rhf
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/Deployments.tsx
Due: none

refactor(gui): migrate target device + proxy deployment release selection to rhf
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
Due: none

test(gui): update tests for to align w/ rhf migration
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
Due: none

refactor(gui): let deployment device limit rely on numberinput/ rhf
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
Due: none

test(deviceconnect): update unit tests for websocket sessions
  backend/services/deviceconnect/api/http/device_test.go
  backend/services/deviceconnect/api/http/management_test.go
  backend/services/deviceconnect/client/nats/mocks/Client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): adjust acceptance tests status assertions
  backend/services/deviceconnect/tests/tests/test_connect.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconnect): mender command APIs to use connection oriented streams
  backend/services/deviceconnect/api/http/device_test.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/management_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): update deviceconnect application tests
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/app/playback_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconnect): file transfer to use connection oriented NATS transport
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/management_filetransfer.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): rewrite filetransfer tests to use stream mocks
  backend/services/deviceconnect/api/http/management_filetransfer_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): minimized situations nested paragraphs would trigger a warning
  frontend/src/js/common-ui/DocsLink.tsx
Due: none

chore(gui): minimized situations nested buttons would trigger a warning
  frontend/src/js/components/devices/device-details/authsets/AuthSetListItem.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/common-ui/__snapshots__/DocsLink.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/AuthStatus.test.tsx.snap
  frontend/src/js/components/devices/device-details/authsets/__snapshots__/AuthSetList.test.tsx.snap
  frontend/src/js/components/devices/device-details/authsets/__snapshots__/AuthSetListItem.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
Due: none

ci: Replace Coveralls with Codecov
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): fixed the links appearance in authset list
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/devices/device-details/authsets/AuthSetList.tsx
  frontend/src/js/components/devices/device-details/authsets/AuthSetListItem.tsx
Due: none

chore(gui): fixed links in text appearance
  frontend/src/js/components/deployments/InProgressDeployments.tsx
  frontend/src/js/components/deployments/PastDeployments.tsx
  frontend/src/js/components/deployments/ScheduledDeployments.tsx
  frontend/src/js/components/devices/BaseDevices.tsx
  frontend/src/js/components/releases/manifests/ManifestsList.tsx
  frontend/src/js/components/settings/organization/SSOConfig.tsx
  frontend/src/js/components/tenants/TenantPage.tsx
Due: none

test(e2e): let test user stick to non-bouncing email addresses where possible
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
  frontend/tests/e2e_tests/runner/config.js
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

feat(pkg): Added library for connection oriented streams using nats
  backend/pkg/stream/mocks/Conn.go
  backend/pkg/stream/mocks/Listener.go
  backend/pkg/stream/nats.go
  backend/pkg/stream/stream.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(e2e): temporarily disabled email verification to return to passing staging tests
  frontend/tests/e2e_tests/integration/02-baseline/02-settings.spec.ts
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

ci: allowed specifying valid e2e focused commits
  commitlint.config.js
Due: none

chore(gui): unified links appearance in the DeviceList
  frontend/src/js/components/deployments/deployment-report/DeviceList.tsx
Due: none

chore(gui): fixed icons in quick actions popups
  frontend/src/js/components/devices/widgets/DeviceQuickActions.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/manifests/ManifestQuickActions.tsx
Due: none

chore(gui): link adjustments on signup page
  frontend/src/js/components/login/Signup.tsx
  frontend/src/js/components/login/signup-steps/OrgdataEntry.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/ScheduledDeployments.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/AuthStatus.test.tsx.snap
  frontend/src/js/components/devices/device-details/authsets/__snapshots__/AuthSetList.test.tsx.snap
  frontend/src/js/components/devices/device-details/authsets/__snapshots__/AuthSetListItem.test.tsx.snap
  frontend/src/js/components/login/signup-steps/__snapshots__/OrgdataEntry.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDetails.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestQuickActions.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOConfig.test.tsx.snap
Due: none

test(e2e): use valid emails
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
Due: none

ci: use Gitlab Dependency proxy in docker composition
  .gitlab-ci.yml
  backend/services/deviceconfig/tests/docker-compose.yml
  backend/services/deviceconnect/tests/docker-compose.acceptance.yml
  backend/services/iot-manager/tests/docker-compose.acceptance.yml
  backend/services/useradm/tests/docker-compose.yml
  backend/services/workflows/tests/docker-compose.yml
  backend/tests/docker/docker-compose.backend-tests-compat.yml
  backend/tests/docker/docker-compose.backend-tests.yml
  compose/docker-compose.enterprise.yml
  compose/docker-compose.seaweedfs.yml
  compose/docker-compose.smtp4dev.yml
  docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: add gitlab dependency proxy to pipeline images
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: gitlab dependency proxy within Dockerfiles whenever possible
  .gitlab-ci.yml
  backend/services/Makefile.common
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
  backend/tests/Dockerfile.acceptance
  backend/tests/Dockerfile.integration
  frontend/Dockerfile
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: ignore code coverage of auto-generated code
  .gitlab-ci.yml
  backend/codecov.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): stabilized search callback to prevent infinite render loop
  frontend/src/js/common-ui/Search.tsx
Due: none
