Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore(gui): improved input compatibility with expanded usage of small input variant
  frontend/src/js/components/login/LoginForm.tsx
  frontend/src/js/components/releases/dialogs/ArtifactInformationForm.tsx
Due: none

chore(gui): ensured auditlog details filter stays properly aligned w/ the rest
  frontend/src/js/components/auditlogs/AuditLogsFilter.tsx
Due: none

chore(gui): realigned page size selection after switch to small inputs
  frontend/src/js/common-ui/Pagination.tsx
Due: none

chore(gui): aligned trial notification w/ updated theme
  frontend/src/js/components/header/TrialNotification.tsx
Due: none

chore(gui): fixed accordion background in deployment creation dialog
  frontend/src/js/components/deployments/CreateDeployment.tsx
Due: none

chore(gui): aligned account access modifying actions w/ theme
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
Due: none

chore(gui): aligned subnavigations appearance w/ updated theme
  frontend/src/js/common-ui/LeftNav.tsx
Due: none

chore(gui): aligned app bar appearance closer w/ updated design & theme
  frontend/src/js/components/header/DeploymentNotifications.tsx
  frontend/src/js/components/header/DeviceNotifications.tsx
  frontend/src/js/components/header/Header.tsx
Due: none

chore(gui): aligned device notifications
  frontend/src/js/components/devices/device-details/Monitoring.tsx
  frontend/src/js/components/devices/device-details/Notifications.tsx
Due: none

chore(gui): ensured details indicator stays unbent & unbroken
  frontend/src/js/common-ui/DetailsIndicator.tsx
Due: none

chore(gui): let read-only data display be more text focused by dropping chip appearance
  frontend/src/js/common-ui/ConfigurationObject.tsx
Due: none

chore(gui): let device list customization controls appear as defined by new theme
  frontend/src/js/components/devices/widgets/ListOptions.tsx
Due: none

chore(gui): removed deprecated chip prop opt-out for read-only data displays
  frontend/src/js/components/deployments/deployment-report/DeploymentStatus.tsx
  frontend/src/js/components/deployments/deployment-report/DeviceList.tsx
  frontend/src/js/components/deployments/deployment-report/Overview.tsx
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.tsx
  frontend/src/js/components/devices/device-details/Identity.tsx
Due: none

chore(gui): ensured primary page navigation looks ok in both modes
  frontend/src/js/components/LeftNav.tsx
Due: none

chore(gui): let help section scroll as intended while sticking w/ slim appearance
  frontend/src/js/components/help/Help.tsx
Due: none

chore(gui): updated mender theme definitions to further align w/ new theme target appearance
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): let release info rely less on less from nt-gui to minimize sync needs between repos
  frontend/src/js/components/releases/Artifact.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
Due: none

chore(gui): fixed border issues in accordion component
  frontend/src/js/components/devices/device-details/authsets/AuthSetList.tsx
  frontend/src/js/components/releases/ArtifactDetails.tsx
Due: none

chore: removed deprecated spec definitions to align on oa3 specs
  backend/services/deployments/docs/devices_api.yml
  backend/services/deployments/docs/internal_api.yml
  backend/services/deployments/docs/management_api.yml
  backend/services/deployments/docs/management_api_v2.yml
  backend/services/deviceauth/docs/devices_api.yml
  backend/services/deviceauth/docs/internal_api.yml
  backend/services/deviceauth/docs/management_api.yml
  backend/services/deviceconfig/docs/devices_api.yml
  backend/services/deviceconfig/docs/internal_api.yml
  backend/services/deviceconfig/docs/management_api.yml
  backend/services/deviceconnect/docs/asyncapi/deviceconnect.yml
  backend/services/deviceconnect/docs/devices_api.yml
  backend/services/deviceconnect/docs/internal_api.yml
  backend/services/deviceconnect/docs/management_api.yml
  backend/services/inventory/docs/devices_api.yml
  backend/services/inventory/docs/internal_api.yml
  backend/services/inventory/docs/internal_api_v2.yml
  backend/services/inventory/docs/management_api.yml
  backend/services/inventory/docs/management_api_v2.yml
  backend/services/iot-manager/docs/internal_api.yml
  backend/services/iot-manager/docs/management_api.yml
  backend/services/useradm/docs/internal_api.yml
  backend/services/useradm/docs/management_api.yml
  backend/services/workflows/docs/workflows_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): adjusted tests to rely on oa3 specs
  backend/services/deviceconnect/Makefile
  backend/services/deviceconnect/tests/common.py
  backend/services/deviceconnect/tests/conftest.py
  backend/services/deviceconnect/tests/tests/test_connect.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): adjusted tests to rely on oa3 specs
  backend/services/deviceauth/Makefile
  backend/services/deviceauth/tests/conftest.py
  backend/services/deviceauth/tests/tests/client.py
  backend/services/deviceauth/tests/tests/test_device.py
  backend/services/deviceauth/tests/tests/test_internal_api.py
  backend/services/deviceauth/tests/tests/test_limits.py
  backend/services/deviceauth/tests/tests/test_mgnt_v2.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconfig): adjusted tests to rely on oa3 specs
  backend/services/deviceconfig/Makefile
  backend/services/deviceconfig/tests/common.py
  backend/services/deviceconfig/tests/conftest.py
  backend/services/deviceconfig/tests/tests/test_device_config.py
  backend/services/deviceconfig/tests/tests/test_internal.py
  backend/services/deviceconfig/tests/tests/test_management_config.py
  backend/services/deviceconfig/tests/tests/test_management_config_auditlogs.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(iot-manager): adjusted tests to rely on oa3 specs
  backend/services/iot-manager/Makefile
  backend/services/iot-manager/tests/conftest.py
  backend/services/iot-manager/tests/tests/client.py
  backend/services/iot-manager/tests/tests/test_sync_aws_iotcore.py
  backend/services/iot-manager/tests/tests/test_sync_azure_iothub.py
  backend/services/iot-manager/tests/tests/test_webhooks.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(useradm): adjusted tests to no longer rely on bravado
  backend/services/useradm/Makefile
  backend/services/useradm/tests/.openapi-generator-ignore
  backend/services/useradm/tests/.openapi-generator.yml
  backend/services/useradm/tests/common.py
  backend/services/useradm/tests/conftest.py
  backend/services/useradm/tests/docker-compose.acceptance.yml
  backend/services/useradm/tests/tests/client.py
  backend/services/useradm/tests/tests/test_api_internal.py
  backend/services/useradm/tests/tests/test_api_management.py
  backend/services/useradm/tests/tests/test_api_personal_access_tokens.py
  backend/services/useradm/tests/tests/test_auth.py
  backend/services/useradm/tests/tests/test_cli.py
  backend/services/useradm/tests/tests/test_tokens_delete.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): adjusted tests to no longer rely on bravado
  backend/services/inventory/Makefile
  backend/services/inventory/tests/.openapi-generator.yml
  backend/services/inventory/tests/common.py
  backend/services/inventory/tests/conftest.py
  backend/services/inventory/tests/docker-compose.acceptance.yml
  backend/services/inventory/tests/tests/client.py
  backend/services/inventory/tests/tests/test_api_internal.py
  backend/services/inventory/tests/tests/test_grouping_devices.py
  backend/services/inventory/tests/tests/test_inventory_searching.py
  backend/services/inventory/tests/tests/test_inventory_sorting.py
  backend/services/inventory/tests/tests/test_mgmt_tag_attributes.py
  backend/services/inventory/tests/tests/test_mgmt_v2_filters_attributes.py
  backend/services/inventory/tests/tests/test_remove_device_groupping.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: implement consistent changelog and PR body generation
  .gitlab-ci.yml
  .gitlab/generate_changelog.sh
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: allowed access to non-qemu client logs, e.g. from staging test clients
  .gitlab-ci.yml
  frontend/tests/e2e_tests/run.js
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): slightly reduced reliance on global config
  frontend/tests/e2e_tests/run.js
Due: none

chore(gui): prettier fixes
  frontend/tests/e2e_tests/run.js
Due: none

chore(gui): publication job double /gui fixed
  frontend/pipeline.yml
Due: none

chore(gui): introduced nt-gui local development scripts
  frontend/.gitignore
  frontend/eslint.config.js
  frontend/package.json
  frontend/rspack.config.js
Due: none

ci: fix repository references in publish:frontend:docker
  frontend/pipeline.yml
Due: none

chore: Enable gosec rule `G114`
  backend/.golangci.yml
  backend/services/deployments/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Enable gosec rule `G404`
  backend/.golangci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Enable gosec rule `G107`
  backend/.golangci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): ensured mcu flag works as expected
  frontend/entrypoint.sh
Due: none

chore(gui): prepared new theme rollout a little more
  frontend/entrypoint.sh
Due: none

chore: add `traefik` as a valid routing hostname
  compose/docker-compose.enterprise.yml
  docker-compose.yml
Due: none

chore(gui): fix package-lock alignment for chevrotain
  frontend/package-lock.json
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
