Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

perf(gui): simplify dynamic deployment refresh
  frontend/src/js/components/deployments/InProgressDeployments.test.tsx
  frontend/src/js/components/deployments/InProgressDeployments.tsx
Due: none

chore(gui): extend type coverage for form inputs
  frontend/src/js/common-ui/forms/ControlledSelect.tsx
  frontend/src/js/common-ui/forms/FormCheckbox.tsx
Due: none

fix(deviceconnect): proper graceful shutdown with ws handshake
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/device_deadline_test.go
  backend/services/deviceconnect/api/http/device_test.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/management_test.go
  backend/services/deviceconnect/api/http/mocks/WSConn.go
  backend/services/deviceconnect/api/http/router.go
  backend/services/deviceconnect/api/http/status.go
  backend/services/deviceconnect/api/http/status_test.go
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/app/mocks/App.go
  backend/services/deviceconnect/server/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: fix testutils against compose deployments and websockets 16
  backend/tests/testutils/common.py
  backend/tests/testutils/infra/container_manager/docker_manager.py
  backend/tests/testutils/util/websockets.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceconnect): add trembling herd rate limit to ws APIs
  backend/services/deviceconnect/api/http/rate_test.go
  backend/services/deviceconnect/api/http/router.go
  backend/services/deviceconnect/config.yaml
  backend/services/deviceconnect/config/config.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): accesslog.LogContext.SetField takes precendence
  backend/pkg/accesslog/middleware_gin.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceconnect): Accesslog shows correct status and adds `wsstatus`
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): extract the device section logic to common hook
  frontend/src/js/components/auditlogs/eventdetails/DeviceConfiguration.tsx
  frontend/src/js/components/auditlogs/eventdetails/FileTransfer.tsx
  frontend/src/js/components/auditlogs/eventdetails/PortForward.tsx
  frontend/src/js/components/auditlogs/eventdetails/TerminalSession.tsx
  frontend/src/js/components/auditlogs/eventdetails/utils.tsx
Due: none

fix(gui): show auditlog detail information also for device file transfers
  frontend/src/js/components/auditlogs/AuditLogsList.tsx
Due: none

chore(gui): remove unused variable + test fix
  frontend/src/js/components/auditlogs/AuditLogsList.tsx
  frontend/src/js/components/auditlogs/EventDetailsDrawer.test.tsx
Due: none

fix(gui): click on the audilog link not overtaken by row handler
  frontend/src/js/components/auditlogs/AuditLogsList.tsx
Due: none

chore(gui): use content section component in auditlog event details
  frontend/src/js/components/auditlogs/eventdetails/DeviceConfiguration.tsx
  frontend/src/js/components/auditlogs/eventdetails/DeviceDetails.tsx
  frontend/src/js/components/auditlogs/eventdetails/FileTransfer.tsx
  frontend/src/js/components/auditlogs/eventdetails/PortForward.tsx
  frontend/src/js/components/auditlogs/eventdetails/TerminalSession.tsx
  frontend/src/js/components/auditlogs/eventdetails/utils.tsx
Due: none

chore(gui): update snapshots
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceConfiguration.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceDetails.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/FileTransfer.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/PortForward.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
Due: none

chore(deps): update npm-dev-dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency mendersoftware/mender-artifact to v4.4.1
  backend/services/create-artifact-worker/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update dependency monaco-editor to v0.56.0
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): use ControlledSelect in PAT creation form
  frontend/src/js/components/settings/AccessTokenManagement.tsx
Due: none

test(gui): update test to the new validation method
  frontend/src/js/components/settings/AccessTokenManagement.test.tsx
  frontend/src/js/components/settings/__snapshots__/AccessTokenManagement.test.tsx.snap
Due: none

test(gui): adjusts e2e to use new token labels
  frontend/tests/e2e_tests/integration/02-baseline/02-settings.spec.ts
Due: none

chore(gui): add prop types and tune option width of controlled select
  frontend/src/js/common-ui/forms/ControlledSelect.tsx
Due: none

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deviceconnect): update validation rule for requiring file contents
  backend/services/deviceconnect/model/filetransfer.go
  backend/services/deviceconnect/model/filetransfer_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: increase chances renovate runs succeed
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(deps): update npm-prod-dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency @babel/plugin-transform-runtime to v8
  frontend/package.json
Due: none

chore(gui): aligned the shared log dialog w/ updated design & externalized copy feedback
  frontend/src/js/common-ui/dialogs/Log.test.tsx
  frontend/src/js/common-ui/dialogs/Log.tsx
  frontend/src/js/common-ui/dialogs/__snapshots__/Log.test.tsx.snap
Due: none

refactor(gui): let deployment log consumers rely on the shared log dialog
  frontend/src/js/components/deployments/Report.tsx
  frontend/src/js/components/deployments/deployment-report/Log.tsx
  frontend/src/js/components/devices/device-details/Deployments.tsx
Due: none

test(gui): added e2e tests for test device actions
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

test(gui): add fitting onSearch mock for search component
  frontend/src/js/common-ui/Search.test.tsx
Due: none

docs(inventory): add OAS for search inventory by identity
  backend/docs/api/inventory/management_v2alpha1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: corrected renovate runner config
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: tune static backend check resource usage
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: added admin-panel resources in enterprise setup to allow e2e tests
  compose/docker-compose.enterprise.yml
Due: none

test(e2e): add admin panel tests & an isolated test project
  frontend/tests/e2e_tests/integration/03-advanced/06-adminPanel.spec.ts
  frontend/tests/e2e_tests/integration/05-admin-panel/01-navigation.spec.ts
  frontend/tests/e2e_tests/integration/05-admin-panel/02-tenants.spec.ts
  frontend/tests/e2e_tests/integration/05-admin-panel/03-users.spec.ts
  frontend/tests/e2e_tests/integration/05-admin-panel/04-notices.spec.ts
  frontend/tests/e2e_tests/integration/09-potentially-destructive/02-adminPanel.spec.ts
  frontend/tests/e2e_tests/playwright.config.ts
  frontend/tests/e2e_tests/utils/adminPanel.ts
Due: none

chore: regenerate combined OAS and clients
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api_inventory_v2alpha1_management_api.go
  backend/pkg/api/client/client.go
  backend/pkg/api/client/mocks/mocks.go
  backend/pkg/api/client/model_search_identity_params.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/__init__.py
  backend/tests/mender_client/api/inventory_v2alpha1_management_api_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/search_identity_params.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): removed now unused release tag retrieval & rely on injected commit or tag
  frontend/entrypoint.sh
Due: none

revert: "ci: tune static backend check resource usage"
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): add docs reference for phased deployments
  frontend/src/js/common-ui/DocsLink.tsx
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
