Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

feat(gui): rename system attributes to default
  frontend/src/js/components/devices/DeviceGroups.test.tsx
  frontend/src/js/components/devices/widgets/AttributeAutocomplete.test.tsx
  frontend/src/js/components/devices/widgets/AttributeAutocomplete.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
Due: none

chore(deps): update dependency mendersoftware/mender-artifact to v4.4.1
  backend/services/create-artifact-worker/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update docker-base-images
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
  frontend/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: let pagination speed test not be stopped by pesky missing buttons
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
Due: none

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): upgrade miniredis to stable v2.38.0 and gosjonq to v2.5.2
  backend/go.mod
  backend/go.sum
  backend/services/deviceauth/cache/cache_test.go
  backend/services/workflows/app/processor/job.go
  backend/services/workflows/app/processor/string.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): Allow new authset for accepted devices at max limit
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed issue that crashed ungrouped distribution widget
  frontend/src/js/components/dashboard/widgets/Distribution.tsx
Due: none

fix(deviceauth): `maintenance propagate-inventory` batch process 1000 devices
  backend/services/deviceauth/cmd/maintenance.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update npm-dev-dependencies
  frontend/package.json
Due: none

chore(gui): pinned option bebal plugin version
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update npm-mui to v9.9.0
  frontend/package-lock.json
  frontend/package.json
Due: none

ci: migrate deprecated config keys
  renovate.json5
Due: none

fix(deviceconnect): stream transmission control ack messages before buffering
  backend/pkg/stream/nats.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceconnect): enforce tenant access scope for device connections
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/device_test.go
  backend/services/deviceconnect/api/http/internal.go
  backend/services/deviceconnect/api/http/internal_test.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/management_filetransfer.go
  backend/services/deviceconnect/api/http/management_filetransfer_test.go
  backend/services/deviceconnect/api/http/management_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): add an email change validation route
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/App.tsx
  frontend/src/js/components/login/Activate.test.tsx
  frontend/src/js/components/login/Activate.tsx
  frontend/src/js/config/routes.tsx
Due: none

chore(gui): updated the success note
  frontend/src/js/components/login/Activate.tsx
Due: none

fix(gui): show accurate attempt number per device in deployment status
  frontend/src/js/components/deployments/deployment-report/DeploymentStatus.tsx
Due: none

fix(gui): show / set real attempts value in global setting
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/settings/Global.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
Due: none

chore(deps): downgrade mender-artifact to v0.0.0-20250724101633-c5f6563a4bcf
  backend/go.mod
  backend/go.sum
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(pkg): add test for stream/nats
  backend/go.mod
  backend/go.sum
  backend/pkg/stream/nats_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: add missing copyright notices
  backend/pkg/stream/nats.go
  backend/pkg/stream/stream.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): reverts "hide pat creation and revocation for read-only users"
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
Due: none

chore(gui): exclude email verification from analytics
  frontend/src/js/components/App.tsx
Due: none

feat(gui): implemented a new email change flow
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
Due: none

test(gui): adjusted tests to cover os and ent
  frontend/src/js/components/settings/user-management/SelfUserManagement.test.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
Due: none

test(workflows): add acceptance test for workflow minimum version
  backend/services/workflows/tests/tests/test_workflow_min_version.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: bump redis to 8.8
  compose/docker-compose.enterprise.yml
Due: none

test(inventory): add acceptance test for internal patch attributes
  backend/services/inventory/tests/tests/client.py
  backend/services/inventory/tests/tests/test_api_internal.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: split semantic commit types by production vs test-only paths
  renovate.json5
Due: none

chore(tests): remove deployment status cycle test covered by cross-service tests
  backend/services/deployments/tests/tests/test_deployment.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: remove acceptance tests covered by the integration:ng runner
  backend/services/deviceauth/tests/tests/test_device.py
  backend/services/deviceauth/tests/tests/test_mgnt_v2.py
  backend/services/deviceauth/tests/tests/test_token.py
  backend/services/inventory/tests/tests/test_inventory_searching.py
  backend/services/useradm/tests/tests/test_auth.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: add shared helpers for the integration:ng test suites
  backend/tests/runner/go.mod
  backend/tests/runner/tests/common/artifact.go
  backend/tests/runner/tests/common/crypto.go
  backend/tests/runner/tests/common/device.go
  backend/tests/runner/tests/common/docker_compose_environment.go
  backend/tests/runner/tests/common/http.go
  backend/tests/runner/tests/common/retry.go
  backend/tests/runner/tests/opensource/deployments_management_v1alpha1_test.go
  backend/tests/runner/tests/opensource/inventory_management_v2_test.go
  backend/tests/runner/tests/opensource/useradm_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: add context-aware polling helper for integration tests
  backend/tests/runner/tests/common/retry.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): remove device token from cache only when deleting accepted auth set
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: use a ticker in the integration test polling helper
  backend/tests/runner/tests/common/retry.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
