Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore(gui): align package-lock version constraints for chevrotain
  frontend/package-lock.json
Due: none

chore(gui): fix package-lock alignment for chevrotain
  frontend/package-lock.json
Due: none

feat(gui): added release artifact filters
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
  frontend/src/js/components/deployments/deployment-wizard/ReleaseItem.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
Due: none

chore(gui): adjusted search component to use rhf ref
  frontend/src/js/common-ui/Search.tsx
Due: none

test(gui): added test for advanced release filters
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/utils/utils.ts
Due: none

test(gui): added release filter unit tests
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/ReleaseItem.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/ReleaseArtifactFilter.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/ReleaseItem.test.tsx.snap
Due: none

chore(gui): added an option to use search as a form field
  frontend/src/js/common-ui/Search.tsx
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
Due: none

test(gui): adjusted deployment e2e test to use new release filters
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
  frontend/tests/e2e_tests/utils/utils.ts
Due: none

test(gui): adjusted deployment unit tests
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
Due: none

chore(pkg): initialized new package for type utils
  backend/pkg/utils/types/pointer.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceconnect): Race condition sending websocket error to peer
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned snapshots after mui update
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
Due: none

chore(gui): aligned snapshots after dependency updates
  frontend/src/js/components/login/__snapshots__/Login.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Signup.test.tsx.snap
  frontend/src/js/components/login/signup-steps/__snapshots__/UserdataEntry.test.tsx.snap
Due: none

test: Use `redo.retrier` to wait for async operations
  backend/tests/integration/test_compat/test_compat.py
  backend/tests/integration/tests/test_access.py
  backend/tests/integration/tests/test_auditlogs.py
  backend/tests/integration/tests/test_create_artifact.py
  backend/tests/integration/tests/test_decommission.py
  backend/tests/integration/tests/test_inventory.py
  backend/tests/integration/tests/test_password_reset.py
  backend/tests/integration/tests/test_tenantadm.py
  backend/tests/integration/tests/test_tenantadm_support.py
  backend/tests/integration/tests/test_verify_email.py
  backend/tests/integration/testutils/infra/container_manager/docker_compose_base_manager.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(inventory): Limit `per_page` to 500 for the endpoint `/filters/search`
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/inventory/management_v2.yaml
  backend/services/deployments/app/app.go
  backend/services/inventory/docs/management_api_v2.yml
  backend/services/inventory/model/filters.go
  backend/services/inventory/model/filters_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): stabilized xterm related snapshot rendering after dep update
  frontend/tests/setupTests.ts
Due: none

chore: Add make target to generate Python Mender API client
  backend/Makefile
  backend/tests/.openapi-generator-ignore
  backend/tests/.openapi-generator.yaml
  backend/tests/.openapi-generator/FILES
  backend/tests/.openapi-generator/VERSION
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: "unphony" the dist spec generation make target
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Added pyproject toml and reorganized conftest.py for integration
  backend/tests/conftest.py
  backend/tests/integration/conftest.py
  backend/tests/pyproject.toml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: cleanup unused scripts and config files
  backend/tests/integration/tests/pytest.ini
  backend/tests/integration/tests/run.sh
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: configure generated client for test environment
  backend/tests/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: modernize Dockerfile.integration and bump Python to 3.14-trixie
  backend/tests/Dockerfile.integration
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: replace dep. azure-iot-hub with azure-iot-hub-api for integration
  backend/tests/integration/tests/test_azure_iothub.py
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: add missing dependency pydantic to python requirements
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: adjust test for checking api spec to also generate test client
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test: partially migrate test_access to use generated clients
  backend/tests/integration/test_access.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: bump docker from 27.3 to 29.1 for CI jobs
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test: migrate integration test_health to use generated clients
  backend/tests/integration/test_health.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(workflows): fix wrong path for health check API
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/workflows/internal_v1.yaml
  backend/tests/mender_client/api/workflows_other_api.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: Upgrade golang used in ci to go1.25
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: Bump golang to go1.25.5
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/reporting/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): added tier support to subscription page
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

feat(gui): auto-select enabled tier based on current usage
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

feat(gui): adjusted add-on selection input for tiers
  frontend/src/js/components/subscription/SubscriptionAddon.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

feat(gui): adjusted subscription summary for tiers supports
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/components/subscription/SubscriptionSummary.tsx
Due: none

feat(gui): adjusted subscription drawer for tiers supports
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
Due: none

feat(gui): adjusted subscription confirmation for tiers supports
  frontend/src/js/components/subscription/SubscriptionConfirmation.tsx
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
