Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

fix(gui): ensured deployment phase size input doesn't get fully compressed
  frontend/src/js/common-ui/forms/NumberField.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/common-ui/forms/__snapshots__/NumberField.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionSummary.test.tsx.snap
Due: none

chore(gui): aligned searchresult w/ mui 9 to remove backdrop bleeding across the app
  frontend/src/js/components/SearchResult.tsx
Due: none

fix(gui): fixed an issue that could crash the app by showing & hiding search results too fast
  frontend/src/js/components/App.tsx
  frontend/src/js/components/SearchResult.test.tsx
  frontend/src/js/components/SearchResult.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/components/__snapshots__/SearchResult.test.tsx.snap
Due: none

test: auto delta deploy success
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
Due: none

refactor(gui): add rhf foundation to deployment creation
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/types.ts
  frontend/src/js/components/deployments/deployment-wizard/utils.ts
Due: none

refactor(gui): migrate synced deployments to rhf value tracking too
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
Due: none

refactor(gui): migrate checkbox only sections to rhf compatible
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
Due: none

refactor(gui): track deployment scheduling with rhf too
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
Due: none

refactor(gui): prepared deployment phase config for design changes
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
Due: none

refactor(gui): let deployment device limit rely on numberinput/ rhf
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
Due: none

refactor(gui): migrate target device + proxy deployment release selection to rhf
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
Due: none

refactor(gui): migrate deployment retries to numberinput/ rhf
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
Due: none

refactor(gui): remove deployment object reliance for rhf
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/Deployments.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/deployments/deployment-wizard/utils.ts
Due: none

test(gui): update tests for to align w/ rhf migration
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
Due: none

docs(deployments): added OAS for list software tags alpha endpoint
  backend/docs/api/deployments/management_v1alpha1.yaml
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/deployments/schemas.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: regenerate combined spec and clients
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api_deployments_v1alpha1_management_api.go
  backend/pkg/api/client/client.go
  backend/pkg/api/client/mocks/mocks.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/__init__.py
  backend/tests/mender_client/api/deployments_v1alpha1_management_api_api.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: correctly made codecov ignore path to generated client
  .github/codecov.yml
  .gitlab-ci.yml
  backend/codecov.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): added page for OAuth confirmation
  frontend/src/assets/img/dots-gradient.svg
  frontend/src/js/components/login/OAuthConfirmation.tsx
  frontend/src/js/config/routes.tsx
Due: none

docs(deployments): Add `GET /software` endpoint for listing softwares
  backend/docs/api/deployments/management_v1alpha1.yaml
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api_deployments_v1alpha1_management_api.go
  backend/pkg/api/client/mocks/mocks.go
  backend/pkg/api/client/model_software.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/deployments_v1alpha1_management_api_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/software.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: switch test container images to per-image registry paths
  .gitlab-ci.yml
  .gitlab/merge-enterprise.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: update AI tooltip in settings saying 10 per day (not 50)
  frontend/src/js/components/deployments/deployment-report/AiLogAnalysis.tsx
  frontend/src/js/components/settings/Global.tsx
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
Due: none

feat(deployments): implemented get software tags alpha endpoint
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/api/http/api_deployments_software.go
  backend/services/deployments/api/http/routing.go
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_software.go
  backend/services/deployments/model/software.go
  backend/services/deployments/store/datastore.go
  backend/services/deployments/store/mongo/datastore_mongo_software.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): added tests for get software tags alpha endpoint
  backend/tests/runner/tests/opensource/deployments_management_v1alpha1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deployments): replace get release tags with get software tags
  backend/services/deployments/api/http/api_deployments_releases.go
  backend/services/deployments/api/http/api_deployments_releases_test.go
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_releases.go
  backend/services/deployments/app/app_releases_test.go
  backend/services/deployments/app/mocks/App.go
  backend/services/deployments/store/datastore.go
  backend/services/deployments/store/mocks/DataStore.go
  backend/services/deployments/store/mongo/datastore_mongo_releases.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deployments): regenerated mocks
  backend/services/deployments/app/mocks/App.go
  backend/services/deployments/store/mocks/DataStore.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: route docker.io through dep proxy via buildkit mirror with fallback
  .gitlab-ci.yml
  backend/services/Makefile.common
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
  backend/tests/Dockerfile.acceptance
  backend/tests/Dockerfile.integration
  frontend/Dockerfile
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fix coverage reporting for integration tests
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): prepared test for non-isolated execution
  frontend/src/js/components/auditlogs/eventdetails/PortForward.test.tsx
  frontend/src/js/components/auditlogs/eventdetails/TerminalSession.test.tsx
  frontend/src/js/components/dashboard/SoftwareDistribution.test.tsx
  frontend/src/js/components/devices/AuthorizedDevices.test.tsx
  frontend/src/js/components/devices/device-details/Deployments.test.tsx
  frontend/src/js/components/devices/dialogs/PreauthDialog.test.tsx
  frontend/src/js/components/login/Login.test.tsx
  frontend/src/js/components/login/Password.test.tsx
  frontend/src/js/components/login/PasswordReset.test.tsx
  frontend/src/js/components/login/Signup.test.tsx
  frontend/src/js/components/releases/Releases.test.tsx
  frontend/src/js/components/releases/dialogs/AddArtifact.test.tsx
  frontend/src/js/components/settings/AccessTokenManagement.test.tsx
  frontend/src/js/components/settings/ArtifactGeneration.test.tsx
  frontend/src/js/components/settings/organization/Billing.test.tsx
  frontend/src/js/components/settings/role-management/Roles.test.tsx
  frontend/src/js/components/settings/user-management/UserManagement.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
  frontend/src/js/components/tenants/ExpandedTenant.test.tsx
  frontend/src/js/components/tenants/TenantsForm.test.tsx
  frontend/tests/setupTests.ts
  frontend/vitest.config.ts
Due: none

chore(gui): removed jsdom-worker dependency
  frontend/directDependencies.csv
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/App.test.tsx
Due: none

test(e2e): stop earlier when waiting for troubleshoot downloads to allow retry triggering
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

chore(e2e): removed user creation stress test as the issues seems to no longer be reproducible
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
Due: none

test(e2e): reinstated email verification reliant tests
  frontend/tests/e2e_tests/integration/02-baseline/02-settings.spec.ts
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
  frontend/tests/e2e_tests/runner/config.js
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

test(e2e): let tests continue even when they don't match the deployed version
  frontend/tests/e2e_tests/integration/session.setup.ts
  frontend/tests/e2e_tests/run.js
  frontend/tests/e2e_tests/utils/constants.ts
  frontend/tests/e2e_tests/utils/utils.ts
Due: none

chore(e2e): use ui to navigate to settings to not reload the page & lose user data
  frontend/tests/e2e_tests/integration/02-baseline/02-settings.spec.ts
Due: none

fix(gui): fixed an issue that prevented requiring confirmation on deployment creation
  frontend/src/js/components/settings/Global.tsx
Due: none

revert: "refactor(deployments): replace get release tags with get software tags"
  backend/services/deployments/api/http/api_deployments_releases.go
  backend/services/deployments/api/http/api_deployments_releases_test.go
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_releases.go
  backend/services/deployments/app/app_releases_test.go
  backend/services/deployments/app/mocks/App.go
  backend/services/deployments/store/datastore.go
  backend/services/deployments/store/mocks/DataStore.go
  backend/services/deployments/store/mongo/datastore_mongo_releases.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deployments): Omit empty tags when listing software tags
  backend/services/deployments/store/mongo/datastore_mongo_software.go
  backend/tests/runner/tests/opensource/deployments_management_v1alpha1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses
