Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

ci: add gui image and enterprise mode overrides for review apps
  .gitlab-ci.yml
  .gitlab/review_apps.yaml
  compose/k8s/create-initial-user-enterprise.sh
  compose/k8s/parse-review-config.sh
  compose/k8s/review-values-enterprise.yaml.tpl
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: allow to override the gui image in the review apps
  .gitlab-ci.yml
  .gitlab/review_apps.yaml
  compose/k8s/parse-review-config.sh
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: test enterprise review app deploy
  .gitlab/review_apps.yaml
Due: none

fix(deps): update github.com/mendersoftware/mender-artifact digest to 4c2551f
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update dependency esbuild-loader to v4.4.3
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency eslint to v9.39.4
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency msw to v2.12.14
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update rspack monorepo to v1.7.11
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update dependency @stripe/stripe-js to v9.0.1
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update material-ui monorepo to v7.3.9
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency @northern.tech/types to v0.7.0
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency @sentry/react to v10.47.0
  frontend/package-lock.json
Due: none

chore(deps): update dependency @types/node to v25.5.0
  frontend/package-lock.json
Due: none

chore(deps): update dependency mendersoftware/mender-artifact to v4.4.0
  backend/services/create-artifact-worker/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: Add renovate CI job for updating mender-artifact version
  .gitlab-ci.yml
  renovate.json
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: use mockery v3 only for api client
  backend/pkg/api/.mockery.yml
  backend/pkg/api/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Use up to date mender-artifact in Dockerfile.acceptance
  backend/services/deployments/tests/tests/test_configuration_deployments.py
  backend/tests/Dockerfile.acceptance
  renovate.json
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): fix unit test output suppression
  backend/services/deployments/storage/s3/s3_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned cookie dep license location after dependency update
  frontend/directDependencies.csv
Due: none

chore: Added compose override for testing SMTP features
  compose/docker-compose.smtp4dev.yml
Due: none

test: add EmailClient interface with Gmail and smtp4dev implementations
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
  frontend/tests/e2e_tests/utils/email.ts
Due: none

test: add googleapis and friends to end-to-end tests dependencies
  frontend/tests/e2e_tests/package-lock.json
  frontend/tests/e2e_tests/package.json
Due: none

test: make smtp4dev setup work in `--local` e2e test mode
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
Due: none

test: add smtp4dev to enterprise end-to-end tests compose environment
  frontend/tests/e2e_tests/runner/config.js
Due: none

chore: Create utility script to obtain refresh token for Gmail APIs
  frontend/tests/e2e_tests/package-lock.json
  frontend/tests/e2e_tests/package.json
  frontend/tests/e2e_tests/scripts/oauth2authorize.ts
Due: none

test: refactor email notification assertion to own test
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

chore: use consistent hostname in smtp4dev overlay
  compose/docker-compose.smtp4dev.yml
Due: none

test: update default username for staging environment
  frontend/tests/e2e_tests/runner/config.js
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

test: e2e utility function for polling for a condition
  frontend/tests/e2e_tests/integration/session.setup.ts
  frontend/tests/e2e_tests/utils/utils.ts
Due: none

ci: add qa-common retry and runner defaults
  .gitlab-ci.yml
  .gitlab/merge-enterprise.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test: improve locator for end to end RBAC stress probe
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
Due: none

test: run two-factor tests on enterprise environment
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test: create an end to end test for email verification
  frontend/tests/e2e_tests/integration/02-baseline/02-settings.spec.ts
Due: none

test: move saml tests to advanced tests project
  frontend/tests/e2e_tests/integration/03-advanced/30-saml.spec.ts
Due: none

chore: fix typo in smtp4dev compose file
  compose/docker-compose.smtp4dev.yml
Due: none

ci: worked around reliability issues w/ qemu client by allowing retries
  frontend/pipeline.yml
Due: none

fix(gui): ensured device id selection dialog closes when saving the setting
  frontend/src/js/components/devices/DeviceGroups.tsx
Due: none

ci: made use of shared nt ci base images
  .gitlab/merge-enterprise.yml
Due: none

ci: pre-build integration-tester image
  .gitlab-ci.yml
  backend/tests/Dockerfile.integration
  backend/tests/docker-compose.yml
  backend/tests/pyproject.toml
  backend/tests/run-integration.bash
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
