Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

refactor(gui): integrated deployment options further into rhf
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/CustomPhases.tsx
  frontend/src/js/components/deployments/deployment-wizard/types.ts
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
Due: none

chore(gui): aligned deployment creation options w/ updated design
  frontend/src/js/common-ui/DocsLink.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutSteps.tsx
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/helptips/HelpTooltips.tsx
Due: none

feat(gui): made deployment creation more informative via contextual errors
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/CustomPhases.tsx
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/validation.test.ts
  frontend/src/js/components/deployments/deployment-wizard/validation.ts
Due: none

feat(gui): explained & cleared unavailable deployment options
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/validation.test.ts
  frontend/src/js/components/deployments/deployment-wizard/validation.ts
Due: none

chore(gui): align deployment & device header notification with design
  frontend/src/js/components/header/DeploymentNotifications.tsx
  frontend/src/js/components/header/DeviceNotifications.tsx
Due: none

chore(gui): align & clean-up header styles
  frontend/src/js/components/header/Header.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/header/__snapshots__/DeploymentNotifications.test.tsx.snap
  frontend/src/js/components/header/__snapshots__/DeviceNotifications.test.tsx.snap
Due: none

test(gui): aligned deployment creation checks w/ software understanding & design
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
Due: none

chore(gui): aligned snapshots w/ the updated deployment creation drawer
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/RolloutSteps.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
Due: none

chore(deps): update npm-dev-dependencies
  frontend/package.json
Due: none

chore(deps): update docker docker tag to v29.7
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(deps): update node.js to v26.7.0
  frontend/Dockerfile
Due: none

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): pin babel tranform plugin to v7
  frontend/package.json
Due: none

chore(deps): update npm-dev-dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

test: make testutils usable without kubernetes, match containers by label
  backend/tests/testutils/api/client.py
  backend/tests/testutils/infra/cli.py
  backend/tests/testutils/infra/container_manager/base.py
  backend/tests/testutils/infra/container_manager/docker_compose_base_manager.py
  backend/tests/testutils/infra/container_manager/docker_manager.py
  backend/tests/testutils/infra/container_manager/factory.py
  backend/tests/testutils/infra/container_manager/kubernetes_manager.py
  backend/tests/testutils/infra/mongo.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceauth): add feature flag to restore legacy provision behavior
  backend/services/deviceauth/config/config.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/server.go
  backend/services/workflows/worker/workflows/legacy_provision_iot_manager.json
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update npm-mui
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: removed leftover type generation script to align w/ ent repo
  frontend/scripts/typeGeneration/convert.js
Due: none

chore(gui): use per-tenant test device limit
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/devices/widgets/DeviceQuickActions.tsx
  frontend/src/js/components/devices/widgets/TestDeviceLimit.tsx
Due: none

perf(deviceauth): fetch the auth set only if it already exists
  backend/services/deviceauth/devauth/devauth.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): check limit only if device status transitions to accepted
  backend/services/deviceauth/devauth/devauth.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): updated the PAT token to use rhf
  frontend/src/js/components/settings/AccessTokenManagement.tsx
Due: none

perf(deviceauth): do not aggregate device status if it will not change
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
  backend/services/deviceauth/model/device.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: commitlint allow service scopes to `perf` commits
  commitlint.config.js
Due: none

fix(gui): change wrong UI status for aborted deployments
  frontend/src/js/components/deployments/deployment-report/DeviceList.tsx
Due: none

ci: added temporary workaround to allow gitlab registry image publishing w/ new docker
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): moved device deployments history reset out of the quick actions way
  frontend/src/js/components/devices/device-details/Deployments.tsx
Due: none

chore(gui): ensured there's a gap between the role additions button & their benefit pointer
  frontend/src/js/components/settings/role-management/RoleManagement.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/Roles.test.tsx.snap
Due: none

perf(gui): skip time tooltip rendering if no relevant time info is available
  frontend/src/js/common-ui/Time.tsx
Due: none

chore(gui): move parsing and stringifying to utils
  frontend/src/js/components/auditlogs/ColumnComponents.tsx
  frontend/src/js/components/auditlogs/eventdetails/DeviceConfiguration.tsx
  frontend/src/js/components/auditlogs/eventdetails/FallbackComponent.tsx
  frontend/src/js/components/auditlogs/eventdetails/utils.tsx
Due: none

chore(gui): move UserChange to the switch component
  frontend/src/js/components/auditlogs/EventDetailsDrawerContentMap.tsx
  frontend/src/js/components/auditlogs/eventdetails/UserChange.tsx
Due: none

chore(gui): align auditlog device details with design
  frontend/src/js/components/auditlogs/eventdetails/DeviceDetails.tsx
Due: none

ci: add ent-on-os review app values template
  compose/k8s/review-values.ent-on-os.yaml.tpl
Due: none

ci: deploy enterprise backend from OS review apps on request
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

perf(gui): stabilize theme creation
  frontend/src/js/components/App.tsx
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
