Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

refactor(e2e): gave deployment creation helper link capabilities
  frontend/tests/e2e_tests/utils/utils.ts
Due: none

feat(gui): improved deployments overview for phased deployments w/ many phases
  frontend/src/js/components/deployments/DeploymentItem.tsx
  frontend/src/js/components/deployments/deployment-report/DeploymentStatus.tsx
  frontend/src/js/components/deployments/deployment-report/PhaseStatus.tsx
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/constants.ts
  frontend/src/js/components/deployments/progress/DeploymentProgress.tsx
  frontend/src/js/components/deployments/progress/RolloutProgressBar.tsx
  frontend/src/js/components/deployments/progress/usePhaseProgress.ts
  frontend/src/js/components/deployments/progress/utils.ts
Due: none

feat(gui): enable uniform phases rollout during deployment creation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
Due: none

chore(gui): simplified deployment items appearance to align w/ updated design
  frontend/src/js/components/deployments/DeploymentItem.tsx
  frontend/src/js/components/deployments/Deployments.tsx
  frontend/src/js/components/deployments/DeploymentsList.tsx
  frontend/src/js/components/deployments/InProgressDeployments.tsx
  frontend/src/js/components/deployments/PastDeployments.tsx
  frontend/src/js/components/deployments/ScheduledDeployments.tsx
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
Due: none

feat(gui): block phased deployments exceeding the phase limit
  frontend/src/js/components/deployments/deployment-wizard/phases/UniformPhases.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/constants.ts
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/validation.ts
Due: none

chore(gui): improve scroll to error behaviour on deployment creation
  frontend/src/js/components/deployments/CreateDeployment.tsx
Due: none

feat(gui): added basic keyboard navigation for deployment lists
  frontend/src/js/components/deployments/DeploymentItem.tsx
  frontend/src/js/components/deployments/DeploymentsList.tsx
Due: none

test(gui): add e2e test for uniform phased deployments
  .gitlab-ci.yml
  frontend/pipeline.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/utils/commands.ts
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): adjusted snapshots
  frontend/src/js/components/deployments/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/DeploymentsList.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/InProgressDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeploymentStatus.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/RolloutSchedule.test.tsx.snap
  frontend/src/js/components/deployments/progress/__snapshots__/RolloutProgressBar.test.tsx.snap
Due: none

chore: downgrade cryptography 50.0.0 -> 48.0.1 for integration test runner
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(e2e): added test artifacts as binary fixtures to avoid download risk during test execution
  frontend/.gitignore
  frontend/tests/e2e_tests/fixtures/rtos-v2.mender
  frontend/tests/e2e_tests/fixtures/test.manifest.mender
  frontend/tests/e2e_tests/integration/02-baseline/03-manifest.spec.ts
  frontend/tests/e2e_tests/integration/06-orchestrator-dependent/01-orchestrator.spec.ts
Due: none

test(e2e): relax device count checks on upgrade to ease demoing more usage scenarios
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test(e2e): ensure child tenant is the one that gets edited & removed, not the table header
  frontend/tests/e2e_tests/integration/02-baseline/04-tenant.spec.ts
Due: none

fix(deviceconnect): return device error code from filetransfer v2
  backend/services/deviceconnect/api/http/management_filetransfer.go
  backend/services/deviceconnect/api/http/management_filetransfer_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: switch from seaweedfs to rustfs in compose environment
  compose/docker-compose.rustfs.yml
  docker-compose.yml
Due: none

test: remove unnecessary dependencies for integration test runner
  backend/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: remove seaweedfs config workaround in integration test environment
  backend/tests/runner/tests/common/docker_compose_environment.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: remove unused compose file
  backend/tests/runner/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: clean up unused bin directories :broom:
  backend/services/deviceconfig/bin/.gitignore
  backend/services/iot-manager/bin/.gitignore
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: consolidate Dockerfile to reuse mender-artifact and docker installation
  backend/tests/Dockerfile
  backend/tests/Dockerfile.acceptance
  backend/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: use compose to build test runner images
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

fix(deviceauth): Use mongo's error code to check for record duplication in AddDevice
  backend/services/deviceauth/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: update s3 health readyness probe for integration tests
  backend/tests/testutils/common.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): cover device error code in filetransfer v2
  backend/services/deviceconnect/api/http/management_filetransfer_test.go
  backend/services/deviceconnect/api/http/management_filetransfer_v2_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fix typo in compose build flag
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: migrate mockery v1 -> v3
  backend/.mockery.yml
  backend/generate.go
  backend/go.mod
  backend/go.sum
  backend/pkg/Makefile
  backend/pkg/executor/executor.go
  backend/pkg/mongo/v2/migrate/migration.go
  backend/pkg/stream/stream.go
  backend/services/Makefile.common
  backend/services/deployments/app/app.go
  backend/services/deployments/storage/objectstore.go
  backend/services/deployments/store/datastore.go
  backend/services/deviceauth/cache/cache.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/jwt/jwt.go
  backend/services/deviceauth/store/datastore.go
  backend/services/deviceconfig/app/app.go
  backend/services/deviceconfig/store/datastore.go
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/client/nats/client.go
  backend/services/deviceconnect/store/datastore.go
  backend/services/inventory/inv/inventory.go
  backend/services/inventory/store/datastore.go
  backend/services/iot-manager/app/app.go
  backend/services/iot-manager/client/iotcore/client.go
  backend/services/iot-manager/client/iothub/client.go
  backend/services/iot-manager/store/datastore.go
  backend/services/useradm/authz/authz.go
  backend/services/useradm/jwt/jwt.go
  backend/services/useradm/store/datastore.go
  backend/services/useradm/user/useradm.go
  backend/services/workflows/client/nats/client.go
  backend/services/workflows/store/datastore.go
  backend/utils/mockgen.sh
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: re-generate all the mocks
  backend/pkg/executor/mocks/BinaryExecutor.go
  backend/pkg/mongo/v2/migrate/mocks/Migration.go
  backend/pkg/stream/mocks/Conn.go
  backend/pkg/stream/mocks/Listener.go
  backend/services/deployments/app/mocks/App.go
  backend/services/deployments/storage/mocks/ObjectStorage.go
  backend/services/deployments/store/mocks/DataStore.go
  backend/services/deviceauth/cache/mocks/Cache.go
  backend/services/deviceauth/devauth/mocks/App.go
  backend/services/deviceauth/jwt/mocks/Handler.go
  backend/services/deviceauth/store/mocks/DataStore.go
  backend/services/deviceconfig/app/mocks/App.go
  backend/services/deviceconfig/store/mocks/DataStore.go
  backend/services/deviceconnect/api/http/mocks/WSConn.go
  backend/services/deviceconnect/app/mocks/App.go
  backend/services/deviceconnect/client/nats/mocks/Client.go
  backend/services/deviceconnect/store/mocks/DataStore.go
  backend/services/inventory/inv/mocks/InventoryApp.go
  backend/services/inventory/store/mocks/DataStore.go
  backend/services/iot-manager/app/mocks/App.go
  backend/services/iot-manager/client/iotcore/mocks/Client.go
  backend/services/iot-manager/client/iothub/mocks/Client.go
  backend/services/iot-manager/store/mocks/DataStore.go
  backend/services/useradm/authz/mocks/Authorizer.go
  backend/services/useradm/jwt/mocks/Handler.go
  backend/services/useradm/store/mocks/DataStore.go
  backend/services/useradm/user/mocks/App.go
  backend/services/workflows/client/nats/mocks/Client.go
  backend/services/workflows/store/mocks/DataStore.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: aligned tester building w/ compose based build approach
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: tidy the integration test runner
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): fix inaccurate mock assertion
  backend/services/deployments/api/http/api_deployments_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): fix invalid mock argument assertion
  backend/services/deviceauth/devauth/devauth_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(iot-manager): fix variadic argument mock assertions
  backend/services/iot-manager/app/app_iot_hub_test.go
  backend/services/iot-manager/app/app_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(workflows): fix variadic argument mock assertions
  backend/services/workflows/api/http/workflow_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): add test for filetransfer v2 upload error after final chunk
  backend/services/deviceconnect/api/http/management_filetransfer_race_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): optional match on specific identity attribute
  backend/docs/api/inventory/management_v2alpha1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: regnerate OAS and clients
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api_inventory_v2alpha1_management_api.go
  backend/pkg/api/client/model_search_identity_params.go
  backend/pkg/api/client/model_search_identity_specific_attribute.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/inventory_v2alpha1_management_api_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/search_identity_params.py
  backend/tests/mender_client/models/search_identity_specific_attribute.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(inventory): identities search now optionally matches on specific attribute
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/model/filters.go
  backend/services/inventory/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): update identity search integration tests
  backend/tests/runner/tests/opensource/inventory_management_v2alpha1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(inventory): remove matching on status in identity search
  backend/services/inventory/inv/identities.go
  backend/services/inventory/model/device.go
  backend/services/inventory/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses
