Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore(gui): updated snapshots
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/Overview.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
Due: none

chore(gui): moved deployment retry setting to setting section
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/settings/Global.tsx
Due: none

test(gui): aligned deployment creation tests w/ switch to slide out panel & updated retry handling
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
Due: none

fix(deployments): remove shadowing of ReleaseBase `kind` property
  backend/services/deployments/model/software.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(workflows): set have_deviceconnect on workflows-worker
  docker-compose.yml
Due: none

feat(gui): enabeld manifest notes and tags editing
  frontend/src/js/components/releases/manifests/ManifestDetails.test.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
  frontend/tests/e2e_tests/integration/02-baseline/03-manifest.spec.ts
Due: none

chore(gui): updated packages to add package filtering support
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): removed now deprecated ts config
  frontend/tsconfig.json
Due: none

docs(deployments): document tag filtering in get software alpha endpoint
  backend/docs/api/deployments/management_v1alpha1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deployments): added tag filtering in get software alpha endpoint
  backend/services/deployments/api/http/api_deployments_software.go
  backend/services/deployments/model/software.go
  backend/services/deployments/store/mongo/datastore_mongo_software.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: regenerate oas and clients
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/api_deployments_v1alpha1_management_api.go
  backend/tests/mender_client/api/deployments_v1alpha1_management_api_api.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): added test for list software with tag filter
  backend/tests/runner/tests/opensource/deployments_management_v1alpha1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned deployments tests w/ upcoming phase changes
  frontend/src/js/components/deployments/Deployments.test.tsx
Due: none

feat(gui): added tag filtering on manifests list
  frontend/src/js/components/releases/manifests/ManifestsFilters.tsx
  frontend/src/js/components/releases/manifests/ManifestsList.test.tsx
  frontend/src/js/components/releases/manifests/ManifestsList.tsx
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestsFilters.test.tsx.snap
Due: none

ci: use golang alpine image in publish:backend:coverage
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): add docs reference for phased deployments
  frontend/src/js/common-ui/DocsLink.tsx
Due: none

chore(gui): added shared deployment phase types + modes information & utils
  frontend/src/js/components/deployments/deployment-wizard/phases/constants.ts
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/types.ts
  frontend/src/js/components/deployments/deployment-wizard/utils.ts
Due: none

refactor(gui): integrated custom & uniform phase pattern support in phase settings
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
Due: none

feat(gui): add support for repeating uniform deployment phase patterns
  frontend/src/js/components/deployments/deployment-wizard/phases/UniformPhases.tsx
Due: none

refactor(gui): integrate rollout modes into deployment creation
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/utils.ts
Due: none

feat(gui): support device-count & uniform rollouts in deployment progress
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.tsx
  frontend/src/js/components/deployments/progress/usePhaseProgress.ts
Due: none

feat(gui): added support for percentage & device count deployment phase definitions
  frontend/src/js/components/deployments/deployment-wizard/phases/CustomPhases.tsx
Due: none

refactor(gui): allow deployment creation despite faulty phase definitions
  frontend/src/js/components/deployments/CreateDeployment.tsx
Due: none

refactor(gui): track deployment schedule independent of phase definitions
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
Due: none

feat(gui): added deployment phase definition input to align w/ updated design
  frontend/src/js/components/deployments/deployment-wizard/phases/Input.tsx
Due: none

test(gui): add tests and update snapshots for phase rework
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/phases/CustomPhases.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/UniformPhases.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.test.ts
Due: none

fix(gui): simplified version information handling to rely on server build time info only
  frontend/entrypoint.sh
  frontend/src/js/components/App.test.tsx
  frontend/src/js/components/LeftNav.tsx
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/help/Downloads.tsx
  frontend/src/js/components/help/Help.test.tsx
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
  frontend/src/js/components/help/mockData.ts
  frontend/src/js/components/settings/organization/Organization.test.tsx
Due: none

test(gui): ensured reliable file content resolution on manifest creation
  frontend/src/js/components/releases/manifests/ManifestDrawer.test.tsx
Due: none

chore(create-artifact-worker): upgrade mender-artifact to v4.4.0
  backend/services/create-artifact-worker/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): aligned release & manifest meta data manipulation tests to reflect common layout
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/03-manifest.spec.ts
Due: none

refactor(gui): let input handle submission errors internally to keep user changes
  frontend/src/js/common-ui/EditableLongText.tsx
Due: none

refactor(gui): let notes & description inputs handle submissions consistently
  frontend/src/js/components/releases/ArtifactDetails.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
Due: none

test(gui): let tag selector focus on the right part of the ui to check for success
  frontend/tests/e2e_tests/integration/02-baseline/03-manifest.spec.ts
Due: none

chore: separate test dependencies from application dependencies
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(gui): increased setting item rendering flexibility
  frontend/src/js/common-ui/SettingsItem.tsx
Due: none

refactor(gui): align global settings with updated design
  frontend/src/js/components/settings/Global.tsx
Due: none

refactor(gui): ensure consistent appearance of (toggle )setting items
  frontend/src/js/common-ui/SettingsItem.tsx
Due: none

refactor(gui): promote toggle settings to have their own component
  frontend/src/js/common-ui/SettingsItem.tsx
Due: none

test(gui): test toggle settings + update snapshots
  frontend/src/js/common-ui/SettingsItem.test.tsx
  frontend/src/js/common-ui/__snapshots__/SettingsItem.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/Billing.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/Organization.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOConfig.test.tsx.snap
Due: none

refactor(gui): align user editing drawer with updated design
  frontend/src/js/components/settings/constants.ts
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/UserForm.tsx
  frontend/src/js/components/settings/user-management/UserManagement.test.tsx
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
