Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore(gui): reverted eslint to compatible version
  frontend/package.json
Due: none

chore(gui): reverted jsdom to usable version
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: disable debug logging for python client used in integration tests
  backend/tests/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceauth): Migrate mongo-driver to v2
  backend/pkg/mongo/v2/doc/bson.go
  backend/pkg/mongo/v2/oid/objectid.go
  backend/pkg/mongo/v2/oid/objectid_test.go
  backend/services/deviceauth/cmd/commands.go
  backend/services/deviceauth/cmd/commands_test.go
  backend/services/deviceauth/cmd/main_test.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
  backend/services/deviceauth/jwt/claims.go
  backend/services/deviceauth/jwt/jwt_ed25519_test.go
  backend/services/deviceauth/jwt/jwt_rsa_test.go
  backend/services/deviceauth/jwt/token_test.go
  backend/services/deviceauth/model/limit.go
  backend/services/deviceauth/store/datastore.go
  backend/services/deviceauth/store/mocks/DataStore.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/deviceauth/store/mongo/datastore_mongo_cleanup.go
  backend/services/deviceauth/store/mongo/datastore_mongo_cleanup_test.go
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
  backend/services/deviceauth/store/mongo/main_test.go
  backend/services/deviceauth/store/mongo/migration_1_10_0.go
  backend/services/deviceauth/store/mongo/migration_1_10_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_11_0.go
  backend/services/deviceauth/store/mongo/migration_1_11_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_1_0.go
  backend/services/deviceauth/store/mongo/migration_1_2_0.go
  backend/services/deviceauth/store/mongo/migration_1_2_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_3_0.go
  backend/services/deviceauth/store/mongo/migration_1_3_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_4_0.go
  backend/services/deviceauth/store/mongo/migration_1_4_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_5_0.go
  backend/services/deviceauth/store/mongo/migration_1_5_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_6_0.go
  backend/services/deviceauth/store/mongo/migration_1_7_0.go
  backend/services/deviceauth/store/mongo/migration_1_8_0.go
  backend/services/deviceauth/store/mongo/migration_1_9_0.go
  backend/services/deviceauth/store/mongo/migration_1_9_0_test.go
  backend/services/deviceauth/store/mongo/migration_2_0_0.go
  backend/services/deviceauth/store/mongo/migration_2_0_0_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(inventory): Migrate mongo-driver to v2
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/inventory/inv/inventory.go
  backend/services/inventory/inv/inventory_test.go
  backend/services/inventory/model/device.go
  backend/services/inventory/model/device_test.go
  backend/services/inventory/store/mongo/datastore_mongo.go
  backend/services/inventory/store/mongo/datastore_mongo_test.go
  backend/services/inventory/store/mongo/dbsetup_test.go
  backend/services/inventory/store/mongo/helper_test.go
  backend/services/inventory/store/mongo/migration_0_2_0.go
  backend/services/inventory/store/mongo/migration_0_2_0_test.go
  backend/services/inventory/store/mongo/migration_1_0_0.go
  backend/services/inventory/store/mongo/migration_1_0_0_test.go
  backend/services/inventory/store/mongo/migration_1_0_1.go
  backend/services/inventory/store/mongo/migration_1_0_1_test.go
  backend/services/inventory/store/mongo/migration_1_0_2.go
  backend/services/inventory/store/mongo/migration_1_0_2_test.go
  backend/services/inventory/store/mongo/migration_1_1_0.go
  backend/services/inventory/store/mongo/migration_1_1_0_test.go
  backend/services/inventory/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(useradm): Migrate mongo-driver to v2
  backend/services/useradm/api/http/api_useradm_test.go
  backend/services/useradm/authz_simple_test.go
  backend/services/useradm/jwt/claims.go
  backend/services/useradm/jwt/jwt_ed25519_test.go
  backend/services/useradm/jwt/jwt_rsa_test.go
  backend/services/useradm/jwt/token_test.go
  backend/services/useradm/model/settings.go
  backend/services/useradm/model/settings_test.go
  backend/services/useradm/model/token.go
  backend/services/useradm/store/datastore.go
  backend/services/useradm/store/mocks/DataStore.go
  backend/services/useradm/store/mongo/bson.go
  backend/services/useradm/store/mongo/datastore_mongo.go
  backend/services/useradm/store/mongo/datastore_mongo_test.go
  backend/services/useradm/store/mongo/main_test.go
  backend/services/useradm/store/mongo/migration_1_0_0.go
  backend/services/useradm/store/mongo/migration_1_0_0_test.go
  backend/services/useradm/store/mongo/migration_1_1_4.go
  backend/services/useradm/store/mongo/migration_1_1_4_test.go
  backend/services/useradm/store/mongo/migration_1_3_2.go
  backend/services/useradm/store/mongo/migration_1_3_2_test.go
  backend/services/useradm/store/mongo/migration_2_0_0.go
  backend/services/useradm/store/mongo/migration_2_0_0_test.go
  backend/services/useradm/store/mongo/migration_2_0_1.go
  backend/services/useradm/store/mongo/migration_2_0_1_test.go
  backend/services/useradm/store/mongo/migration_2_0_3.go
  backend/services/useradm/store/mongo/migrations.go
  backend/services/useradm/store/mongo/migrations_test.go
  backend/services/useradm/user/useradm.go
  backend/services/useradm/user/useradm_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(workflows): Migrate mongo-driver to v2
  backend/services/workflows/api/http/workflow.go
  backend/services/workflows/app/processor/job.go
  backend/services/workflows/app/processor/utils_test.go
  backend/services/workflows/store/mongo/bson.go
  backend/services/workflows/store/mongo/datastore_mongo.go
  backend/services/workflows/store/mongo/datastore_mongo_test.go
  backend/services/workflows/store/mongo/migration_1_0_0.go
  backend/services/workflows/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceconnect): Use the right context with tenant id
  backend/services/deviceconnect/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): removed theme fallback functionality
  frontend/entrypoint.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/App.tsx
  frontend/src/js/components/dashboard/__snapshots__/SoftwareDistribution.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/Distribution.tsx
  frontend/src/js/components/dashboard/widgets/__snapshots__/Distribution.test.tsx.snap
Due: none

test: made test script easier to digest & reuse for feature deployments
  frontend/tests/e2e_tests/integration/session.setup.ts
  frontend/tests/e2e_tests/integration/session.teardown.ts
  frontend/tests/e2e_tests/playwright-qemu.config.ts
  frontend/tests/e2e_tests/playwright.config.ts
  frontend/tests/e2e_tests/run.js
  frontend/tests/e2e_tests/runner/cli.js
  frontend/tests/e2e_tests/runner/compose.js
  frontend/tests/e2e_tests/runner/config.js
  frontend/tests/e2e_tests/runner/interactive.js
  frontend/tests/e2e_tests/runner/lifecycle.js
  frontend/tests/e2e_tests/runner/test-execution.js
Due: none

chore(gui): try to await docker client teardown
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

chore: fixed typo in e2e tests util
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

docs: added explanation for e2e test usage
  frontend/tests/e2e_tests/README.md
Due: none

chore(gui): added support for orchestrator manifests feature flag
  frontend/entrypoint.sh
Due: none

chore(gui): made use of nt-gui package w/ orchestrator flag support
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): aligned license location after dependency update
  frontend/tests/licenses/directDependencies.csv
Due: none

chore(gui): reverted nt-gui packages to compatible versions
  frontend/package-lock.json
  frontend/package.json
Due: none

test(gui): ported mockAbortController to override incompatible one from testing package
  frontend/tests/setupTests.ts
  frontend/tests/testUtils.ts
Due: none

chore(gui): aligned snapshot w/ updated dependencies
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
Due: none

chore(gui): aligned license locations after dependency updates
  frontend/tests/licenses/directDependencies.csv
Due: none

test: Relax e2e match criteria for `mender-demo-artifact` version
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

chore(gui): updated snapshots after mui update
  frontend/src/js/common-ui/dialogs/__snapshots__/ConfirmDismissHelpTips.test.tsx.snap
  frontend/src/js/common-ui/dialogs/__snapshots__/Log.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/ConfigImportDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/ConnectToGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/DeviceConnectionDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MakeGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MonitorDetailsDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/PreauthDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/customColumnsDialog.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroup.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroupExplainer.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/RemoveGroup.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/DeviceAdditionWidget.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/AddArtifact.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/RemoveArtifact.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/components/settings/dialogs/__snapshots__/CancelRequest.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
Due: none

chore(gui): aligned 2fa code generation w/ updated dep
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

test: aligned 2fa code generation w/ updated dependency
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

chore(gui): reverted nt-gui store library to compatible version
  frontend/package-lock.json
  frontend/package.json
Due: none

test(gui): stabilized xterm related snapshot rendering after dep update
  frontend/tests/setupTests.ts
Due: none

test(gui): added timeout before saving billing profile to avoid rate limiting
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

chore(gui): aligned snapshots after dependency updates
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/troubleshoot/__snapshots__/Terminal.test.tsx.snap
  frontend/src/js/components/devices/troubleshoot/__snapshots__/TerminalWrapper.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Login.test.tsx.snap
  frontend/tests/e2e_tests/fixtures/terminalContent.png
Due: none

test(gui): masked the action dial in terminal startup e2e test
  frontend/tests/e2e_tests/integration/03-advanced/02-deviceDetails.spec.ts
Due: none

test(workflows): fixed cli processor unit tests on MacOS
  backend/services/workflows/app/processor/cli_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: bump golang version to 1.26.0
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

fix(deployments): nil pointer dereference getting non-existing deployment
  backend/services/deployments/app/app.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): Unit tests for getting deployment app logic
  backend/services/deployments/app/app_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): updated sp header in accordance with design
  frontend/src/js/components/header/Header.tsx
Due: none

test(gui): added retries to a file download part of the file transfer test
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

test(gui): refactored artifact download to fetch the file directly
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
