Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore: added git compatible way of ignoring e.g. formatting induced mass changes
  .git-blame-ignore-revs
Due: none

ci: Send more test results to Mantra
  .gitlab-ci.yml
  backend/services/workflows/tests/run.sh
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): updated snapshots
  frontend/src/js/common-ui/__snapshots__/ExpandableAttribute.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/Groups.test.tsx.snap
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOConfig.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionSummary.test.tsx.snap
Due: none

chore(pkg): include interfaces in openapi generator configuration
  backend/pkg/api/.openapi-generator.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/api_deployments_device_api.go
  backend/pkg/api/client/api_deployments_internal_api_internal_api.go
  backend/pkg/api/client/api_deployments_management_api.go
  backend/pkg/api/client/api_deployments_v2_management_api.go
  backend/pkg/api/client/api_device_authentication_device_api.go
  backend/pkg/api/client/api_device_authentication_internal_api.go
  backend/pkg/api/client/api_device_authentication_management_api.go
  backend/pkg/api/client/api_device_configure_device_api.go
  backend/pkg/api/client/api_device_configure_internal_api.go
  backend/pkg/api/client/api_device_configure_management_api.go
  backend/pkg/api/client/api_device_connect_device_api.go
  backend/pkg/api/client/api_device_connect_internal_api.go
  backend/pkg/api/client/api_device_connect_management_api.go
  backend/pkg/api/client/api_device_inventory_device_api.go
  backend/pkg/api/client/api_device_inventory_filters_and_search_internal_api.go
  backend/pkg/api/client/api_device_inventory_filters_and_search_management_api.go
  backend/pkg/api/client/api_device_inventory_internal_api.go
  backend/pkg/api/client/api_device_inventory_management_api.go
  backend/pkg/api/client/api_io_t_manager_internal_api.go
  backend/pkg/api/client/api_io_t_manager_management_api.go
  backend/pkg/api/client/api_user_administration_and_authentication_internal_api.go
  backend/pkg/api/client/api_user_administration_management_api.go
  backend/pkg/api/client/api_workflows_other.go
  backend/pkg/api/client/client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): restructure Makefile for generating Go openapi client
  backend/Makefile
  backend/pkg/api/Makefile
  backend/pkg/api/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): added mocks to openapi generated client
  backend/.mockery.yml
  backend/pkg/api/Makefile
  backend/pkg/api/client/mocks/mocks.go
  backend/pkg/api/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: update path rules for executing test:backend:api-client
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: remove docker compose as a dependency for generating oas client
  backend/Makefile
  backend/pkg/api/Makefile
  backend/pkg/api/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: wait for page timeout before continuing the upgrade e2e tests
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

ci: remove ineffectual pipeline variable assignments
  frontend/pipeline.yml
Due: none

ci: let e2e tests rely on pipeline built images in os suite
  frontend/pipeline.yml
Due: none

chore(inventory): changed `DeviceCountByTier` schema to use integers
  backend/docs/api/inventory/schemas.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: add inventory device statistics ng tests
  backend/tests/runner/tests/backend_integration_test.go
  backend/tests/runner/tests/inventory_management_v2_opensource_test.go
  backend/tests/runner/tests/useradm_management_v1_opensource_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: let e2e tests rely on minor versions of ent images on release-tags + -branches
  frontend/pipeline.yml
Due: none

ci: os/ent prefix to pr based deployment to avoid name collision
  .gitlab-ci.yml
  compose/k8s/README.md
  compose/k8s/review-values.yaml.tpl
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

docs(workflows): fix incorrectly documented workflows schemas
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/workflows/internal_v1.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api/openapi.yaml
  backend/pkg/api/client/api_workflows_other.go
  backend/pkg/api/client/mocks/mocks.go
  backend/pkg/api/client/model_start_workflow_201_response.go
  backend/pkg/api/client/model_workflows_check_liveliness_200_response.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/workflows_other_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/device_count_by_tier.py
  backend/tests/mender_client/models/start_workflow201_response.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: accounted for slower time in test runner, where 60s might be just 45s
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

refactor(deployments): Replace custom clients with OAS generated ones
  backend/services/deployments/app/app.go
  backend/services/deployments/client/inventory/client.go
  backend/services/deployments/client/inventory/client_test.go
  backend/services/deployments/client/inventory/mocks/Client.go
  backend/services/deployments/client/workflows/client.go
  backend/services/deployments/client/workflows/client_test.go
  backend/services/deployments/client/workflows/mocks/Client.go
  backend/services/deployments/model/device.go
  backend/services/deployments/model/filters.go
  backend/services/deployments/model/image.go
  backend/services/deployments/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(inventory): refactor and align inventory models
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/inventory/internal_v2.yaml
  backend/docs/api/inventory/management_v2.yaml
  backend/docs/api/inventory/schemas.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api/openapi.yaml
  backend/pkg/api/client/api_device_inventory_filters_and_search_internal_api.go
  backend/pkg/api/client/api_device_inventory_filters_and_search_management_api.go
  backend/pkg/api/client/model_attribute_v2.go
  backend/pkg/api/client/model_attribute_v2_value.go
  backend/pkg/api/client/model_filter_predicate.go
  backend/pkg/api/client/model_inventory_v2_search_device_inventories_request.go
  backend/pkg/api/client/model_search_params.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_internal_api_api.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_management_api_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/attribute_v2.py
  backend/tests/mender_client/models/attribute_v2_value.py
  backend/tests/mender_client/models/filter_predicate.py
  backend/tests/mender_client/models/inventory_v2_search_device_inventories_request.py
  backend/tests/mender_client/models/search_params.py
  backend/tests/runner/tests/inventory_management_v2_opensource_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: add common http error definitions for unexpected status
  backend/pkg/api/error.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): update mocks to use mocked OAS clients
  backend/services/deployments/app/app_last_status_test.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/app/images_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): updated backend interactions to allow creating on demand artifact downloads
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(gui): made artifact downloads less likely to trigger security incident notifications
  frontend/src/js/components/releases/ArtifactDetails.tsx
Due: none

test: gave test time to watch the time count down
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

chore(gui): cleaned up unused, reporting reliant functionality
  frontend/src/js/components/dashboard/widgets/ActionableDevices.tsx
  frontend/src/js/components/devices/AuthorizedDevices.tsx
  frontend/src/js/components/devices/widgets/IssueSelection.test.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
Due: none

chore(gui): adopted text overflow component where suitable
  frontend/src/js/common-ui/CopyableText.tsx
  frontend/src/js/components/deployments/deployment-wizard/ReleaseItem.tsx
Due: none

chore(gui): add TextOverflowMultiline component to replace WebkitLineClamp usage
  frontend/src/js/common-ui/TextOverflowMultiline.test.tsx
  frontend/src/js/common-ui/TextOverflowMultiline.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/common-ui/__snapshots__/InventoryTable.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/TextOverflowMultiline.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/TwoColumnData.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceConfiguration.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceDetails.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/FileTransfer.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/PortForward.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeploymentStatus.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/Overview.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/RolloutSchedule.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/ReleaseItem.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Configuration.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceInventory.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Identity.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/InstalledSoftware.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactMetadataList.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactPayload.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
Due: none

test: aligned post professional upgrade wait w/ basic upgrade
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

ci: pre-build integration-tester image
  .gitlab-ci.yml
  backend/tests/Dockerfile.integration
  backend/tests/docker-compose.yml
  backend/tests/pyproject.toml
  backend/tests/run-integration.bash
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: parallel docker builds
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

build(backend): add make target to generate all OpenAPI artifacts
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
