Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore(inventory): allow v2alpha1 URLs in traefik ingress rules
  docker-compose.yml
Due: none

test: add integration tests for identity search
  backend/tests/runner/tests/opensource/inventory_management_v2alpha1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): identity search alpha endpoint adjustments
  backend/docs/api/inventory/management_v2alpha1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: regenerate specs and clients
  backend/docs/api/dist/openapi.yaml
  backend/tests/mender_client/models/search_identity_params.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update npm-dev-dependencies
  frontend/package.json
Due: none

chore(deps): update npm-mui to v9.12.0
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency @mui/x-date-pickers to v8.29.3
  frontend/package-lock.json
  frontend/package.json
Due: none

feat(deviceconnect): add readiness probe memory limits
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/config.yaml
  backend/services/deviceconnect/config/config.go
  backend/services/deviceconnect/server/server.go
  backend/services/deviceconnect/utils/memlimit/memlimit.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): Unit tests for memlimit utilities
  backend/services/deviceconnect/utils/memlimit/memlimit_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): ensured data w/ multiple attribute values gets shown in a readable manner
  frontend/src/js/common-ui/TwoColumnData.test.tsx
  frontend/src/js/common-ui/TwoColumnData.tsx
  frontend/src/js/common-ui/__snapshots__/TwoColumnData.test.tsx.snap
Due: none

chore(gui): downgrade babel plugin pin
  frontend/package.json
Due: none

chore(gui): update snapshots
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
Due: none

fix(deviceconnect): proper graceful shutdown with ws handshake
  backend/services/deviceconnect/api/http/common.go
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/device_deadline_test.go
  backend/services/deviceconnect/api/http/device_test.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/management_test.go
  backend/services/deviceconnect/api/http/mocks/WSConn.go
  backend/services/deviceconnect/api/http/router.go
  backend/services/deviceconnect/api/http/status.go
  backend/services/deviceconnect/api/http/status_test.go
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/app/mocks/App.go
  backend/services/deviceconnect/server/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceconnect): add readiness probe memory limits
  backend/services/deviceconnect/utils/memlimit/memlimit.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: track MONGO_VERSION with a renovate custom manager
  renovate.json5
Due: none

ci: let renovate update mirror-prefixed compose images
  renovate.json5
Due: none

refactor(gui): aligned controlled text input further w/ rhf api
  frontend/src/js/common-ui/forms/TextInput.tsx
Due: none

refactor(gui): converted artifact generation to rhf
  frontend/src/js/components/helptips/HelpTooltips.tsx
  frontend/src/js/components/releases/Releases.tsx
  frontend/src/js/components/releases/dialogs/AddArtifact.tsx
  frontend/src/js/components/releases/dialogs/ArtifactInformationForm.tsx
  frontend/src/js/components/releases/dialogs/FileInformation.tsx
Due: none

test(gui): aligned artifact generation reliant tests w/ updated implementation
  frontend/src/js/components/releases/dialogs/AddArtifact.test.tsx
  frontend/src/js/components/releases/dialogs/ArtifactInformationForm.test.tsx
  frontend/src/js/components/releases/dialogs/FileInformation.test.tsx
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

chore(gui): aligned snapshots w/ updated design
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/AddArtifact.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/ArtifactInformationForm.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/ArtifactUpload.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/FileInformation.test.tsx.snap
Due: none

chore(gui): removed now unused prebuilt artifact upload confirmation trigger
  frontend/src/js/components/releases/dialogs/ArtifactUpload.test.tsx
  frontend/src/js/components/releases/dialogs/ArtifactUpload.tsx
Due: none

chore(deps): update docker-compose
  compose/docker-compose.enterprise.yml
  compose/docker-compose.seaweedfs.yml
  docker-compose.yml
Due: none

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): add docs reference for phased deployments
  frontend/src/js/common-ui/DocsLink.tsx
Due: none

feat(gui): added deployment phase definition input to align w/ updated design
  frontend/src/js/components/deployments/deployment-wizard/phases/Input.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/constants.ts
Due: none

feat(gui): added support for percentage & device count deployment phase definitions
  frontend/src/js/components/deployments/deployment-wizard/phases/CustomPhases.tsx
Due: none

feat(gui): add support for repeating uniform deployment phase patterns
  frontend/src/js/components/deployments/deployment-wizard/phases/UniformPhases.tsx
Due: none

refactor(gui): track deployment schedule independent of phase definitions
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
Due: none

chore(gui): added shared deployment phase types + modes information & utils
  frontend/src/js/components/deployments/deployment-wizard/phases/constants.ts
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/types.ts
  frontend/src/js/components/deployments/deployment-wizard/utils.ts
Due: none

refactor(gui): integrated custom phase pattern support in phase settings
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
Due: none

refactor(gui): allow deployment creation despite faulty phase definitions
  frontend/src/js/components/deployments/CreateDeployment.tsx
Due: none

refactor(gui): integrate rollout modes into deployment creation
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/utils.ts
Due: none

feat(gui): support device-count rollouts in deployment progress
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.tsx
  frontend/src/js/components/deployments/progress/usePhaseProgress.ts
Due: none

test(gui): adjust tests for phase rework
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/CustomPhases.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/UniformPhases.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.test.ts
Due: none

chore(gui): allowed time format alignment across the ui
  frontend/src/js/common-ui/Time.tsx
Due: none

chore(gui): allowed deployment creation helper components
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
Due: none
