Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

docs: let api docs rely on common 404 response
  backend/docs/api/common/responses.yaml
  backend/docs/api/devices_v1_deployments.yaml
  backend/docs/api/inventory_internal_v1.yaml
  backend/docs/api/inventory_management_v1.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/docs/api/useradm.openapi.yaml
  backend/docs/api/workflows.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: let docs rely on common error + security definitions
  backend/docs/api/devices_v1_deployments.yaml
  backend/docs/api/internal_v1_deployments.yaml
  backend/docs/api/inventory_devices_v1.yaml
  backend/docs/api/inventory_internal_v1.yaml
  backend/docs/api/inventory_internal_v2.yaml
  backend/docs/api/inventory_management_v1.yaml
  backend/docs/api/inventory_management_v2.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/docs/api/useradm.openapi.yaml
  backend/docs/api/workflows.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(api): unified path structure + servers across specs
  backend/docs/api/devices_v1_deployments.yaml
  backend/docs/api/internal_v1_deployments.yaml
  backend/docs/api/inventory_devices_v1.yaml
  backend/docs/api/inventory_internal_v1.yaml
  backend/docs/api/inventory_internal_v2.yaml
  backend/docs/api/inventory_management_v1.yaml
  backend/docs/api/inventory_management_v2.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/docs/api/workflows.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(docs): fixed some linter warnings
  backend/docs/api/devices_v1_deployments.yaml
  backend/docs/api/internal_v1_deployments.yaml
  backend/docs/api/inventory_devices_v1.yaml
  backend/docs/api/inventory_internal_v1.yaml
  backend/docs/api/inventory_internal_v2.yaml
  backend/docs/api/inventory_management_v1.yaml
  backend/docs/api/inventory_management_v2.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/docs/api/root.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fixed spec linting targeting wrong files
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test: adjusted tests to work w/ updated operationIds & path structure
  backend/services/deployments/tests/tests/client.py
  backend/services/deployments/tests/tests/test_api_internal.py
  backend/services/deployments/tests/tests/test_deployment.py
  backend/services/deployments/tests/tests/test_release.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fail api docs check on diverged merged spec
  .gitlab-ci.yml
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(api): deduplicated schema definitions across service specs
  backend/docs/api/common/responses.yaml
  backend/docs/api/common/schemas.yaml
  backend/docs/api/internal_v1_deployments.yaml
  backend/docs/api/inventory_devices_v1.yaml
  backend/docs/api/inventory_internal_v1.yaml
  backend/docs/api/inventory_internal_v2.yaml
  backend/docs/api/inventory_management_v1.yaml
  backend/docs/api/inventory_management_v2.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/docs/api/workflows.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(docs): removed enterprise schema definitions that can't be referenced
  backend/docs/api/management_v2_deployments.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): limited chances a set deployment device limit gets changed unintended
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
Due: none

chore(gui): extended type coverage on deployment creation
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
Due: none

feat(gui): let timeframe filter elements also show context dependent notifications
  frontend/src/js/common-ui/forms/Filters.tsx
  frontend/src/js/common-ui/forms/TimeframePicker.tsx
  frontend/src/js/common-ui/forms/__snapshots__/TimeFramePicker.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
Due: none

feat(gui): added notification about auditlog retention time to explain missing entries
  frontend/src/js/components/auditlogs/AuditLogs.tsx
  frontend/src/js/components/auditlogs/AuditLogsFilter.tsx
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
Due: none

chore(gui): aligned auditlogs empty state w/ updated design
  frontend/src/js/components/auditlogs/AuditLogs.tsx
Due: none

fix(gui): reduce situations deployments to specific devices won't find releases
  frontend/src/js/components/devices/widgets/DeviceQuickActions.tsx
Due: none

chore(gui): prevented cut off input title on group creation
  frontend/src/js/components/devices/group-management/GroupDefinition.tsx
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroup.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/GroupDefinition.test.tsx.snap
Due: none

chore(gui): aligned group creation explanation w/ updated design
  frontend/src/js/components/devices/group-management/CreateGroupExplainer.test.tsx
  frontend/src/js/components/devices/group-management/CreateGroupExplainer.tsx
  frontend/src/js/components/devices/group-management/CreateGroupExplainerContent.test.tsx
  frontend/src/js/components/devices/group-management/CreateGroupExplainerContent.tsx
Due: none

chore(gui): aligned device list header & pagination w/ updated design
  frontend/src/js/common-ui/List.tsx
Due: none

chore(gui): removed more reporting related remnants
  frontend/src/js/components/devices/DeviceGroups.tsx
Due: none

chore(gui): aligned pagination appearance w/ updated design
  frontend/src/js/common-ui/Pagination.tsx
Due: none

chore(gui): aligned device status notifications w/ updated designs
  frontend/src/js/components/devices/DeviceStatus.tsx
Due: none

chore(gui): aligned device filters w/ updated design
  frontend/src/js/components/devices/widgets/FilterItem.tsx
  frontend/src/js/components/devices/widgets/Filters.tsx
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

chore(gui): aligned device page w/ updated design
  frontend/src/js/components/devices/AuthorizedDevices.tsx
  frontend/src/js/components/devices/DeviceGroups.tsx
  frontend/src/js/components/devices/DeviceStatusNotification.tsx
  frontend/src/js/components/devices/Groups.tsx
  frontend/src/js/components/devices/widgets/DeviceAdditionWidget.tsx
  frontend/src/js/components/devices/widgets/DeviceStateSelection.tsx
  frontend/src/js/components/devices/widgets/IssueSelection.tsx
Due: none

chore(gui): aligned snapshots w/ updated design
  frontend/src/js/common-ui/__snapshots__/List.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/AuditLogsList.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/AuthorizedDevices.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/BaseDevices.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceStatus.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceStatusNotification.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/Groups.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Monitoring.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroupExplainer.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/DeviceAdditionWidget.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/FilterItem.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/Filters.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/IssueSelection.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/DeltaGeneration.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleasesList.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantList.test.tsx.snap
Due: none

chore(gui): added explanatory tooltip info for detail links
  frontend/src/js/common-ui/DrawerTitle.tsx
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
Due: none

test(gui): prevent feedback collection dialog from showing up in staging tests
  frontend/tests/e2e_tests/integration/session.setup.ts
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

test(gui): extended test clean up functionality to stop runaway test runners
  frontend/tests/e2e_tests/run.js
Due: none

test(gui): restored log output on cmd executions that’s not script consumed
  frontend/tests/e2e_tests/run.js
Due: none

test(gui): ensured e2e test variant is always defined
  frontend/tests/e2e_tests/run.js
Due: none

chore: debug
  frontend/tests/e2e_tests/package.json
Due: none

fix(deviceconnect): SetReadDeadline when setting up ping handler
  backend/services/deviceconnect/api/http/device.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): ensured most basic tests also get run during e2e tests
  frontend/tests/e2e_tests/integration/01-basic/01-basic.spec.ts
  frontend/tests/e2e_tests/playwright.config.ts
Due: none

test(gui): increased fake deployment creation to help w/ rapid deployment processing
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
Due: none

docs: aligned unauthorized errors definitions w/ shared definition
  backend/docs/api/common/responses.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/docs/api/useradm.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: aligned more error responses w/ existing shared response definitions
  backend/docs/api/devices_v1_deployments.yaml
  backend/docs/api/internal_v1_deployments.yaml
  backend/docs/api/inventory_devices_v1.yaml
  backend/docs/api/inventory_internal_v1.yaml
  backend/docs/api/inventory_internal_v2.yaml
  backend/docs/api/inventory_management_v1.yaml
  backend/docs/api/inventory_management_v2.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/docs/api/useradm.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: aligned remaining response status code outlier format
  backend/docs/api/inventory_internal_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: aligned bundled spec
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: unlike in UI requests auth data isn't included by default, set it explicitly
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

chore: add remaining api specs to docs location
  backend/docs/api/deviceauth_devices_api.yaml
  backend/docs/api/deviceauth_internal_api.yaml
  backend/docs/api/deviceauth_management_api.yaml
  backend/docs/api/deviceconfig_devices_api.yaml
  backend/docs/api/deviceconfig_internal_api.yaml
  backend/docs/api/deviceconfig_management_api.yaml
  backend/docs/api/deviceconnect_devices_api.yaml
  backend/docs/api/deviceconnect_internal_api.yaml
  backend/docs/api/deviceconnect_management_api.yaml
  backend/docs/api/iot-manager_internal_api.yaml
  backend/docs/api/iot-manager_management_api.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: fix paths in remaining service specs
  backend/docs/api/deviceauth_devices_api.yaml
  backend/docs/api/deviceauth_internal_api.yaml
  backend/docs/api/deviceauth_management_api.yaml
  backend/docs/api/deviceconfig_devices_api.yaml
  backend/docs/api/deviceconfig_internal_api.yaml
  backend/docs/api/deviceconfig_management_api.yaml
  backend/docs/api/deviceconnect_devices_api.yaml
  backend/docs/api/deviceconnect_internal_api.yaml
  backend/docs/api/deviceconnect_management_api.yaml
  backend/docs/api/iot-manager_internal_api.yaml
  backend/docs/api/iot-manager_management_api.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
