Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore(gui): aligned snapshots after basedrawer adoption
  frontend/src/js/common-ui/__snapshots__/BaseDrawer.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/EventDetailsDrawer.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/ArtifactGeneration.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOEditor.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/RoleDefinition.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantsForm.test.tsx.snap
Due: none

chore(gui): minor drawer top section alignment w/ updated design
  frontend/src/js/components/deployments/Report.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/settings/role-management/RoleDefinition.tsx
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/webhooks/Management.tsx
Due: none

refactor(gui): adopted basedrawer across applicable drawer instances
  frontend/src/js/components/auditlogs/EventDetailsDrawer.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/Report.tsx
  frontend/src/js/components/devices/ExpandedDevice.tsx
  frontend/src/js/components/releases/DeltaGenerationDetailsDrawer.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/settings/ArtifactGeneration.tsx
  frontend/src/js/components/settings/PlanExpanded.tsx
  frontend/src/js/components/settings/organization/SSOEditor.tsx
  frontend/src/js/components/settings/role-management/RoleDefinition.tsx
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/webhooks/Configuration.tsx
  frontend/src/js/components/settings/webhooks/Management.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
  frontend/src/js/components/tenants/ExpandedTenant.tsx
  frontend/src/js/components/tenants/TenantCreateForm.tsx
Due: none

chore(gui): updated drawer contained screenshot
  frontend/tests/e2e_tests/fixtures/terminalContent.png
Due: none

fix(deployments): removed omitempty from ImageMeta description
  backend/services/deployments/model/image.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: aligned upgrade drawer visibility selector after drawer design update
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test: made it easier to see integration test progression among container events
  backend/tests/run-integration.bash
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): fixed regression after search adjustments
  frontend/src/js/components/header/Header.tsx
Due: none

feat(gui): added generic contentsection component based on devicedatacollapse
  frontend/src/js/common-ui/ContentSection.test.tsx
  frontend/src/js/common-ui/ContentSection.tsx
Due: none

chore(gui): made use of generic content section to align device details w/ updated design
  frontend/src/js/components/devices/device-details/AuthStatus.tsx
  frontend/src/js/components/devices/device-details/Configuration.tsx
  frontend/src/js/components/devices/device-details/Connection.tsx
  frontend/src/js/components/devices/device-details/Deployments.tsx
  frontend/src/js/components/devices/device-details/DeviceInventory.tsx
  frontend/src/js/components/devices/device-details/DeviceSystem.tsx
  frontend/src/js/components/devices/device-details/DeviceTags.tsx
  frontend/src/js/components/devices/device-details/DeviceTwin.test.tsx
  frontend/src/js/components/devices/device-details/DeviceTwin.tsx
  frontend/src/js/components/devices/device-details/Identity.tsx
  frontend/src/js/components/devices/device-details/InstalledSoftware.tsx
  frontend/src/js/components/devices/device-details/Monitoring.tsx
Due: none

chore(gui): removed now unused device data display
  frontend/src/js/components/devices/device-details/DeviceDataCollapse.tsx
Due: none

chore(gui): made use of generic content section to align release details more w/ updated design
  frontend/src/js/components/releases/ReleaseDetails.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/common-ui/__snapshots__/ContentSection.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/AuthStatus.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Configuration.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceInventory.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceTags.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceTwin.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Identity.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/InstalledSoftware.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Monitoring.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
Due: none

feat: new redis URL parameter `cluster` to enable cluster mode
  backend/pkg/redis/redis.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: lower cyclometic complexity of redis.ClientFromConnectionString
  backend/pkg/redis/redis.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat: redis cluster max_retries uses hook that handles IP changes
  backend/pkg/redis/redis.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: honour MENDER_IMAGE_TAG in GUI e2e compose fallback
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
Due: none

test: improved docker compose handling in ng test
  backend/tests/runner/tests/common/docker_compose.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: let e2e tests rely on pipeline built images in os suite
  frontend/pipeline.yml
Due: none

chore(gui): aligned table white space w/ updated design
  frontend/src/js/common-ui/DetailsTable.tsx
Due: none

chore(gui): aligned deployments & auditlogs header positioning
  frontend/src/js/components/auditlogs/AuditlogsView.tsx
  frontend/src/js/components/deployments/Deployments.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleasesList.test.tsx.snap
Due: none

chore(gui): aligned snapshots after jsdom update
  frontend/src/js/common-ui/__snapshots__/BaseDrawer.test.tsx.snap
  frontend/src/js/common-ui/dialogs/__snapshots__/ConfirmDismissHelpTips.test.tsx.snap
  frontend/src/js/common-ui/dialogs/__snapshots__/Log.test.tsx.snap
  frontend/src/js/components/__snapshots__/SearchResult.test.tsx.snap
  frontend/src/js/components/__snapshots__/Uploads.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/Distribution.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/ReleaseArtifactFilter.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/ConfigImportDialog.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/ConnectToGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/DeviceConnectionDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MakeGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MonitorDetailsDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/PreauthDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/customColumnsDialog.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroup.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroupExplainer.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/RemoveGroup.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/DeviceQuickActions.test.tsx.snap
  frontend/src/js/components/header/__snapshots__/DeviceNotifications.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/AddArtifact.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/RemoveArtifact.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/ArtifactGeneration.test.tsx.snap
  frontend/src/js/components/settings/dialogs/__snapshots__/CancelRequest.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOEditor.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/RoleDefinition.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantsForm.test.tsx.snap
Due: none

chore(gui): aligned dev server refresh plugin after dep update
  frontend/rspack.config.js
Due: none

chore(gui): aligned svg import config with updated svg importer plugin
  frontend/vitest.config.ts
Due: none

chore(gui): updated nt-gui libs to align w/ updated testing setup
  frontend/package-lock.json
  frontend/package.json
Due: none

test(gui): ensured file upload works w/ updated jsdom version
  frontend/src/js/components/devices/dialogs/PreauthDialog.test.tsx
Due: none

chore(gui): aligned codebase w/ changed thunk return behaviour & request body checks
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/helptips/OnboardingCompleteTip.tsx
  frontend/src/js/components/login/Signup.tsx
  frontend/src/js/components/releases/ArtifactDetails.tsx
  frontend/src/js/components/settings/AccessTokenManagement.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
Due: none

ci: extended unit test timeout after request validation introduction & jsdom update
  frontend/pipeline.yml
Due: none

chore: unit
  frontend/src/js/components/devices/device-details/Configuration.tsx
Due: none

refactor(pkg): move parsing of custom redis options to separate func
  backend/pkg/redis/redis.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceauth): don't aggregate usage if device limit is zero
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceconnect): connection status race condition on disconnect
  backend/services/deviceconnect/api/http/device.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned more dialogs w/ updated theme to avoid inset dividers
  frontend/src/js/components/devices/group-management/CreateGroup.tsx
  frontend/src/js/components/releases/dialogs/AddArtifact.tsx
  frontend/src/js/components/releases/dialogs/AddTags.tsx
Due: none

feat(backend): add healthcheck CLI subcommand for scratch-based services
  backend/pkg/health/cli.go
  backend/pkg/health/cli_test.go
  backend/pkg/health/health.go
  backend/pkg/health/health_test.go
  backend/services/deployments/main.go
  backend/services/deviceauth/main.go
  backend/services/deviceconfig/main.go
  backend/services/deviceconnect/main.go
  backend/services/inventory/main.go
  backend/services/iot-manager/main.go
  backend/services/useradm/main.go
  backend/services/workflows/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(backend): declare docker HEALTHCHECK in each scratch service image
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): updated snapshots
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroup.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/AddArtifact.test.tsx.snap
Due: none

feat(gui): added possibility to interact w/ the gui w/o a running backend
  frontend/directDependencies.csv
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack.config.js
  frontend/src/js/main.tsx
  frontend/src/js/mocks/browser.ts
Due: none
