Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore(gui): moved deployment retry setting to setting section
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/settings/Global.tsx
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/store/deploymentsSlice/thunks.ts
Due: none

feat(inventory): add If-Modified-Since to internal Update Device Attributes
  backend/docs/api/inventory_internal_v1.yaml
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/inventory/docs/internal_api.yml
  backend/services/inventory/inv/inventory.go
  backend/services/inventory/inv/inventory_test.go
  backend/services/inventory/inv/mocks/InventoryApp.go
  backend/services/inventory/store/datastore.go
  backend/services/inventory/store/mocks/DataStore.go
  backend/services/inventory/store/mongo/datastore_mongo.go
  backend/services/inventory/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(inventory): bulk write attributes uses same filter
  backend/services/inventory/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceauth): added command to propagate identity to inventory
  backend/services/deviceauth/client/inventory/client.go
  backend/services/deviceauth/client/inventory/mocks/Client.go
  backend/services/deviceauth/cmd/maintenance.go
  backend/services/deviceauth/main.go
  backend/services/deviceauth/model/device.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/inventory/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): always exit with non-zero exit code on error
  backend/services/deviceauth/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: switch runners to k8s
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: Migrate coveralls finish job to coveralls(1) CLI
  .coveralls.yml
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: coveralls publish jobs allowed to fail
  frontend/pipeline.yml
Due: none

ci: coveralls publish jobs allowed to fail
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): further increased accessibility for testability
  frontend/src/js/common-ui/ChipSelect.tsx
  frontend/src/js/components/settings/organization/Organization.test.tsx
  frontend/tests/e2e_tests/integration/03-files.spec.ts
  frontend/tests/e2e_tests/integration/07-saml.spec.ts
  frontend/tests/e2e_tests/integration/09-tenant.spec.ts
Due: none

test(deviceauth): add common fixture to create a dataset of devices
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): unit tests for mongo.ListAllDevices
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deviceauth): handle inventory status attribute outside the client
  backend/services/deviceauth/client/inventory/client.go
  backend/services/deviceauth/client/inventory/client_test.go
  backend/services/deviceauth/cmd/commands.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Add missing deviceauth dependency on inventory service
  docker-compose.yml
Due: none

test(deviceauth): acceptance test for `maintenance propagate-inventory`
  backend/services/deviceauth/tests/tests/client.py
  backend/services/deviceauth/tests/tests/test_cli.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): enabled more granular text input interactions while using RHF
  frontend/src/js/common-ui/forms/TextInput.tsx
Due: none

refactor(gui): moved enterprise request form to RHF for compatibility
  frontend/src/js/components/settings/EnterpriseRequestExpanded.tsx
Due: none

chore(gui): simplified addon selection handling during subscription changes
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/components/subscription/SubscriptionSummary.tsx
Due: none

chore(gui): made device limit downgrade preventing check more explicit
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

fix(gui): fixed an issue that left notch in outlined w/o a background
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

refactor(gui): refactored subscription form to be a RHF form & reduce faulty billing calls
  frontend/src/js/common-ui/forms/AddonSelect.tsx
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/components/subscription/SubscriptionSummary.test.tsx
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
Due: none

test(gui): made rapid pagination test disregard button actionability
  frontend/tests/e2e_tests/integration/04-deployments.spec.ts
Due: none

test(gui): adjusted timeouts after jsdom upgrade
  frontend/src/js/components/auditlogs/Auditlogs.test.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/devices/AuthorizedDevices.test.tsx
  frontend/src/js/components/settings/webhooks/Webhooks.test.tsx
Due: none

chore(gui): made external link indicator reusable & reused it from there
  frontend/src/js/common-ui/DocsLink.tsx
  frontend/src/js/components/help/GettingStarted.tsx
Due: none

chore(gui): aligned signup data entry closer w/ updated design
  frontend/src/js/components/login/Signup.tsx
  frontend/src/js/components/login/signup-steps/OrgdataEntry.tsx
Due: none

chore(gui): aligned tests w/ updated signup design
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
  frontend/src/js/components/login/Signup.test.tsx
  frontend/src/js/components/login/signup-steps/__snapshots__/OrgdataEntry.test.tsx.snap
Due: none

chore(gui): cleaned up now unused delta jobs info passing
  frontend/src/js/store/releasesSlice/thunks.ts
Due: none

chore(gui): cleaned up e2e test imports
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

test(gui): restructured e2e tests to ease reuse w/ other clients
  frontend/tests/e2e_tests/integration/01-basic/01-basic.spec.ts
  frontend/tests/e2e_tests/integration/01-basic/02-login.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/02-settings.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/03-saml.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/04-tenant.spec.ts
  frontend/tests/e2e_tests/integration/02-layoutAssertions.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/02-deviceDetails.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/02-webhooks.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-auditlogs.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
  frontend/tests/e2e_tests/integration/session.setup.ts
  frontend/tests/e2e_tests/playwright.config.ts
  frontend/tests/e2e_tests/utils/constants.ts
Due: none

ci: improved log output on error in e2e tests
  frontend/tests/e2e_tests/run.js
Due: none

test(gui): added e2e tests for delta generation functionality
  frontend/pipeline.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.rofs.yml
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
  frontend/tests/e2e_tests/playwright-qemu.config.ts
  frontend/tests/e2e_tests/run.js
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

ci: openapi specs: ASSEMBLE!
  .gitlab-ci.yml
  backend/docs/api/common/schemas.yaml
  backend/docs/api/common/securitySchemes.yaml
  backend/docs/api/config/plugin.js
  backend/docs/api/config/redocly.yaml
  backend/docs/api/root.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Update URL for `mender-artifact` download
  backend/tests/Dockerfile.acceptance
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
