Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore: debug
  backend/services/deviceauth/tests/tests/client.py
  backend/services/deviceconfig/tests/common.py
  backend/services/deviceconnect/tests/common.py
  backend/services/iot-manager/tests/tests/client.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: debug
  backend/services/deviceauth/tests/conftest.py
  backend/services/deviceconfig/tests/conftest.py
  backend/services/deviceconnect/tests/conftest.py
  backend/services/iot-manager/tests/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: debug
  backend/services/deviceauth/tests/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: debug
  backend/services/deviceconfig/tests/tests/test_device_config.py
  backend/services/deviceconfig/tests/tests/test_internal.py
  backend/services/deviceconfig/tests/tests/test_management_config.py
  backend/services/deviceconfig/tests/tests/test_management_config_auditlogs.py
  backend/services/iot-manager/tests/tests/client.py
  backend/services/iot-manager/tests/tests/test_sync_aws_iotcore.py
  backend/services/iot-manager/tests/tests/test_sync_azure_iothub.py
  backend/services/iot-manager/tests/tests/test_webhooks.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: debug
  backend/services/deviceconfig/tests/common.py
  backend/services/deviceconnect/tests/common.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: debug
  backend/services/deviceconnect/tests/common.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: inventory bravaNo
  backend/services/inventory/Makefile
  backend/services/inventory/tests/.openapi-generator.yml
  backend/services/inventory/tests/common.py
  backend/services/inventory/tests/conftest.py
  backend/services/inventory/tests/docker-compose.acceptance.yml
  backend/services/inventory/tests/tests/client.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: debug
  backend/services/inventory/tests/tests/client.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Make ssh_is_opened timeout equal to provided value
  backend/tests/integration/testutils/infra/device.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): moved test timeout definitions to future vitest compatible format
  frontend/src/js/components/devices/DeviceList.test.tsx
  frontend/src/js/components/login/Login.test.tsx
  frontend/src/js/components/login/Signup.test.tsx
  frontend/src/js/components/releases/Releases.test.tsx
  frontend/src/js/components/settings/organization/Billing.test.tsx
  frontend/src/js/components/settings/user-management/SelfUserManagement.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.test.tsx
Due: none

chore(gui): post package adoption cleanup
  frontend/eslint.config.js
  frontend/tsconfig-test.json
Due: none

chore(gui): aligned test name w/ reality
  frontend/src/js/components/auditlogs/AuditLogsList.test.tsx
  frontend/src/js/components/auditlogs/__snapshots__/AuditLogsList.test.tsx.snap
Due: none

chore(gui): aligned store + types package value access
  frontend/src/js/components/auditlogs/eventdetails/utils.tsx
  frontend/src/js/components/helptips/HelpTooltips.tsx
  frontend/src/js/components/helptips/MenderTooltip.tsx
  frontend/src/js/components/settings/PlanExpanded.tsx
  frontend/src/js/components/settings/webhooks/Activity.tsx
  frontend/src/js/components/settings/webhooks/EventDetails.tsx
  frontend/src/js/components/settings/webhooks/Management.tsx
  frontend/src/js/components/subscription/SubscriptionAddon.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
  frontend/src/js/components/subscription/SubscriptionSummary.test.tsx
  frontend/src/js/components/tenants/ExpandedTenant.test.tsx
  frontend/src/js/components/tenants/types.ts
Due: none

test(gui): tuned timeouts to align better w/ updated react
  frontend/src/js/components/devices/device-details/Configuration.test.tsx
  frontend/src/js/components/devices/dialogs/PreauthDialog.test.tsx
  frontend/src/js/components/settings/dialogs/CancelRequest.test.tsx
Due: none

fix(gui): removed error messages shown when subscribing or showing billing info as trial user
  frontend/src/js/components/settings/organization/Billing.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

fix(deployments): backwards compatible artifact metadata
  backend/services/deployments/model/update.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): accounted for longer execution time due to updated react & rhf usage
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
Due: none

docs(deployments): mark release meta_data as deprecated
  backend/docs/api/deployments/internal_v1.yaml
  backend/docs/api/deployments/management_v1.yaml
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/deployments/schemas.yaml
  backend/docs/api/dist/openapi.yaml
  backend/services/deployments/docs/internal_api.yml
  backend/services/deployments/docs/management_api.yml
  backend/services/deployments/docs/management_api_v2.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(deployments): use array type for deprecated meta_data attribute
  backend/docs/api/deployments/internal_v1.yaml
  backend/docs/api/deployments/management_v1.yaml
  backend/docs/api/deployments/schemas.yaml
  backend/docs/api/dist/openapi.yaml
  backend/services/deployments/docs/internal_api.yml
  backend/services/deployments/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed an issue that prevented closing details view of an ongoing delta generation
  frontend/src/js/components/releases/DeltaGeneration.test.tsx
  frontend/src/js/components/releases/DeltaGeneration.tsx
Due: none

chore(gui): updated nt-gui packages to include delta details update fix
  frontend/package.json
Due: none

chore(gui): properly rely on nt-gui types package to ensure updated types are present
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/licenses/directDependencies.csv
Due: none

test(gui): extended delta gen tests to track generation success
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
Due: none

chore(gui): increased reliance on generated types when handling backend objects
  frontend/src/js/components/releases/DeltaGenerationDetailsDrawer.tsx
Due: none

feat(gui): ensured progress gets updated when monitoring a delta generation job
  frontend/src/js/components/releases/DeltaGenerationDetailsDrawer.tsx
Due: none

test(gui): ensured prettier $ltne title won't confuse filter selection
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

chore: removed deprecated spec definitions to align on oa3 specs
  backend/services/deployments/docs/devices_api.yml
  backend/services/deployments/docs/internal_api.yml
  backend/services/deployments/docs/management_api.yml
  backend/services/deployments/docs/management_api_v2.yml
  backend/services/deviceauth/docs/devices_api.yml
  backend/services/deviceauth/docs/internal_api.yml
  backend/services/deviceauth/docs/management_api.yml
  backend/services/deviceconfig/docs/devices_api.yml
  backend/services/deviceconfig/docs/internal_api.yml
  backend/services/deviceconfig/docs/management_api.yml
  backend/services/deviceconnect/docs/asyncapi/deviceconnect.yml
  backend/services/deviceconnect/docs/devices_api.yml
  backend/services/deviceconnect/docs/internal_api.yml
  backend/services/deviceconnect/docs/management_api.yml
  backend/services/inventory/docs/devices_api.yml
  backend/services/inventory/docs/internal_api.yml
  backend/services/inventory/docs/internal_api_v2.yml
  backend/services/inventory/docs/management_api.yml
  backend/services/inventory/docs/management_api_v2.yml
  backend/services/iot-manager/docs/internal_api.yml
  backend/services/iot-manager/docs/management_api.yml
  backend/services/useradm/docs/internal_api.yml
  backend/services/useradm/docs/management_api.yml
  backend/services/workflows/docs/workflows_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): adjusted tests to rely on oa3 specs
  backend/services/deviceconnect/Makefile
  backend/services/deviceconnect/tests/common.py
  backend/services/deviceconnect/tests/conftest.py
  backend/services/deviceconnect/tests/tests/test_connect.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): adjusted tests to rely on oa3 specs
  backend/services/deviceauth/Makefile
  backend/services/deviceauth/tests/conftest.py
  backend/services/deviceauth/tests/tests/client.py
  backend/services/deviceauth/tests/tests/test_device.py
  backend/services/deviceauth/tests/tests/test_internal_api.py
  backend/services/deviceauth/tests/tests/test_limits.py
  backend/services/deviceauth/tests/tests/test_mgnt_v2.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(iot-manager): adjusted tests to rely on oa3 specs
  backend/services/iot-manager/Makefile
  backend/services/iot-manager/tests/conftest.py
  backend/services/iot-manager/tests/tests/client.py
  backend/services/iot-manager/tests/tests/test_sync_aws_iotcore.py
  backend/services/iot-manager/tests/tests/test_sync_azure_iothub.py
  backend/services/iot-manager/tests/tests/test_webhooks.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(useradm): adjusted tests to no longer rely on bravado
  backend/services/useradm/Makefile
  backend/services/useradm/tests/.openapi-generator-ignore
  backend/services/useradm/tests/.openapi-generator.yml
  backend/services/useradm/tests/common.py
  backend/services/useradm/tests/conftest.py
  backend/services/useradm/tests/docker-compose.acceptance.yml
  backend/services/useradm/tests/tests/client.py
  backend/services/useradm/tests/tests/test_api_internal.py
  backend/services/useradm/tests/tests/test_api_management.py
  backend/services/useradm/tests/tests/test_api_personal_access_tokens.py
  backend/services/useradm/tests/tests/test_auth.py
  backend/services/useradm/tests/tests/test_cli.py
  backend/services/useradm/tests/tests/test_tokens_delete.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): adjusted tests to no longer rely on bravado
  backend/services/inventory/Makefile
  backend/services/inventory/tests/.openapi-generator.yml
  backend/services/inventory/tests/common.py
  backend/services/inventory/tests/conftest.py
  backend/services/inventory/tests/docker-compose.acceptance.yml
  backend/services/inventory/tests/tests/client.py
  backend/services/inventory/tests/tests/test_api_internal.py
  backend/services/inventory/tests/tests/test_grouping_devices.py
  backend/services/inventory/tests/tests/test_inventory_searching.py
  backend/services/inventory/tests/tests/test_inventory_sorting.py
  backend/services/inventory/tests/tests/test_mgmt_tag_attributes.py
  backend/services/inventory/tests/tests/test_mgmt_v2_filters_attributes.py
  backend/services/inventory/tests/tests/test_remove_device_groupping.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconfig): adjusted tests to rely on oa3 specs
  backend/services/deviceconfig/Makefile
  backend/services/deviceconfig/tests/common.py
  backend/services/deviceconfig/tests/conftest.py
  backend/services/deviceconfig/tests/tests/test_device_config.py
  backend/services/deviceconfig/tests/tests/test_internal.py
  backend/services/deviceconfig/tests/tests/test_management_config.py
  backend/services/deviceconfig/tests/tests/test_management_config_auditlogs.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed an issue that prevented updating existing sso configs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/settings/organization/Organization.tsx
Due: none

chore(gui): increased reliance on backend defined types for delta gen interactions
  frontend/src/js/components/releases/DeltaGenerationDetailsDrawer.tsx
Due: none

chore(gui): made it easier for type checker to catch delta gen status name misalignment
  frontend/src/js/components/releases/DeltaGenerationDetailsDrawer.tsx
Due: none

chore(gui): aligned snapshots after mui updates
  frontend/src/js/common-ui/forms/__snapshots__/TimeFramePicker.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
Due: none

chore(gui): reverted nt eslint config to compatible version
  frontend/package-lock.json
  frontend/package.json
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
