Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore: Remove ant0ine/go-json-rest dependency from accesslog middleware pkg
  backend/pkg/accesslog/middleware.go
  backend/pkg/accesslog/middleware_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove unused ant0ine/go-json-rest based context middleware
  backend/pkg/context/middleware.go
  backend/pkg/context/middleware_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove unused ant0ine/go-json-rest based customheader middleware
  backend/pkg/customheader/middleware.go
  backend/pkg/customheader/middleware_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove ant0ine/go-json-rest dependency from identity middleware pkg
  backend/pkg/identity/middleware.go
  backend/pkg/identity/middleware_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove ant0ine/go-json-rest dependency from requestid middleware pkg
  backend/pkg/requestid/middleware.go
  backend/pkg/requestid/middleware_test.go
  backend/pkg/requestid/utils.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove ant0ine/go-json-rest dependency from rbac middelware pkg
  backend/pkg/rbac/middleware.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove unsed ant0ine/go-json-rest based requestlog middleware
  backend/pkg/requestlog/middleware.go
  backend/pkg/requestlog/middleware_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor: Remove rest_utils pkg and migrate existing utils to rest.utils
  backend/pkg/rest.utils/error.go
  backend/pkg/rest.utils/paging.go
  backend/pkg/rest_utils/api_error.go
  backend/pkg/rest_utils/api_error_test.go
  backend/pkg/rest_utils/paging.go
  backend/pkg/rest_utils/paging_test.go
  backend/pkg/rest_utils/response_helpers.go
  backend/pkg/rest_utils/response_helpers_test.go
  backend/pkg/testing/response.go
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/api/http/api_deployments_test.go
  backend/services/deployments/client/inventory/client.go
  backend/services/deployments/client/inventory/client_test.go
  backend/services/deployments/client/reporting/client.go
  backend/services/deployments/client/reporting/client_test.go
  backend/services/deployments/client/workflows/client.go
  backend/services/deployments/client/workflows/client_test.go
  backend/services/deviceauth/api/http/api_devauth_test.go
  backend/services/deviceauth/client/inventory/client.go
  backend/services/deviceauth/client/inventory/client_test.go
  backend/services/deviceauth/client/orchestrator/client_orchestrator.go
  backend/services/deviceauth/client/orchestrator/client_orchestrator_test.go
  backend/services/deviceauth/client/tenant/client_tenantadm.go
  backend/services/deviceauth/client/tenant/client_tenantadm_test.go
  backend/services/deviceconfig/client/workflows/client_test.go
  backend/services/deviceconnect/client/workflows/client_test.go
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/inventory/client/workflows/client.go
  backend/services/inventory/client/workflows/client_test.go
  backend/services/useradm/api/http/api_useradm_test.go
  backend/services/useradm/client/tenant/client_tenantadm.go
  backend/services/useradm/client/tenant/client_tenantadm_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove github.com/ant0ine/go-json-rest package from the backend
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Change gin mode to release mode in deployments
  backend/services/deployments/api/http/routing.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(pkg): Create event aware Limiter and refactor redis limiter
  backend/pkg/rate/limit.go
  backend/pkg/redis/ratelimit.go
  backend/pkg/redis/ratelimit_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(pkg): Unit tests for config.UnmarshalSliceSetting
  backend/pkg/config/unmarshal_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): Generic function to unmarshal config slice of objects
  backend/go.mod
  backend/pkg/config/unmarshal.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(pkg): Create a HTTPLimiter using HTTP router to rate limit groups
  backend/pkg/rate/limit_http.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): Add rest utility to clone a forwarded request
  backend/pkg/rest.utils/request.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(pkg): Unit test for rest.RewriteForwardedRequest
  backend/pkg/rest.utils/request_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): Create reusable config package for configuring rate limits
  backend/pkg/config/ratelimits/config.go
  backend/pkg/config/ratelimits/ratelimits.go
  backend/pkg/config/unmarshal.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(pkg): Unit tests for rate.HTTPLimiter
  backend/pkg/rate/limit_http_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(pkg): Serialize test execution of packages for pkg/...
  backend/pkg/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): Created interface and implementation of distributed locks
  backend/pkg/mongo/lock.go
  backend/pkg/mongo/lock_test.go
  backend/pkg/sync/lock.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: improve DX in the CI logs
  .gitlab-ci.yml
  frontend/pipeline.yml
  frontend/tests/e2e_tests/run
Due: none

docs(deployments): Create API spec for v2 GET `artifacts` endpoint
  backend/docs/api/management_v2_deployments.yaml
  backend/services/deployments/docs/management_api_v2.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: quiet docker compose pull progress log
  frontend/tests/e2e_tests/run
Due: none

test: backend unit tests with parallel 1 for stability of pipelines
  .gitlab-ci.yml
Due: none

feat(deployments): Implement new v2 GET `/artifacts` endpoint
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/api/http/images_test.go
  backend/services/deployments/api/http/routing.go
  backend/services/deployments/app/app.go
  backend/services/deployments/app/images_test.go
  backend/services/deployments/app/mocks/App.go
  backend/services/deployments/model/image.go
  backend/services/deployments/store/datastore.go
  backend/services/deployments/store/mocks/DataStore.go
  backend/services/deployments/store/mongo/datastore_mongo.go
  backend/services/deployments/store/mongo/images_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceauth): Initialize cache from redis.Client
  backend/services/deviceauth/cache/cache.go
  backend/services/deviceauth/cache/cache_test.go
  backend/services/deviceauth/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceauth): Add rate limiting configuration for authenticated requests
  backend/services/deviceauth/api/http/api_devauth.go
  backend/services/deviceauth/api/http/routing.go
  backend/services/deviceauth/config.yaml
  backend/services/deviceauth/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deviceauth): Skip cacheThrottleVerify if multi-tenancy is disabled
  backend/services/deviceauth/devauth/devauth.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deviceauth): Add missing config env key replacer
  backend/services/deviceauth/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(useradm): Backport redis settings to useradm open source
  backend/services/useradm/config.yaml
  backend/services/useradm/config/config.go
  backend/services/useradm/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(useradm): Add rate limiting configuration for authenticated requests
  backend/services/useradm/api/http/api_useradm.go
  backend/services/useradm/config.yaml
  backend/services/useradm/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(useradm): Add config env key replacer: `s/[.-]/_/g`
  backend/services/useradm/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(useradm): Create utility function to load JWT PKI
  backend/services/useradm/server.go
  backend/services/useradm/server_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(main): release 4.1.0-saas.6
  .release-please-manifest.json
Due: none

chore(gui): describe the offline check better.
  frontend/src/js/components/settings/Global.tsx
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
Due: none

chore: Implement generic router creator function
  backend/pkg/routing/routing.go
  backend/pkg/routing/routing_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix: Make all routes response with JSON when route or method missing
  backend/services/deployments/api/http/routing.go
  backend/services/deviceauth/api/http/routing.go
  backend/services/deviceconfig/api/http/router.go
  backend/services/deviceconnect/api/http/router.go
  backend/services/inventory/api/http/routing.go
  backend/services/iot-manager/api/http/router.go
  backend/services/reporting/api/http/router.go
  backend/services/reporting/app/server/server.go
  backend/services/useradm/api/http/router.go
  backend/services/workflows/api/http/router.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove unused code
  backend/services/workflows/api/http/logger.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: switch runners to k8s
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: none

ci: fix staging e2e docker
  .gitlab-ci.yml
Due: none
