Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore(gui): aligned timeout typing to non-node dependent type
  frontend/src/js/common-ui/CopyText.tsx
  frontend/src/js/common-ui/InputErrorNotification.tsx
Due: none

chore(gui): aligned artifact file name regex w/ Mender Artifact
  frontend/src/js/components/releases/dialogs/AddArtifact.tsx
Due: none

feat(gui): added feedback on file size limits to artifact upload dialog
  frontend/src/js/common-ui/InputErrorNotification.test.tsx
  frontend/src/js/common-ui/InputErrorNotification.tsx
  frontend/src/js/components/releases/dialogs/AddArtifact.tsx
  frontend/src/js/components/releases/dialogs/__snapshots__/AddArtifact.test.tsx.snap
Due: none

chore(main): release 4.0.0-rc.7
  .release-please-manifest.json
  CHANGELOG.md
Due: none

test(integration): Use built-in PYTEST_ADDOPTS in run script
  backend/tests/integration/run
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(integration): Restore conftest.py to test modules
  backend/tests/integration/test_compat/conftest.py
  backend/tests/integration/tests/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: Fix typo in snippet for creating tenant
  README.md
Due: none

fix: Deployment device count should not exceed max devices
  backend/services/deployments/app/app.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Remove `mock-workflows` from deployments acceptance tests
  backend/services/deployments/tests/conftest.py
  backend/services/deployments/tests/docker-compose.acceptance.yml
  backend/services/deployments/tests/docker-compose.yml
  backend/services/deployments/tests/mock-workflows/app.py
  backend/services/deployments/tests/mock-workflows/docker-entrypoint.sh
  backend/services/deployments/tests/mock-workflows/requirements.txt
  backend/services/deployments/tests/tests/conftest.py
  backend/services/deployments/tests/tests/test_settings_api_internal.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: Add missing dependabot directories
  .github/dependabot.yml
Due: none

chore: Bump golang container image to 1.23.5
  .gitlab-ci.yml
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/reporting/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned snapshots with updated react-router version
  frontend/src/js/common-ui/__snapshots__/EnterpriseNotification.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/AuditLogsList.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceConfiguration.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceDetails.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/FileTransfer.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/PortForward.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Dashboard.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Devices.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/PendingDevices.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/Overview.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/AuthorizedDevices.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/BaseDevices.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceTwin.test.tsx.snap
  frontend/src/js/components/header/__snapshots__/DeploymentNotifications.test.tsx.snap
  frontend/src/js/components/header/__snapshots__/DeviceNotifications.test.tsx.snap
  frontend/src/js/components/header/__snapshots__/TrialNotification.test.tsx.snap
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Login.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Password.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/PasswordReset.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Signup.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/Organization.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantsForm.test.tsx.snap
Due: none

fix: Deviceauth healthcheck panics malformed inventory address
  backend/services/deviceauth/client/inventory/client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Regenerate outdated snapshots for frontend unit tests
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/OrganizationPaymentSettings.test.tsx.snap
Due: none

ci: move to saas prerelease type
  release-please-config.json
Due: none

docs: Remove unnecessary step override for Mender Server Enterprise
  README.md
Due: none

ci: use different changelog files
  .gitlab-ci.yml
  .gitlab/generate_changelog.sh
Due: none

fix: Use internal URLs for storage backend when generating artifacts
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/app/images_test.go
  backend/services/deployments/storage/azblob/azblob.go
  backend/services/deployments/storage/azblob/azblob_test.go
  backend/services/deployments/storage/manager/client.go
  backend/services/deployments/storage/mocks/ObjectStorage.go
  backend/services/deployments/storage/objectstore.go
  backend/services/deployments/storage/s3/s3.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): made webhook inventory events easier to read
  frontend/src/js/components/settings/webhooks/Management.tsx
Due: none

fix(gui): aligned webhook details behaviour w/ rest of UI
  frontend/src/js/components/settings/webhooks/Management.tsx
Due: none

chore: Make workflows for propagating inventory data ephemeral
  backend/services/workflows/worker/workflows/update_device_inventory.json
  backend/services/workflows/worker/workflows/update_device_status.json
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci(gui): extended webkit tracing chances
  .gitlab-ci.yml
  frontend/tests/e2e_tests/integration/02-layoutAssertions.spec.ts
  frontend/tests/e2e_tests/playwright.config.ts
Due: none

ci(gui): extended roles timeout slightly to increase chances of reliable passes in CI
  frontend/src/js/components/settings/role-management/Roles.test.tsx
Due: none

ci(gui): adopted recommended selectors to try to tackle webkit staging tests stability
  frontend/tests/e2e_tests/integration/02-layoutAssertions.spec.ts
  frontend/tests/e2e_tests/integration/03-files.spec.ts
  frontend/tests/e2e_tests/integration/05-deviceDetails.spec.ts
  frontend/tests/e2e_tests/integration/06-auditlogs.spec.ts
  frontend/tests/e2e_tests/integration/09-tenant.spec.ts
Due: none

docs(README.md): update create-org command to create tenant with all addons and device limit
  README.md
Due: none

chore: Cleanup unused `.github` directories from old repositories
  backend/services/create-artifact-worker/.github/dependabot.yml
  backend/services/deployments/.github/dependabot.yml
  backend/services/deployments/.github/stale.yml
  backend/services/deviceauth/.github/dependabot.yml
  backend/services/deviceconfig/.github/dependabot.yml
  backend/services/deviceconfig/.github/stale.yml
  backend/services/deviceconnect/.github/dependabot.yml
  backend/services/deviceconnect/.github/stale.yml
  backend/services/inventory/.github/dependabot.yml
  backend/services/inventory/.github/stale.yml
  backend/services/iot-manager/.github/dependabot.yml
  backend/services/iot-manager/.github/stale.yml
  backend/services/reporting/.github/dependabot.yml
  backend/services/reporting/.github/stale.yml
  backend/services/reporting/.github/workflows/combine-prs.yml
  backend/services/useradm/.github/dependabot.yml
  backend/services/useradm/.github/stale.yml
  backend/services/workflows/.github/dependabot.yml
  frontend/.github/workflows/codeql-analysis.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: Remove deployments "mock-workflows" from dependabot
  .github/dependabot.yml
Due: none

fix(gui): layout adjustments to re-align UI after switch to outlined inputs
  frontend/src/js/common-ui/ChipSelect.tsx
  frontend/src/js/common-ui/Search.tsx
  frontend/src/js/common-ui/forms/AddonSelect.tsx
  frontend/src/js/common-ui/forms/Filters.tsx
  frontend/src/js/common-ui/forms/KeyValueEditor.tsx
  frontend/src/js/common-ui/forms/PasswordInput.tsx
  frontend/src/js/common-ui/forms/TextInput.tsx
  frontend/src/js/components/dashboard/widgets/ChartAddition.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/devices/widgets/AttributeAutocomplete.tsx
  frontend/src/js/components/devices/widgets/FilterItem.tsx
  frontend/src/js/components/header/Header.tsx
  frontend/src/js/components/login/Login.tsx
  frontend/src/js/components/login/signup-steps/OrgdataEntry.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/Releases.tsx
  frontend/src/js/components/releases/dialogs/ArtifactInformationForm.tsx
  frontend/src/js/components/settings/AccessTokenManagement.tsx
  frontend/src/js/components/settings/ArtifactGeneration.tsx
  frontend/src/js/components/settings/Global.tsx
  frontend/src/js/components/settings/Integrations.tsx
  frontend/src/js/components/settings/role-management/PermissionsItems.tsx
  frontend/src/js/components/settings/role-management/PermissionsSelect.tsx
  frontend/src/js/components/settings/role-management/RoleDefinition.tsx
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/UserForm.tsx
  frontend/src/js/components/settings/user-management/twofactorauth-steps/AuthSetup.tsx
  frontend/src/js/components/settings/webhooks/Configuration.tsx
  frontend/src/js/components/tenants/TenantCreateForm.tsx
  frontend/src/js/themes/Mender/common.ts
  frontend/src/less/main.less
Due: none

chore(gui): migrated away from deprecated mui props + usetheme hook
  frontend/src/js/common-ui/AsyncAutocomplete.tsx
  frontend/src/js/common-ui/ChipSelect.tsx
  frontend/src/js/common-ui/forms/KeyValueEditor.tsx
  frontend/src/js/components/auditlogs/EventDetailsDrawer.tsx
  frontend/src/js/components/auditlogs/eventdetails/DeviceConfiguration.tsx
  frontend/src/js/components/auditlogs/eventdetails/FileTransfer.tsx
  frontend/src/js/components/auditlogs/eventdetails/PortForward.tsx
  frontend/src/js/components/auditlogs/eventdetails/TerminalSession.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/devices/device-details/DeviceTags.tsx
  frontend/src/js/components/devices/device-details/Monitoring.tsx
  frontend/src/js/components/settings/ArtifactGeneration.tsx
  frontend/src/js/components/settings/Global.tsx
  frontend/src/js/components/settings/role-management/RoleDefinition.tsx
Due: none

feat(gui): aligned text input appearance with MUI updated guidelines
  frontend/src/js/common-ui/DeviceNameInput.tsx
  frontend/src/js/common-ui/forms/FileUpload.tsx
  frontend/src/js/common-ui/forms/KeyValueEditor.tsx
  frontend/src/js/common-ui/forms/PasswordInput.tsx
  frontend/src/js/common-ui/forms/TextInput.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/releases/dialogs/ArtifactInformationForm.tsx
  frontend/src/js/components/settings/dialogs/CancelRequest.tsx
  frontend/src/js/components/settings/role-management/PermissionsItems.tsx
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/themes/Mender/common.ts
Due: none

fix(gui): prevented some warnings from rfh bleeding into the dom
  frontend/src/js/common-ui/forms/CountrySelect.tsx
Due: none

chore(gui): made some more use of backend generated types
  frontend/src/js/store/organizationSlice/types.ts
Due: none

feat(gui): aligned updated billing section with bordered text input as well
  frontend/src/js/components/settings/CardSection.tsx
  frontend/src/js/components/settings/PlanExpanded.tsx
  frontend/src/js/components/settings/PlanExpandedForm.tsx
  frontend/src/js/components/settings/organization/OrganizationPaymentSettings.tsx
  frontend/src/js/components/settings/organization/__snapshots__/OrganizationPaymentSettings.test.tsx.snap
  frontend/src/less/main.less
Due: none

test(gui): adjusted tests to work with changed labels for outlined text inputs
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/login/Signup.test.tsx
  frontend/src/js/components/settings/user-management/UserManagement.test.tsx
Due: none

chore(gui): review layout adjustments
  frontend/src/js/components/devices/__snapshots__/AuthorizedDevices.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/widgets/DeviceStateSelection.tsx
  frontend/src/js/components/settings/Integrations.tsx
  frontend/src/js/components/settings/__snapshots__/Integrations.test.tsx.snap
  frontend/src/js/components/settings/role-management/PermissionsItems.tsx
  frontend/src/js/components/settings/role-management/__snapshots__/RoleDefinition.test.tsx.snap
Due: none

fix(gui): prevented sso config retrieval on plans that don't support this
  frontend/src/js/components/settings/organization/Organization.tsx
Due: none

chore(gui): made some read only data displays appear editable as per review request
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
Due: none
