Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

build:backend:docker-acceptance:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

test:backend:static:
  stage: test
  needs: []
  tags:
  - hetzner-amd-beefy
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:6.0
    alias: mongo
  variables:
    TEST_MONGO_URL: mongodb://mongo
  ...

test:backend:acceptance:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

test:backend:integration:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  variables:
    COVERALLS_TOKEN: $COVERALLS_REPO_TOKEN
  ...

publish:backend:licenses:
  stage: publish
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:${GOLANG_VERSION}
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  - ln -s ../LICENSE ./
  ...

chore: Update go toolchain to go1.24.0
  .gitlab-ci.yml
  backend/go.mod
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: Migrate deployments specs to OpenAPI 3.0
  backend/docs/api/devices_v1_deployments.yaml
  backend/docs/api/internal_v1_deployments.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/services/deployments/docs/devices_api.yml
  backend/services/deployments/docs/internal_api.yml
  backend/services/deployments/docs/management_api.yml
  backend/services/deployments/docs/management_api_v2.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix: Race when provisioning and connecting a device
  backend/services/deviceconnect/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: Correct spelling errors and incorrect descriptions
  backend/docs/api/internal_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(main): release 4.1.0-saas.3
  .release-please-manifest.json
Due: none

fix: Stop deviceconnect's `/connect` endpoints from sending ping
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/device_test.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/management_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fixed license generation for frontend licenses
  frontend/rspack.config.js
  frontend/scripts/deno.json
  frontend/scripts/formatLicenses.ts
Due: none

ci: added safeguard to license generation
  frontend/pipeline.yml
  frontend/tests/licenses/licenseCheck.ts
Due: none

fix(gui): fixed dependency structure after vitest addition to restore licenses generation
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): restored non-arm build process
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/licenses/directDependencies.csv
Due: none

chore: debug
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: debug
  frontend/tests/licenses/directDependencies.csv
Due: none

chore: debug
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/licenses/directDependencies.csv
  frontend/tsconfig.json
  frontend/vitest.config.ts
Due: none

chore(gui): post vitest switch cleanup
  frontend/package.json
  frontend/vitest.config.ts
Due: none

chore(gui): post rspack cleanup
  frontend/package.json
  frontend/tests/licenses/directDependencies.csv
Due: none

fix(gui): restored rspack to license generator compatible version
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): reverted rspack to working version
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): removed license text replenishing workaround
  frontend/scripts/formatLicenses.ts
Due: none

chore(gui): adjusted compilation resolution to modern variant
  frontend/tsconfig.json
Due: none

chore(gui): adjusted typescript + corresponding linting to working versions
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/licenses/directDependencies.csv
Due: none

chore: Add auditlogs addr to tenantadm (enterprise) composition
  compose/docker-compose.enterprise.yml
Due: none

ci: Adjust test:frontend:licenses rule after job dependency
  frontend/pipeline.yml
Due: none

ci: Adjust frontend rules to only run on relevant changes
  frontend/pipeline.yml
Due: none

fix(gui): fixed default roles being shown before loading ones from backend
  frontend/src/js/components/settings/role-management/RoleManagement.tsx
  frontend/src/js/store/usersSlice/index.ts
  frontend/src/js/store/usersSlice/selectors.ts
  frontend/tests/mockData.js
Due: none

ci: Bump golangci-lint to v1.64.6
  .gitlab-ci.yml
Due: none

chore: Remove toolchain constraint to prevent static check conflicts
  backend/go.mod
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: trigger backend unit tests on backend dependency changes
  .gitlab-ci.yml
Due: none

ci: trigger backend static checks on backend dependency changes
  .gitlab-ci.yml
Due: none

fix(gui): fixed an issue that would prevent new signups from using the onboarding
  frontend/src/js/store/storehooks.ts
Due: none

chore(pkg): Fixed window rate limiting implementation using Redis
  backend/pkg/redis/ratelimit.go
  backend/pkg/redis/ratelimit_test.go
  backend/pkg/redis/redis.go
  backend/pkg/redis/redis_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): Interface for rate limiting and trivial implementation
  backend/go.mod
  backend/pkg/rate/limit.go
  backend/pkg/rate/limit_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceauth): Rate limit authenticated devices API
  backend/services/deviceauth/cache/cache.go
  backend/services/deviceauth/config.yaml
  backend/services/deviceauth/config/config.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_ratelimits.go
  backend/services/deviceauth/main.go
  backend/services/deviceauth/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat: Add caching for device limits
  backend/services/deviceauth/cache/cache.go
  backend/services/deviceauth/cache/mocks/Cache.go
  backend/services/deviceauth/devauth/devauth.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Unit tests for rate limit parameters and applying rate limits
  backend/services/deviceauth/devauth/devauth_ratelimits_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Unit tests for configuring rate limits
  backend/services/deviceauth/server_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Fix deviceauth.cache tests after changing client initialization
  backend/services/deviceauth/cache/cache_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: limited api spec validation to related file changes
  .gitlab-ci.yml
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
