Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore(deps): update dependency react-router to v8.3.0 [security]
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency @babel/plugin-transform-runtime to v8
  frontend/package.json
Due: none

chore(4.1.x): release 4.1.3
  .release-please-manifest.json
  CHANGELOG.md
Due: none

test(inventory): use shared onboarding helpers in the v2 suite
  backend/tests/runner/tests/opensource/inventory_management_v2_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(useradm): assert login token claims
  backend/tests/runner/tests/opensource/useradm_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): use shared artifact and retry helpers in the v1alpha1 suite
  backend/tests/runner/tests/opensource/deployments_management_v1alpha1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): adjust terminal replay after migration
  frontend/src/js/components/auditlogs/eventdetails/TerminalPlayer.tsx
  frontend/tests/e2e_tests/integration/03-advanced/04-auditlogs.spec.ts
Due: none

chore(deps): update dependency postcss to v8.5.18 [security]
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: resolve storage-proxy hostnames to local traefik in tests
  backend/tests/runner/tests/common/docker_compose_environment.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): adjust terminal replay after migration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/devices/DeviceGroups.test.tsx
  frontend/src/js/components/devices/widgets/AttributeAutocomplete.test.tsx
  frontend/src/js/components/devices/widgets/AttributeAutocomplete.tsx
Due: none

test(gui): adjusted tests to cover os and ent
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/settings/user-management/SelfUserManagement.test.tsx
Due: none

feat(gui): implemented a new email change flow
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
Due: none

test(gui): adjusted e2e test for new flow
  frontend/tests/e2e_tests/integration/02-baseline/02-settings.spec.ts
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
Due: none

fix(gui): ensure correct global retry count is displayed in deployment options
  frontend/src/js/components/deployments/CreateDeployment.tsx
Due: none

test(e2e): await device filter panel expansion before interacting with them
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

chore(deps): update npm-dev-dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(gui): let auditlog filters stay in line if there's something telling them to stretch vertically
  frontend/src/js/components/auditlogs/AuditLogsFilter.tsx
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
Due: none

fix(gui): let deployment creation reflect inability to generate delta deployments for trial users
  frontend/src/js/components/deployments/CreateDeployment.tsx
Due: none

chore: Fixed typo in docker-compose.enterprise.yml
  compose/docker-compose.enterprise.yml
Due: none

chore(gui): revert ts to compatible version & prevent updates until the ts api arrives
  frontend/package-lock.json
  frontend/package.json
  renovate.json5
Due: none

feat(deviceauth): internal API for marking device as provisioned
  backend/docs/api/deviceauth/internal_v1.yaml
  backend/services/deviceauth/api/http/api_devauth.go
  backend/services/deviceauth/api/http/routing.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/model/device.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(workflows): extend device provisioning workflow to mark device provisioned
  backend/services/workflows/worker/workflows/provision_device.json
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: regenerate clients from OAS
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api_device_authentication_internal_api.go
  backend/pkg/api/client/mocks/mocks.go
  backend/pkg/api/client/model_udpate_device_auth.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/device_authentication_internal_api_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/udpate_device_auth.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): improve device provisioning workflow handling
  backend/services/deviceauth/devauth/devauth.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(workflows): add 5 second delay on retries for provision device jobs
  backend/services/workflows/worker/workflows/provision_device.json
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): simplified LinedHeader component
  frontend/src/js/common-ui/LinedHeader.tsx
  frontend/src/js/components/deployments/Report.tsx
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.tsx
  frontend/src/js/components/login/Login.tsx
  frontend/src/js/components/login/signup-steps/OrgdataEntry.tsx
Due: none

chore(gui): remove some unused browserify dependencies
  frontend/directDependencies.csv
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack.config.js
Due: none

chore(deps): update npm-prod-dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

ci: configure codecov coverage thresholds
  codecov.yml
Due: none

test(deviceauth): unit tests for internal endpoint for provisioning
  backend/services/deviceauth/api/http/api_devauth_test.go
  backend/services/deviceauth/devauth/devauth_test.go
  backend/services/deviceauth/devauth/mocks/App.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): port device auth tests to integration:ng
  backend/tests/runner/tests/opensource/devauth_management_v2_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): port deployment lifecycle tests to integration:ng
  backend/tests/runner/tests/opensource/deployments_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): email verification is required for all multitenant installations
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

refactor(gui): allowed email editing only on os & keep it tied to verification on (non-)enterprise
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

fix(gui): require password and gate reset-link checkbox on os
  frontend/src/js/components/settings/user-management/UserForm.test.tsx
  frontend/src/js/components/settings/user-management/UserForm.tsx
  frontend/src/js/components/settings/user-management/UserManagement.test.tsx
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

chore(gui): aligned snapshot w/ adjusted os/ ent distinction
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
Due: none

chore(gui): removed unused section on user creation dialog
  frontend/src/js/components/settings/user-management/UserForm.tsx
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
