Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

build:backend:docker-acceptance:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

test:backend:static:
  stage: test
  needs: []
  tags:
  - hetzner-amd-beefy
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:6.0
    alias: mongo
  variables:
    TEST_MONGO_URL: mongodb://mongo
  ...

test:backend:acceptance:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

test:backend:integration:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  variables:
    COVERALLS_TOKEN: $COVERALLS_REPO_TOKEN
  ...

publish:backend:licenses:
  stage: publish
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:${GOLANG_VERSION}
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  - ln -s ../LICENSE ./
  ...

test(gui): ensured created browser sessions are properly closed
  frontend/tests/e2e_tests/integration/06-auditlogs.spec.ts
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
  frontend/tests/e2e_tests/integration/session.setup.ts
Due: none

test(gui): sorted & slightly regrouped rbac related tests
  frontend/tests/e2e_tests/integration/08-rbac.spec.ts
Due: none

test(gui): aligned user settings location with reality
  frontend/tests/e2e_tests/integration/09-tenant.spec.ts
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

test(gui): worked around default release availability difference in OS vs. ENT
  frontend/tests/e2e_tests/integration/03-files.spec.ts
Due: none

test: Do not clear migration_info collection on cleanup
  backend/tests/integration/testutils/infra/mongo.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(useradm): move API specification to single file
  backend/docs/api/useradm.openapi.yaml
  backend/docs/api/useradm_internal_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(workflows): Fix tests for decommission device workflow
  backend/services/workflows/tests/docker-compose.yml
  backend/services/workflows/tests/mmock/deviceauth_DELETE_devices.json
  backend/services/workflows/tests/mmock/deviceauth_DELETE_devices_with_tenant_id.json
  backend/services/workflows/tests/tests/test_decommission_device.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(workflows): Clean up compose file command override
  backend/services/workflows/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Update cleanup strategy for acceptance tests
  backend/services/deviceauth/tests/common.py
  backend/services/deviceconfig/tests/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): increased e2e convenience
  .gitlab-ci.yml
  frontend/pipeline.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/package-lock.json
  frontend/tests/e2e_tests/package.json
  frontend/tests/e2e_tests/run
  frontend/tests/e2e_tests/run.js
Due: none

chore: debug
  .gitlab-ci.yml
Due: none

chore(gui): removed demo mode remainders
  frontend/entrypoint.sh
  frontend/src/js/common-ui/dialogs/PhysicalDeviceOnboarding.test.tsx
  frontend/src/js/common-ui/dialogs/PhysicalDeviceOnboarding.tsx
  frontend/src/js/components/devices/dialogs/ConnectToGatewayDialog.tsx
  frontend/src/js/components/header/DemoNotification.test.tsx
  frontend/src/js/components/header/DemoNotification.tsx
  frontend/src/js/components/header/Header.tsx
  frontend/src/js/store/appSlice/index.ts
  frontend/src/js/store/storehooks.ts
Due: none

chore(gui): moved deb config utility back into Mender
  frontend/src/js/common-ui/dialogs/PhysicalDeviceOnboarding.tsx
  frontend/src/js/components/devices/dialogs/ConnectToGatewayDialog.tsx
  frontend/src/js/utils/helpers.test.ts
  frontend/src/js/utils/helpers.ts
Due: none

chore: update deno:debian img for licenseCheck CI job
  frontend/pipeline.yml
Due: none

test: allow checkGeneratedLicenses() to take rootDir param
  frontend/tests/licenses/licenseCheck.ts
Due: none

test: standardize frontend pipeline paths with FRONTEND_DIR var
  frontend/pipeline.yml
Due: none

chore: remove unused frontend/logs paths
  frontend/pipeline.yml
Due: none

fix: fix typo
  frontend/tests/e2e_tests/run
Due: none

chore: add license-checker-rseidelsohn to deno imports
  frontend/scripts/deno.json
  frontend/tests/licenses/licenseCheck.ts
Due: none

chore: remove redundant env vars for e2e tests run script
  frontend/pipeline.yml
Due: none

test: specify debian bookworm in acceptance tests container
  backend/tests/Dockerfile.acceptance
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): redirect to the old upgrade page as new subscription endpoint is disabled
  frontend/src/js/components/settings/Settings.tsx
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

chore(workflows): Add build context to acceptance-tester
  backend/services/workflows/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(workflows): Support both pull and push mode consumer
  backend/services/workflows/app/worker/worker.go
  backend/services/workflows/app/worker/worker_group.go
  backend/services/workflows/client/nats/client.go
  backend/services/workflows/client/nats/mocks/Client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(workflows): Add CLI flag to migrate consumers from push to pull mode
  backend/services/workflows/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Relax version regexp to allow alphanumeric (lowercase)
  compose/docker-compose.enterprise.yml
  docker-compose.yml
Due: none

ci: coveralls publish jobs allowed to fail
  frontend/pipeline.yml
Due: none

fix(inventory): added input validation of attribute scopes
  backend/services/inventory/model/filters.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): fixed tests to reflect attribute scope validation rules
  backend/services/inventory/model/filters_test.go
  backend/tests/integration/tests/test_inventory.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): added accepted scope values to inventory openapi specs
  backend/docs/api/inventory_internal_v2.yaml
  backend/docs/api/inventory_management_v2.yaml
  backend/services/inventory/docs/internal_api_v2.yml
  backend/services/inventory/docs/management_api_v2.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: aligned signup test steps w/ rolled back version
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

feat(gui): let only trial users use demo intervals for deb package installs
  frontend/src/js/common-ui/dialogs/PhysicalDeviceOnboarding.tsx
  frontend/src/js/common-ui/dialogs/__snapshots__/PhysicalDeviceOnboarding.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/ConnectToGatewayDialog.test.tsx.snap
  frontend/src/js/utils/helpers.test.ts
  frontend/src/js/utils/helpers.ts
Due: none

test(gui): aligned init hook result after helper adjustment
  frontend/src/js/store/storehooks.test.tsx
Due: none

fix(deployments): set number of pending devices when creating deployment
  backend/services/deployments/app/app.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: add missing environment variables to workflows compose service
  docker-compose.yml
Due: none

fix(deployments): preset number of pending devices in deployments statistics
  backend/services/deployments/app/app.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): fixed lint issues
  frontend/src/js/components/deployments/Deployments.tsx
  frontend/src/js/store/deploymentsSlice/reducer.test.ts
  frontend/src/js/store/deploymentsSlice/thunks.ts
  frontend/src/js/store/devicesSlice/reducer.test.ts
  frontend/src/js/store/devicesSlice/thunks.test.tsx
  frontend/src/js/store/devicesSlice/thunks.tsx
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
