Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

test: welcome the go based integration tests
  backend/tests/runner/tests/backend_integration_test.go
  backend/tests/runner/tests/useradm_management_v1_opensource_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: run script for the tests, based on existing script
  backend/tests/runner/scripts/run.sh
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: pipeline, new target, required changes to the docker env
  .gitignore
  .gitlab-ci.yml
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/tests/Dockerfile.integration
  backend/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: added Mender Gopher
  README.md
  backend/docs/assets/mender_gopher.svg
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: collect compose logs for failed tests
  backend/tests/integration/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: take a database snapshot if loglevel is debug or lower
  backend/tests/integration/conftest.py
  backend/tests/logs/.gitignore
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: consolidate integration tests artifacts directory
  .gitlab-ci.yml
  backend/tests/run-integration.bash
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: let PYTEST_ADDOPTS from host take precedence
  backend/tests/docker-compose.yml
  backend/tests/run-integration.bash
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: cleanup bravado leftovers
  .github/dependabot.yml
  backend/services/deviceauth/tests/common.py
  backend/services/deviceauth/tests/conftest.py
  backend/services/deviceauth/tests/docker-compose.acceptance.yml
  backend/services/deviceauth/tests/tests/client.py
  backend/services/deviceconnect/tests/Dockerfile
  backend/services/inventory/tests/tests/test_mgmt_v2_filters_attributes.py
  backend/tests/requirements-acceptance.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deployments): aligned deployment filtering w/ ux expectations
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/model/deployment.go
  backend/services/deployments/store/mongo/datastore_mongo.go
  backend/services/deployments/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: update node to 24.x (LTS) for job frontend:licenses
  frontend/pipeline.yml
Due: none

refactor(useradm): Properly enforce required useradm CLI flags
  backend/services/useradm/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): switched Buttons to ToggleButtonGroup in scheduled deployments
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/deployments/ScheduledDeployments.tsx
Due: none

test: let webhook triggering interaction complete before checking if webhook got triggered
  frontend/tests/e2e_tests/integration/03-advanced/02-webhooks.spec.ts
Due: none

fix(inventory): Reject group names longer than 256 characters
  backend/pkg/rules/patterns.go
  backend/pkg/rules/sizes.go
  backend/pkg/rules/validators.go
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/inventory/model/device.go
  backend/services/inventory/model/device_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deployments): Reject deployments names longer than 256 characters
  backend/pkg/rules/sizes.go
  backend/pkg/rules/validators.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/model/configuration_deployment.go
  backend/services/deployments/model/configuration_deployment_test.go
  backend/services/deployments/model/deployment.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): adjusted calendar styles to match new design
  frontend/src/js/components/deployments/ScheduledDeployments.tsx
  frontend/src/js/components/deployments/__snapshots__/ScheduledDeployments.test.tsx.snap
Due: none

feat(gui): defer render until products loaded
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

chore(gui): renamed microdevice help tooltip
  frontend/src/js/components/helptips/HelpTooltips.tsx
Due: none

chore(gui): adopted preview handling to new addon treatment
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

feat(gui): integrated dynamic tiers from backend API
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

feat(gui): added support for addons in tiers for summary
  frontend/src/js/components/subscription/SubscriptionSummary.tsx
  frontend/src/js/components/subscription/SubscriptionSummaryItem.test.tsx
  frontend/src/js/components/subscription/SubscriptionSummaryItem.tsx
Due: none

chore(gui): move device tiers initialization into component
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

chore(gui): subscription children adjustments after dynamic tiers
  frontend/src/js/components/subscription/SubscriptionAddon.tsx
  frontend/src/js/components/subscription/SubscriptionConfirmation.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

test(gui): adjusted tests and snapshots
  frontend/src/js/components/subscription/SubscriptionConfirmation.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
  frontend/src/js/components/subscription/SubscriptionSummary.test.tsx
  frontend/src/js/components/subscription/SubscriptionSummaryItem.test.tsx
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionSummary.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionSummaryItem.test.tsx.snap
Due: none

fix(gui): let subscription page handle products retrieval to prevent erroneous on-prem requests
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

chore(gui): reverted eslint to rspack compatible version
  frontend/package.json
Due: none

chore(gui): made use of non-global mender products retrieval
  frontend/package-lock.json
  frontend/package.json
Due: none

ci: align e2e test docker version w/ rest of the pipeline
  frontend/pipeline.yml
Due: none

chore(gui): made license checker deno 2 compatible & aligned it w/ other frontend ci scripts
  frontend/directDependencies.csv
  frontend/pipeline.yml
  frontend/scripts/deno.json
  frontend/scripts/dependencyLicenseCheck.ts
Due: none

test(gui): adjusted price for MCU device in e2e test
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

chore(gui): aligned filter appearance closer w/ updated design
  frontend/src/js/common-ui/forms/Filters.tsx
Due: none

chore(gui): ensured class passing in all time variants
  frontend/src/js/common-ui/Time.tsx
Due: none

chore(gui): added type information for time component variants
  frontend/src/js/common-ui/Time.tsx
Due: none

fix(gui): fixed typo in integration removal confirmation
  frontend/src/js/common-ui/Confirm.tsx
Due: none

chore(gui): aligned confirmation overlay w/ updated design
  frontend/src/js/common-ui/Confirm.tsx
Due: none

refactor(gui): unified deployment progress rendering
  frontend/src/js/components/deployments/ProgressChart.tsx
  frontend/src/js/components/deployments/deployment-report/PhaseProgress.tsx
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.tsx
  frontend/src/js/components/deployments/progress/DeploymentProgress.tsx
  frontend/src/js/components/deployments/progress/DeploymentStatusNotification.tsx
  frontend/src/js/components/deployments/progress/RolloutProgressBar.test.tsx
  frontend/src/js/components/deployments/progress/RolloutProgressBar.tsx
  frontend/src/js/components/deployments/progress/SubstateProgressBar.test.tsx
  frontend/src/js/components/deployments/progress/SubstateProgressBar.tsx
  frontend/src/js/components/deployments/progress/usePhaseProgress.ts
Due: none

chore(gui): aligned deployment status summary w/ updated design
  frontend/src/assets/img/error_status.png
  frontend/src/assets/img/progress_status.png
  frontend/src/assets/img/skipped_status.png
  frontend/src/assets/img/success_status.png
  frontend/src/js/components/deployments/DeploymentStatus.tsx
Due: none
