Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

feat(gui): added text only display mode & aligned autoselection default
  frontend/src/js/common-ui/forms/ChipSelect.tsx
Due: none

feat(gui): added rhf integrated async autocomplete
  frontend/src/js/common-ui/forms/AsyncAutocomplete.test.tsx
  frontend/src/js/common-ui/forms/AsyncAutocomplete.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/common-ui/forms/__snapshots__/Form.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Login.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/PasswordReset.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Signup.test.tsx.snap
  frontend/src/js/components/login/signup-steps/__snapshots__/UserdataEntry.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
Due: none

feat(inventory): support additional MongoDB operators
  backend/services/inventory/model/filters.go
  backend/services/inventory/model/filters_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): removed now deprecated asyncautocomplete
  frontend/src/js/common-ui/AsyncAutocomplete.tsx
Due: none

choer(gui): aligned snapshots
  frontend/src/js/common-ui/forms/__snapshots__/AsyncAutocomplete.test.tsx.snap
  frontend/src/js/common-ui/forms/__snapshots__/CheckboxAutocomplete.test.tsx.snap
Due: none

ci: pin spectral to non-broken release
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

docs(useradm): Add api spec for V2 /users/me endpoint
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/useradm/management_v2.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api_user_administration_v2_management_api.go
  backend/pkg/api/client/client.go
  backend/pkg/api/client/mocks/mocks.go
  backend/pkg/api/client/model_own_user_update_v2.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/__init__.py
  backend/tests/mender_client/api/user_administration_v2_management_api_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/own_user_update_v2.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): Support boolean attribute values in responses
  backend/docs/api/inventory/devices_v1.yaml
  backend/docs/api/inventory/internal_v1.yaml
  backend/docs/api/inventory/internal_v2.yaml
  backend/docs/api/inventory/management_v1.yaml
  backend/docs/api/inventory/management_v2.yaml
  backend/docs/api/inventory/schemas.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: regenerate OAS clients
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api_device_inventory_device_api.go
  backend/pkg/api/client/api_device_inventory_filters_and_search_internal_api.go
  backend/pkg/api/client/api_device_inventory_filters_and_search_management_api.go
  backend/pkg/api/client/api_device_inventory_internal_api.go
  backend/pkg/api/client/api_device_inventory_management_api.go
  backend/pkg/api/client/mocks/mocks.go
  backend/pkg/api/client/model_attribute_request.go
  backend/pkg/api/client/model_attribute_response.go
  backend/pkg/api/client/model_attribute_value_request.go
  backend/pkg/api/client/model_attribute_value_response.go
  backend/pkg/api/client/model_device_attribute_request.go
  backend/pkg/api/client/model_device_inventory_request.go
  backend/pkg/api/client/model_device_inventory_response.go
  backend/pkg/api/client/model_filter_predicate.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/device_inventory_device_api_api.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_internal_api_api.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_management_api_api.py
  backend/tests/mender_client/api/device_inventory_internal_api_api.py
  backend/tests/mender_client/api/device_inventory_management_api_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/attribute_request.py
  backend/tests/mender_client/models/attribute_response.py
  backend/tests/mender_client/models/attribute_value_request.py
  backend/tests/mender_client/models/attribute_value_response.py
  backend/tests/mender_client/models/device_attribute_request.py
  backend/tests/mender_client/models/device_inventory_request.py
  backend/tests/mender_client/models/device_inventory_response.py
  backend/tests/mender_client/models/filter_predicate.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(useradm): Implement V2 /users/me for own user updates
  backend/services/useradm/api/http/api_useradm.go
  backend/services/useradm/api/http/router.go
  backend/services/useradm/model/user.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(useradm): Add integration test for V2 /users/me
  backend/tests/runner/tests/opensource/useradm_management_v2_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: add backend contribution guide
  CONTRIBUTING.md
Due: none

refactor: Use requset and response attributes with OAS clients
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_test.go
  backend/services/deviceauth/cmd/commands.go
  backend/services/deviceauth/cmd/maintenance.go
  backend/services/inventory/tests/tests/client.py
  backend/tests/integration/test_inventory_internal.py
  backend/tests/runner/tests/opensource/inventory_management_v2_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(4.0.x): release 4.1.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

docs(inventory): update list of supported MongoDB operators
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/inventory/schemas.yaml
  backend/tests/mender_client/models/filter_predicate.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): expand access to advanced device filter operators for everyone & all plans
  frontend/src/js/components/devices/widgets/FilterItem.tsx
  frontend/src/js/components/devices/widgets/Filters.tsx
Due: none

docs(gui): add frontend contribution guide
  frontend/CONTRIBUTING.md
Due: none

chore(deps): update golang-dependencies
  backend/go.mod
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(useradm): Return only one status on bad user updates
  backend/services/useradm/api/http/api_useradm.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): made testutils tolerate jsx
  frontend/tests/testUtils.tsx
Due: none

chore(gui): adjusted Enterprise Notification to match design
  frontend/src/js/common-ui/EnterpriseNotification.tsx
Due: none

chore(gui): adjusted inventory table styles
  frontend/src/js/common-ui/InventoryTable.tsx
Due: none

chore(gui): added transparent background code variant
  frontend/src/js/common-ui/CopyCode.tsx
Due: none

chore: cluster auth fix
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test(gui): made use of form wrapper across compatible tests
  frontend/src/js/common-ui/forms/TimeFramePicker.test.tsx
  frontend/src/js/common-ui/forms/helpers.tsx
  frontend/src/js/components/login/signup-steps/OrgdataEntry.test.tsx
  frontend/src/js/components/login/signup-steps/UserdataEntry.test.tsx
  frontend/tests/testUtils.tsx
Due: none

test(gui): extended shared form render wrapper w/ form configuration capabilities
  frontend/tests/testUtils.tsx
Due: none

feat(gui): added multi-select with checkboxes component
  frontend/src/js/common-ui/forms/CheckboxAutocomplete.test.tsx
  frontend/src/js/common-ui/forms/CheckboxAutocomplete.tsx
  frontend/src/js/common-ui/forms/helpers.tsx
Due: none

feat(gui): prevented autoselection in autocomplete
  frontend/src/js/common-ui/forms/Autocomplete.tsx
Due: none

refactor(gui): moved chipselect to forms directory and updated consumer imports
  frontend/src/js/common-ui/forms/ChipSelect.test.tsx
  frontend/src/js/common-ui/forms/ChipSelect.tsx
  frontend/src/js/common-ui/forms/__snapshots__/ChipSelect.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/ReleasesFilters.tsx
  frontend/src/js/components/releases/dialogs/AddTags.tsx
  frontend/src/js/components/releases/dialogs/ArtifactInformationForm.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
  frontend/src/js/components/releases/manifests/ManifestsFilters.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/common-ui/forms/__snapshots__/AsyncAutocomplete.test.tsx.snap
  frontend/src/js/common-ui/forms/__snapshots__/CheckboxAutocomplete.test.tsx.snap
Due: none

refactor(gui): moved unused asyncautocomplete
  frontend/src/js/common-ui/forms/AsyncAutocomplete.tsx
Due: none

test(e2e): aligned tag deletion w/ adjusted aria-label
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

chore: regenerate OAS clients
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api_device_inventory_device_api.go
  backend/pkg/api/client/api_device_inventory_filters_and_search_internal_api.go
  backend/pkg/api/client/api_device_inventory_filters_and_search_management_api.go
  backend/pkg/api/client/api_device_inventory_internal_api.go
  backend/pkg/api/client/api_device_inventory_management_api.go
  backend/pkg/api/client/mocks/mocks.go
  backend/pkg/api/client/model_attribute_request.go
  backend/pkg/api/client/model_attribute_response.go
  backend/pkg/api/client/model_attribute_value_request.go
  backend/pkg/api/client/model_attribute_value_response.go
  backend/pkg/api/client/model_device_attribute_request.go
  backend/pkg/api/client/model_device_inventory_request.go
  backend/pkg/api/client/model_device_inventory_response.go
  backend/pkg/api/client/model_filter_predicate.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/device_inventory_device_api_api.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_internal_api_api.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_management_api_api.py
  backend/tests/mender_client/api/device_inventory_internal_api_api.py
  backend/tests/mender_client/api/device_inventory_management_api_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/attribute_request.py
  backend/tests/mender_client/models/attribute_response.py
  backend/tests/mender_client/models/attribute_value_request.py
  backend/tests/mender_client/models/attribute_value_response.py
  backend/tests/mender_client/models/device_attribute_request.py
  backend/tests/mender_client/models/device_inventory_request.py
  backend/tests/mender_client/models/device_inventory_response.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
