Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

test(gui): Extend `runCommand` to support running commands on shell
  frontend/tests/e2e_tests/run.js
Due: none

fixup! test(gui): Fix `runCommand` to actually ignore errors
  frontend/tests/e2e_tests/run.js
Due: none

tests(gui): Collect container logs before client ones
  frontend/tests/e2e_tests/run.js
Due: none

Revert "ci: Pin QEMU image for e2e tests to the previous working version"
  frontend/tests/e2e_tests/docker-compose.e2e-tests.rofs.yml
Due: none

feat(gui): added device tier limits to header
  frontend/src/js/components/header/DeviceNotifications.tsx
  frontend/src/js/components/header/Header.tsx
Due: none

test(gui): updated the device notification tests
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/header/DeviceNotifications.test.tsx
  frontend/src/js/components/header/__snapshots__/DeviceNotifications.test.tsx.snap
Due: none

feat(gui): added support for unlimited devices
  frontend/src/js/components/header/DeviceNotifications.tsx
Due: none

refactor(deviceauth): extend RejectAuthSetsForDevice to exclude AuthSets
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
  backend/services/deviceauth/store/datastore.go
  backend/services/deviceauth/store/mocks/DataStore.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Install bash in create-artifact-worker
  backend/services/create-artifact-worker/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): increased feedback form delay time
  frontend/src/js/components/header/Header.tsx
Due: none

fix(gui): trigger save and postponement when closing feedback dialog
  frontend/src/js/common-ui/dialogs/Feedback.tsx
Due: none

chore(4.1.x): release 4.1.0-rc.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

test(gui): increased specificity when checking for delta generation functionality looking for details
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
Due: none

test(gui): Fix `compose.logs` call to actually get the services logs
  frontend/tests/e2e_tests/run.js
Due: none

test(gui): Fix `runCommand` to actually ignore errors
  frontend/tests/e2e_tests/run.js
Due: none

test(gui): Fix `runCommand` call for collecting the deployments logs
  frontend/tests/e2e_tests/run.js
Due: none

test(gui): Combine stderr and stdout streams when running commands
  frontend/tests/e2e_tests/run.js
Due: none

ci: only publish images from main, release branches and tags
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

refactor(deviceconnect): consolidate websocket read error handling
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: use git tags to as source of truth for `latest` container tag
  .gitlab-ci.yml
  .gitlab/check_publish_latest.sh
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: Update seaweedfs/seaweedfs from 3.99 to 4.03
  compose/docker-compose.seaweedfs.yml
Due: none

chore: "unphony" the dist spec generation make target
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Add make target to generate Python Mender API client
  backend/Makefile
  backend/tests/.openapi-generator-ignore
  backend/tests/.openapi-generator.yaml
  backend/tests/.openapi-generator/FILES
  backend/tests/.openapi-generator/VERSION
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: replace dep. azure-iot-hub with azure-iot-hub-api for integration
  backend/tests/integration/tests/test_azure_iothub.py
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: modernize Dockerfile.integration and bump Python to 3.14-trixie
  backend/tests/Dockerfile.integration
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: cleanup unused scripts and config files
  backend/tests/integration/tests/pytest.ini
  backend/tests/integration/tests/run.sh
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(workflows): default value for input variables and gojsonq fix
  backend/services/workflows/app/processor/job.go
  backend/services/workflows/app/processor/string.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: configure generated client for test environment
  backend/tests/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(workflows): fix wrong path for health check API
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/workflows/internal_v1.yaml
  backend/tests/mender_client/api/workflows_other_api.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: add missing dependency pydantic to python requirements
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Added pyproject toml and reorganized conftest.py for integration
  backend/tests/conftest.py
  backend/tests/integration/conftest.py
  backend/tests/pyproject.toml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: migrate integration test_health to use generated clients
  backend/tests/integration/test_health.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: partially migrate test_access to use generated clients
  backend/tests/integration/test_access.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: adjust test for checking api spec to also generate test client
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: bump docker from 27.3 to 29.1 for CI jobs
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
