Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

docs: use common schemas and unique operationIds
  backend/docs/api/common/responses.yaml
  backend/docs/api/deviceauth_devices_api.yaml
  backend/docs/api/deviceauth_internal_api.yaml
  backend/docs/api/deviceauth_management_api.yaml
  backend/docs/api/deviceconfig_devices_api.yaml
  backend/docs/api/deviceconfig_internal_api.yaml
  backend/docs/api/deviceconfig_management_api.yaml
  backend/docs/api/deviceconnect_devices_api.yaml
  backend/docs/api/deviceconnect_internal_api.yaml
  backend/docs/api/deviceconnect_management_api.yaml
  backend/docs/api/inventory_devices_v1.yaml
  backend/docs/api/iot-manager_internal_api.yaml
  backend/docs/api/iot-manager_management_api.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: deduplicate schemas across newly moved service specs
  backend/docs/api/common/schemas.yaml
  backend/docs/api/deviceauth_internal_api.yaml
  backend/docs/api/deviceauth_management_api.yaml
  backend/docs/api/deviceconfig_internal_api.yaml
  backend/docs/api/deviceconnect_internal_api.yaml
  backend/docs/api/deviceconnect_management_api.yaml
  backend/docs/api/devices_v1_deployments.yaml
  backend/docs/api/internal_v1_deployments.yaml
  backend/docs/api/iot-manager_internal_api.yaml
  backend/docs/api/iot-manager_management_api.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: use shared device jwt definition across all device specs
  backend/docs/api/common/securitySchemes.yaml
  backend/docs/api/deviceauth_devices_api.yaml
  backend/docs/api/deviceconfig_devices_api.yaml
  backend/docs/api/deviceconnect_devices_api.yaml
  backend/docs/api/devices_v1_deployments.yaml
  backend/docs/api/inventory_devices_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: aligned bundled spec
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: moved spec files to per service locations
  backend/docs/api/deployments/devices_v1_deployments.yaml
  backend/docs/api/deployments/internal_v1_deployments.yaml
  backend/docs/api/deployments/management_v1_deployments.yaml
  backend/docs/api/deployments/management_v2_deployments.yaml
  backend/docs/api/deviceauth/deviceauth_devices_api.yaml
  backend/docs/api/deviceauth/deviceauth_internal_api.yaml
  backend/docs/api/deviceauth/deviceauth_management_api.yaml
  backend/docs/api/deviceconfig/deviceconfig_devices_api.yaml
  backend/docs/api/deviceconfig/deviceconfig_internal_api.yaml
  backend/docs/api/deviceconfig/deviceconfig_management_api.yaml
  backend/docs/api/deviceconnect/deviceconnect_devices_api.yaml
  backend/docs/api/deviceconnect/deviceconnect_internal_api.yaml
  backend/docs/api/deviceconnect/deviceconnect_management_api.yaml
  backend/docs/api/inventory/inventory_devices_v1.yaml
  backend/docs/api/inventory/inventory_internal_v1.yaml
  backend/docs/api/inventory/inventory_internal_v2.yaml
  backend/docs/api/inventory/inventory_management_v1.yaml
  backend/docs/api/inventory/inventory_management_v2.yaml
  backend/docs/api/iot-manager/iot-manager_internal_api.yaml
  backend/docs/api/iot-manager/iot-manager_management_api.yaml
  backend/docs/api/useradm/useradm.openapi.yaml
  backend/docs/api/workflows/workflows.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: aligned spec file names
  backend/docs/api/deployments/devices_v1.yaml
  backend/docs/api/deployments/internal_v1.yaml
  backend/docs/api/deployments/management_v1.yaml
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/deviceauth/devices_v1.yaml
  backend/docs/api/deviceauth/internal_v1.yaml
  backend/docs/api/deviceauth/management_v2.yaml
  backend/docs/api/deviceconfig/devices_v1.yaml
  backend/docs/api/deviceconfig/internal_v1.yaml
  backend/docs/api/deviceconfig/management_v1.yaml
  backend/docs/api/deviceconnect/devices_v1.yaml
  backend/docs/api/deviceconnect/internal_v1.yaml
  backend/docs/api/deviceconnect/management_v1.yaml
  backend/docs/api/inventory/devices_v1.yaml
  backend/docs/api/inventory/internal_v1.yaml
  backend/docs/api/inventory/internal_v2.yaml
  backend/docs/api/inventory/management_v1.yaml
  backend/docs/api/inventory/management_v2.yaml
  backend/docs/api/iot-manager/internal_v1.yaml
  backend/docs/api/iot-manager/management_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: adjusted spec ref paths after per service spec structure change
  backend/docs/api/deployments/devices_v1.yaml
  backend/docs/api/deployments/internal_v1.yaml
  backend/docs/api/deployments/management_v1.yaml
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/deviceauth/devices_v1.yaml
  backend/docs/api/deviceauth/internal_v1.yaml
  backend/docs/api/deviceauth/management_v2.yaml
  backend/docs/api/deviceconfig/devices_v1.yaml
  backend/docs/api/deviceconfig/internal_v1.yaml
  backend/docs/api/deviceconfig/management_v1.yaml
  backend/docs/api/deviceconnect/devices_v1.yaml
  backend/docs/api/deviceconnect/internal_v1.yaml
  backend/docs/api/deviceconnect/management_v1.yaml
  backend/docs/api/inventory/devices_v1.yaml
  backend/docs/api/inventory/internal_v1.yaml
  backend/docs/api/inventory/internal_v2.yaml
  backend/docs/api/inventory/management_v1.yaml
  backend/docs/api/inventory/management_v2.yaml
  backend/docs/api/iot-manager/internal_v1.yaml
  backend/docs/api/iot-manager/management_v1.yaml
  backend/docs/api/useradm/useradm.openapi.yaml
  backend/docs/api/workflows/workflows.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: aligned remaining services w/ file naming scheme + structure
  backend/docs/api/useradm/internal_v1.yaml
  backend/docs/api/useradm/management_v1.yaml
  backend/docs/api/workflows/internal_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: aligned spec tags after per service structure change
  backend/docs/api/deviceauth/internal_v1.yaml
  backend/docs/api/deviceauth/management_v2.yaml
  backend/docs/api/deviceconfig/internal_v1.yaml
  backend/docs/api/deviceconnect/internal_v1.yaml
  backend/docs/api/iot-manager/internal_v1.yaml
  backend/docs/api/iot-manager/management_v1.yaml
  backend/docs/api/useradm/internal_v1.yaml
  backend/docs/api/useradm/management_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: adjusted spec joining w/ new reality of per service specs + set tags
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: adjusted test setup to work w/ updated specs structure
  backend/services/deployments/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(iot-manager): replace deprecated cipher NewCFBDecrypter and NewCFBEncrypter with NewCTR
  backend/services/iot-manager/crypto/crypto.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned react version w/ testing package requirement
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): aligned store constant access to work w/ store package
  frontend/src/js/common-ui/InputErrorNotification.test.tsx
  frontend/src/js/common-ui/InputErrorNotification.tsx
  frontend/src/js/components/App.test.tsx
  frontend/src/js/components/dashboard/Dashboard.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/login/Signup.test.tsx
  frontend/src/js/components/releases/Releases.test.tsx
  frontend/src/js/components/settings/ArtifactGeneration.test.tsx
  frontend/src/js/components/settings/Upgrade.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/components/tenants/TenantList.tsx
Due: none

refactor(gui): aligned thunk spying w/ updated store package format
  frontend/src/js/components/auditlogs/eventdetails/PortForward.test.tsx
  frontend/src/js/components/auditlogs/eventdetails/TerminalSession.test.tsx
  frontend/src/js/components/dashboard/SoftwareDistribution.test.tsx
  frontend/src/js/components/devices/AuthorizedDevices.test.tsx
  frontend/src/js/components/devices/device-details/Deployments.test.tsx
  frontend/src/js/components/devices/dialogs/PreauthDialog.test.tsx
  frontend/src/js/components/login/Login.test.tsx
  frontend/src/js/components/login/Password.test.tsx
  frontend/src/js/components/login/PasswordReset.test.tsx
  frontend/src/js/components/login/Signup.test.tsx
  frontend/src/js/components/releases/Releases.test.tsx
  frontend/src/js/components/releases/dialogs/AddArtifact.test.tsx
  frontend/src/js/components/settings/AccessTokenManagement.test.tsx
  frontend/src/js/components/settings/ArtifactGeneration.test.tsx
  frontend/src/js/components/settings/Upgrade.test.tsx
  frontend/src/js/components/settings/organization/Billing.test.tsx
  frontend/src/js/components/settings/role-management/Roles.test.tsx
  frontend/src/js/components/settings/user-management/UserManagement.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
  frontend/src/js/components/tenants/ExpandedTenant.test.tsx
  frontend/src/js/components/tenants/TenantsForm.test.tsx
Due: none

test(gui): removed reliance on cookie setting check as it happens in store
  frontend/src/js/components/login/Signup.test.tsx
Due: none

test(gui): aligned PAT test naming w/ component
  frontend/src/js/components/settings/AccessTokenManagement.test.tsx
Due: none

chore(gui): improve non esm module imports to work w/ vitest
  frontend/src/js/common-ui/Time.tsx
  frontend/src/js/components/auditlogs/eventdetails/utils.tsx
  frontend/src/js/components/deployments/Deployments.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/settings/user-management/UserForm.tsx
Due: none

test(gui): post testing/store package adjustment
  frontend/src/js/components/App.test.tsx
  frontend/src/js/components/dashboard/widgets/ChartAddition.test.tsx
Due: none

chore(gui): aligned store mock setup w/ current ui state
  frontend/tests/testUtils.ts
Due: none

refactor(gui): let email check be done in thunk to align msw handler location
  frontend/src/js/components/tenants/TenantCreateForm.tsx
Due: none

fix(gui): fixed an issue that could prevent the billing overview from working
  frontend/src/js/components/settings/organization/Billing.tsx
Due: none

test(gui): made use of more explicit numeric comparison
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

chore(gui): enabled more granular text input interactions while using RHF
  frontend/src/js/common-ui/forms/TextInput.tsx
Due: none

refactor(gui): refactored subscription form to be a RHF form & reduce faulty billing calls
  frontend/src/js/common-ui/forms/AddonSelect.tsx
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/components/subscription/SubscriptionSummary.test.tsx
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
Due: none

refactor(gui): moved enterprise request form to RHF for compatibility
  frontend/src/js/components/settings/EnterpriseRequestExpanded.tsx
Due: none

fix(gui): fixed an issue that left notch in outlined w/o a background
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

chore(gui): simplified addon selection handling during subscription changes
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/components/subscription/SubscriptionSummary.tsx
Due: none

chore(gui): made device limit downgrade preventing check more explicit
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

chore(gui): made external link indicator reusable & reused it from there
  frontend/src/js/common-ui/DocsLink.tsx
  frontend/src/js/components/help/GettingStarted.tsx
Due: none

chore(gui): aligned signup data entry closer w/ updated design
  frontend/src/js/components/login/Signup.tsx
  frontend/src/js/components/login/signup-steps/OrgdataEntry.tsx
Due: none

chore(gui): aligned tests w/ updated signup design
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
  frontend/src/js/components/login/Signup.test.tsx
  frontend/src/js/components/login/signup-steps/__snapshots__/OrgdataEntry.test.tsx.snap
Due: none

chore(gui): removed old upgrade path leftovers
  frontend/src/js/components/settings/AddonSelection.test.tsx
  frontend/src/js/components/settings/AddonSelection.tsx
  frontend/src/js/components/settings/ConfirmUpgrade.tsx
  frontend/src/js/components/settings/EnterpriseRequestExpanded.tsx
  frontend/src/js/components/settings/PlanSelection.test.tsx
  frontend/src/js/components/settings/PlanSelection.tsx
  frontend/src/js/components/settings/Upgrade.test.tsx
  frontend/src/js/components/settings/Upgrade.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

chore(gui): aligned group creation explanation w/ updated design
  frontend/src/js/components/devices/group-management/CreateGroupExplainer.test.tsx
  frontend/src/js/components/devices/group-management/CreateGroupExplainer.tsx
  frontend/src/js/components/devices/group-management/CreateGroupExplainerContent.test.tsx
  frontend/src/js/components/devices/group-management/CreateGroupExplainerContent.tsx
Due: none

chore(gui): removed more reporting related remnants
  frontend/src/js/components/devices/DeviceGroups.tsx
Due: none

chore(gui): aligned device filters w/ updated design
  frontend/src/js/components/devices/widgets/FilterItem.tsx
  frontend/src/js/components/devices/widgets/Filters.tsx
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none
