Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

test(gui): prevented unauth'd tests from touching stored auth info
  frontend/tests/e2e_tests/integration/01-login.spec.ts
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

chore(gui): aligned multitenancy related tests in more appropriate file
  frontend/tests/e2e_tests/integration/09-tenant.spec.ts
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

chore(gui): properly skip 2fa tests on missing secret
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

test(gui): let all regularly authenticated tests fully rely on configured auth state
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/02-layoutAssertions.spec.ts
  frontend/tests/e2e_tests/integration/03-files.spec.ts
  frontend/tests/e2e_tests/integration/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/05-deviceDetails.spec.ts
  frontend/tests/e2e_tests/integration/06-auditlogs.spec.ts
  frontend/tests/e2e_tests/integration/07-saml.spec.ts
  frontend/tests/e2e_tests/integration/08-rbac.spec.ts
  frontend/tests/e2e_tests/integration/10-webhooks.spec.ts
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

test(gui): made SP tests rely on stored login state too
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/01-login.spec.ts
  frontend/tests/e2e_tests/integration/09-tenant.spec.ts
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
  frontend/tests/e2e_tests/integration/session.setup.ts
  frontend/tests/e2e_tests/utils/constants.ts
Due: none

test(gui): allowed skipping sp tenant tests independently of user info
  frontend/tests/e2e_tests/fixtures/fixtures.ts
Due: none

test(gui): overwrite existing auth info after plan sign up
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

chore(gui): made 2fa tests work with changed auth storage
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

ci: Increase timeout of frontend unit tests to 15 minutes
  frontend/pipeline.yml
Due: none

ci: Run frontend unit tests on protected branches
  frontend/pipeline.yml
Due: none

ci: Adjust rule for frontend tests to run for protected references
  frontend/pipeline.yml
Due: none

docs: Migrate API specs to OpenAPI v3.0.1
  backend/docs/api/devices_v1_inventory.yaml
  backend/docs/api/internal_v1_inventory.yaml
  backend/docs/api/internal_v2_inventory.yaml
  backend/docs/api/management_v1_inventory.yaml
  backend/docs/api/management_v2_inventory.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed an issue that would prevent showing unassigned static group devices
  frontend/src/js/store/devicesSlice/index.ts
Due: none

ci: retry on docker not running.
  .gitlab-ci.yml
Due: none

chore(main): release 4.1.0-saas.5
  .release-please-manifest.json
Due: none

ci: fix: correct the deps on .gitlab-ci.yml changes
  .gitlab-ci.yml
Due: none

ci: use dedicated runner for test:frontend:unit
  frontend/pipeline.yml
Due: none

ci: remove old check-commits tool
  .gitlab-ci.yml
Due: none

ci: retry on docker not running
  .gitlab-ci.yml
Due: none

test: Unit tests for rate limit parameters and applying rate limits
  backend/services/deviceauth/devauth/devauth_ratelimits_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat: Add caching for device limits
  backend/services/deviceauth/cache/cache.go
  backend/services/deviceauth/cache/mocks/Cache.go
  backend/services/deviceauth/devauth/devauth.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Fix deviceauth.cache tests after changing client initialization
  backend/services/deviceauth/cache/cache_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceauth): Rate limit authenticated devices API
  backend/services/deviceauth/cache/cache.go
  backend/services/deviceauth/config.yaml
  backend/services/deviceauth/config/config.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_ratelimits.go
  backend/services/deviceauth/main.go
  backend/services/deviceauth/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Unit tests for configuring rate limits
  backend/services/deviceauth/server_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): Fixed window rate limiting implementation using Redis
  backend/pkg/redis/ratelimit.go
  backend/pkg/redis/ratelimit_test.go
  backend/pkg/redis/redis.go
  backend/pkg/redis/redis_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): Interface for rate limiting and trivial implementation
  backend/go.mod
  backend/pkg/rate/limit.go
  backend/pkg/rate/limit_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(useradm): Migrate API specs to OpenAPI v3.0.1
  backend/docs/api/useradm_internal_v1.yaml
  backend/docs/api/useradm_management_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: debug
  frontend/pipeline.yml
Due: none

docs(inventory): Migrate API specs to OpenAPI v3.0.1
  backend/docs/api/inventory_devices_v1.yaml
  backend/docs/api/inventory_internal_v1.yaml
  backend/docs/api/inventory_internal_v2.yaml
  backend/docs/api/inventory_management_v1.yaml
  backend/docs/api/inventory_management_v2.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): switched to threads instead of forks to try help CI runs
  frontend/vitest.config.ts
Due: none

chore(pkg): Fixed window rate limiting implementation using Redis
  backend/pkg/redis/ratelimit.go
  backend/pkg/redis/ratelimit_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): extracted e2e login step to dependency stage in order to reuse login state
  frontend/tests/e2e_tests/integration/00-setup.spec.ts
  frontend/tests/e2e_tests/integration/session.setup.ts
  frontend/tests/e2e_tests/playwright.config.ts
Due: none

test(gui): let tests rely on auth info configured in project setup
  frontend/tests/e2e_tests/integration/02-layoutAssertions.spec.ts
  frontend/tests/e2e_tests/integration/03-files.spec.ts
  frontend/tests/e2e_tests/integration/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/05-deviceDetails.spec.ts
  frontend/tests/e2e_tests/integration/06-auditlogs.spec.ts
  frontend/tests/e2e_tests/integration/07-saml.spec.ts
  frontend/tests/e2e_tests/integration/10-webhooks.spec.ts
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

chore(gui): aligned initial core test steps with their focus + the changed page setup
  frontend/tests/e2e_tests/integration/00-basic.spec.ts
  frontend/tests/e2e_tests/utils/constants.ts
Due: none

chore(gui): moved permission granting to config to slightly simplify page creation
  frontend/tests/e2e_tests/playwright.config.ts
  frontend/tests/e2e_tests/utils/commands.ts
Due: none
