Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

feat(gui): disable add/edit user functionality for unverified users
  frontend/src/js/components/settings/EmailVerificationWarning.tsx
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

fix(gui): don't require email verification to add users on open source builds
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

fix(gui): email verification is required for all multitenant installations
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

refactor(gui): allowed email editing only on os & keep it tied to verification on (non-)enterprise
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

fix(gui): require password and gate reset-link checkbox on os
  frontend/src/js/components/settings/user-management/UserForm.test.tsx
  frontend/src/js/components/settings/user-management/UserForm.tsx
  frontend/src/js/components/settings/user-management/UserManagement.test.tsx
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

chore(gui): removed unused section on user creation dialog
  frontend/src/js/components/settings/user-management/UserForm.tsx
Due: none

chore(gui): cleanup unused common components
  frontend/src/js/common-ui/Alert.test.tsx
  frontend/src/js/common-ui/Alert.tsx
  frontend/src/js/common-ui/ToggleSetting.tsx
  frontend/src/js/common-ui/__snapshots__/Alert.test.tsx.snap
  frontend/src/js/common-ui/dialogs/ConfirmAddon.tsx
Due: none

chore(gui): post cherry-pick alignment
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

chore(gui): aligned snapshot w/ adjusted os/ ent distinction
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserManagement.test.tsx.snap
Due: none

fix(gui): ensured data w/ multiple attribute values gets shown in a readable manner
  frontend/src/js/common-ui/ConfigurationObject.tsx
Due: none

fix(deviceconnect): proper graceful shutdown with ws handshake
  backend/services/deviceconnect/api/http/common.go
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/device_deadline_test.go
  backend/services/deviceconnect/api/http/device_test.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/management_test.go
  backend/services/deviceconnect/api/http/mocks/WSConn.go
  backend/services/deviceconnect/api/http/router.go
  backend/services/deviceconnect/api/http/status.go
  backend/services/deviceconnect/api/http/status_test.go
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/app/mocks/App.go
  backend/services/deviceconnect/server/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(deviceconnect): updated status code for deviceconnect shutdown to OK
  backend/docs/api/deviceconnect/internal_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): assert role changes do not submit a user email
  frontend/src/js/components/settings/user-management/UserManagement.test.tsx
Due: none

fix(gui): submit only roles when changing another user's roles
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
Due: none

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(create-artifact-worker): upgrade alpine version to 3.24.2
  backend/services/create-artifact-worker/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): fixup unit test expectation after dependency upgrade
  backend/services/deployments/storage/s3/s3_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fix invalid characters error message
  frontend/src/js/common-ui/forms/validations.ts
  frontend/src/js/components/devices/group-management/GroupDefinition.test.tsx
Due: none

chore(gui): enabled offerHeader with new search notification
  frontend/src/js/components/header/Header.tsx
  frontend/src/js/components/header/OfferHeader.tsx
  frontend/src/js/components/header/__snapshots__/OfferHeader.test.tsx.snap
Due: none

fix(deviceauth): upgrade github.com/golang-jwt/jwt v4 -> v5
  backend/go.mod
  backend/services/deviceauth/jwt/claims.go
  backend/services/deviceauth/jwt/jwt_ed25519.go
  backend/services/deviceauth/jwt/jwt_ed25519_test.go
  backend/services/deviceauth/jwt/jwt_rsa.go
  backend/services/deviceauth/jwt/jwt_rsa_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(useradm): upgrade github.com/golang-jwt/jwt v4 -> v5
  backend/go.mod
  backend/go.sum
  backend/services/useradm/jwt/claims.go
  backend/services/useradm/jwt/jwt.go
  backend/services/useradm/jwt/jwt_ed25519.go
  backend/services/useradm/jwt/jwt_ed25519_test.go
  backend/services/useradm/jwt/jwt_rsa.go
  backend/services/useradm/jwt/jwt_rsa_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: tidy integration test dependencies :broom:
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(pkg): make stream.ListenNATS listen subject exclusive
  backend/pkg/stream/nats.go
  backend/pkg/stream/nats_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceconnect): make devices websocket connections exclusive
  backend/services/deviceconnect/client/nats/client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: pinned e2e test images to branch & repo appropriate versions
  frontend/pipeline.yml
Due: none

Revert "feat(gui): disable add/edit user functionality for unverified users"
  frontend/src/js/components/settings/EmailVerificationWarning.tsx
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

Revert "fix(gui): don't require email verification to add users on open source builds"
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

Revert "refactor(gui): allowed email editing only on os & keep it tied to verification on (non-)enterprise"
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

chore(gui): post cherry pick cleanup
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

chore(gui): use basic select for changes type in audit log
  frontend/src/js/components/auditlogs/AuditLogs.tsx
  frontend/src/js/components/auditlogs/AuditLogsFilter.tsx
  frontend/src/js/components/auditlogs/Auditlogs.test.tsx
Due: none

chore(gui): use basic select for artifact type in deployment filters
  frontend/src/js/components/deployments/PastDeployments.tsx
Due: none

chore(gui): add common Select
  frontend/src/js/common-ui/forms/Select.test.tsx
  frontend/src/js/common-ui/forms/Select.tsx
Due: none

chore(gui): use autocomplete in device identity select
  frontend/src/js/components/devices/dialogs/DeviceIdentityDialog.tsx
Due: none

chore(gui): unified autocomplete behaviour according to design
  frontend/src/js/common-ui/forms/Autocomplete.tsx
  frontend/src/js/common-ui/forms/CheckboxAutocomplete.tsx
  frontend/src/js/components/auditlogs/AuditLogsFilter.tsx
  frontend/src/js/components/deployments/PastDeployments.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/devices/dialogs/PhysicalDeviceOnboarding.tsx
  frontend/src/js/components/devices/group-management/GroupDefinition.tsx
  frontend/src/js/components/devices/widgets/AttributeAutocomplete.tsx
  frontend/src/js/components/releases/ReleasesFilters.tsx
Due: none

test(gui): adjusted e2e test to no autoSelect
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

chore(gui): update snapshots
  frontend/src/js/common-ui/forms/__snapshots__/Select.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
Due: none

test: add optional execution timeout to Connection.run
  backend/tests/testutils/infra/device.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fix open source licenses path in mender-docs
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

feat(deviceconnect): add filetransfer protocol version negotiation
  backend/services/deviceconnect/api/http/management_filetransfer.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
