Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

ci(gui): adjusted the way pending devices are seen in UI after dependency updates
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

ci: Ignore this repo in license check and fix syntax error in job
  .gitlab-ci.yml
Due: none

chore(4.0.x): release 4.0.0-rc.10
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci: remove old check-commits tool
  .gitlab-ci.yml
Due: none

chore: debug
  backend/services/iot-manager/client/client.go
  backend/services/iot-manager/config/config.go
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat: Make IoT manager IP filtering configurable
  backend/pkg/netutils/ip_filter.go
  backend/pkg/netutils/ip_filter_acceptance.go
  backend/pkg/netutils/ip_filter_default.go
  backend/services/iot-manager/api/http/management.go
  backend/services/iot-manager/api/http/management_external_test.go
  backend/services/iot-manager/app/app.go
  backend/services/iot-manager/app/app_iot_core_test.go
  backend/services/iot-manager/app/app_iot_hub_test.go
  backend/services/iot-manager/app/app_test.go
  backend/services/iot-manager/client/client.go
  backend/services/iot-manager/client/client_test.go
  backend/services/iot-manager/config.yaml
  backend/services/iot-manager/config/config.go
  backend/services/iot-manager/main.go
  backend/services/iot-manager/model/credentials_http.go
  backend/services/iot-manager/model/credentials_http_test.go
  backend/services/iot-manager/server/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Disable IP filtering for iot-manager acceptance tests
  backend/services/iot-manager/tests/docker-compose.acceptance.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: Add gosec to backend static checks
  backend/.golangci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Cleanup leftover (unused) `.golangci.yml` files
  backend/services/deviceconfig/.golangci.yml
  backend/services/deviceconnect/.golangci.yml
  backend/services/iot-manager/.golangci.yml
  backend/services/reporting/.golangci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(deployments): clarifications for the GET /deployments version 2 endpoint.
  backend/services/deployments/docs/management_api_v2.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): added unit tests for billing profile editing
  frontend/src/js/components/settings/organization/Billing.test.tsx
  frontend/src/js/components/settings/organization/__snapshots__/Billing.test.tsx.snap
  frontend/src/js/store/storehooks.test.tsx
  frontend/tests/__mocks__/organizationHandlers.js
Due: none

test(gui): added e2e test for billing profile editing
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

docs(deployments): fix spelling
  backend/services/deployments/docs/management_api_v2.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: avoid saas jobs on maintenance branches
  .gitlab-ci.yml
Due: none

chore: types update
  frontend/src/js/store/api/types/DeviceInventoryEvent.ts
  frontend/src/js/store/api/types/Event.ts
  frontend/src/js/store/api/types/MenderTypes.ts
Due: none

chore(4.0.x): release 4.0.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci: Disable gosec G101 and G112 rules
  backend/.golangci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Revert Use Virtual Device for OS updates in docker composition"
  docker-compose.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
Due: none

docs: Add missing breaking changes to changelog
  CHANGELOG.md
Due: none

ci: Fix typo in regular "publish:docker" jobs and guard `latest` reference
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: none

chore(main): release 4.0.0-rc.9
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci: Fix syntax error in frontend publish pipeline
  frontend/pipeline.yml
Due: none

ci: Fix inverse logic for checking for image reference
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: none

test: fix failing test
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
Due: none

chore(main): release 4.1.0-saas
  .release-please-manifest.json
Due: none

chore(gui): removed reliance on dev docs to always default to latest
  frontend/src/js/common-ui/dialogs/__snapshots__/DeviceConnectionDialog.test.tsx.snap
  frontend/src/js/common-ui/dialogs/__snapshots__/PhysicalDeviceOnboarding.test.tsx.snap
  frontend/src/js/common-ui/dialogs/__snapshots__/VirtualDeviceIOnboarding.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/RolloutSteps.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Monitoring.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/ConnectToGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MakeGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/GroupDefinition.test.tsx.snap
  frontend/src/js/components/header/__snapshots__/OfferHeader.test.tsx.snap
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
  frontend/src/js/components/login/signup-steps/__snapshots__/OrgdataEntry.test.tsx.snap
  frontend/src/js/store/appSlice/selectors.ts
Due: none

chore(gui): removed reliance on versioned docs too - except for intention support
  frontend/src/js/common-ui/DocsLink.tsx
  frontend/src/js/common-ui/dialogs/PhysicalDeviceOnboarding.test.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/devices/ExpandedDevice.tsx
  frontend/src/js/components/devices/device-details/InstalledSoftware.tsx
  frontend/src/js/components/devices/device-details/Monitoring.test.tsx
  frontend/src/js/components/devices/widgets/DeviceAdditionWidget.test.tsx
  frontend/src/js/store/appSlice/selectors.ts
Due: none

Revert "revert: Revert "docs(deviceauth): migration to OpenAPI3""
  backend/services/deviceauth/Makefile
  backend/services/deviceauth/docs/devices_api.yml
  backend/services/deviceauth/docs/internal_api.yml
  backend/services/deviceauth/docs/management_api.yml
  backend/services/deviceauth/tests/.openapi-generator.yml
  backend/services/deviceauth/tests/common.py
  backend/services/deviceauth/tests/conftest.py
  backend/services/deviceauth/tests/tenantadm.py
  backend/services/deviceauth/tests/tests/client.py
  backend/services/deviceauth/tests/tests/mockserver.py
  backend/services/deviceauth/tests/tests/orchestrator.py
  backend/services/deviceauth/tests/tests/test_device.py
  backend/services/deviceauth/tests/tests/test_internal_api.py
  backend/services/deviceauth/tests/tests/test_limits.py
  backend/services/deviceauth/tests/tests/test_mgnt_v2.py
  backend/services/deviceauth/tests/tests/test_token.py
  backend/tests/integration/tests/test_api_endpoints.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed date parsing & formatting issues after dayjs migation
  frontend/src/js/common-ui/Time.tsx
  frontend/src/js/components/deployments/ProgressChart.tsx
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.tsx
Due: none

fix(gui): fixed an issue that would prevent showing phased deployments
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
Due: none

test(gui): also covered phased deployment rendering + aligned snapshots accordingly
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/deployments/ProgressChart.test.tsx
  frontend/src/js/components/deployments/Report.test.tsx
  frontend/src/js/components/deployments/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/DeploymentsList.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/ProgressChart.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/PhaseProgress.test.tsx
  frontend/src/js/components/deployments/deployment-report/__snapshots__/PhaseProgress.test.tsx.snap
  frontend/src/js/store/deploymentsSlice/thunks.test.ts
  frontend/src/js/store/storehooks.test.tsx
  frontend/tests/mockData.js
Due: none

chore: debug
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
Due: none

test(gui): added vitest configuration
  frontend/jest.config.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/common-ui/List.tsx
  frontend/src/js/common-ui/forms/helpers.tsx
  frontend/test.js
  frontend/tests/setupTests.jsx
  frontend/tsconfig.json
  frontend/vitest.config.ts
Due: none

test(gui): fixed tests for common-ui components
  frontend/src/js/common-ui/Confirm.test.tsx
  frontend/src/js/common-ui/CopyCode.test.tsx
  frontend/src/js/common-ui/DeviceNameInput.test.tsx
  frontend/src/js/common-ui/EnterpriseNotification.test.tsx
  frontend/src/js/common-ui/InputErrorNotification.test.tsx
  frontend/src/js/common-ui/List.test.tsx
  frontend/src/js/common-ui/PaginationActions.test.tsx
  frontend/src/js/common-ui/Search.test.tsx
  frontend/src/js/common-ui/SharedSnackbar.test.tsx
  frontend/src/js/common-ui/dialogs/DeviceConnectionDialog.test.tsx
  frontend/src/js/common-ui/dialogs/Feedback.test.tsx
  frontend/src/js/common-ui/dialogs/Log.test.tsx
  frontend/src/js/common-ui/dialogs/PhysicalDeviceOnboarding.test.tsx
  frontend/src/js/common-ui/dialogs/VirtualDeviceIOnboarding.test.tsx
  frontend/src/js/common-ui/forms/FileUpload.test.tsx
  frontend/src/js/common-ui/forms/Form.test.tsx
  frontend/src/js/common-ui/forms/KeyValueEditor.test.tsx
  frontend/src/js/common-ui/forms/TimeFramePicker.test.tsx
Due: none

test(gui): fixed tests for store, help tips and config
  frontend/src/js/config/routes.test.tsx
  frontend/src/js/helptips/OnboardingCompleteTip.test.tsx
  frontend/src/js/store/api/general-api.test.ts
  frontend/src/js/store/auth.test.ts
  frontend/src/js/store/deploymentsSlice/thunks.test.ts
  frontend/src/js/store/devicesSlice/thunks.test.tsx
  frontend/src/js/store/monitorSlice/thunks.test.ts
  frontend/src/js/store/organizationSlice/thunks.test.ts
  frontend/src/js/store/releasesSlice/thunks.test.ts
  frontend/src/js/store/storehooks.test.tsx
  frontend/src/js/store/usersSlice/thunks.test.ts
  frontend/tests/setupTests.jsx
Due: none
