Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore(gui): aligned quick actions selection on multi pass processing
  frontend/src/js/components/devices/widgets/DeviceQuickActions.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/manifests/ManifestQuickActions.tsx
Due: none

chore(gui): removed ineffective memoizations
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/manifests/ManifestQuickActions.tsx
Due: none

chore: add mock for http.RoundTripper
  backend/pkg/api/.mockery.yml
  backend/pkg/api/client/mocks/roundtripper.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconfig): migrate internal clients to use OAS client
  backend/services/deviceconfig/app/app.go
  backend/services/deviceconfig/app/app_test.go
  backend/services/deviceconfig/client/workflows/client.go
  backend/services/deviceconfig/client/workflows/client_test.go
  backend/services/deviceconfig/client/workflows/mocks/Client.go
  backend/services/deviceconfig/model/auditlog.go
  backend/services/deviceconfig/server/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: Gitlab CI to fetch containers through ECR cache
  .gitlab-ci.yml
  backend/services/Makefile.common
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconfig/tests/docker-compose.yml
  backend/services/deviceconnect/Dockerfile
  backend/services/deviceconnect/tests/docker-compose.acceptance.yml
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/iot-manager/tests/docker-compose.acceptance.yml
  backend/services/useradm/Dockerfile
  backend/services/useradm/tests/docker-compose.yml
  backend/services/workflows/Dockerfile
  backend/services/workflows/tests/docker-compose.yml
  backend/tests/Dockerfile.acceptance
  backend/tests/Dockerfile.integration
  backend/tests/docker/docker-compose.backend-tests-compat.yml
  backend/tests/docker/docker-compose.backend-tests.yml
  compose/docker-compose.enterprise.yml
  compose/docker-compose.seaweedfs.yml
  compose/docker-compose.smtp4dev.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconfig): improve stability when comparing expected requests
  backend/services/deviceconfig/tests/tests/test_management_config_auditlogs.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): added test utility function to initialize MockRoundTripper client
  backend/pkg/api/client/mocks/utils.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(iot-manager): Replace internal clients with OpenAPI generated
  backend/services/iot-manager/app/app.go
  backend/services/iot-manager/app/app_iot_core.go
  backend/services/iot-manager/app/app_iot_core_test.go
  backend/services/iot-manager/app/app_iot_hub.go
  backend/services/iot-manager/app/app_iot_hub_test.go
  backend/services/iot-manager/client/devauth/client.go
  backend/services/iot-manager/client/devauth/client_test.go
  backend/services/iot-manager/client/devauth/mocks/Client.go
  backend/services/iot-manager/client/devauth/models.go
  backend/services/iot-manager/client/workflows/client.go
  backend/services/iot-manager/client/workflows/client_test.go
  backend/services/iot-manager/client/workflows/mocks/Client.go
  backend/services/iot-manager/main.go
  backend/services/iot-manager/server/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: unset out-of-scope aws credentials
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

feat(gui): added manifests removal functionality
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/releases/manifests/ManifestQuickActions.tsx
Due: none

docs(deployments): align internal deploy configuration with reality
  backend/docs/api/deployments/internal_v1.yaml
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/model_configuration_deployment_request.go
  backend/tests/mender_client/models/configuration_deployment_request.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): added manifests removal unit tests
  frontend/src/js/components/releases/manifests/ManifestQuickActions.test.tsx
  frontend/vitest.config.ts
Due: none

test(gui): improved error validation for bad manifest yaml
  frontend/src/js/components/releases/manifests/ManifestDrawer.test.tsx
Due: none

chore(gui): split zod errors line by line
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

chore(deviceconfig): send already serialized bytes to workflows
  backend/services/deviceconfig/app/app.go
  backend/services/deviceconfig/app/app_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): adjusted the deployment test to skip retry
  frontend/src/js/components/deployments/Deployments.test.tsx
Due: none

test(gui): added e2e for yaml manifest upload and delete
  frontend/tests/e2e_tests/integration/02-baseline/03-manifest.spec.ts
Due: none

chore(gui): revert swapped text input with editableLongText
  frontend/src/js/components/releases/manifests/ManifestDrawer.test.tsx
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDrawer.test.tsx.snap
  frontend/tests/e2e_tests/integration/02-baseline/03-manifest.spec.ts
Due: none

chore(gui): added page for OAuth confirmation
  frontend/src/assets/img/dots-gradient.svg
  frontend/src/js/components/login/OAuthLink.tsx
  frontend/src/js/config/routes.tsx
Due: none

test(gui): added unit tests for OAuthLink
  frontend/src/js/components/login/OAuthLink.test.tsx
  frontend/vitest.config.ts
Due: none

refactor(inventory): remove devicemonitor client
  backend/services/inventory/client/devicemonitor/client.go
  backend/services/inventory/client/devicemonitor/client_test.go
  backend/services/inventory/client/devicemonitor/mocks/Client.go
  backend/services/inventory/client/devicemonitor/models.go
  backend/services/inventory/config.go
  backend/services/inventory/inv/inventory.go
  backend/services/inventory/inv/inventory_test.go
  backend/services/inventory/inv/mocks/InventoryApp.go
  backend/services/inventory/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): ensured internal links can be opened in a new tab too
  frontend/src/js/common-ui/Link.tsx
Due: none

test(iot-manager): migrate missing iot core unit test
  backend/services/iot-manager/app/app_iot_core_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): allowed yaml extraction to fail in e2e
  frontend/tests/e2e_tests/integration/02-baseline/03-manifest.spec.ts
Due: none

chore(pkg): generating api client only removes generated files
  backend/pkg/api/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned multiline input consumers w/ updated input component
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

chore(gui): aligned drawer content display closer w/ changed design
  frontend/src/js/common-ui/ContentSection.tsx
Due: none

refactor(gui): aligned multiline text input w/ updated design & usage
  frontend/src/js/common-ui/EditableLongText.tsx
Due: none

chore(gui): reduced layout shifts in interactive drawer content titles
  frontend/src/js/common-ui/ContentSection.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/common-ui/__snapshots__/ContentSection.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/AuthStatus.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Configuration.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceInventory.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceTags.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceTwin.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Identity.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/InstalledSoftware.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Monitoring.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDetails.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDrawer.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestQuickActions.test.tsx.snap
  frontend/tests/e2e_tests/fixtures/terminalContent.png
Due: none

fix(gui): ensured manifest actions have a reasonable label when manifest details are shown
  frontend/src/js/components/releases/manifests/ManifestQuickActions.test.tsx
  frontend/src/js/components/releases/manifests/ManifestQuickActions.tsx
Due: none

refactor(deviceconnect): unify session initialization across APIs
  backend/services/deviceconnect/api/http/management_filetransfer.go
  backend/services/deviceconnect/api/http/management_filetransfer_test.go
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/app/mocks/App.go
  backend/services/deviceconnect/model/session.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: retry internal gitlab runner job stages
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

refactor(deviceconnect): replace workflows client with OAS generated client
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/client/workflows/client.go
  backend/services/deviceconnect/client/workflows/client_test.go
  backend/services/deviceconnect/client/workflows/mocks/Client.go
  backend/services/deviceconnect/client/workflows/models.go
  backend/services/deviceconnect/server/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deviceconnect): Remove workflows and audit logs from open-source
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/management_filetransfer.go
  backend/services/deviceconnect/api/http/management_filetransfer_test.go
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/config/config.go
  backend/services/deviceconnect/server/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: required fixes to NewDefaultClientConfigurationFromURL
  backend/pkg/api/config.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(pkg): allow unknown fields in responses to pkg/api/client
  backend/pkg/api/.openapi-generator.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): unwraped the plan upgrade request to handle the errors correctly
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
Due: none

test(gui): added a wait for request to settle in upgrade flow unit test
  frontend/src/js/components/subscription/SubscriptionDrawer.test.tsx
Due: none
