Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

ci: drop chardet pin conflicting with azure-cli
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): refresh the configuration device details more aggressively
  frontend/src/js/components/devices/device-details/Configuration.tsx
Due: none

ci: ensured commit links in changelog can point to the correct repo
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: ensured renovate config conforms passes as json
  renovate.json
Due: none

test: setup/teardown compose environment integration-test-ng
  .gitlab-ci.yml
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/tests/runner/scripts/run.sh
  backend/tests/runner/tests/backend_integration_test.go
  backend/tests/runner/tests/inventory_management_v2_test.go
  backend/tests/runner/tests/main_test.go
  backend/tests/runner/tests/useradm_management_v1_opensource_test.go
  backend/tests/runner/tests/useradm_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): soften warning about sharing tenant token
  frontend/src/js/components/settings/organization/Organization.tsx
Due: none

ci: fixed qemu client reliability retries configuration
  frontend/pipeline.yml
Due: none

ci: simplify mender-docs-changelog generation
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: prevent pr body don't match issue
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: fix undesired `---` remove from the changelog
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: removed erroneous replace module directive in go.mod
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: backport ng integration test structure from enterprise
  backend/Makefile
  backend/tests/runner/tests/common/docker_compose.go
  backend/tests/runner/tests/common/env.go
  backend/tests/runner/tests/main_test.go
  backend/tests/runner/tests/opensource/backend_integration_test.go
  backend/tests/runner/tests/opensource/inventory_management_v2_test.go
  backend/tests/runner/tests/opensource/useradm_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(devauth): Change const name LimitMaxDevicesCount to match Enterprise repo
  backend/services/deviceauth/api/http/api_devauth_test.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
  backend/services/deviceauth/model/limit.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fix sentry project name
  frontend/pipeline.yml
Due: none

ci: aligned sentry target project & release w/ current setup
  frontend/rspack.config.js
  frontend/src/js/components/App.tsx
Due: none

chore(gui): aligned the leftNav tabs color with the design
  frontend/src/js/components/LeftNav.tsx
Due: none

ci: use round-robin when sharding integration tests
  backend/tests/run-integration.bash
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: clean up hard-coded pytest filter from run-integration.bash
  backend/tests/run-integration.bash
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deviceauth): Remove unused parameters, simplify code, use switch statements
  backend/services/deviceauth/api/http/api_devauth.go
  backend/services/deviceauth/devauth/devauth.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): removed react-ga workaround to allow re-enabling ga tracking
  frontend/src/js/tracking.js
Due: none

chore(gui): aligned the spacing of the nav items
  frontend/src/js/components/LeftNav.tsx
Due: none

chore: replaced invalid formats from spec
  backend/docs/api/inventory/management_v1.yaml
  backend/docs/api/useradm/internal_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deviceauth): allowed arbitrary properties for identity data
  backend/docs/api/deviceauth/management_v2.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: regenerated specs and client
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api/openapi.yaml
  backend/pkg/api/client/model_filter_predicate.go
  backend/pkg/api/client/model_filter_predicate_value.go
  backend/pkg/api/client/model_identity_data.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/device_inventory_management_api_api.py
  backend/tests/mender_client/api/user_administration_and_authentication_internal_api_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/device_count_by_tier.py
  backend/tests/mender_client/models/filter_predicate.py
  backend/tests/mender_client/models/filter_predicate_value.py
  backend/tests/mender_client/models/identity_data.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(inventory): specified types for the filter values
  backend/docs/api/inventory/schemas.yaml
  backend/tests/runner/tests/opensource/inventory_management_v2_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): updated snapshots
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/__snapshots__/LeftNav.test.tsx.snap
Due: none

refactor(deviceauth): Change unlimited limit representation from 0 to -1
  backend/services/deviceauth/api/http/api_devauth.go
  backend/services/deviceauth/cache/cache.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
  backend/services/deviceauth/model/limit.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/deviceauth/store/mongo/migration_2_0_2.go
  backend/services/deviceauth/store/mongo/migration_2_0_2_test.go
  backend/services/deviceauth/tests/common.py
  backend/services/deviceauth/tests/tests/test_device.py
  backend/services/deviceauth/tests/tests/test_limits.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(workflows): fix incorrectly documented workflows schemas
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/workflows/internal_v1.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api/openapi.yaml
  backend/pkg/api/client/api_workflows_other.go
  backend/pkg/api/client/mocks/mocks.go
  backend/pkg/api/client/model_start_workflow_201_response.go
  backend/pkg/api/client/model_workflows_check_liveliness_200_response.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/workflows_other_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/start_workflow201_response.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(inventory): refactor and align inventory models
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/inventory/internal_v2.yaml
  backend/docs/api/inventory/management_v2.yaml
  backend/docs/api/inventory/schemas.yaml
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api/openapi.yaml
  backend/pkg/api/client/api_device_inventory_filters_and_search_internal_api.go
  backend/pkg/api/client/api_device_inventory_filters_and_search_management_api.go
  backend/pkg/api/client/model_attribute_v2.go
  backend/pkg/api/client/model_attribute_v2_value.go
  backend/pkg/api/client/model_filter_predicate.go
  backend/pkg/api/client/model_filter_predicate_value.go
  backend/pkg/api/client/model_inventory_v2_search_device_inventories_request.go
  backend/pkg/api/client/model_search_params.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_internal_api_api.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_management_api_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/attribute_v2.py
  backend/tests/mender_client/models/attribute_v2_value.py
  backend/tests/mender_client/models/filter_predicate.py
  backend/tests/mender_client/models/filter_predicate_value.py
  backend/tests/mender_client/models/inventory_v2_search_device_inventories_request.py
  backend/tests/mender_client/models/search_params.py
  backend/tests/runner/tests/opensource/inventory_management_v2_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: add common http error definitions for unexpected status
  backend/pkg/api/error.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): update mocks to use mocked OAS clients
  backend/services/deployments/app/app_last_status_test.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/app/images_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deployments): Replace custom clients with OAS generated ones
  backend/services/deployments/app/app.go
  backend/services/deployments/client/inventory/client.go
  backend/services/deployments/client/inventory/client_test.go
  backend/services/deployments/client/inventory/mocks/Client.go
  backend/services/deployments/client/workflows/client.go
  backend/services/deployments/client/workflows/client_test.go
  backend/services/deployments/client/workflows/mocks/Client.go
  backend/services/deployments/model/device.go
  backend/services/deployments/model/filters.go
  backend/services/deployments/model/image.go
  backend/services/deployments/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deployments): removed type discriminator from ReleaseBase JSON
  backend/services/deployments/model/release.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): made input expand on focus while staying centered
  frontend/src/js/common-ui/Search.tsx
  frontend/src/js/components/header/Header.tsx
Due: none

chore(gui): cleaned up the result title & updated deprecated props
  frontend/src/js/common-ui/Search.tsx
  frontend/src/js/components/SearchResult.tsx
Due: none

chore(gui): removed the clickaway listener to avoid unexpected results closing
  frontend/src/js/components/SearchResult.tsx
Due: none

test(gui): updated test not to rely on removed clear button
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

chore(gui): disabled drawer autofocus that caused a search focus loss
  frontend/src/js/components/SearchResult.tsx
Due: none

test(gui): updated snapshots
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/__snapshots__/SearchResult.test.tsx.snap
Due: none

chore(gui): add unified base drawer component
  frontend/src/js/common-ui/BaseDrawer.test.tsx
  frontend/src/js/common-ui/BaseDrawer.tsx
  frontend/src/js/common-ui/DrawerTitle.tsx
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
