Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore(gui): aligned snapshots w/ updated design
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
Due: none

feat(gui): added a warning when trying to deploy too large artifacts to mcu devices
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
Due: none

feat(gui): added zephyr mcu onboarding option
  frontend/src/assets/img/zephyr_logo.png
  frontend/src/js/components/devices/dialogs/DeviceConnectionDialog.tsx
  frontend/src/js/components/devices/dialogs/McuDeviceOnboarding.tsx
Due: none

feat(gui): adjusted onboarding tips in accordance with the design
  frontend/src/js/components/helptips/BaseOnoardingTip.tsx
  frontend/src/js/components/helptips/OnboardingTips.tsx
Due: none

test(gui): added and adjusted tests for new zephyr onboarding changes
  frontend/src/js/components/devices/dialogs/DeviceConnectionDialog.test.tsx
  frontend/src/js/components/devices/dialogs/McuDeviceOnboarding.test.tsx
  frontend/src/js/components/devices/dialogs/__snapshots__/DeviceConnectionDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/McuDeviceOnboarding.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/OnboardingTips.test.tsx.snap
Due: none

fix(gui): fixed an issue that would prevent sorting the list of ∆ artifact generations
  frontend/src/js/components/releases/DeltaGeneration.tsx
Due: none

chore(gui): aligned on typed redux dispatch
  frontend/src/js/components/releases/DeltaGeneration.tsx
Due: none

fix(gui): made use of additional backend info about delta jobs
  frontend/src/js/components/releases/DeltaGenerationDetailsDrawer.tsx
Due: none

chore(gui): properly classified theme dependency as they are not only used in dev
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deployments): allow releases of finished deployments to be deleted
  backend/services/deployments/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Upgrade acceptance/integration test runners to Debian Trixie
  backend/tests/Dockerfile.acceptance
  backend/tests/Dockerfile.integration
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): Use mongo's error code to check for record duplication in AddDevice
  backend/services/deviceauth/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Revert "fix(gui): Update URL from browser's console welcome message"
  frontend/src/js/main.tsx
Due: none

test(gui): allowed e2e test pages more time to finish init
  frontend/tests/e2e_tests/fixtures/fixtures.ts
Due: none

fix: Check if ratelimits is enabled without redis
  backend/services/deviceauth/server.go
  backend/services/useradm/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): allow releases of finished deployments to be deleted
  backend/services/deployments/store/mongo/datastore_mongo_test.go
  backend/tests/integration/tests/test_deployments.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deployments): rename GetDeploymentIDsByArtifactNames
  backend/services/deployments/app/app_releases.go
  backend/services/deployments/app/app_releases_test.go
  backend/services/deployments/store/datastore.go
  backend/services/deployments/store/mocks/DataStore.go
  backend/services/deployments/store/mongo/datastore_mongo.go
  backend/services/deployments/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): check if billing profile is empty to decide endpoint to use
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
Due: none

feat: Add Redis utils for safe cache deleting and fetching
  backend/pkg/redis/redis.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): Prevent race condition re-caching invalid value
  backend/services/deviceauth/cache/cache.go
  backend/services/deviceauth/devauth/devauth.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): Return 503 when redis is unavailabe
  backend/docs/api/common/responses.yaml
  backend/docs/api/deviceauth/devices_v1.yaml
  backend/docs/api/deviceauth/internal_v1.yaml
  backend/docs/api/deviceauth/management_v2.yaml
  backend/docs/api/dist/openapi.yaml
  backend/pkg/redis/redis.go
  backend/pkg/rest.utils/utils.go
  backend/services/deviceauth/api/http/api_devauth.go
  backend/services/deviceauth/docs/devices_api.yml
  backend/services/deviceauth/docs/internal_api.yml
  backend/services/deviceauth/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(useradm): Return 503 when redis is unavailabe
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/useradm/internal_v1.yaml
  backend/docs/api/useradm/management_v1.yaml
  backend/services/useradm/api/http/api_useradm.go
  backend/services/useradm/docs/internal_api.yml
  backend/services/useradm/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(inventory): internal patch does not override system attributes
  backend/services/inventory/api/http/api_inventory.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(4.0.x): release 4.1.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

test(gui): aligned risky test location w/ reality to reenable testing account upgrade flow etc
  frontend/tests/e2e_tests/playwright.config.ts
Due: none

fix(gui): replace condition for checking if billing profile is empty
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
Due: none

chore(gui): cleaned up duplicate pat tests from parallelization migration
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

feat(workflows): support for accessing data from objects via json
  backend/services/workflows/app/processor/job.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): aligned tests w/ current subscription change form
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test(gui): wait for subscription form to populate device count
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test(gui): aligned e2e tests execution speed across os/enterprise/staging
  frontend/tests/e2e_tests/playwright.config.ts
Due: none

chore(gui): reduced locator specificity to help playwright find right device limit input
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

ci: worked around reliability issues w/ qemu client by allowing retries
  frontend/pipeline.yml
Due: none

feat(gui): delayed feedback form for 3h after first login
  frontend/src/js/components/header/Header.tsx
Due: none

chore(gui): bumped the store package
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: Align urllib3 version between integration and acceptance runner
  backend/tests/requirements-acceptance.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
