Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

test: allowed integration tests to be based on common lifecycle steps
  backend/tests/runner/tests/api_endpoints_test.go
  backend/tests/runner/tests/backend_integration_test.go
  backend/tests/runner/tests/health_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: made it easier to run integration tests on non-amd64 systems
  backend/tests/Dockerfile.integration
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: refactored useradm go integration test to rely on baseintegration
  backend/tests/runner/tests/useradm_management_v1_opensource_test.go
  backend/tests/runner/tests/workflows_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: let ng integration tests rely on make + go test alone
  backend/Makefile
  backend/tests/runner/scripts/run.sh
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: let ng integration tests rely on unified generated go client
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
  backend/tests/runner/helpers/deviceauth/deviceauth.go
  backend/tests/runner/helpers/useradm/useradm.go
  backend/tests/runner/tests/backend_integration_test.go
  backend/tests/runner/tests/health_test.go
  backend/tests/runner/tests/useradm_management_v1_opensource_test.go
  backend/tests/runner/tests/workflows_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: increase golangci-lint run timeot from 5 to 10 minutes
  backend/.golangci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): minimize precondition conflicts for cmd/sync-inventory-data
  backend/services/deviceauth/cmd/maintenance.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor: Move tenant utils from pkg/store to pkg/mongo
  backend/pkg/mongo/tenant.go
  backend/pkg/mongo/tenant_test.go
  backend/pkg/mongo/v2/tenant.go
  backend/pkg/mongo/v2/tenant_test.go
  backend/pkg/store/v2/utils.go
  backend/pkg/store/v2/utils_test.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/deviceauth/store/mongo/datastore_mongo_cleanup_test.go
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
  backend/services/deviceauth/store/mongo/migration_2_0_0.go
  backend/services/deviceauth/store/mongo/migration_2_0_0_test.go
  backend/services/deviceconfig/store/mongo/datastore_mongo.go
  backend/services/deviceconfig/store/mongo/migration_1_0_1.go
  backend/services/deviceconfig/store/mongo/migration_1_0_1_test.go
  backend/services/deviceconnect/store/mongo/datastore_mongo.go
  backend/services/deviceconnect/store/mongo/datastore_mongo_test.go
  backend/services/deviceconnect/store/mongo/migration_2_0_1.go
  backend/services/deviceconnect/store/mongo/migration_2_0_1_test.go
  backend/services/iot-manager/store/mongo/datastore_mongo.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events_test.go
  backend/services/iot-manager/store/mongo/datastore_mongo_test.go
  backend/services/useradm/store/mongo/datastore_mongo.go
  backend/services/useradm/store/mongo/datastore_mongo_test.go
  backend/services/useradm/store/mongo/migration_2_0_0.go
  backend/services/useradm/store/mongo/migration_2_0_1.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconfig): Migrate mongo-driver to v2
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/deviceconfig/store/mongo/bson.go
  backend/services/deviceconfig/store/mongo/bson_test.go
  backend/services/deviceconfig/store/mongo/datastore_mongo.go
  backend/services/deviceconfig/store/mongo/error.go
  backend/services/deviceconfig/store/mongo/main_test.go
  backend/services/deviceconfig/store/mongo/migration_1_0_1.go
  backend/services/deviceconfig/store/mongo/migration_1_0_1_test.go
  backend/services/deviceconfig/store/mongo/migrations.go
  backend/services/deviceconfig/store/mongo/migrations_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: format generated client with go fmt
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: refactor gmail client to use OAuth2 credentials with user refresh token
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/utils/email.ts
Due: none

chore: Create utility script to obtain refresh token for Gmail APIs
  frontend/tests/e2e_tests/package.json
  frontend/tests/e2e_tests/scripts/oauth2authorize.ts
Due: none

refactor(iot-manager): Migrate mongo-driver to v2
  backend/services/iot-manager/store/mongo/bson.go
  backend/services/iot-manager/store/mongo/bson_test.go
  backend/services/iot-manager/store/mongo/datastore_mongo.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events_test.go
  backend/services/iot-manager/store/mongo/datastore_mongo_test.go
  backend/services/iot-manager/store/mongo/dbsetup_test.go
  backend/services/iot-manager/store/mongo/error.go
  backend/services/iot-manager/store/mongo/migration_1_0_0.go
  backend/services/iot-manager/store/mongo/migration_1_0_0_test.go
  backend/services/iot-manager/store/mongo/migration_1_1_0.go
  backend/services/iot-manager/store/mongo/migration_1_1_0_test.go
  backend/services/iot-manager/store/mongo/migration_1_1_1.go
  backend/services/iot-manager/store/mongo/migration_1_1_1_test.go
  backend/services/iot-manager/store/mongo/migration_1_2_0.go
  backend/services/iot-manager/store/mongo/migration_1_2_0_test.go
  backend/services/iot-manager/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconnect): Migrate mongo-driver to v2
  backend/services/deviceconfig/store/mongo/migration_1_0_1_test.go
  backend/services/deviceconnect/store/mocks/DataStore.go
  backend/services/deviceconnect/store/mongo/bson.go
  backend/services/deviceconnect/store/mongo/bson_test.go
  backend/services/deviceconnect/store/mongo/control_reader.go
  backend/services/deviceconnect/store/mongo/control_reader_test.go
  backend/services/deviceconnect/store/mongo/datastore_mongo.go
  backend/services/deviceconnect/store/mongo/datastore_mongo_test.go
  backend/services/deviceconnect/store/mongo/dbsetup_test.go
  backend/services/deviceconnect/store/mongo/migration_1_0_0.go
  backend/services/deviceconnect/store/mongo/migration_2_0_1.go
  backend/services/deviceconnect/store/mongo/migration_2_0_1_test.go
  backend/services/deviceconnect/store/mongo/migrations.go
  backend/services/deviceconnect/store/mongo/recording_reader.go
  backend/services/deviceconnect/store/mongo/recording_reader_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: bind the generator version to the contents
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: re-generating pkg/client
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/.openapi-generator/VERSION
  backend/pkg/api/client/README.md
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Relax e2e match criteria for `mender-demo-artifact` version
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

chore: required cleaning of go.mod and go.sum
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: backend-integration-ng port to backend/pkg/api/client
  backend/tests/runner/tests/backend_integration_test.go
  backend/tests/runner/tests/useradm_management_v1_opensource_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceauth): Migrate mongo-driver to v2
  backend/pkg/mongo/v2/doc/bson.go
  backend/pkg/mongo/v2/oid/objectid.go
  backend/pkg/mongo/v2/oid/objectid_test.go
  backend/services/deviceauth/cmd/commands.go
  backend/services/deviceauth/cmd/commands_test.go
  backend/services/deviceauth/cmd/main_test.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
  backend/services/deviceauth/jwt/claims.go
  backend/services/deviceauth/jwt/jwt_ed25519_test.go
  backend/services/deviceauth/jwt/jwt_rsa_test.go
  backend/services/deviceauth/jwt/token_test.go
  backend/services/deviceauth/model/limit.go
  backend/services/deviceauth/store/datastore.go
  backend/services/deviceauth/store/mocks/DataStore.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/deviceauth/store/mongo/datastore_mongo_cleanup.go
  backend/services/deviceauth/store/mongo/datastore_mongo_cleanup_test.go
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
  backend/services/deviceauth/store/mongo/main_test.go
  backend/services/deviceauth/store/mongo/migration_1_10_0.go
  backend/services/deviceauth/store/mongo/migration_1_10_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_11_0.go
  backend/services/deviceauth/store/mongo/migration_1_11_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_1_0.go
  backend/services/deviceauth/store/mongo/migration_1_2_0.go
  backend/services/deviceauth/store/mongo/migration_1_2_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_3_0.go
  backend/services/deviceauth/store/mongo/migration_1_3_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_4_0.go
  backend/services/deviceauth/store/mongo/migration_1_4_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_5_0.go
  backend/services/deviceauth/store/mongo/migration_1_5_0_test.go
  backend/services/deviceauth/store/mongo/migration_1_6_0.go
  backend/services/deviceauth/store/mongo/migration_1_7_0.go
  backend/services/deviceauth/store/mongo/migration_1_8_0.go
  backend/services/deviceauth/store/mongo/migration_1_9_0.go
  backend/services/deviceauth/store/mongo/migration_1_9_0_test.go
  backend/services/deviceauth/store/mongo/migration_2_0_0.go
  backend/services/deviceauth/store/mongo/migration_2_0_0_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(inventory): Migrate mongo-driver to v2
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/inventory/inv/inventory.go
  backend/services/inventory/inv/inventory_test.go
  backend/services/inventory/model/device.go
  backend/services/inventory/model/device_test.go
  backend/services/inventory/store/mongo/datastore_mongo.go
  backend/services/inventory/store/mongo/datastore_mongo_test.go
  backend/services/inventory/store/mongo/dbsetup_test.go
  backend/services/inventory/store/mongo/helper_test.go
  backend/services/inventory/store/mongo/migration_0_2_0.go
  backend/services/inventory/store/mongo/migration_0_2_0_test.go
  backend/services/inventory/store/mongo/migration_1_0_0.go
  backend/services/inventory/store/mongo/migration_1_0_0_test.go
  backend/services/inventory/store/mongo/migration_1_0_1.go
  backend/services/inventory/store/mongo/migration_1_0_1_test.go
  backend/services/inventory/store/mongo/migration_1_0_2.go
  backend/services/inventory/store/mongo/migration_1_0_2_test.go
  backend/services/inventory/store/mongo/migration_1_1_0.go
  backend/services/inventory/store/mongo/migration_1_1_0_test.go
  backend/services/inventory/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(useradm): Migrate mongo-driver to v2
  backend/services/useradm/api/http/api_useradm_test.go
  backend/services/useradm/authz_simple_test.go
  backend/services/useradm/jwt/claims.go
  backend/services/useradm/jwt/jwt_ed25519_test.go
  backend/services/useradm/jwt/jwt_rsa_test.go
  backend/services/useradm/jwt/token_test.go
  backend/services/useradm/model/settings.go
  backend/services/useradm/model/settings_test.go
  backend/services/useradm/model/token.go
  backend/services/useradm/store/datastore.go
  backend/services/useradm/store/mocks/DataStore.go
  backend/services/useradm/store/mongo/bson.go
  backend/services/useradm/store/mongo/datastore_mongo.go
  backend/services/useradm/store/mongo/datastore_mongo_test.go
  backend/services/useradm/store/mongo/main_test.go
  backend/services/useradm/store/mongo/migration_1_0_0.go
  backend/services/useradm/store/mongo/migration_1_0_0_test.go
  backend/services/useradm/store/mongo/migration_1_1_4.go
  backend/services/useradm/store/mongo/migration_1_1_4_test.go
  backend/services/useradm/store/mongo/migration_1_3_2.go
  backend/services/useradm/store/mongo/migration_1_3_2_test.go
  backend/services/useradm/store/mongo/migration_2_0_0.go
  backend/services/useradm/store/mongo/migration_2_0_0_test.go
  backend/services/useradm/store/mongo/migration_2_0_1.go
  backend/services/useradm/store/mongo/migration_2_0_1_test.go
  backend/services/useradm/store/mongo/migration_2_0_3.go
  backend/services/useradm/store/mongo/migrations.go
  backend/services/useradm/store/mongo/migrations_test.go
  backend/services/useradm/user/useradm.go
  backend/services/useradm/user/useradm_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(workflows): Migrate mongo-driver to v2
  backend/services/workflows/api/http/workflow.go
  backend/services/workflows/app/processor/job.go
  backend/services/workflows/app/processor/utils_test.go
  backend/services/workflows/store/mongo/bson.go
  backend/services/workflows/store/mongo/datastore_mongo.go
  backend/services/workflows/store/mongo/datastore_mongo_test.go
  backend/services/workflows/store/mongo/migration_1_0_0.go
  backend/services/workflows/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: remove enterprise tests from backend integration tests
  backend/tests/integration/test_access.py
  backend/tests/integration/test_account_suspension.py
  backend/tests/integration/test_api_endpoints.py
  backend/tests/integration/test_artifact.py
  backend/tests/integration/test_auditlogs.py
  backend/tests/integration/test_aws_iotcore.py
  backend/tests/integration/test_azure_iothub.py
  backend/tests/integration/test_create_artifact.py
  backend/tests/integration/test_decommission.py
  backend/tests/integration/test_deployments.py
  backend/tests/integration/test_devauth.py
  backend/tests/integration/test_health.py
  backend/tests/integration/test_inventory.py
  backend/tests/integration/test_monitoring.py
  backend/tests/integration/test_password_reset.py
  backend/tests/integration/test_rbac.py
  backend/tests/integration/test_rbac_v2.py
  backend/tests/integration/test_tenantadm.py
  backend/tests/integration/test_tenantadm_support.py
  backend/tests/integration/test_useradm_enterprise.py
  backend/tests/integration/test_verify_email.py
  backend/tests/integration/test_workflows.py
  backend/tests/testutils/common.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): updated packages with subscription fixes
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): added type information for time component variants
  frontend/src/js/common-ui/Time.tsx
Due: none

chore(gui): ensured class passing in all time variants
  frontend/src/js/common-ui/Time.tsx
Due: none

refactor(gui): unified deployment progress rendering
  frontend/src/js/components/deployments/ProgressChart.tsx
  frontend/src/js/components/deployments/deployment-report/PhaseProgress.tsx
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.tsx
  frontend/src/js/components/deployments/progress/DeploymentProgress.tsx
  frontend/src/js/components/deployments/progress/DeploymentStatusNotification.tsx
  frontend/src/js/components/deployments/progress/RolloutProgressBar.test.tsx
  frontend/src/js/components/deployments/progress/RolloutProgressBar.tsx
  frontend/src/js/components/deployments/progress/SubstateProgressBar.test.tsx
  frontend/src/js/components/deployments/progress/SubstateProgressBar.tsx
  frontend/src/js/components/deployments/progress/usePhaseProgress.ts
Due: none

chore(gui): aligned filter appearance closer w/ updated design
  frontend/src/js/common-ui/forms/Filters.tsx
Due: none

chore(gui): aligned confirmation overlay w/ updated design
  frontend/src/js/common-ui/Confirm.tsx
Due: none

fix(gui): fixed typo in integration removal confirmation
  frontend/src/js/common-ui/Confirm.tsx
Due: none

chore(gui): streamlined multi phase deployment rendering
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.tsx
Due: none

chore(gui): brought deployments page closer to updated design
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/Deployments.tsx
  frontend/src/js/components/deployments/InProgressDeployments.tsx
  frontend/src/js/components/deployments/PastDeployments.tsx
  frontend/src/js/components/deployments/ScheduledDeployments.tsx
Due: none

chore(gui): aligned deployment widgets with updated design
  frontend/src/js/components/dashboard/Deployments.tsx
  frontend/src/js/components/dashboard/widgets/Deployments.tsx
Due: none

refactor(gui): made deployments list rendering handle screen sizes by itself
  frontend/src/js/components/deployments/DeploymentItem.tsx
  frontend/src/js/components/deployments/DeploymentsList.tsx
Due: none

chore(gui): aligned deployment status summary w/ updated design
  frontend/src/assets/img/error_status.png
  frontend/src/assets/img/progress_status.png
  frontend/src/assets/img/skipped_status.png
  frontend/src/assets/img/success_status.png
  frontend/src/js/components/deployments/DeploymentStatus.tsx
Due: none

fix(gui): fixed an issue that could misrepresent progress in a phased deployment
  frontend/src/js/components/deployments/progress/RolloutProgressBar.tsx
Due: none
