Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

build:backend:docker-acceptance:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

test:backend:static:
  stage: test
  needs: []
  tags:
  - hetzner-amd-beefy
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:6.0
    alias: mongo
  variables:
    TEST_MONGO_URL: mongodb://mongo
  ...

test:backend:acceptance:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

test:backend:integration:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  variables:
    COVERALLS_TOKEN: $COVERALLS_REPO_TOKEN
  ...

publish:backend:licenses:
  stage: publish
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:${GOLANG_VERSION}
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  - ln -s ../LICENSE ./
  ...

test: add `None` arguments to `typing.Generator`
  backend/tests/integration/testutils/common.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(pkg): invalid sign when computing delay for rate limits
  backend/pkg/redis/ratelimit.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(pkg): change the ratelimits configuration interface
  .cliffignore
  backend/pkg/config/ratelimits/config.go
  backend/pkg/config/ratelimits/ratelimits.go
  backend/pkg/rate/limit_http.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(main): release 4.1.0-saas.6
  .release-please-manifest.json
Due: none

ci: Change release-please pre-release type to rc
  .release-please-manifest.json
  release-please-config.json
Due: none

ci: make changelog job manual for mender-server project
  .gitlab-ci.yml
Due: none

ci: Do not require changelog job on main
  .gitlab-ci.yml
Due: none

chore(main): release 4.1.0-rc.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci: Fix typo in changelog condition
  .gitlab-ci.yml
Due: none

chore(pkg): Added ratelimit config parameter RejectUnmatched
  backend/pkg/config/ratelimits/config.go
  backend/pkg/config/ratelimits/ratelimits.go
  backend/pkg/rate/limit_http.go
  backend/pkg/rate/limit_http_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(useradm): Add rate limiting configuration for authenticated requests
  backend/services/useradm/config.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceauth): Add rate limiting configuration for authenticated requests
  backend/services/deviceauth/config.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): added plan & updated add-on description
  frontend/src/js/store/appSlice/constants.ts
Due: none

feat(gui): added subscription page component
  frontend/src/js/components/subscription/SubscriptionAddon.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/components/subscription/SubscriptionSummary.tsx
Due: none

chore(gui): extracted billing details in separate component
  frontend/src/js/components/settings/organization/Billing.tsx
  frontend/src/js/components/settings/organization/BillingDetails.tsx
Due: none

feat(gui): added subscription fetch to storehooks
  frontend/src/js/store/organizationSlice/index.ts
  frontend/src/js/store/organizationSlice/selectors.ts
  frontend/src/js/store/organizationSlice/thunks.ts
  frontend/src/js/store/storehooks.ts
Due: none

feat(gui): added subscription drawer & subscription page adjustments
  frontend/src/js/components/settings/CardSection.tsx
  frontend/src/js/components/subscription/SubscriptionAddon.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/components/subscription/SubscriptionSummary.tsx
  frontend/src/js/components/subscription/utils.ts
  frontend/src/js/store/organizationSlice/thunks.ts
Due: none

fix(gui): added proper links to subscription addon
  frontend/src/js/components/subscription/SubscriptionAddon.tsx
Due: none

feat(gui): changed upgrade links to the new subscription page
  frontend/src/js/common-ui/EnterpriseNotification.tsx
  frontend/src/js/components/header/TrialNotification.tsx
  frontend/src/js/components/settings/Global.tsx
  frontend/src/js/components/settings/organization/Billing.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/store/organizationSlice/selectors.ts
Due: none

test(gui): added and adjusted tests to the new subscription flow
  frontend/src/js/components/settings/__snapshots__/CardSection.test.tsx.snap
  frontend/src/js/components/subscription/utils.test.ts
  frontend/src/js/store/storehooks.test.tsx
  frontend/src/js/store/storehooks.ts
  frontend/tests/__mocks__/organizationHandlers.js
  frontend/tests/mockData.js
Due: none

feat(gui): added subscription page route
  frontend/src/js/config/routes.tsx
Due: none

test(gui): added subscription components unit tests
  frontend/src/js/components/subscription/SubscriptionAddon.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
  frontend/src/js/components/subscription/SubscriptionSummary.test.tsx
  frontend/src/js/components/subscription/__snapshots__/SubscriptionAddon.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionSummary.test.tsx.snap
  frontend/tests/__mocks__/organizationHandlers.js
Due: none

test(gui): updated upgrade links in snapshots
  frontend/src/js/common-ui/__snapshots__/EnterpriseNotification.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/header/__snapshots__/TrialNotification.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/Billing.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/Organization.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionSummary.test.tsx.snap
Due: none

fix(gui): prevented a situation that created the appearance we support multiple integrations
  frontend/src/js/components/settings/Integrations.tsx
Due: none

chore(gui): let api type generation create a js friendlier auditlog object type
  frontend/scripts/typeGeneration/convert.js
Due: none

refactor(gui): unified session details display for device connect sessions
  frontend/src/js/components/auditlogs/eventdetails/PortForward.tsx
  frontend/src/js/components/auditlogs/eventdetails/TerminalSession.tsx
  frontend/src/js/components/auditlogs/eventdetails/utils.tsx
Due: none

fix(gui): fixed an issue that prevented showing details of a auditlogged portforward session
  frontend/src/js/components/auditlogs/eventdetails/PortForward.tsx
  frontend/src/js/components/auditlogs/eventdetails/TerminalSession.tsx
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/PortForward.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/utils.tsx
Due: none

chore(gui): made idattribute type globally available
  frontend/src/js/common-ui/List.tsx
  frontend/src/js/store/commonConstants.tsx
Due: none

fix(gui): let artifact type filtering no longer autoselect an option to reduce user confusion
  frontend/src/js/components/releases/Releases.tsx
Due: none

docs(workflows): prepare API specification in OpenAPI format
  backend/docs/api/workflows.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(useradm): remove dead code; update docs and tests
  backend/docs/api/useradm_internal_v1.yaml
  backend/services/useradm/api/http/api_useradm_test.go
  backend/services/useradm/client/tenant/client_tenantadm.go
  backend/services/useradm/client/tenant/client_tenantadm_test.go
  backend/services/useradm/client/tenant/mocks/ClientRunner.go
  backend/services/useradm/docs/internal_api.yml
  backend/services/useradm/model/user.go
  backend/services/useradm/user/useradm.go
  backend/services/useradm/user/useradm_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: update deno:debian img for licenseCheck CI job
  frontend/pipeline.yml
Due: none

feat: allow checkGeneratedLicenses() to take rootDir param
  frontend/tests/licenses/licenseCheck.ts
Due: none

chore: remove unused frontend/logs paths
  frontend/pipeline.yml
Due: none

chore: add license-checker-rseidelsohn to deno imports
  frontend/scripts/deno.json
  frontend/tests/licenses/licenseCheck.ts
Due: none

fix: fix typo
  frontend/tests/e2e_tests/run
Due: none

chore: remove redundant env vars for e2e tests run script
  frontend/pipeline.yml
Due: none

feat: standardize frontend pipeline paths with FRONTEND_DIR var
  frontend/pipeline.yml
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
