Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

ci: safeguard for gh release body limit
  .gitlab/generate_changelog.sh
Due: none

feat(gui): ensured log analysis insights can benefit entire userbase by default
  frontend/src/js/components/settings/Global.tsx
Due: none

chore(gui): Remove deprecated OS versions for the Download links
  frontend/src/js/components/help/Downloads.tsx
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
Due: none

chore(gui): Add Debian 13 to OS versions for the Download links
  frontend/src/js/components/help/Downloads.tsx
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
Due: none

test(gui): moved login form selectors to recommended approach
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

test(gui): added explicit delay on login to avoid sending login form w/o full login info
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

chore: replace dep. azure-iot-hub with azure-iot-hub-api for integration
  backend/tests/integration/tests/test_azure_iothub.py
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: modernize Dockerfile.integration and bump Python to 3.14-trixie
  backend/tests/Dockerfile.integration
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: bump integration-tester container tag
  backend/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: bump docker from 27.3 to 29.1 for CI jobs
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

fix(gui): fixed an issue that could hinder re-opening a troubleshoot connection to a device
  frontend/src/js/common-ui/xterm.tsx
Due: none

ci: do not download mender-artifact in run script
  backend/tests/docker-compose.yml
  backend/tests/integration/run
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: "unphony" the dist spec generation make target
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: cleanup unused scripts and config files
  backend/tests/integration/tests/pytest.ini
  backend/tests/integration/tests/run.sh
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Add make target to generate Python Mender API client
  backend/Makefile
  backend/tests/.openapi-generator-ignore
  backend/tests/.openapi-generator.yaml
  backend/tests/.openapi-generator/FILES
  backend/tests/.openapi-generator/VERSION
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Added pyproject toml and reorganized conftest.py for integration
  backend/tests/conftest.py
  backend/tests/integration/conftest.py
  backend/tests/pyproject.toml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: migrate integration test_health to use generated clients
  backend/tests/integration/test_health.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: partially migrate test_access to use generated clients
  backend/tests/integration/test_access.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: adjust test for checking api spec to also generate test client
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test: configure generated client for test environment
  backend/tests/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: add missing dependency pydantic to python requirements
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(workflows): fix wrong path for health check API
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/workflows/internal_v1.yaml
  backend/tests/mender_client/api/workflows_other_api.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: defer email verification for end-to-end tests
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
Due: none

ci: let staging tests get prepared without docker privileges
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(pkg): Add util for executing commands
  backend/pkg/executor/executor.go
  backend/pkg/executor/mocks/BinaryExecutor.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(workflows): Extend `JobProcessor` to include all job processing logic
  backend/services/workflows/app/processor/cli.go
  backend/services/workflows/app/processor/cli_test.go
  backend/services/workflows/app/processor/http.go
  backend/services/workflows/app/processor/http_test.go
  backend/services/workflows/app/processor/job.go
  backend/services/workflows/app/processor/nats.go
  backend/services/workflows/app/processor/nats_test.go
  backend/services/workflows/app/processor/process.go
  backend/services/workflows/app/processor/process_test.go
  backend/services/workflows/app/processor/smtp.go
  backend/services/workflows/app/processor/smtp_client.go
  backend/services/workflows/app/processor/smtp_client_mock.go
  backend/services/workflows/app/processor/smtp_test.go
  backend/services/workflows/app/processor/utils.go
  backend/services/workflows/app/processor/utils_test.go
  backend/services/workflows/app/worker/worker.go
  backend/services/workflows/app/worker/worker_group.go
  backend/services/workflows/main_acceptance.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(workflows): Restrict which binary can be executed by workers
  backend/services/workflows/app/processor/cli.go
  backend/services/workflows/app/processor/cli_test.go
  backend/services/workflows/app/worker/worker.go
  backend/services/workflows/config.yaml
  backend/services/workflows/config/config.go
  backend/services/workflows/worker/config.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Enable gosec rule `G204`
  backend/.golangci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(create-artifact-worker): Add needed binary path to config
  backend/services/create-artifact-worker/config.yaml
  backend/services/create-artifact-worker/workflows/generate_artifact.json
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: review apps initial documentation
  compose/k8s/README.md
Due: none

ci: review apps namespace creation script
  compose/k8s/setup-review-namespace.sh
Due: none

ci: review apps user creation
  compose/k8s/create-initial-user.sh
Due: none

ci: helm values template for review apps
  compose/k8s/review-values.yaml.tpl
Due: none

ci: review apps stage
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

feat(gui): added tier support to subscription page
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

feat(gui): adjusted subscription drawer for tiers supports
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
Due: none

feat(gui): auto-select enabled tier based on current usage
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none
