Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

fix(gui): simplified version information handling to rely on server build time info only
  frontend/entrypoint.sh
  frontend/src/js/components/App.test.tsx
  frontend/src/js/components/LeftNav.tsx
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/help/Downloads.tsx
  frontend/src/js/components/help/Help.test.tsx
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
  frontend/src/js/components/help/mockData.ts
  frontend/src/js/components/settings/organization/Organization.test.tsx
Due: none

chore(gui): updated nt-gui packages
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.ts
Due: none

docs(deployments): added compatible_types to list software endpoint
  backend/docs/api/deployments/management_v1alpha1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: regenerate spec and clients
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/model_software.go
  backend/tests/mender_client/models/software.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deployments): added compatible_types to software
  backend/services/deployments/model/software.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): extended list software tests with compatible_types
  backend/tests/runner/tests/opensource/deployments_management_v1alpha1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(gui): align role creation/editing drawer with updated design
  frontend/src/js/components/settings/role-management/PermissionsItems.tsx
  frontend/src/js/components/settings/role-management/RoleDefinition.tsx
  frontend/src/js/components/settings/role-management/Roles.test.tsx
  frontend/src/js/components/settings/role-management/__snapshots__/RoleDefinition.test.tsx.snap
Due: none

fix(gui): reset filtering state when switching groups
  frontend/src/js/components/devices/AuthorizedDevices.tsx
  frontend/src/js/components/devices/DeviceGroups.tsx
Due: none

feat(gui): added an unlink Oauth button in profile settings
  frontend/src/js/components/login/OAuth2Providers.tsx
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
Due: none

chore(gui): allow react node in ConfirmModal
  frontend/src/js/common-ui/ConfirmModal.tsx
Due: none

chore(gui): update snapshots
  frontend/src/js/components/login/__snapshots__/Login.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Signup.test.tsx.snap
  frontend/src/js/components/login/signup-steps/__snapshots__/UserdataEntry.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
Due: none

test(e2e): aligned tests w/ updated role handling design
  frontend/tests/e2e_tests/integration/02-baseline/04-tenant.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
Due: none

chore(gui): moved ComponentTypesTable to a separate file
  frontend/src/js/components/releases/manifests/ComponentTypesTable.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
Due: none

feat(gui): added create from copy support for manifest upload
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

chore(gui): avoid changing global software state when filter is closed
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
Due: none

chore(gui): added support for creating copy from quick actions
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
  frontend/src/js/components/releases/manifests/ManifestQuickActions.tsx
  frontend/src/js/components/releases/manifests/ManifestsList.tsx
Due: none

chore(gui): made ComponentTypesTable editable
  frontend/src/js/components/releases/manifests/ComponentTypesTable.tsx
Due: none

chore(gui): fixed spacings in ManifestDrawer
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

test(gui): updated tests and snapshots
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.test.tsx
  frontend/src/js/components/releases/manifests/ManifestDrawer.test.tsx
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDrawer.test.tsx.snap
Due: none

chore(gui): added onBlur validation for priority input
  frontend/src/js/components/releases/manifests/ComponentTypesTable.tsx
Due: none

chore(gui): cleared artifact filters on close
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
Due: none

chore: do not upgrade crypthography packege to avoid conflicting dependencies
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): check auth request signature before processing request
  backend/services/deviceauth/api/http/api_devauth.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(e2e): submit autocomplete value explicitly in device filters
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

fix(deviceconnect): properly handle stream close errors
  backend/services/deviceconnect/api/http/device.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(pkg): remove duplicate code paths in rest.utils
  backend/pkg/rest.utils/utils.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): parameterize call depth for log.CollectTrace
  backend/pkg/accesslog/middleware_gin.go
  backend/pkg/log/recovery.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): do not mingle error messages if response is written
  backend/pkg/rest.utils/utils.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceconnect): double response on file transfer error handling
  backend/services/deviceconnect/api/http/management_filetransfer.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceconnect): race condition on error chan when terminating connection
  backend/services/deviceconnect/api/http/device.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deviceconnect): do not send close frame on closed connection
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(e2e): let tests work with remote installations when configured
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/session.setup.ts
  frontend/tests/e2e_tests/playwright.config.ts
  frontend/tests/e2e_tests/utils/email.ts
Due: none

test(e2e): let test runner work with remote installations
  frontend/tests/e2e_tests/runner/config.js
  frontend/tests/e2e_tests/runner/test-execution.js
Due: none

ci: remove AWS env var unsetting workaround from ECR login
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(tests): remove deployment status cycle test covered by cross-service tests
  backend/services/deployments/tests/tests/test_deployment.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(e2e): account for slow deployment creation time to increase chances of passing
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
Due: none

ci: separated frontend sync from the rest
  .gitlab/merge-enterprise.yml
Due: none

fix(gui): ensured manifests can be linked to directly
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
Due: none

fix(gui): let manifests always point out missing releases when showing or editing their details
  frontend/src/js/components/releases/manifests/ComponentTypesTable.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.test.tsx
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDetails.test.tsx.snap
Due: none

fix(gui): ensured manifest filter inputs are only usable for users on the required plan
  frontend/src/js/components/releases/manifests/ManifestsFilters.tsx
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestsFilters.test.tsx.snap
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
