Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

ci: use broader focus on frontend linting to rely on file selection in linter
  frontend/pipeline.yml
Due: none

test(gui): set aria-label explicitly to fix firefox e2e tests
  frontend/src/js/common-ui/forms/TimeframePicker.tsx
  frontend/src/js/common-ui/forms/__snapshots__/TimeFramePicker.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
Due: none

refac(gui): extraced login related form elements to isolate form handling
  frontend/src/js/components/login/Login.tsx
  frontend/src/js/components/login/LoginForm.tsx
Due: none

fix(gui): ensured form validation is applied during validation phase only
  frontend/src/js/common-ui/forms/TextInput.tsx
Due: none

chore(gui): offload login error handling to gui to allow more contextual presentation
  frontend/src/js/store/usersSlice/thunks.ts
Due: none

feat(gui): made password forgotten flow more informative to reduce confusion
  frontend/src/js/components/login/Password.tsx
Due: none

feat(gui): changed login form to a more stepwise approach in order to reduce confusion
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/login/LoginForm.tsx
Due: none

test(gui): aligned tests + snapshots with updated login & forgotten password flows
  frontend/src/js/components/App.test.tsx
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/login/Login.test.tsx
  frontend/src/js/components/login/Password.test.tsx
  frontend/src/js/components/login/__snapshots__/Login.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Password.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/PasswordReset.test.tsx.snap
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/01-login.spec.ts
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

fix(gui): default to eu in eu.hosted domain during signup
  frontend/src/js/components/login/Signup.tsx
Due: none

test(gui): let timeframe modifications rely on more visible selector in e2e tests
  frontend/tests/e2e_tests/integration/04-deployments.spec.ts
Due: none

test(gui): narrowed snapshot focus to reduce test flakiness
  frontend/src/js/components/App.test.tsx
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
Due: none

test(gui): fixed xterm related tests
  frontend/src/js/components/auditlogs/eventdetails/TerminalSession.test.tsx
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
  frontend/src/js/components/devices/device-details/Connection.test.tsx
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/troubleshoot/Terminal.test.tsx
  frontend/src/js/components/devices/troubleshoot/TerminalWrapper.test.tsx
  frontend/src/js/components/devices/troubleshoot/__snapshots__/Terminal.test.tsx.snap
  frontend/src/js/components/devices/troubleshoot/__snapshots__/TerminalWrapper.test.tsx.snap
  frontend/tests/setupTests.jsx
Due: none

test(gui): fixed previously skipped unit tests
  frontend/src/js/common-ui/forms/__snapshots__/TimeFramePicker.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/troubleshoot/__snapshots__/TerminalWrapper.test.tsx.snap
  frontend/src/js/components/login/PasswordReset.test.tsx
  frontend/src/js/components/settings/AccessTokenManagement.test.tsx
  frontend/src/js/components/settings/__snapshots__/AccessTokenManagement.test.tsx.snap
  frontend/src/js/store/organizationSlice/thunks.test.ts
Due: none

fix(gui): fixed permission extension issue in roles form
  frontend/src/js/components/settings/role-management/PermissionsItems.test.ts
  frontend/src/js/components/settings/role-management/PermissionsItems.tsx
Due: none

ci: Remove tag override for `test-integration` Makefile target
  .gitlab-ci.yml
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed webhook configuration checks by subscription
  frontend/src/js/components/settings/webhooks/Configuration.tsx
Due: none

test: added e2e tests for webhook functionality
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
  frontend/tests/e2e_tests/integration/10-webhooks.spec.ts
  frontend/tests/e2e_tests/utils/commands.ts
  frontend/tests/e2e_tests/utils/webhookListener.ts
Due: none

feat(iot-manager): allowed disabling address verification during webhook configuration
  backend/services/iot-manager/client/client.go
  backend/services/iot-manager/config/config.go
  backend/services/iot-manager/model/credentials_http.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(iot-manager): do not store events if there are no integrations
  backend/services/iot-manager/app/app.go
  backend/services/iot-manager/app/app_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(iot-manager): getting events by integration by ID
  backend/services/iot-manager/api/http/management.go
  backend/services/iot-manager/api/http/management_test.go
  backend/services/iot-manager/api/http/router.go
  backend/services/iot-manager/model/event.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(iot-manager): creating new integration creates a new ID
  backend/services/iot-manager/store/mongo/datastore_mongo.go
  backend/services/iot-manager/store/mongo/datastore_mongo_test.go
  backend/services/iot-manager/store/mongo/migration_1_1_2.go
  backend/services/iot-manager/store/mongo/migration_1_1_2_test.go
  backend/services/iot-manager/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: debug
  .gitlab-ci.yml
  frontend/tests/e2e_tests/integration/04-deployments.spec.ts
Due: none

chore(main): release 4.1.0-saas.3
  .release-please-manifest.json
Due: none

chore(main): release 4.1.0-saas.3
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix: Race when provisioning and connecting a device
  backend/services/deviceconnect/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): fixed previously skipped unit tests
  frontend/src/js/common-ui/forms/__snapshots__/TimeFramePicker.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/troubleshoot/__snapshots__/TerminalWrapper.test.tsx.snap
  frontend/src/js/components/login/PasswordReset.test.tsx
  frontend/src/js/components/releases/Releases.test.tsx
  frontend/src/js/components/settings/AccessTokenManagement.test.tsx
  frontend/src/js/components/settings/__snapshots__/AccessTokenManagement.test.tsx.snap
  frontend/src/js/store/organizationSlice/thunks.test.ts
Due: none

chore(gui): fixed typing requirements to allow running e2e tests locally
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/04-deployments.spec.ts
  frontend/tests/e2e_tests/playwright.config.ts
  frontend/tests/e2e_tests/tsconfig.json
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

chore: review fixes
  backend/services/iot-manager/api/http/management.go
  backend/services/iot-manager/api/http/management_test.go
  backend/services/iot-manager/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses
