Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore(gui): removed now unused class from releases
  frontend/src/js/components/releases/Releases.tsx
Due: none

chore(gui): aligned empty state in releases list
  frontend/src/js/components/releases/ReleasesList.tsx
Due: none

refactor(gui): extracted filter logic from releases component
  frontend/src/js/components/releases/Releases.tsx
  frontend/src/js/components/releases/ReleasesFilters.tsx
Due: none

refactor(gui): extracted release filters into dedicated component
  frontend/src/js/components/releases/ReleasesFilters.test.tsx
  frontend/src/js/components/releases/ReleasesFilters.tsx
Due: none

docs(deviceconnect): Add troubleshoot add-on tag to endpoints
  backend/docs/api/deviceconnect/devices_v1.yaml
  backend/docs/api/deviceconnect/management_v1.yaml
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(deviceconfig): Add configure add-on tag to endpoints
  backend/docs/api/deviceconfig/devices_v1.yaml
  backend/docs/api/deviceconfig/management_v1.yaml
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Add enterprise tag to `update_control_map` property
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): updated snapshot
  frontend/src/js/common-ui/forms/__snapshots__/NumberField.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionSummary.test.tsx.snap
Due: none

test(gui): added/updated tests to work with number input
  frontend/src/js/common-ui/forms/NumberField.test.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
  frontend/src/js/components/tenants/ExpandedTenant.test.tsx
  frontend/src/js/components/tenants/TenantsForm.test.tsx
Due: none

refactor(gui): encapsulated release retrieval & refresh handling
  frontend/src/js/components/releases/Releases.tsx
  frontend/src/js/components/releases/ReleasesList.tsx
Due: none

chore(gui): disabled as of now unsupported manifest functionality
  frontend/src/js/components/releases/Releases.tsx
  frontend/src/js/components/releases/manifests/ManifestsFilters.tsx
Due: none

refactor(gui): made use of manifest components in releases view
  frontend/src/js/components/releases/Releases.tsx
Due: none

feat(gui): added manifest quick actions component
  frontend/src/js/components/releases/manifests/ManifestQuickActions.test.tsx
  frontend/src/js/components/releases/manifests/ManifestQuickActions.tsx
Due: none

chore(gui): aligned software tab w/ updated design
  frontend/src/js/components/releases/DeltaGeneration.tsx
  frontend/src/js/components/releases/Releases.tsx
  frontend/src/js/components/releases/ReleasesList.tsx
Due: none

feat(gui): added manifests list & filters components
  frontend/src/js/components/releases/manifests/ManifestsFilters.test.tsx
  frontend/src/js/components/releases/manifests/ManifestsFilters.tsx
  frontend/src/js/components/releases/manifests/ManifestsList.test.tsx
  frontend/src/js/components/releases/manifests/ManifestsList.tsx
Due: none

chore(gui): made artifact signature indicator reusable in other components
  frontend/src/js/components/releases/ArtifactDetails.tsx
  frontend/src/js/components/releases/utils.tsx
Due: none

fix(gui): ensured table column changes are consistently applied for all rows if they are set
  frontend/src/js/common-ui/DetailsTable.tsx
Due: none

feat(gui): added view to show details of software manifests
  frontend/src/js/components/releases/manifests/ManifestDetails.test.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
  frontend/src/js/components/releases/manifests/ManifestsList.tsx
Due: none

chore(gui): added type information
  frontend/src/js/common-ui/DetailsTable.tsx
Due: none

chore(gui): aligned release details view more w/ manifests details
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

chore(gui): aligned snapshots
  frontend/src/js/common-ui/__snapshots__/DeviceNameInput.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Configuration.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceTags.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Identity.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/DeltaGeneration.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleasesFilters.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDetails.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestQuickActions.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestsFilters.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestsList.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
Due: none

test: added basic e2e tests setup for manifest handling support
  frontend/pipeline.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
  frontend/tests/e2e_tests/integration/02-baseline/03-manifest.spec.ts
Due: none

chore(gui): aligned sorting indicators w/ updated design
  frontend/src/js/common-ui/DetailsTable.tsx
Due: none

chore(gui): design alignments for tags & confirmation interactions
  frontend/src/js/common-ui/Confirm.tsx
Due: none

feat(gui): added quick actions relevant when inspecting a single manifest
  frontend/src/js/components/releases/manifests/ManifestQuickActions.test.tsx
  frontend/src/js/components/releases/manifests/ManifestQuickActions.tsx
Due: none

refactor(gui): dryed up software tabs definitions
  frontend/src/js/components/releases/Releases.tsx
Due: none

chore(gui): applied 256 char limits to signup/login fields
  frontend/src/js/components/login/PasswordReset.tsx
  frontend/src/js/components/login/signup-steps/OrgdataEntry.tsx
  frontend/src/js/components/login/signup-steps/UserdataEntry.tsx
  frontend/src/js/components/settings/PlanExpandedForm.tsx
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
  frontend/src/js/components/settings/user-management/UserForm.tsx
  frontend/src/js/components/tenants/TenantCreateForm.tsx
Due: none

fix(deployments) Stop returning more pages than the query returns
  backend/services/deployments/api/http/api_deployments.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Add unit tests for pagination validation fix
  backend/services/deployments/api/http/api_deployments_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: aligned software fixture naming w/ actual usage to allow referencing a device name fixture
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/02-deviceDetails.spec.ts
Due: none

fix(deployments): fixed an issue that prevented filtering deployments by group in some cases
  backend/services/deployments/api/http/api_deployments.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed an issue that prevented changing the device identity attribute on the device list
  frontend/src/js/components/devices/dialogs/DeviceIdentityDialog.tsx
Due: none

test: added test for device name based deployments filtering
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/03-advanced/02-deviceDetails.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
Due: none

chore(gui): made changing device identity slightly easier in tests
  frontend/src/js/common-ui/List.tsx
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
Due: none

chore(gui): add TextOverflowMultiline component to replace WebkitLineClamp usage
  frontend/src/js/common-ui/TextOverflowMultiline.test.tsx
  frontend/src/js/common-ui/TextOverflowMultiline.tsx
Due: none

chore(gui): adopted text overflow component where suitable
  frontend/src/js/common-ui/CopyableText.tsx
  frontend/src/js/components/deployments/deployment-wizard/ReleaseItem.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/common-ui/__snapshots__/InventoryTable.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/TextOverflowMultiline.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/TwoColumnData.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceConfiguration.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceDetails.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/FileTransfer.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/PortForward.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeploymentStatus.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/Overview.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/RolloutSchedule.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/ReleaseItem.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Configuration.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceInventory.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Identity.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/InstalledSoftware.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactMetadataList.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactPayload.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDetails.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
Due: none

feat(pkg): Added library for connection oriented streams using nats
  backend/pkg/stream/mocks/Conn.go
  backend/pkg/stream/mocks/Listener.go
  backend/pkg/stream/nats.go
  backend/pkg/stream/stream.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceconnect): add reliable transmission control over NATS sessions
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/app/playback.go
  backend/services/deviceconnect/client/nats/client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconnect): consolidate error handling and ws close frame
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses
