Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

fix(gui): subscription drawer fixes
  frontend/src/js/components/subscription/SubscriptionDrawer.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

fix(useradm): Absolute path for created user
  backend/services/useradm/api/http/api_useradm.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: welcome go based integration tests
  backend/tests/runner/tests/login_test.go
  backend/tests/runner/tests/me_test.go
  backend/tests/runner/tests/remove_test.go
  backend/tests/runner/tests/runner.go
  backend/tests/runner/tests/runner_test.go
  backend/tests/runner/tests/self_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: oapi-codegen generated client for tests
  backend/go.mod
  backend/go.sum
  backend/tests/runner/client/client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: run script for the tests, based on existing script
  backend/tests/runner/scripts/run.sh
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: pipeline, new target, required changes to the docker env
  .gitignore
  .gitlab-ci.yml
  backend/Makefile
  backend/tests/Dockerfile.integration
  backend/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): mock Alibaba OSS artifacts storage
  backend/services/deployments/storage/s3/s3_oss_cname_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): add more s3 storage configuration cases in the tests
  backend/services/deployments/storage/s3/s3_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: aligned 2fa code generation w/ updated dependency
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

test: aligned e2e test w/ adjusted subscription page
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

feat(deployments): New configuration: `aws.literal_bucket_uri`
  backend/services/deployments/config.yaml
  backend/services/deployments/config/config.go
  backend/services/deployments/model/storage_settings.go
  backend/services/deployments/server.go
  backend/services/deployments/storage/s3/options.go
  backend/services/deployments/storage/s3/s3.go
  backend/services/deployments/storage/s3/s3_oss_cname_test.go
  backend/services/deployments/storage/s3/s3_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(inventory): Reject group names longer than 256 characters
  backend/pkg/rules/patterns.go
  backend/pkg/rules/sizes.go
  backend/pkg/rules/validators.go
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/inventory/model/device.go
  backend/services/inventory/model/device_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deployments): Reject deployments names longer than 256 characters
  backend/pkg/rules/sizes.go
  backend/pkg/rules/validators.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/model/configuration_deployment.go
  backend/services/deployments/model/configuration_deployment_test.go
  backend/services/deployments/model/deployment.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): integrated dynamic tiers from backend API
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

feat(gui): defer render until products loaded
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

chore(gui): adopted preview handling to new addon treatment
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

chore(gui): subscription children adjustments after dynamic tiers
  frontend/src/js/components/subscription/SubscriptionAddon.tsx
  frontend/src/js/components/subscription/SubscriptionConfirmation.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

chore(gui): move device tiers initialization into component
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

feat(gui): added support for addons in tiers for summary
  frontend/src/js/components/subscription/SubscriptionSummary.tsx
  frontend/src/js/components/subscription/SubscriptionSummaryItem.test.tsx
  frontend/src/js/components/subscription/SubscriptionSummaryItem.tsx
Due: none

chore(gui): renamed microdevice help tooltip
  frontend/src/js/components/helptips/HelpTooltips.tsx
Due: none

test(gui): adjusted tests and snapshots
  frontend/src/js/components/subscription/SubscriptionConfirmation.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
  frontend/src/js/components/subscription/SubscriptionSummary.test.tsx
  frontend/src/js/components/subscription/SubscriptionSummaryItem.test.tsx
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionSummary.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionSummaryItem.test.tsx.snap
Due: none

test: relaxed deployment success checking further to address flash deployments
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
Due: none

test(deviceauth): adjusted tests to rely on oa3 specs
  backend/services/deviceauth/Makefile
  backend/services/deviceauth/tests/conftest.py
  backend/services/deviceauth/tests/tests/client.py
  backend/services/deviceauth/tests/tests/test_device.py
  backend/services/deviceauth/tests/tests/test_internal_api.py
  backend/services/deviceauth/tests/tests/test_limits.py
  backend/services/deviceauth/tests/tests/test_mgnt_v2.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: removed deprecated spec definitions to align on oa3 specs
  backend/services/deployments/docs/devices_api.yml
  backend/services/deployments/docs/internal_api.yml
  backend/services/deployments/docs/management_api.yml
  backend/services/deployments/docs/management_api_v2.yml
  backend/services/deviceauth/docs/devices_api.yml
  backend/services/deviceauth/docs/internal_api.yml
  backend/services/deviceauth/docs/management_api.yml
  backend/services/deviceconfig/docs/devices_api.yml
  backend/services/deviceconfig/docs/internal_api.yml
  backend/services/deviceconfig/docs/management_api.yml
  backend/services/deviceconnect/docs/asyncapi/deviceconnect.yml
  backend/services/deviceconnect/docs/devices_api.yml
  backend/services/deviceconnect/docs/internal_api.yml
  backend/services/deviceconnect/docs/management_api.yml
  backend/services/inventory/docs/devices_api.yml
  backend/services/inventory/docs/internal_api.yml
  backend/services/inventory/docs/internal_api_v2.yml
  backend/services/inventory/docs/management_api.yml
  backend/services/inventory/docs/management_api_v2.yml
  backend/services/iot-manager/docs/internal_api.yml
  backend/services/iot-manager/docs/management_api.yml
  backend/services/useradm/docs/internal_api.yml
  backend/services/useradm/docs/management_api.yml
  backend/services/workflows/docs/workflows_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): adjusted tests to rely on oa3 specs
  backend/services/deviceconnect/Makefile
  backend/services/deviceconnect/tests/.openapi-generator/VERSION
  backend/services/deviceconnect/tests/common.py
  backend/services/deviceconnect/tests/conftest.py
  backend/services/deviceconnect/tests/tests/test_connect.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(iot-manager): adjusted tests to rely on oa3 specs
  backend/services/iot-manager/Makefile
  backend/services/iot-manager/tests/.openapi-generator/FILES
  backend/services/iot-manager/tests/.openapi-generator/VERSION
  backend/services/iot-manager/tests/conftest.py
  backend/services/iot-manager/tests/tests/client.py
  backend/services/iot-manager/tests/tests/test_sync_aws_iotcore.py
  backend/services/iot-manager/tests/tests/test_sync_azure_iothub.py
  backend/services/iot-manager/tests/tests/test_webhooks.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconfig): adjusted tests to rely on oa3 specs
  backend/services/deviceconfig/Makefile
  backend/services/deviceconfig/tests/.openapi-generator/VERSION
  backend/services/deviceconfig/tests/common.py
  backend/services/deviceconfig/tests/conftest.py
  backend/services/deviceconfig/tests/tests/test_device_config.py
  backend/services/deviceconfig/tests/tests/test_internal.py
  backend/services/deviceconfig/tests/tests/test_management_config.py
  backend/services/deviceconfig/tests/tests/test_management_config_auditlogs.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): soften warning about sharing tenant token
  frontend/src/js/components/settings/organization/Organization.tsx
Due: none

test(inventory): adjusted tests to no longer rely on bravado
  backend/services/inventory/Makefile
  backend/services/inventory/tests/.openapi-generator.yml
  backend/services/inventory/tests/common.py
  backend/services/inventory/tests/conftest.py
  backend/services/inventory/tests/docker-compose.acceptance.yml
  backend/services/inventory/tests/tests/client.py
  backend/services/inventory/tests/tests/test_api_internal.py
  backend/services/inventory/tests/tests/test_grouping_devices.py
  backend/services/inventory/tests/tests/test_inventory_searching.py
  backend/services/inventory/tests/tests/test_inventory_sorting.py
  backend/services/inventory/tests/tests/test_mgmt_tag_attributes.py
  backend/services/inventory/tests/tests/test_mgmt_v2_filters_attributes.py
  backend/services/inventory/tests/tests/test_remove_device_groupping.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(useradm): adjusted tests to no longer rely on bravado
  backend/services/useradm/Makefile
  backend/services/useradm/tests/.openapi-generator-ignore
  backend/services/useradm/tests/.openapi-generator.yml
  backend/services/useradm/tests/common.py
  backend/services/useradm/tests/conftest.py
  backend/services/useradm/tests/docker-compose.acceptance.yml
  backend/services/useradm/tests/tests/client.py
  backend/services/useradm/tests/tests/test_api_internal.py
  backend/services/useradm/tests/tests/test_api_management.py
  backend/services/useradm/tests/tests/test_api_personal_access_tokens.py
  backend/services/useradm/tests/tests/test_auth.py
  backend/services/useradm/tests/tests/test_cli.py
  backend/services/useradm/tests/tests/test_tokens_delete.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): let tests work w/ aligned openapi generator version
  backend/services/deployments/Makefile
  backend/services/deployments/tests/tests/test_api_internal.py
  backend/services/deployments/tests/tests/test_artifact.py
  backend/services/deployments/tests/tests/test_deployment.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: aligned leftover openapi generator versions
  backend/Makefile
  backend/services/reporting/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): added selected state for release in the filter
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
  frontend/src/js/components/deployments/deployment-wizard/ReleaseItem.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
Due: none

feat(gui): added reset adornment icon for search input
  frontend/src/js/common-ui/Search.tsx
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
Due: none

chore(gui): insured Releases is capitalized as in design
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
Due: none

fix(gui): added placeholder when 0 releases found in filter
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
Due: none

fix(gui): fixed the artifact select changing height issue
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
Due: none

test(gui): udpated tests and aligned snapshots
  frontend/src/js/common-ui/__snapshots__/Search.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/ReleaseItem.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/ReleaseArtifactFilter.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/ReleaseItem.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
Due: none

feat(gui): added alert for RBAC not available in non-enterprise plans
  frontend/src/js/components/settings/user-management/UserForm.tsx
Due: none
