Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

ci: prevent pr body don't match issue
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

feat(inventory): internal patch /tenants/:tenant_id/device/:device_id/attributes
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/api/http/routing.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): tenants/{tenant_id}/device/{device_id}/attributes intenral spec
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/inventory/internal_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Revert "fix(useradm): Return 503 when redis is unavailabe"
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/useradm/internal_v1.yaml
  backend/docs/api/useradm/management_v1.yaml
  backend/services/useradm/api/http/api_useradm.go
  backend/services/useradm/docs/internal_api.yml
  backend/services/useradm/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: debug
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Revert "chore: enforce hostname verification for compose development environment"
  compose/docker-compose.enterprise.yml
  compose/docker-compose.seaweedfs.yml
  docker-compose.yml
Due: none

chore: trigger
  backend/services/useradm/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: add `traefik` as a valid routing hostname
  compose/docker-compose.enterprise.yml
  docker-compose.yml
Due: none

ci: trigger integration test on changes to compose environment
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

feat(workflows): support for accessing data from objects via json
  backend/services/workflows/app/processor/job.go
  backend/services/workflows/app/processor/string.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(pkg): `bytesprocessed` field not present for public APIs
  backend/pkg/accesslog/middleware_gin.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceconnect): do not send close frame already received from peer
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): updated packages related to device counts endpoint
  frontend/package-lock.json
  frontend/package.json
Due: none

refactor(gui): aligned statistics based device count retrieval
  frontend/src/js/components/dashboard/Devices.tsx
Due: none

chore(gui): aligned on unified device state totals selector for store access
  frontend/src/js/components/dashboard/Dashboard.test.tsx
  frontend/src/js/components/dashboard/Devices.tsx
  frontend/src/js/components/dashboard/SoftwareDistribution.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/devices/AuthorizedDevices.test.tsx
  frontend/src/js/components/devices/DeviceGroups.tsx
  frontend/src/js/components/devices/device-details/authsets/AuthSets.tsx
  frontend/src/js/components/header/Header.tsx
Due: none

docs(inventory): added inventory statistics api documentation
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/inventory/management_v2.yaml
  backend/services/inventory/docs/management_api_v2.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(inventory): added endpoint for retrieving device statistics
  backend/pkg/tiers/tiers.go
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/api/http/routing.go
  backend/services/inventory/inv/inventory.go
  backend/services/inventory/inv/mocks/InventoryApp.go
  backend/services/inventory/model/statistics.go
  backend/services/inventory/store/datastore.go
  backend/services/inventory/store/mocks/DataStore.go
  backend/services/inventory/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(inventory): shared device status definitions
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/model/device.go
  backend/services/inventory/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): added tests for device statistics endpoint
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/inventory/inv/inventory_test.go
  backend/services/inventory/store/mongo/datastore_mongo_test.go
  backend/tests/integration/tests/test_inventory.py
  backend/tests/integration/testutils/api/inventory_v2.py
  backend/tests/integration/testutils/common.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: learn how to spell "unavailable"
  backend/docs/api/common/responses.yaml
  backend/docs/api/dist/openapi.yaml
  backend/services/deviceauth/docs/devices_api.yml
  backend/services/deviceauth/docs/internal_api.yml
  backend/services/deviceauth/docs/management_api.yml
  backend/services/useradm/docs/internal_api.yml
  backend/services/useradm/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): added tenant token debug output on e2e test to debug virtual client auth problems
  frontend/tests/e2e_tests/run.js
Due: none

feat(gui): added release artifact filters
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
  frontend/src/js/components/deployments/deployment-wizard/ReleaseItem.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
Due: none

chore(gui): adjusted search component to use rhf ref
  frontend/src/js/common-ui/Search.tsx
Due: none

test(gui): added release filter unit tests
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/ReleaseItem.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/ReleaseArtifactFilter.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/ReleaseItem.test.tsx.snap
Due: none

test(gui): adjusted deployment e2e test to use new release filters
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
  frontend/tests/e2e_tests/utils/utils.ts
Due: none

test(gui): adjusted deployment unit tests
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
Due: none

test(gui): added test for advanced release filters
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
Due: none

ci: aligned build stage retry config w/ rest of the pipeline
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test(gui): extend `runCommand` to allow for command errors
  frontend/tests/e2e_tests/run.js
Due: none

test(gui): Collect more debug files from the QEMU client
  frontend/tests/e2e_tests/run.js
Due: none

debug: Verify fresh QEMU image
  frontend/tests/e2e_tests/docker-compose.e2e-tests.rofs.yml
Due: none

debug: Try to brute-force the test issue on CI
  frontend/pipeline.yml
Due: none

test(gui): ensured billing info input can actually be looked for when subscribing
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test(gui): slightly relaxed input selector to align w/ playwright suggestion
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

chore: Install bash in create-artifact-worker
  backend/services/create-artifact-worker/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: Remove redundant commits signoff check
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test(gui): Fix `compose.logs` call to actually get the services logs
  frontend/tests/e2e_tests/run.js
Due: none

test(gui): Fix `runCommand` to actually ignore errors
  frontend/tests/e2e_tests/run.js
Due: none
