Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore(gui): made 2fa tests work with changed auth storage
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

chore(gui): let creation of decoupled pages work with default auth state setting
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

test(gui): let all regularly authenticated tests fully rely on configured auth state
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/02-layoutAssertions.spec.ts
  frontend/tests/e2e_tests/integration/03-files.spec.ts
  frontend/tests/e2e_tests/integration/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/05-deviceDetails.spec.ts
  frontend/tests/e2e_tests/integration/06-auditlogs.spec.ts
  frontend/tests/e2e_tests/integration/07-saml.spec.ts
  frontend/tests/e2e_tests/integration/08-rbac.spec.ts
  frontend/tests/e2e_tests/integration/10-webhooks.spec.ts
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

test(gui): made SP tests rely on stored login state too
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/01-login.spec.ts
  frontend/tests/e2e_tests/integration/09-tenant.spec.ts
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
  frontend/tests/e2e_tests/integration/session.setup.ts
  frontend/tests/e2e_tests/utils/constants.ts
Due: none

chore(gui): properly skip 2fa tests on missing secret
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

chore(gui): aligned multitenancy related tests in more appropriate file
  frontend/tests/e2e_tests/integration/09-tenant.spec.ts
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

test(gui): overwrite existing auth info after plan sign up
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

test: Unit tests for configuring rate limits
  backend/services/deviceauth/server_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Unit tests for rate limit parameters and applying rate limits
  backend/services/deviceauth/devauth/devauth_ratelimits_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceauth): Rate limit device requests
  backend/services/deviceauth/config.yaml
  backend/services/deviceauth/config/config.go
  backend/services/deviceauth/devauth/devauth_ratelimits.go
  backend/services/deviceauth/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: Retract 8c8028081a54a62ba8673071350414b096aa87b0 from changelog
  backend/services/deviceauth/.cliffignore
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: Add retry on frontend tests jobs while we work on a proper fix
  frontend/pipeline.yml
Due: none

ci: retry on no docker in the backend:integration tests
  .gitlab-ci.yml
Due: none

test(gui): explicitly required user addition success to proceed with tenant switch
  frontend/tests/e2e_tests/integration/09-tenant.spec.ts
Due: none

ci: made per browser jobs work with project based setup
  .gitlab-ci.yml
  frontend/tests/e2e_tests/playwright.config.ts
  frontend/tests/e2e_tests/run
Due: none

chore(gui): added context clean up for custom contexts & pages
  frontend/tests/e2e_tests/integration/01-login.spec.ts
  frontend/tests/e2e_tests/integration/07-saml.spec.ts
  frontend/tests/e2e_tests/integration/08-rbac.spec.ts
  frontend/tests/e2e_tests/integration/09-tenant.spec.ts
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
  frontend/tests/e2e_tests/integration/session.setup.ts
Due: none

test(gui): extended debug info collection in e2e tests
  frontend/tests/e2e_tests/playwright.config.ts
Due: none

chore(gui): aligned page naming in multi session tests with rest of e2e tests
  frontend/tests/e2e_tests/integration/07-saml.spec.ts
  frontend/tests/e2e_tests/integration/09-tenant.spec.ts
Due: none

test(gui): limited unit test load in CI to improve stability
  frontend/vitest.config.ts
Due: none

ci: temporarily ignored unit test success until stability improves
  frontend/pipeline.yml
Due: none

ci: retry on docker not present in test:prep
  .gitlab-ci.yml
Due: none

chore(gui): clarified SSO related need for password omission on user creation
  frontend/src/js/components/settings/user-management/UserForm.tsx
Due: none

ci: Fix broken merge snippet
  .gitlab/merge-enterprise.yml
Due: none

fix(gui): restored global settings layout after general input layout adjustments
  frontend/src/js/components/settings/ArtifactGeneration.tsx
  frontend/src/js/components/settings/Global.tsx
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
Due: none

ci: switch to podman runner
  frontend/pipeline.yml
Due: none

fix(gui): fixed an issue that would add device filter automatically
  frontend/src/js/components/devices/widgets/FilterItem.tsx
  frontend/src/js/components/devices/widgets/Filters.tsx
Due: none

fix(gui): fixed an issue with 'true' value being set after selecting 'exists' operator
  frontend/src/js/components/devices/widgets/FilterItem.tsx
Due: none

fix(gui): fixed an issue with a filter input not reset after save
  frontend/src/js/components/devices/widgets/Filters.tsx
Due: none

chore(gui): reduced filter selection debounce timeout
  frontend/src/js/components/devices/widgets/FilterItem.tsx
Due: none

fix(gui): ensured selection filter is reset when attribute or value input are emptied
  frontend/src/js/components/devices/widgets/FilterItem.tsx
  frontend/src/js/components/devices/widgets/Filters.tsx
  frontend/src/js/store/utils.ts
Due: none

revert: "test: Fix deviceauth.cache tests after changing client initialization"
  backend/services/deviceauth/cache/cache_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

revert: "test: Unit tests for configuring rate limits"
  backend/services/deviceauth/server_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

revert: "test: Unit tests for rate limit parameters and applying rate limits"
  backend/services/deviceauth/devauth/devauth_ratelimits_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

revert: "feat(deviceauth): Rate limit authenticated devices API"
  backend/services/deviceauth/cache/cache.go
  backend/services/deviceauth/config.yaml
  backend/services/deviceauth/config/config.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_ratelimits.go
  backend/services/deviceauth/main.go
  backend/services/deviceauth/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Suppress changelog about reverted rate limits
  .cliffignore
Due: none

test(gui): removed tests for reducers with trivial logic
  frontend/src/js/store/appSlice/reducer.test.ts
  frontend/src/js/store/deploymentsSlice/reducer.test.ts
  frontend/src/js/store/devicesSlice/reducer.test.ts
  frontend/src/js/store/monitorSlice/reducer.test.ts
  frontend/src/js/store/onboardingSlice/reducer.test.ts
  frontend/src/js/store/organizationSlice/reducer.test.ts
  frontend/src/js/store/releasesSlice/reducer.test.ts
  frontend/src/js/store/usersSlice/reducer.test.ts
Due: none

test(gui): adjusted device details test to wait for debounce on filter selection
  frontend/tests/e2e_tests/integration/05-deviceDetails.spec.ts
Due: none

ci: run heavy duty jobs one at a time
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: none

chore(gui): prepared style importing to be dependent on theme setting
  frontend/src/js/components/App.tsx
  frontend/src/js/main.tsx
Due: none
