Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore: workaround for urllib HTTPResponse.headers.get removal
  backend/services/deployments/Makefile
  backend/services/deviceauth/Makefile
  backend/services/deviceconfig/Makefile
  backend/services/deviceconnect/Makefile
  backend/services/iot-manager/Makefile
  backend/services/reporting/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): wait for subscription form to populate device count
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test(gui): aligned risky test location w/ reality to reenable testing account upgrade flow etc
  frontend/tests/e2e_tests/playwright.config.ts
Due: none

chore(gui): cleaned up duplicate pat tests from parallelization migration
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test(gui): aligned tests w/ current subscription change form
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

chore(gui): reduced locator specificity to help playwright find right device limit input
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test(gui): aligned e2e tests execution speed across os/enterprise/staging
  frontend/tests/e2e_tests/playwright.config.ts
Due: none

chore: removed reliance on ancient openapi generator
  backend/services/deployments/Makefile
  backend/services/deviceauth/Makefile
  backend/services/deviceconfig/Makefile
  backend/services/deviceconnect/Makefile
  backend/services/iot-manager/Makefile
  backend/services/reporting/Makefile
  backend/tests/requirements-acceptance.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: adjusted acceptance tests to work w/ updated api generator
  backend/services/deployments/tests/tests/client.py
  backend/services/deployments/tests/tests/test_configuration_deployments.py
  backend/services/deployments/tests/tests/test_deployment.py
  backend/services/deviceauth/tests/tests/client.py
  backend/services/deviceauth/tests/tests/test_limits.py
  backend/services/deviceconfig/tests/common.py
  backend/services/deviceconfig/tests/tests/test_device_config.py
  backend/services/deviceconfig/tests/tests/test_internal.py
  backend/services/deviceconfig/tests/tests/test_management_config.py
  backend/services/deviceconfig/tests/tests/test_management_config_auditlogs.py
  backend/services/deviceconnect/tests/common.py
  backend/services/iot-manager/tests/tests/client.py
  backend/services/iot-manager/tests/tests/test_sync_aws_iotcore.py
  backend/services/iot-manager/tests/tests/test_sync_azure_iothub.py
  backend/services/iot-manager/tests/tests/test_webhooks.py
  backend/services/reporting/tests/tests/test_internal_health.py
  backend/services/reporting/tests/tests/test_internal_search.py
  backend/services/reporting/tests/tests/test_management_aggregate.py
  backend/services/reporting/tests/tests/test_management_deployments_aggregate.py
  backend/services/reporting/tests/tests/test_management_deployments_search.py
  backend/services/reporting/tests/tests/test_management_search.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: fixed api spec definition errors
  backend/docs/api/deployments/schemas.yaml
  backend/docs/api/iot-manager/management_v1.yaml
  backend/services/iot-manager/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: aligned bundled specs
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: bumped openapi-generator version
  backend/services/deployments/Makefile
  backend/services/deviceauth/Makefile
  backend/services/deviceconfig/Makefile
  backend/services/deviceconnect/Makefile
  backend/services/iot-manager/Makefile
  backend/services/reporting/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: aligned access of uuid keyed values after openapi-generator update
  backend/services/deviceconfig/tests/tests/test_device_config.py
  backend/services/deviceconfig/tests/tests/test_management_config.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: additional uuid related adjustments after openapi-generator update
  backend/services/iot-manager/tests/tests/test_webhooks.py
  backend/services/iot-manager/tests/tests/utils.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

revert: feat(pkg): added request content length to access logs
  backend/pkg/accesslog/middleware_gin.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat: add `bytesprocessed` field to accesslog entries
  backend/pkg/accesslog/middleware_gin.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned on typed redux dispatch
  frontend/src/js/components/releases/DeltaGeneration.tsx
Due: none

fix(gui): fixed an issue that would prevent sorting the list of ∆ artifact generations
  frontend/src/js/components/releases/DeltaGeneration.tsx
Due: none

fix(deviceauth): Make sure redis logic execute in correct order
  backend/services/deviceauth/devauth/devauth.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): Return 503 when redis is unavailabe
  backend/docs/api/common/responses.yaml
  backend/docs/api/deviceauth/devices_v1.yaml
  backend/docs/api/deviceauth/internal_v1.yaml
  backend/docs/api/deviceauth/management_v2.yaml
  backend/docs/api/dist/openapi.yaml
  backend/pkg/redis/redis.go
  backend/pkg/rest.utils/utils.go
  backend/services/deviceauth/api/http/api_devauth.go
  backend/services/deviceauth/docs/devices_api.yml
  backend/services/deviceauth/docs/internal_api.yml
  backend/services/deviceauth/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(useradm): Return 503 when redis is unavailabe
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/useradm/internal_v1.yaml
  backend/docs/api/useradm/management_v1.yaml
  backend/services/useradm/api/http/api_useradm.go
  backend/services/useradm/docs/internal_api.yml
  backend/services/useradm/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat: Add Redis utils for safe cache deleting and fetching
  backend/pkg/redis/redis.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): Prevent race condition re-caching invalid value
  backend/services/deviceauth/cache/cache.go
  backend/services/deviceauth/devauth/devauth.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): made use of additional backend info about delta jobs
  frontend/src/js/components/releases/DeltaGenerationDetailsDrawer.tsx
Due: none

chore: remove unused and pin unpinned dependencies
  backend/tests/requirements-acceptance.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: downgrade urllib3 to 2.3.0 for integration runner
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: bump golang container image to 1.25.5
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/reporting/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed an issue that prevented trial users from short feedback loops during onboarding
  frontend/src/js/components/devices/dialogs/PhysicalDeviceOnboarding.tsx
Due: none

chore(gui): added type information to device onboarding component
  frontend/src/js/components/devices/dialogs/PhysicalDeviceOnboarding.tsx
  frontend/src/js/utils/helpers.ts
Due: none

chore: cleanup `crypto` directory with test keys
  backend/services/useradm/api/http/api_useradm_test.go
  backend/services/useradm/crypto/private.pem
  backend/services/useradm/crypto/private_alternative.pem
  backend/services/useradm/crypto/public.pem
  backend/services/useradm/crypto/test/private_broken.pem
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(inventory): internal patch /tenants/:tenant_id/device/:device_id/attribute
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/api/http/routing.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fixed qemu client reliability retries configuration
  frontend/pipeline.yml
Due: none

chore: added makefile target to regenerate spec bundle
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: fixed schema name collisions
  backend/docs/api/deployments/internal_v1.yaml
  backend/docs/api/deployments/schemas.yaml
  backend/docs/api/deviceauth/management_v2.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: bundled updated spec
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: fixed number type related spec issues to allow codegen to work
  backend/docs/api/inventory/internal_v1.yaml
  backend/docs/api/inventory/internal_v2.yaml
  backend/docs/api/inventory/management_v1.yaml
  backend/docs/api/inventory/management_v2.yaml
  backend/docs/api/useradm/management_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: made use of spec regen makefile target
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: let deviceauthevents rely on typing info from the the event
  backend/docs/api/iot-manager/management_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: added base shared api client requirements
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/api/client/errors.go
  backend/pkg/api/client/options.go
  backend/pkg/api/client/transport.go
  backend/pkg/api/types/generate.yaml
  backend/pkg/api/types/types.gen.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: use generated client via wrapper
  backend/services/deployments/client/inventory/adapter.go
  backend/services/deployments/client/inventory/client.go
  backend/services/deviceauth/client/inventory/adapter.go
  backend/services/deviceauth/client/inventory/client.go
  backend/services/reporting/client/inventory/adapter.go
  backend/services/reporting/client/inventory/client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
