Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

build:backend:docker-acceptance:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

test:backend:static:
  stage: test
  needs: []
  tags:
  - hetzner-amd-beefy
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:6.0
    alias: mongo
  variables:
    TEST_MONGO_URL: mongodb://mongo
  ...

test:backend:acceptance:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

test:backend:integration:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  variables:
    COVERALLS_TOKEN: $COVERALLS_REPO_TOKEN
  ...

publish:backend:licenses:
  stage: publish
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:${GOLANG_VERSION}
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  - ln -s ../LICENSE ./
  ...

feat(iot-manager): getting events by integration by ID
  backend/services/iot-manager/api/http/management.go
  backend/services/iot-manager/api/http/management_test.go
  backend/services/iot-manager/api/http/router.go
  backend/services/iot-manager/docs/management_api.yml
  backend/services/iot-manager/model/event.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): toggle device auth to generate webhook content
  frontend/tests/e2e_tests/integration/10-webhooks.spec.ts
Due: none

chore: Clean up unneeded middlewares from Traefik configuration
  compose/config/traefik/middlewares.yaml
  docker-compose.yml
Due: none

test: in opensource repo we should run opensource tests.
  backend/tests/integration/run
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: review fixes
  backend/services/iot-manager/api/http/management.go
  backend/services/iot-manager/api/http/management_state.go
  backend/services/iot-manager/api/http/management_test.go
  backend/services/iot-manager/api/http/router.go
  backend/services/iot-manager/docs/management_api.yml
  backend/tests/integration/tests/test_webhook.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: review fixes
  backend/services/iot-manager/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: debug
  frontend/tests/e2e_tests/integration/10-webhooks.spec.ts
Due: none

feat(iot-manager): getting events by integration by ID
  backend/services/iot-manager/api/http/management.go
  backend/services/iot-manager/api/http/management_state.go
  backend/services/iot-manager/api/http/management_test.go
  backend/services/iot-manager/api/http/router.go
  backend/services/iot-manager/docs/management_api.yml
  backend/services/iot-manager/model/event.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events_test.go
  backend/services/iot-manager/store/mongo/migrations.go
  backend/tests/integration/tests/test_webhook.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(iot-manager): creating new integration creates a new ID
  backend/services/iot-manager/store/mongo/datastore_mongo.go
  backend/services/iot-manager/store/mongo/datastore_mongo_test.go
  backend/services/iot-manager/store/mongo/migration_1_1_2.go
  backend/services/iot-manager/store/mongo/migration_1_1_2_test.go
  backend/services/iot-manager/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: review fixes
  backend/services/iot-manager/store/mongo/migration_1_2_0.go
  backend/services/iot-manager/store/mongo/migration_1_2_0_test.go
  backend/services/iot-manager/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(iot-manager): Added integration_id query parameter to API for getting events
  backend/services/iot-manager/api/http/management.go
  backend/services/iot-manager/api/http/management_state.go
  backend/services/iot-manager/api/http/management_test.go
  backend/services/iot-manager/api/http/router.go
  backend/services/iot-manager/docs/management_api.yml
  backend/services/iot-manager/model/event.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events_test.go
  backend/tests/integration/tests/test_webhook.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(iot-manager): creating new integration creates a new ID
  backend/services/iot-manager/store/mongo/datastore_mongo.go
  backend/services/iot-manager/store/mongo/datastore_mongo_test.go
  backend/services/iot-manager/store/mongo/migration_1_2_0.go
  backend/services/iot-manager/store/mongo/migration_1_2_0_test.go
  backend/services/iot-manager/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): fixed xterm related tests
  frontend/src/js/components/auditlogs/eventdetails/TerminalSession.test.tsx
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
  frontend/src/js/components/devices/device-details/Connection.test.tsx
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/troubleshoot/Terminal.test.tsx
  frontend/src/js/components/devices/troubleshoot/TerminalWrapper.test.tsx
  frontend/src/js/components/devices/troubleshoot/__snapshots__/Terminal.test.tsx.snap
  frontend/src/js/components/devices/troubleshoot/__snapshots__/TerminalWrapper.test.tsx.snap
  frontend/tests/setupTests.jsx
Due: none

fix(gui): fixed permission extension issue in roles form
  frontend/src/js/components/settings/role-management/PermissionsItems.test.ts
  frontend/src/js/components/settings/role-management/PermissionsItems.tsx
Due: none

test(gui): fixed previously skipped unit tests
  frontend/src/js/common-ui/forms/__snapshots__/TimeFramePicker.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/troubleshoot/__snapshots__/TerminalWrapper.test.tsx.snap
  frontend/src/js/components/login/PasswordReset.test.tsx
  frontend/src/js/components/settings/AccessTokenManagement.test.tsx
  frontend/src/js/components/settings/__snapshots__/AccessTokenManagement.test.tsx.snap
  frontend/src/js/store/organizationSlice/thunks.test.ts
Due: none

ci: skip webhook e2e tests on staging
  frontend/tests/e2e_tests/integration/10-webhooks.spec.ts
Due: none

test(gui): adjusted deployment creation to reuse stored phase definition
  frontend/src/js/components/deployments/Deployments.test.tsx
Due: none

fix(gui): fixed an issue that prevented phased deployments when reusing phase definitions
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
Due: none

chore(gui): made downstream processing work with unwrapped thunk results
  frontend/src/js/components/deployments/InProgressDeployments.tsx
  frontend/src/js/components/deployments/PastDeployments.tsx
  frontend/src/js/components/deployments/ScheduledDeployments.tsx
  frontend/src/js/store/devicesSlice/thunks.tsx
  frontend/src/js/store/usersSlice/thunks.ts
Due: none

chore(4.0.x): release 4.0.1-saas
  .release-please-manifest.json
  CHANGELOG.md
Due: none

test(gui): make inventory webhook test work better with retries
  frontend/tests/e2e_tests/integration/10-webhooks.spec.ts
Due: none

ci: use enterprise iot-manager image in enterprise e2e tests
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
Due: none

test(gui): fixed tests to work with unwrapped thunks
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/PortForward.test.tsx.snap
  frontend/src/js/components/devices/device-details/Configuration.test.tsx
  frontend/src/js/components/tenants/ExpandedTenant.test.tsx
  frontend/src/js/store/organizationSlice/thunks.ts
  frontend/src/js/store/storehooks.test.tsx
Due: none

chore(gui): removed unwrapping of unprocessed action
  frontend/src/js/common-ui/dialogs/Feedback.test.tsx
  frontend/src/js/store/usersSlice/thunks.ts
Due: none

ci: aligned 2fa error check with updated implementation
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
Due: none

fix(gui): provide more context on failed 2fa enabled login
  frontend/src/js/components/login/LoginForm.tsx
Due: none

fix(gui): fixed an issue that could clear search queries
  frontend/src/js/common-ui/Search.tsx
Due: none

chore(gui): removed references to now unused onboarding tip
  frontend/src/js/components/dashboard/Dashboard.tsx
  frontend/src/js/store/onboardingSlice/constants.ts
  frontend/src/js/store/storehooks.ts
  frontend/src/js/utils/onboardingManager.tsx
Due: none

fix(gui): restored group creation notification
  frontend/src/js/store/devicesSlice/thunks.tsx
Due: none

chore(gui): aligned snackbar configuration with codebase usage
  frontend/src/js/common-ui/SharedSnackbar.tsx
  frontend/src/js/store/appSlice/index.ts
Due: none

fix(gui): fixed an issue that would prevent some info messages from showing
  frontend/src/js/components/devices/troubleshoot/TerminalWrapper.tsx
  frontend/src/js/components/login/Login.tsx
  frontend/src/js/components/login/Signup.tsx
  frontend/src/js/components/releases/ReleasesList.tsx
  frontend/src/js/store/deploymentsSlice/thunks.ts
  frontend/src/js/store/devicesSlice/thunks.tsx
  frontend/src/js/store/monitorSlice/thunks.ts
  frontend/src/js/store/releasesSlice/thunks.ts
Due: none

test(gui): aligned tests with fixed snackbar configuration
  frontend/src/js/common-ui/SharedSnackbar.test.tsx
  frontend/src/js/common-ui/__snapshots__/SharedSnackbar.test.tsx.snap
  frontend/src/js/store/appSlice/reducer.test.ts
  frontend/src/js/store/devicesSlice/thunks.test.tsx
  frontend/src/js/store/monitorSlice/thunks.test.ts
  frontend/src/js/store/releasesSlice/thunks.test.ts
Due: none

chore(gui): removed home page link from password reset
  frontend/src/js/components/login/Password.tsx
Due: none

chore(gui): slightly adjusted password reset positioning
  frontend/src/js/components/login/Password.tsx
Due: none

chore(gui): ensured password field disappears when editing login email
  frontend/src/js/components/login/LoginForm.tsx
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
