Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore(gui): aligned snapshots
  frontend/src/js/components/helptips/__snapshots__/BaseOnboardingTip.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/OnboardingCompleteTip.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/OnboardingTips.test.tsx.snap
Due: none

chore(gui): added handling for empty yaml manifest files
  frontend/src/js/components/releases/manifests/ManifestDrawer.test.tsx
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

fix(deviceconnect): nats returns an error if failing initial connect
  backend/services/deviceconnect/client/nats/client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deviceconfig): remove `config.yaml` default overrides
  backend/services/deviceconfig/config.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(iot-manager): align inconsistent default database name config
  backend/services/iot-manager/config.yaml
  backend/services/iot-manager/config/config.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(workflows): remove config file overwrites
  backend/services/workflows/config.yaml
  backend/services/workflows/config/config.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deployments): remove config overrides from file
  backend/services/deployments/config.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(useradm): remove config file overrides
  backend/services/useradm/config.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(inventory): remove config overrides from file
  backend/services/inventory/config.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): `maintenance propagate-inventory` batch process 1000 devices
  backend/services/deviceauth/cmd/maintenance.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): changed wording of expiration date on billing page
  frontend/src/js/components/settings/organization/Billing.tsx
Due: none

chore(gui): removed typo from subscription page
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

chore(gui): adjusted trial notification with design
  frontend/src/js/components/header/Header.tsx
  frontend/src/js/components/header/TrialNotification.tsx
Due: none

test(gui): added test for the trial chip
  frontend/src/js/components/header/TrialNotification.test.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/header/__snapshots__/TrialNotification.test.tsx.snap
Due: none

chore(gui): aligned the code with the rest of codebase
  frontend/src/js/components/auditlogs/AuditLogs.tsx
  frontend/src/js/components/auditlogs/AuditlogsView.tsx
  frontend/src/js/components/auditlogs/ColumnComponents.tsx
Due: none

chore(gui): fix capitalization for the string title in drawer
  frontend/src/js/common-ui/DrawerTitle.tsx
Due: none

chore(gui): removed the helptip in upgrade notification
  frontend/src/js/components/auditlogs/AuditLogs.tsx
  frontend/src/js/components/helptips/HelpTooltips.tsx
Due: none

chore(gui): reset the filter more reliably
  frontend/src/js/common-ui/forms/Filters.tsx
Due: none

chore(gui): use multiline in auditlog items
  frontend/src/js/components/auditlogs/ColumnComponents.tsx
Due: none

chore(gui): added common controlled select
  frontend/src/js/common-ui/forms/ControlledSelect.tsx
Due: none

chore(gui): adjusted Auditlog to match design
  frontend/src/js/common-ui/forms/Filters.tsx
  frontend/src/js/components/auditlogs/AuditLogs.tsx
  frontend/src/js/components/auditlogs/AuditLogsFilter.tsx
  frontend/src/js/components/auditlogs/AuditLogsList.tsx
  frontend/src/js/components/auditlogs/AuditlogsView.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/common-ui/__snapshots__/BaseDrawer.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/AuditLogsList.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/EventDetailsDrawer.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDrawer.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/ArtifactGeneration.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOEditor.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/RoleDefinition.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantsForm.test.tsx.snap
Due: none

chore(gui): allowed everyone to check for emails
  frontend/tests/e2e_tests/utils/email.ts
Due: none

test(e2e): allowed password change emails to take some time to arrive in the test inbox
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

chore(gui): align snapshots after concurrent merges
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDetails.test.tsx.snap
Due: none

fix(gui): let all manifest related file types be rejected if they are too large
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

fix(gui): prevented release & manifest tag change inputs from causing a page refresh & data loss
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/dialogs/AddTags.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDetails.test.tsx.snap
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

test(gui): assert device detail tab strip stays scrollable on mobile
  frontend/src/js/components/devices/ExpandedDevice.test.tsx
Due: none

fix(gui): make device detail tab strip scrollable on mobile
  frontend/src/js/components/devices/ExpandedDevice.tsx
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
Due: none

fix(deviceconnect): resolve send on closed channel panic in PipeWriter
  backend/services/deviceconnect/app/playback.go
  backend/services/deviceconnect/app/playback_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned placeholders w/ updated design
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/dialogs/AddTags.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

chore(gui): re-aligned role & user details w/ updated design
  frontend/src/js/components/settings/constants.ts
  frontend/src/js/components/settings/role-management/PermissionsItems.tsx
  frontend/src/js/components/settings/role-management/RoleDefinition.tsx
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/RoleDefinition.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
Due: none

ci: allowed enterprise preview deployments from os server repo
  .gitlab-ci.yml
  compose/k8s/create-initial-user.sh
  compose/k8s/review-values.enterprise.yaml.tpl
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: added e2e tests execution for preview deployments
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: skip image builds when running preview test pipelines
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

fix(gui): correct accepted devices percentage calculation
  frontend/src/js/components/dashboard/widgets/AcceptedDevices.tsx
Due: none

chore(gui): removed some more old theme remnants
  frontend/src/js/common-ui/forms/TimeframePicker.tsx
  frontend/src/js/components/deployments/deployment-report/Overview.tsx
  frontend/src/js/components/devices/device-details/Deployments.tsx
Due: none

chore(gui): fixed alignment issues in device details
  frontend/src/js/components/devices/ExpandedDevice.tsx
  frontend/src/js/components/devices/device-details/Deployments.tsx
Due: none
