Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore(gui): extended checkbox configuration options to align w/ underlying component
  frontend/src/js/common-ui/forms/FormCheckbox.tsx
Due: none

refactor(gui): integrated deployment options further into rhf
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
  frontend/src/js/components/deployments/deployment-wizard/types.ts
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
Due: none

chore(gui): aligned deployment creation options w/ updated design
  frontend/src/js/common-ui/DocsLink.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutSteps.tsx
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/helptips/HelpTooltips.tsx
Due: none

feat(gui): made deployment creation more informative via contextual errors
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/CustomPhases.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/UniformPhases.tsx
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/validation.test.ts
  frontend/src/js/components/deployments/deployment-wizard/validation.ts
Due: none

feat(gui): explained & cleared unavailable deployment options
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/validation.test.ts
  frontend/src/js/components/deployments/deployment-wizard/validation.ts
Due: none

perf(gui): reduced rendering load during deployment creation
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/Deployments.tsx
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
  frontend/src/js/components/deployments/deployment-wizard/types.ts
Due: none

test(gui): aligned deployment creation checks w/ software understanding & design
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
Due: none

chore(gui): aligned snapshots w/ the updated deployment creation drawer
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/RolloutSteps.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
Due: none

test(inventory): adjust unit test error message to encoding/json/v2
  backend/services/inventory/api/http/api_inventory_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): add exception for BucketAlreadyOwnedByYou
  backend/services/deployments/tests/common.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): limited organization token visibility to eligible users to prevent leakage
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/dashboard/Devices.tsx
  frontend/src/js/components/devices/DeviceGroups.tsx
  frontend/src/js/components/devices/widgets/DeviceAdditionWidget.test.tsx
  frontend/src/js/components/devices/widgets/DeviceAdditionWidget.tsx
  frontend/src/js/components/devices/widgets/__snapshots__/DeviceAdditionWidget.test.tsx.snap
  frontend/src/js/components/settings/organization/Organization.test.tsx
  frontend/src/js/components/settings/organization/Organization.tsx
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

chore(deps): update mongo docker tag to v8.3
  .gitlab-ci.yml
  docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: add ent-on-os review app values template
  compose/k8s/review-values.ent-on-os.yaml.tpl
Due: none

ci: deploy enterprise backend from OS review apps on request
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: sample test
  frontend/src/js/components/dashboard/Devices.tsx
Due: none

ci: fix nats images in ent-on-os review app values
  compose/k8s/review-values.ent-on-os.yaml.tpl
Due: none

ci: reduce staging rollout waits after deployment speedups
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

fix(gui): fixed an issue that caused the release deletion confirmation to show up when it shouldn't
  frontend/src/js/components/releases/ReleaseDetails.tsx
Due: none

chore(deps): update ${mirror_registry:-docker.io}/library/traefik docker tag to v3.7.12
  docker-compose.yml
Due: none

feat(deviceconnect): add thundering herd rate limit to websocket APIs
  backend/services/deviceconnect/api/http/rate_test.go
  backend/services/deviceconnect/api/http/router.go
  backend/services/deviceconnect/config.yaml
  backend/services/deviceconnect/config/config.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): align the test device tooltip with actual rate limits
  frontend/src/js/components/devices/AuthorizedDevices.tsx
Due: none

chore(gui): hoist deployment target context retrieval to ensure consistency across wizard sections
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
Due: none

fix(gui): realign retry range w/ backend understanding
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/validation.ts
Due: none

chore(gui): aligned deployment device limit validation w/ backend
  frontend/src/js/components/deployments/deployment-wizard/validation.ts
Due: none

chore(deps): update node.js to v26.8.1
  frontend/Dockerfile
Due: none

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update docker docker tag to v29.7
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(deps): update npm-mui to v9.4.0
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency @babel/plugin-transform-runtime to v8
  frontend/package.json
Due: none

chore(deps): update dependency mendersoftware/mender-artifact to v4.4.1
  backend/services/create-artifact-worker/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update dependency @mui/x-date-pickers to v8.29.3
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency monaco-editor to v0.56.0
  frontend/package-lock.json
  frontend/package.json
Due: none

ci: drop the per repo renovate job
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): reuse shared deployment phase definition
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.tsx
Due: none

chore(gui): align phase format to ensure full context for phase standardization is available
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
Due: none

chore(gui): aligned tests w/ adjusted phase storage + device limit limitations
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/validation.test.ts
Due: none

chore(deps): update npm-dev-dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): further aligned user settings sections w/ design
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
Due: none

fix(gui): surfaced failing device preauth requests in the preauth dialog
  frontend/src/js/components/devices/dialogs/PreauthDialog.tsx
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
