Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

test(gui): adjusted tests to new subscription flow
  frontend/src/js/components/settings/__snapshots__/CardSection.test.tsx.snap
  frontend/src/js/store/storehooks.test.tsx
  frontend/tests/__mocks__/organizationHandlers.js
  frontend/tests/mockData.js
Due: none

chore(gui): extracted billing details in separate component
  frontend/src/js/components/settings/organization/Billing.tsx
  frontend/src/js/components/settings/organization/BillingDetails.tsx
Due: none

feat(gui): added isLoaded flag for organisation fetching
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/store/organizationSlice/index.ts
  frontend/src/js/store/organizationSlice/types.ts
Due: none

feat(gui): added subscription fetch to storehooks
  frontend/src/js/store/organizationSlice/index.ts
  frontend/src/js/store/organizationSlice/selectors.ts
  frontend/src/js/store/organizationSlice/thunks.ts
  frontend/src/js/store/storehooks.ts
Due: none

chore(gui): removed reporting related functionality
  frontend/src/js/components/settings/Global.tsx
  frontend/src/js/components/settings/ReportingLimits.tsx
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/store/devicesSlice/thunks.test.tsx
  frontend/src/js/store/devicesSlice/thunks.tsx
Due: none

fix(useradm): Always generate a unique user ID for newly created users
  backend/services/useradm/commands.go
  backend/services/useradm/user/useradm.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): Integration test for v2 GET `/artifacts`
  backend/tests/integration/tests/test_deployments.py
  backend/tests/integration/testutils/api/deployments_v2.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: speed up/fix integration tests TestAccessEnterprise
  backend/tests/integration/tests/test_access.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: speed up integration tests in test_account_suspension by polling
  backend/tests/integration/tests/test_account_suspension.py
  backend/tests/integration/testutils/common.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: speed up integration tests in test_devauth.py by active polling
  backend/tests/integration/tests/test_devauth.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor: move integration fixtures to conftest.py and remove unused imports
  backend/tests/integration/tests/conftest.py
  backend/tests/integration/tests/test_access.py
  backend/tests/integration/tests/test_account_suspension.py
  backend/tests/integration/tests/test_api_endpoints.py
  backend/tests/integration/tests/test_artifact.py
  backend/tests/integration/tests/test_auditlogs.py
  backend/tests/integration/tests/test_aws_iotcore.py
  backend/tests/integration/tests/test_azure_iothub.py
  backend/tests/integration/tests/test_create_artifact.py
  backend/tests/integration/tests/test_decommission.py
  backend/tests/integration/tests/test_deployments.py
  backend/tests/integration/tests/test_devauth.py
  backend/tests/integration/tests/test_inventory.py
  backend/tests/integration/tests/test_monitoring.py
  backend/tests/integration/tests/test_password_reset.py
  backend/tests/integration/tests/test_rbac.py
  backend/tests/integration/tests/test_rbac_v2.py
  backend/tests/integration/tests/test_tenantadm.py
  backend/tests/integration/tests/test_tenantadm_support.py
  backend/tests/integration/tests/test_useradm_enterprise.py
  backend/tests/integration/tests/test_verify_email.py
  backend/tests/integration/tests/test_webhook.py
  backend/tests/integration/testutils/common.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): restricted to use id when adding users on trial plan
  frontend/src/js/components/settings/user-management/UserForm.tsx
  frontend/src/js/components/settings/user-management/UserManagement.tsx
Due: none

test: Fix NewTestRequest not marshal strings and bytes as json
  backend/pkg/testing/rest/request.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Fix tests making invalid assertions for request body
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/useradm/api/http/api_useradm_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deployments): Revert to absolute API paths and group router by middleware
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/api/http/api_deployments_releases_test.go
  backend/services/deployments/api/http/api_deployments_test.go
  backend/services/deployments/api/http/routing.go
  backend/services/deployments/api/http/routing_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(deployments): Deprecate v1 GET `/artifacts/list` management endpoint
  backend/docs/api/management_v1_deployments.yaml
  backend/services/deployments/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): Update unstable time comparison in unit test
  backend/services/inventory/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): Check error when reopening ws connection
  backend/services/deviceconnect/api/http/management_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned ts eslint plugin w/ nt-gui package compatible version
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): restored now optional jsdom dependency for vitest to work
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/licenses/directDependencies.csv
Due: none

chore: bump mender-artifact to the latest version
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned snapshots after mui update
  frontend/src/js/common-ui/__snapshots__/EnterpriseNotification.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/AuditLogsList.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Dashboard.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/SoftwareDistribution.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/ChartAddition.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/Overview.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/RolloutSchedule.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/RolloutSteps.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceStatus.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/AuthStatus.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Configuration.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Monitoring.test.tsx.snap
  frontend/src/js/components/devices/device-details/authsets/__snapshots__/AuthSetList.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroupExplainer.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/Filters.test.tsx.snap
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/ArtifactInformationForm.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/Roles.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserManagement.test.tsx.snap
Due: none

chore(4.0.x): release 4.0.2
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix(gui): Reject configuration deployment with too long field length
  frontend/src/js/components/devices/device-details/Configuration.tsx
Due: none

test(gui): ensured configuration rejection is reflected in related test
  frontend/src/js/components/devices/device-details/Configuration.test.tsx
Due: none

test: Fix obfuscated assertion errors in test_list_deployments_v2
  backend/tests/integration/tests/test_deployments.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Clean up excess whitespace in test_deployments.py
  backend/tests/integration/tests/test_deployments.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: make test_list_artifacts_v2 handle mender-demo-artifact
  backend/tests/integration/tests/test_deployments.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: Skip publish:frontend:sentry if secret is not defined
  frontend/pipeline.yml
Due: none

test(gui): Update demo artifact versions
  frontend/tests/e2e_tests/fixtures/fixtures.ts
Due: none

test: Change database cleanup strategy to preserve indexes
  backend/services/deployments/tests/common.py
  backend/services/deviceconnect/tests/conftest.py
  backend/services/inventory/tests/common.py
  backend/services/iot-manager/tests/tests/conftest.py
  backend/services/useradm/tests/common.py
  backend/services/useradm/tests/tests/test_cli.py
  backend/tests/integration/tests/conftest.py
  backend/tests/integration/testutils/infra/mongo.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(iot-manager): Skip domain verification in tests
  backend/services/iot-manager/tests/docker-compose.acceptance.yml
  backend/tests/integration/docker/docker-compose.backend-tests.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(main): release 4.1.0-saas.6
  .release-please-manifest.json
Due: none

chore(deployments): format the acceptance tests
  backend/services/deployments/tests/tests/client.py
  backend/services/deployments/tests/tests/test_artifact.py
  backend/services/deployments/tests/tests/test_deployment.py
  backend/services/deployments/tests/tests/test_release.py
  backend/services/deployments/tests/tests/test_release_v2.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: Do not trigger sync on scheduled pipelines
  .gitlab/merge-enterprise.yml
Due: none
