Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore(gui): streamlined multi phase deployment rendering
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.tsx
Due: none

refactor(gui): made deployments list rendering handle screen sizes by itself
  frontend/src/js/components/deployments/DeploymentItem.tsx
  frontend/src/js/components/deployments/DeploymentsList.tsx
Due: none

chore(gui): brought deployments page closer to updated design
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/Deployments.tsx
  frontend/src/js/components/deployments/InProgressDeployments.tsx
  frontend/src/js/components/deployments/PastDeployments.tsx
  frontend/src/js/components/deployments/ScheduledDeployments.tsx
Due: none

fix(gui): fixed an issue that could misrepresent progress in a phased deployment
  frontend/src/js/components/deployments/progress/RolloutProgressBar.tsx
Due: none

test: made use of more user like locator for listed deployments in e2e tests
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
  frontend/tests/e2e_tests/utils/constants.ts
Due: none

chore(gui): aligned deployment widgets with updated design
  frontend/src/js/components/dashboard/Deployments.tsx
  frontend/src/js/components/dashboard/widgets/Deployments.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/common-ui/__snapshots__/Confirm.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Dashboard.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/DeploymentItem.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/DeploymentStatus.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/DeploymentsList.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/InProgressDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/ProgressChart.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/ScheduledDeployments.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/PhaseProgress.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/RolloutSchedule.test.tsx.snap
  frontend/src/js/components/deployments/progress/__snapshots__/RolloutProgressBar.test.tsx.snap
  frontend/src/js/components/deployments/progress/__snapshots__/SubstateProgressBar.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/BaseDevices.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/troubleshoot/__snapshots__/TerminalWrapper.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/DeltaGeneration.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleasesList.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserManagement.test.tsx.snap
Due: none

test(gui): added a delay to avoid hitting the limit
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test: remove skip marker from TestDeviceStatisticsEnterprise
  backend/tests/integration/test_inventory.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: give saml editor some time to load to not paste text into an unprepared void
  frontend/tests/e2e_tests/integration/02-baseline/03-saml.spec.ts
Due: none

chore(gui): replaced deprecated props with suggested alternative
  frontend/src/js/components/devices/widgets/DeviceQuickActions.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
Due: none

chore: Add mongo-driver/v2 to mod
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Added compose override for testing SMTP features
  compose/docker-compose.smtp4dev.yml
Due: none

test: add smtp4dev to enterprise end-to-end tests compose environment
  frontend/tests/e2e_tests/run.js
Due: none

test: add googleapis and friends to end-to-end tests dependencies
  frontend/tests/e2e_tests/package-lock.json
  frontend/tests/e2e_tests/package.json
Due: none

test: add EmailClient interface with Gmail and smtp4dev implementations
  frontend/tests/e2e_tests/utils/email.ts
Due: none

test: initialize emailClient in test fixtures
  frontend/tests/e2e_tests/fixtures/fixtures.ts
Due: none

feat: Add v2 utils for mongo package
  backend/pkg/mongo/v2/codec/bson.go
  backend/pkg/mongo/v2/codec/bson_test.go
  backend/pkg/mongo/v2/dbtest/db.go
  backend/pkg/mongo/v2/doc/bson.go
  backend/pkg/mongo/v2/doc/bson_test.go
  backend/pkg/mongo/v2/doc/ops.go
  backend/pkg/mongo/v2/doc/ops_test.go
  backend/pkg/mongo/v2/lock.go
  backend/pkg/mongo/v2/lock_test.go
  backend/pkg/mongo/v2/migrate/db.go
  backend/pkg/mongo/v2/migrate/db_test.go
  backend/pkg/mongo/v2/migrate/main_test.go
  backend/pkg/mongo/v2/migrate/migration.go
  backend/pkg/mongo/v2/migrate/migrator.go
  backend/pkg/mongo/v2/migrate/migrator_dummy.go
  backend/pkg/mongo/v2/migrate/migrator_dummy_test.go
  backend/pkg/mongo/v2/migrate/migrator_simple.go
  backend/pkg/mongo/v2/migrate/migrator_simple_test.go
  backend/pkg/mongo/v2/migrate/mocks/Migration.go
  backend/pkg/mongo/v2/migrate/version.go
  backend/pkg/mongo/v2/migrate/version_test.go
  backend/pkg/mongo/v2/oid/objectid.go
  backend/pkg/mongo/v2/oid/objectid_test.go
  backend/pkg/mongo/v2/testing/db.go
  backend/pkg/mongo/v2/testing/db_env.go
  backend/pkg/mongo/v2/testing/db_env_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor: Merge v1 and v2 store util package
  backend/pkg/store/utils.go
  backend/pkg/store/utils_test.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/deviceauth/store/mongo/datastore_mongo_cleanup_test.go
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
  backend/services/deviceauth/store/mongo/migration_2_0_0.go
  backend/services/deviceauth/store/mongo/migration_2_0_0_test.go
  backend/services/deviceconfig/store/mongo/datastore_mongo.go
  backend/services/deviceconfig/store/mongo/migration_1_0_1.go
  backend/services/deviceconfig/store/mongo/migration_1_0_1_test.go
  backend/services/deviceconnect/store/mongo/datastore_mongo.go
  backend/services/deviceconnect/store/mongo/datastore_mongo_test.go
  backend/services/deviceconnect/store/mongo/migration_2_0_1.go
  backend/services/deviceconnect/store/mongo/migration_2_0_1_test.go
  backend/services/iot-manager/store/mongo/datastore_mongo.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events_test.go
  backend/services/iot-manager/store/mongo/datastore_mongo_test.go
  backend/services/useradm/store/mongo/datastore_mongo.go
  backend/services/useradm/store/mongo/datastore_mongo_test.go
  backend/services/useradm/store/mongo/migration_2_0_0.go
  backend/services/useradm/store/mongo/migration_2_0_1.go
  backend/services/useradm/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat: Add store utils for mongo-driver v2
  backend/pkg/store/v2/utils.go
  backend/pkg/store/v2/utils_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconfig): Migrate mongo-driver to v2
  backend/services/deviceconfig/store/mongo/bson.go
  backend/services/deviceconfig/store/mongo/bson_test.go
  backend/services/deviceconfig/store/mongo/datastore_mongo.go
  backend/services/deviceconfig/store/mongo/error.go
  backend/services/deviceconfig/store/mongo/main_test.go
  backend/services/deviceconfig/store/mongo/migration_1_0_1.go
  backend/services/deviceconfig/store/mongo/migration_1_0_1_test.go
  backend/services/deviceconfig/store/mongo/migrations.go
  backend/services/deviceconfig/store/mongo/migrations_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): aligned SpeedDial design with theme changes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/devices/widgets/DeviceQuickActions.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
Due: none

test(gui): updated snapshots
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/DeviceQuickActions.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
Due: none

test(gui): masked the action dial in terminal startup e2e test
  frontend/tests/e2e_tests/fixtures/terminalContent.png
  frontend/tests/e2e_tests/integration/03-advanced/02-deviceDetails.spec.ts
Due: none

refactor(deviceconnect): Migrate mongo-driver to v2
  backend/services/deviceconnect/store/mocks/DataStore.go
  backend/services/deviceconnect/store/mongo/bson.go
  backend/services/deviceconnect/store/mongo/bson_test.go
  backend/services/deviceconnect/store/mongo/control_reader.go
  backend/services/deviceconnect/store/mongo/control_reader_test.go
  backend/services/deviceconnect/store/mongo/datastore_mongo.go
  backend/services/deviceconnect/store/mongo/datastore_mongo_test.go
  backend/services/deviceconnect/store/mongo/dbsetup_test.go
  backend/services/deviceconnect/store/mongo/migration_1_0_0.go
  backend/services/deviceconnect/store/mongo/migration_2_0_1.go
  backend/services/deviceconnect/store/mongo/migration_2_0_1_test.go
  backend/services/deviceconnect/store/mongo/migrations.go
  backend/services/deviceconnect/store/mongo/recording_reader.go
  backend/services/deviceconnect/store/mongo/recording_reader_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: extend password change test to check for email notification
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

refactor(iot-manager): Migrate mongo-driver to v2
  backend/services/iot-manager/store/mongo/bson.go
  backend/services/iot-manager/store/mongo/bson_test.go
  backend/services/iot-manager/store/mongo/datastore_mongo.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events_test.go
  backend/services/iot-manager/store/mongo/datastore_mongo_test.go
  backend/services/iot-manager/store/mongo/dbsetup_test.go
  backend/services/iot-manager/store/mongo/error.go
  backend/services/iot-manager/store/mongo/migration_1_0_0.go
  backend/services/iot-manager/store/mongo/migration_1_0_0_test.go
  backend/services/iot-manager/store/mongo/migration_1_1_0.go
  backend/services/iot-manager/store/mongo/migration_1_1_0_test.go
  backend/services/iot-manager/store/mongo/migration_1_1_1.go
  backend/services/iot-manager/store/mongo/migration_1_1_1_test.go
  backend/services/iot-manager/store/mongo/migration_1_2_0.go
  backend/services/iot-manager/store/mongo/migration_1_2_0_test.go
  backend/services/iot-manager/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: required fix for the OpenAPI3 specs
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/iot-manager/internal_v1.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: fix linting issues in e2e test environment
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
  frontend/tests/e2e_tests/utils/email.ts
Due: none

test: let pagination speed test not be stopped by pesky missing buttons
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
Due: none

test: make smtp4dev setup work in `--local` e2e test mode
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
  frontend/tests/e2e_tests/fixtures/fixtures.ts
Due: none

ci: made use of shared nt ci base images
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: use smaller runner except where there's a genuine need
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: generate client from the OpenAPI spec
  .gitlab-ci.yml
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: mark go client as autogenerated
  .gitattributes
Due: none

chore: do not generate tests nor go.sum, go.mod
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: made use of shared nt ci base images
  .gitlab/merge-enterprise.yml
Due: none

test: add helper packages for ng integration tests
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
  backend/tests/runner/helpers/cli/cli.go
  backend/tests/runner/helpers/crypto/crypto.go
  backend/tests/runner/helpers/deviceauth/deviceauth.go
  backend/tests/runner/helpers/mongo/mongo.go
  backend/tests/runner/helpers/useradm/useradm.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses
