Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore(useradm): use new email validation
  backend/services/useradm/model/user.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(deviceconfig): Add configure add-on tag to endpoints
  backend/docs/api/deviceconfig/devices_v1.yaml
  backend/docs/api/deviceconfig/management_v1.yaml
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(deviceconnect): Add troubleshoot add-on tag to endpoints
  backend/docs/api/deviceconnect/devices_v1.yaml
  backend/docs/api/deviceconnect/management_v1.yaml
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Add enterprise tag to `update_control_map` property
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: clean up acceptance test support files that are no longer in use
  backend/services/deviceconfig/tests/requirements.txt
  backend/services/deviceconfig/tests/run.sh
  backend/services/deviceconnect/tests/Dockerfile
  backend/services/deviceconnect/tests/requirements.txt
  backend/services/iot-manager/tests/requirements.txt
  backend/services/iot-manager/tests/run.sh
  backend/services/iot-manager/tests/wait-for
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): gave tenant modifying tests more time to fully settle api requests
  frontend/src/js/components/tenants/ExpandedTenant.test.tsx
Due: none

ci: ensured staging e2e tests can access test manifest artifact
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): added universal common link component to align w/ design
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/common-ui/Link.test.tsx
  frontend/src/js/common-ui/Link.tsx
Due: none

chore(gui): removed obsolete forwardRef from DocsLink
  frontend/src/js/common-ui/DocsLink.tsx
Due: none

test(gui): adjusted e2e test after link recieved button role
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
Due: none

chore(gui): replaced NavLink with link for help button
  frontend/src/js/components/LeftNav.tsx
Due: none

chore(gui): removed reliance on copy-to-clipboard css
  frontend/src/js/common-ui/CopyableText.tsx
  frontend/src/js/common-ui/ExpandableAttribute.tsx
Due: none

chore(gui): cleaned up redundant styles
  frontend/src/js/components/dashboard/Dashboard.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/header/OfferHeader.tsx
  frontend/src/js/components/helptips/OnboardingTips.tsx
  frontend/src/js/components/tenants/TenantPage.tsx
Due: none

chore: rf 1
  frontend/src/js/components/devices/device-details/Configuration.tsx
Due: none

ci: use Gitlab Dependency proxy in docker composition
  .gitlab-ci.yml
  backend/services/deviceconfig/tests/docker-compose.yml
  backend/services/deviceconnect/tests/docker-compose.acceptance.yml
  backend/services/iot-manager/tests/docker-compose.acceptance.yml
  backend/services/useradm/tests/docker-compose.yml
  backend/services/workflows/tests/docker-compose.yml
  backend/tests/docker/docker-compose.backend-tests-compat.yml
  backend/tests/docker/docker-compose.backend-tests.yml
  compose/docker-compose.enterprise.yml
  compose/docker-compose.seaweedfs.yml
  compose/docker-compose.smtp4dev.yml
  docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: add gitlab dependency proxy to pipeline images
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: gitlab dependency proxy within Dockerfiles whenever possible
  .gitlab-ci.yml
  backend/services/Makefile.common
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
  backend/tests/Dockerfile.acceptance
  backend/tests/Dockerfile.integration
  frontend/Dockerfile
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: use per-pod PVCs for SeaweedFS in pr based deployment
  .gitlab-ci.yml
  compose/k8s/setup-review-namespace.sh
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

fix(gui): refresh the configuration device details on finished deployment
  frontend/src/js/components/devices/device-details/Configuration.test.tsx
  frontend/src/js/components/devices/device-details/Configuration.tsx
Due: none

refactor(gui): removed capitalization option as it won't be applicable
  frontend/src/js/common-ui/DocsLink.tsx
Due: none

chore(gui): added hosting location docs pointer
  frontend/src/js/common-ui/DocsLink.tsx
Due: none

fix(gui): restored onchange password strength indication
  frontend/src/js/common-ui/forms/PasswordInput.tsx
Due: none

chore(gui): aligned type definition w/ docslink
  frontend/src/js/common-ui/DocsLink.tsx
Due: none

chore(gui): extracted reusable location detection utils
  frontend/src/js/components/login/Login.tsx
  frontend/src/js/components/login/utils.tsx
Due: none

chore(gui): aligned signup screen further w/ updated design
  frontend/src/js/components/login/Login.tsx
  frontend/src/js/components/login/Signup.tsx
  frontend/src/js/components/login/signup-steps/OrgdataEntry.tsx
  frontend/src/js/components/login/signup-steps/UserdataEntry.tsx
Due: none

test(gui): adjusted tests to work w/ updated signup content
  frontend/src/js/components/login/Signup.test.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/common-ui/__snapshots__/DocsLink.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Login.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Signup.test.tsx.snap
  frontend/src/js/components/login/signup-steps/__snapshots__/OrgdataEntry.test.tsx.snap
  frontend/src/js/components/login/signup-steps/__snapshots__/UserdataEntry.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
Due: none

test(gui): simplified test config slightly
  frontend/vitest.config.ts
Due: none

fix(deployments): skip inventory fallback when result page overshoots
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fix pytest -k filter parsing in integration test runner
  backend/tests/run-integration.bash
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: select right label in signup e2e tests
  frontend/tests/e2e_tests/integration/session.setup.ts
Due: none

fix(deviceconnect): properly flush session recording
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconnect): Move buffering and compression to Recorder interface
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/management_test.go
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/app/control_recorder.go
  backend/services/deviceconnect/app/mocks/App.go
  backend/services/deviceconnect/app/recorder.go
  backend/services/deviceconnect/app/recorder_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(pkg): Added library for connection oriented streams using nats
  backend/pkg/stream/mocks/Conn.go
  backend/pkg/stream/mocks/Listener.go
  backend/pkg/stream/nats.go
  backend/pkg/stream/stream.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): ensured redirection widgets keep their content centered after recent css changes
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Dashboard.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Devices.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/RedirectionWidget.tsx
  frontend/src/js/components/dashboard/widgets/__snapshots__/RedirectionWidget.test.tsx.snap
Due: none

feat(deviceconnect): add reliable transmission control over NATS sessions
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/client/nats/client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconnect): refactor playback to use connection oriented stream
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/app/playback.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses
