Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

fix(gui): fixed an issue that could limit release selection during deployment creation
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/tests/e2e_tests/integration/04-deployments.spec.ts
Due: none

docs(deployments): Create API spec for v2 GET `artifacts/list` endpoint
  backend/docs/api/management_v2_deployments.yaml
  backend/services/deployments/docs/management_api_v2.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

revert: "test: Unit tests for rate limit parameters and applying rate limits"
  backend/services/deviceauth/devauth/devauth_ratelimits_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

revert: "test: Unit tests for configuring rate limits"
  backend/services/deviceauth/server_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

revert: "feat(deviceauth): Rate limit device requests"
  .cliffignore
  backend/services/deviceauth/config.yaml
  backend/services/deviceauth/config/config.go
  backend/services/deviceauth/devauth/devauth_ratelimits.go
  backend/services/deviceauth/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

revert: "feat(deviceauth): Rate limit authenticated devices API"
  .cliffignore
  backend/services/deviceauth/cache/cache.go
  backend/services/deviceauth/config.yaml
  backend/services/deviceauth/config/config.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_ratelimits.go
  backend/services/deviceauth/main.go
  backend/services/deviceauth/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

revert: "test: Fix deviceauth.cache tests after changing client initialization"
  backend/services/deviceauth/cache/cache_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(gui): let report data retrieval + generation work per single report
  frontend/src/js/store/devicesSlice/thunks.tsx
Due: none

chore(gui): slightly simplified data retrieval for non-group based reports
  frontend/src/js/store/devicesSlice/thunks.tsx
Due: none

chore(gui): added selector for user init state
  frontend/src/js/store/usersSlice/selectors.ts
Due: none

chore(gui): removed unnecessary device update call
  frontend/src/js/components/dashboard/Devices.tsx
Due: none

fix(gui): improved likelyhood of getting all device report related data from backend
  frontend/src/js/store/devicesSlice/thunks.tsx
Due: none

feat(gui): staggered device report retrieval to further minimize hitting rate limits
  frontend/src/js/components/dashboard/SoftwareDistribution.tsx
Due: none

refactor(gui): let each device report handle data retrieval separately
  frontend/src/js/components/dashboard/SoftwareDistribution.tsx
  frontend/src/js/components/dashboard/widgets/Distribution.tsx
Due: none

chore(gui): ensured device report refresh on report config update
  frontend/src/js/components/dashboard/SoftwareDistribution.tsx
Due: none

test(gui): aligned device reports related tests with new retrieval focus
  frontend/src/js/components/App.test.tsx
  frontend/src/js/components/dashboard/Dashboard.test.tsx
  frontend/src/js/components/dashboard/SoftwareDistribution.test.tsx
  frontend/src/js/components/dashboard/__snapshots__/Dashboard.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/SoftwareDistribution.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/Distribution.test.tsx
  frontend/src/js/components/dashboard/widgets/__snapshots__/Distribution.test.tsx.snap
  frontend/src/js/store/devicesSlice/thunks.test.tsx
  frontend/tests/mockData.js
Due: none

chore(gui): added types for software distribution widget
  frontend/src/js/components/dashboard/SoftwareDistribution.tsx
  frontend/src/js/components/dashboard/widgets/Distribution.tsx
Due: none

feat(gui): let UI aggregate all device software again - not just rootfs info
  frontend/src/js/components/dashboard/SoftwareDistribution.tsx
  frontend/src/js/components/dashboard/widgets/Distribution.tsx
Due: none

chore(gui): unified definition of device provided software attribute references
  frontend/src/js/components/dashboard/SoftwareDistribution.tsx
  frontend/src/js/store/releasesSlice/constants.ts
  frontend/src/js/store/utils.ts
Due: none

refactor: Remove unused ant0ine/go-json-rest utilities from deployments
  backend/services/deployments/utils/testing/response.go
  backend/services/deployments/utils/testing/test_api.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deployments): Migrate from ant0nie/go-json-rest to gin-gonic/gin
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/api/http/api_deployments_last_status.go
  backend/services/deployments/api/http/api_deployments_last_status_test.go
  backend/services/deployments/api/http/api_deployments_releases.go
  backend/services/deployments/api/http/api_deployments_releases_test.go
  backend/services/deployments/api/http/api_deployments_test.go
  backend/services/deployments/api/http/common_test.go
  backend/services/deployments/api/http/images_test.go
  backend/services/deployments/api/http/limits_test.go
  backend/services/deployments/api/http/rest_view.go
  backend/services/deployments/api/http/routing.go
  backend/services/deployments/api/http/routing_test.go
  backend/services/deployments/server.go
  backend/services/deployments/tests/common.py
  backend/services/deployments/tests/tests/client.py
  backend/services/deployments/tests/tests/test_artifact.py
  backend/services/deployments/tests/tests/test_deployment.py
  backend/services/deployments/tests/tests/test_release.py
  backend/services/deployments/tests/tests/test_release_v2.py
  backend/services/deployments/utils/restutil/options.go
  backend/services/deployments/utils/restutil/options_external_test.go
  backend/services/deployments/utils/restutil/request.go
  backend/services/deployments/utils/restutil/view/view.go
  backend/services/deployments/utils/restutil/view/view_external_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): slightly increased selector reliance
  frontend/src/js/components/devices/AuthorizedDevices.tsx
  frontend/src/js/components/header/Header.tsx
Due: none

ci: Add pkg as a valid commit scope
  commitlint.config.js
Due: none

chore(pkg): Created interface and implementation of distributed locks
  backend/pkg/mongo/lock.go
  backend/pkg/mongo/lock_test.go
  backend/pkg/sync/lock.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(pkg): Serialize test execution of packages for pkg/...
  backend/pkg/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceauth): Fix the pagination logic in devices search endpoint
  backend/services/deviceauth/api/http/api_devauth.go
  backend/services/deviceauth/api/http/api_devauth_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove ant0ine/go-json-rest dependency from accesslog middleware pkg
  backend/pkg/accesslog/middleware.go
  backend/pkg/accesslog/middleware_gin.go
  backend/pkg/accesslog/middleware_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove unused ant0ine/go-json-rest based customheader middleware
  backend/pkg/customheader/middleware.go
  backend/pkg/customheader/middleware_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove unused ant0ine/go-json-rest based context middleware
  backend/pkg/context/middleware.go
  backend/pkg/context/middleware_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove ant0ine/go-json-rest dependency from identity middleware pkg
  backend/pkg/identity/middleware.go
  backend/pkg/identity/middleware_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove ant0ine/go-json-rest dependency from rbac middelware pkg
  backend/pkg/rbac/middleware.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove ant0ine/go-json-rest dependency from requestid middleware pkg
  backend/pkg/requestid/middleware.go
  backend/pkg/requestid/middleware_test.go
  backend/pkg/requestid/utils.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove unsed ant0ine/go-json-rest based requestlog middleware
  backend/pkg/requestlog/middleware.go
  backend/pkg/requestlog/middleware_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat: Implemented gin request body size limiter middleware
  backend/pkg/requestsize/middleware.go
  backend/pkg/requestsize/middleware_test.go
  backend/pkg/rest.utils/utils.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor: Remove rest_utils pkg and migrate existing utils to rest.utils
  backend/pkg/rest.utils/error.go
  backend/pkg/rest.utils/paging.go
  backend/pkg/rest_utils/api_error.go
  backend/pkg/rest_utils/api_error_test.go
  backend/pkg/rest_utils/paging.go
  backend/pkg/rest_utils/paging_test.go
  backend/pkg/rest_utils/response_helpers.go
  backend/pkg/rest_utils/response_helpers_test.go
  backend/pkg/testing/response.go
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/api/http/api_deployments_test.go
  backend/services/deployments/client/inventory/client.go
  backend/services/deployments/client/inventory/client_test.go
  backend/services/deployments/client/reporting/client.go
  backend/services/deployments/client/reporting/client_test.go
  backend/services/deployments/client/workflows/client.go
  backend/services/deployments/client/workflows/client_test.go
  backend/services/deviceauth/api/http/api_devauth_test.go
  backend/services/deviceauth/client/inventory/client.go
  backend/services/deviceauth/client/inventory/client_test.go
  backend/services/deviceauth/client/orchestrator/client_orchestrator.go
  backend/services/deviceauth/client/orchestrator/client_orchestrator_test.go
  backend/services/deviceauth/client/tenant/client_tenantadm.go
  backend/services/deviceauth/client/tenant/client_tenantadm_test.go
  backend/services/deviceconfig/client/workflows/client_test.go
  backend/services/deviceconnect/client/workflows/client_test.go
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/inventory/client/workflows/client.go
  backend/services/inventory/client/workflows/client_test.go
  backend/services/useradm/api/http/api_useradm_test.go
  backend/services/useradm/client/tenant/client_tenantadm.go
  backend/services/useradm/client/tenant/client_tenantadm_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Remove github.com/ant0ine/go-json-rest package from the backend
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(pkg): Create event aware Limiter and refactor redis limiter
  backend/pkg/rate/limit.go
  backend/pkg/redis/ratelimit.go
  backend/pkg/redis/ratelimit_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(pkg): Unit tests for config.UnmarshalSliceSetting
  backend/pkg/config/unmarshal_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses
