Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

test: make curve constants class instances
  backend/tests/integration/testutils/util/crypto.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): removed old way of email verification
  frontend/src/js/components/App.tsx
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
Due: none

chore(gui): added activate to public routes
  frontend/src/js/components/App.tsx
  frontend/src/js/config/routes.tsx
Due: none

chore(gui): adjusted the password reset wrapper to fit new design
  frontend/src/js/components/login/Password.tsx
Due: none

feat(gui): added new Activate page for email verification
  frontend/src/js/components/login/Activate.tsx
Due: none

chore(gui): reduced cognitive complexity to accommodate conditional navigation
  frontend/src/js/components/login/Activate.tsx
Due: none

chore(gui): adjusted snapshots
  frontend/src/js/components/login/__snapshots__/Password.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/PasswordReset.test.tsx.snap
Due: none

fix(gui): restored copying values via the copy indicator after switch to new data display
  frontend/src/js/common-ui/TwoColumnData.tsx
Due: none

test(gui): ensured read only data display keeps copying where expected
  frontend/src/js/common-ui/TwoColumnData.test.tsx
  frontend/src/js/common-ui/TwoColumnData.tsx
Due: none

fix(create-artifact-worker): hardened single file generation input validations
  backend/services/create-artifact-worker/cmd/single-file.go
  backend/services/create-artifact-worker/cmd/single-file_test.go
  backend/services/create-artifact-worker/config/config.go
  backend/services/create-artifact-worker/config/config_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): added tiers to device auth set list item and identity
  frontend/src/js/components/devices/device-details/Identity.tsx
  frontend/src/js/components/devices/device-details/authsets/AuthSetList.tsx
  frontend/src/js/components/devices/device-details/authsets/AuthSetListItem.tsx
Due: none

chore(gui): added tier non-supported notice for micro tier
  frontend/src/js/components/devices/device-details/Connection.tsx
Due: none

test(gui): updated test to include tiers in mocks
  frontend/src/js/components/devices/device-details/authsets/AuthSetList.test.tsx
  frontend/src/js/components/devices/device-details/authsets/AuthSetListItem.test.tsx
  frontend/src/js/components/devices/device-details/authsets/AuthSets.test.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/AuthStatus.test.tsx.snap
  frontend/src/js/components/devices/device-details/authsets/__snapshots__/AuthSetList.test.tsx.snap
  frontend/src/js/components/devices/device-details/authsets/__snapshots__/AuthSetListItem.test.tsx.snap
Due: none

chore(gui): verification page style fixes
  frontend/src/js/components/login/Activate.tsx
Due: none

chore(gui): updated backend interaction package
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): aligned snapshots
  frontend/src/js/common-ui/__snapshots__/TwoColumnData.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceConfiguration.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceDetails.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/FileTransfer.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/PortForward.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeploymentStatus.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/Overview.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/RolloutSchedule.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Configuration.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Identity.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/InstalledSoftware.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactMetadataList.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactPayload.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
Due: none

chore(gui): ensured read only data display keeps copying where expected - pt2
  frontend/src/js/common-ui/CopyableText.tsx
  frontend/src/js/common-ui/InventoryTable.tsx
  frontend/src/js/common-ui/TwoColumnData.tsx
Due: none

fix(gui): added handling of `artifact_too_big` deployment sub-status
  frontend/src/js/components/deployments/deployment-report/DeviceList.tsx
Due: none

chore: update release please configuration
  release-please-config.json
Due: none

refactor(deviceauth): remove dead code
  backend/services/deviceauth/api/http/api_handler.go
  backend/services/deviceauth/api/http/context.go
  backend/services/deviceauth/api/http/routing.go
  backend/services/deviceauth/model/authset.go
  backend/services/deviceauth/model/devadm-authset-req.go
  backend/services/deviceauth/model/tenant.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Amend typo in compose file
  backend/tests/docker/docker-compose.backend-tests-compat.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Add Mender Client 6 to backend tests `test_compat`
  backend/tests/docker/docker-compose.backend-tests-compat.yml
  backend/tests/integration_compat/test_compat.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed an issue that could lead the ui to a faulty state when handling `noauth` devices
  frontend/src/js/components/SearchResult.test.tsx
  frontend/src/js/components/SearchResult.tsx
  frontend/src/js/components/devices/device-details/DeviceSystem.tsx
Due: none

test: let slow loading editor only be focused after it is initialized to ease metadata entry
  frontend/tests/e2e_tests/integration/02-baseline/03-saml.spec.ts
Due: none

ci: let release branches use latest release branch image on non-main branches
  frontend/pipeline.yml
Due: none

ci: unified backend integration setup
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test: reintroduced compat test
  .gitlab-ci.yml
  backend/tests/docker/docker-compose.backend-tests-compat.yml
  backend/tests/integration_compat/conftest.py
  backend/tests/integration_compat/test_compat.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(4.1.x): release 4.1.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

feat(gui): let device/release selections no longer persist when navigating to a new page
  frontend/src/js/components/devices/AuthorizedDevices.test.tsx
  frontend/src/js/components/devices/AuthorizedDevices.tsx
  frontend/src/js/components/releases/Releases.test.tsx
  frontend/src/js/components/releases/Releases.tsx
Due: none

feat(gui): added filtering by tiers on device list page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/devices/AuthorizedDevices.tsx
  frontend/src/js/components/devices/widgets/TierSelection.tsx
Due: none

chore(gui): adjusted selector filters with the design
  frontend/src/js/components/devices/__snapshots__/AuthorizedDevices.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/widgets/DeviceStateSelection.tsx
  frontend/src/js/components/devices/widgets/IssueSelection.tsx
  frontend/src/js/components/devices/widgets/TierSelection.tsx
  frontend/src/js/components/devices/widgets/__snapshots__/IssueSelection.test.tsx.snap
Due: none

chore: Revert Use Virtual Device for OS updates in docker composition"
  docker-compose.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
Due: none

feat(gui): add DocsTextLink variant for inline documentation links
  frontend/src/js/common-ui/DocsLink.test.tsx
  frontend/src/js/common-ui/DocsLink.tsx
  frontend/src/js/common-ui/__snapshots__/DocsLink.test.tsx.snap
Due: none

chore(4.0.x): release 4.1.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix(gui): ensured all filtering options have a readable title
  frontend/package-lock.json
  frontend/package.json
Due: none

test: aligned expected v6 client version w/ mender-auth version used in the client
  backend/tests/integration_compat/test_compat.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
