Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

build:backend:docker-acceptance:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

test:backend:static:
  stage: test
  needs: []
  tags:
  - hetzner-amd-beefy
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:6.0
    alias: mongo
  variables:
    TEST_MONGO_URL: mongodb://mongo
  ...

test:backend:acceptance:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

test:backend:integration:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  variables:
    COVERALLS_TOKEN: $COVERALLS_REPO_TOKEN
  ...

publish:backend:licenses:
  stage: publish
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:${GOLANG_VERSION}
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  - ln -s ../LICENSE ./
  ...

chore(inventory): Added make target for generating test clients from OAS
  backend/services/inventory/.gitignore
  backend/services/inventory/Makefile
  backend/services/inventory/tests/.openapi-generator-ignore
  backend/services/inventory/tests/docker-compose.acceptance.yml
  backend/services/inventory/tests/openapi_client/.openapi-generator.yaml
  backend/tests/requirements-acceptance.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): Remove old/deprecated swagger 2.0 specifications
  backend/services/inventory/docs/devices_api.yml
  backend/services/inventory/docs/internal_api.yml
  backend/services/inventory/docs/internal_api_v2.yml
  backend/services/inventory/docs/management_api.yml
  backend/services/inventory/docs/management_api_v2.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): Consolidate OAS specification to a single file
  backend/docs/api/components/common.yaml
  backend/docs/api/inventory.openapi.yaml
  backend/docs/api/inventory_devices_v1.yaml
  backend/docs/api/inventory_internal_v1.yaml
  backend/docs/api/inventory_internal_v2.yaml
  backend/docs/api/inventory_management_v1.yaml
  backend/docs/api/inventory_management_v2.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): Initialize OAS client and prune pytest options
  backend/services/inventory/tests/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(inventory): Move common fixture to conftest
  backend/services/inventory/tests/common.py
  backend/services/inventory/tests/conftest.py
  backend/services/inventory/tests/tests/client.py
  backend/services/inventory/tests/tests/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): Properly document all valid Attribute value types
  backend/docs/api/inventory.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Expose PYTEST_ADDOPTS in acceptance testing environment
  backend/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): Refactor inventory tests to use OAS generated clients
  backend/services/inventory/tests/tests/test_api_internal.py
  backend/services/inventory/tests/tests/test_cli.py
  backend/services/inventory/tests/tests/test_grouping_devices.py
  backend/services/inventory/tests/tests/test_inventory_searching.py
  backend/services/inventory/tests/tests/test_inventory_sorting.py
  backend/services/inventory/tests/tests/test_mgmt_tag_attributes.py
  backend/services/inventory/tests/tests/test_mgmt_v2_filters_attributes.py
  backend/services/inventory/tests/tests/test_remove_device_groupping.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): Fix count response attributes not required
  backend/docs/api/inventory.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fix changelog generator for Mender Server onprem
  .gitlab-ci.yml
Due: none

chore(gui): removed leftover test config from vitest migration
  frontend/tests/assetsTransformer.js
  frontend/tests/cssTransform.js
  frontend/tests/jest.polyfills.js
Due: none

test(deviceconnect): Fix TestSetSessionRecroding not reporting errors
  backend/services/deviceconnect/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: expanded tenant token before copying to allow client to connect
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

ci: fixed license generation for frontend licenses
  frontend/rspack.config.js
  frontend/scripts/deno.json
  frontend/scripts/formatLicenses.ts
Due: none

ci: added safeguard to license generation
  frontend/pipeline.yml
  frontend/tests/licenses/licenseCheck.ts
Due: none

chore(gui): adjusted snapshots to align with nt-gui theme
  frontend/src/js/common-ui/__snapshots__/ExpandableAttribute.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/common-ui/dialogs/__snapshots__/PhysicalDeviceOnboarding.test.tsx.snap
  frontend/src/js/common-ui/forms/__snapshots__/Form.test.tsx.snap
  frontend/src/js/common-ui/forms/__snapshots__/TimeFramePicker.test.tsx.snap
  frontend/src/js/components/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/CustomColumnsDialogContent.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroup.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/GroupDefinition.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/FilterItem.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/Filters.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Login.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Password.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/PasswordReset.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Signup.test.tsx.snap
  frontend/src/js/components/login/signup-steps/__snapshots__/OrgdataEntry.test.tsx.snap
  frontend/src/js/components/login/signup-steps/__snapshots__/UserdataEntry.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactMetadataList.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactPayload.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/ArtifactInformationForm.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/AccessTokenManagement.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Integrations.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/Billing.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/Organization.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/OrganizationSettingsItem.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOConfig.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/RoleDefinition.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
  frontend/src/js/components/settings/user-management/twofactorauth-steps/__snapshots__/AuthSetup.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantsForm.test.tsx.snap
Due: none

chore(gui): made use of nt-gui themes package
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack.config.js
  frontend/src/js/components/App.tsx
  frontend/src/js/components/auditlogs/Auditlogs.test.tsx
  frontend/src/js/components/dashboard/widgets/Distribution.tsx
  frontend/src/js/config/routes.test.tsx
  frontend/src/js/store/devicesSlice/thunks.tsx
  frontend/tests/licenses/directDependencies.csv
  frontend/tests/setupTests.jsx
Due: none

chore(gui): removed now unused theme definition & less styles
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack.config.js
  frontend/src/js/themes/Mender/common.ts
  frontend/src/js/themes/Mender/dark.ts
  frontend/src/js/themes/Mender/index.ts
  frontend/src/js/themes/Mender/light.ts
  frontend/src/js/themes/Mender/mui.d.ts
  frontend/src/js/themes/MenderNext/common.ts
  frontend/src/js/themes/MenderNext/dark.ts
  frontend/src/js/themes/MenderNext/index.ts
  frontend/src/js/themes/MenderNext/light.ts
  frontend/src/js/themes/MenderNext/mui.d.ts
  frontend/src/less/fonts.less
  frontend/src/less/loader.less
  frontend/src/less/main.less
  frontend/src/less/variables.less
  frontend/src/less/variables_dark.less
  frontend/src/less/variables_light.less
  frontend/tests/licenses/directDependencies.csv
Due: none

ci: Debug mongodb in backend unit tests
  .gitlab-ci.yml
Due: none

test(deviceconnect): Add error context to failing test
  backend/services/deviceconnect/api/http/management_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceauth): Migrate from ant0nie/go-json-rest to gin-gonic/gin
  backend/pkg/testing/response.go
  backend/services/deviceauth/api/http/api_devauth.go
  backend/services/deviceauth/api/http/api_devauth_test.go
  backend/services/deviceauth/api/http/api_handler.go
  backend/services/deviceauth/api/http/model_pre_auth_req.go
  backend/services/deviceauth/api/http/routing.go
  backend/services/deviceauth/api/http/routing_test.go
  backend/services/deviceauth/server.go
  backend/services/deviceauth/tests/common.py
  backend/services/deviceauth/tests/tests/test_token.py
  backend/services/deviceauth/utils/http.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor: Remove ant0ine/go-json-rest dependency from `requestid.GetReqId()`
  backend/pkg/context/middleware.go
  backend/pkg/requestid/utils.go
  backend/pkg/rest_utils/response_helpers.go
  backend/services/deployments/api/http/api_deployments_releases.go
  backend/services/deployments/utils/restutil/view/view.go
  backend/services/deviceauth/api/http/context.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

revert: "ci: Debug mongodb in backend unit tests"
  .gitlab-ci.yml
Due: none

refactor(deviceauth): Move api urls and router maker to `routing.go`
  backend/services/deviceauth/api/http/api_devauth.go
  backend/services/deviceauth/api/http/routing.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed reset button location in device tags & similar editors
  frontend/src/js/common-ui/forms/KeyValueEditor.tsx
Due: none

fix(gui): allowed clearing device tags & device configuration entirely
  frontend/src/js/components/devices/device-details/DeviceTags.tsx
Due: none

fix(gui): fixed location of device name tag help to not disturb tag editor
  frontend/src/js/common-ui/forms/KeyValueEditor.tsx
Due: none

chore(gui): removed unused flexibility for device tag helptips
  frontend/src/js/components/devices/device-details/DeviceTags.tsx
Due: none

chore(gui): added types to tooltip related components
  frontend/src/js/common-ui/helptips/HelpTooltips.tsx
  frontend/src/js/common-ui/helptips/MenderTooltip.tsx
  frontend/src/js/store/usersSlice/constants.ts
Due: none

chore(gui): removed unused ref based tooltip location capabilities
  frontend/src/js/common-ui/forms/KeyValueEditor.tsx
Due: none

chore(gui): added types to key value editor
  frontend/src/js/common-ui/forms/KeyValueEditor.tsx
Due: none

fix(gui): prevented device tag editor to be shown when no tags exist
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/DeviceTags.tsx
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceTags.test.tsx.snap
Due: none

feat(gui): made device tag setting requirement for fully defined keys & values more visible
  frontend/src/js/components/devices/device-details/DeviceTags.tsx
Due: none

chore(gui): allowed tracking input changes for partially defined rows too
  frontend/src/js/common-ui/forms/KeyValueEditor.tsx
Due: none

chore(gui): refactored editor to rely on react-hook-form
  frontend/src/js/common-ui/forms/KeyValueEditor.tsx
  frontend/src/js/components/devices/device-details/DeviceTags.tsx
Due: none

chore(gui): aligned KV editor update behaviour with prior solution
  frontend/src/js/common-ui/forms/KeyValueEditor.tsx
Due: none

chore(gui): aligned KV editor usage with updated behaviour
  frontend/src/js/common-ui/forms/KeyValueEditor.test.tsx
  frontend/src/js/components/devices/dialogs/PreauthDialog.tsx
  frontend/src/js/components/devices/dialogs/__snapshots__/PreauthDialog.test.tsx.snap
Due: none

chore(main): release 4.1.0-saas.6
  .release-please-manifest.json
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
