Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

feat(gui): added deployment phase definition input to align w/ updated design
  frontend/src/js/components/deployments/deployment-wizard/phases/Input.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/constants.ts
Due: none

chore(gui): added shared deployment phase types + modes information & utils
  frontend/src/js/components/deployments/deployment-wizard/phases/constants.ts
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/types.ts
  frontend/src/js/components/deployments/deployment-wizard/utils.ts
Due: none

ci: only rebase renovate PRs on conflict and drop the schedule window
  renovate.json5
Due: none

feat(gui): add support for repeating uniform deployment phase patterns
  frontend/src/js/components/deployments/deployment-wizard/phases/UniformPhases.tsx
Due: none

feat(gui): added support for percentage & device count deployment phase definitions
  frontend/src/js/components/deployments/deployment-wizard/phases/CustomPhases.tsx
Due: none

refactor(gui): track deployment schedule independent of phase definitions
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
Due: none

refactor(gui): integrated custom phase pattern support in phase settings
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
Due: none

refactor(gui): allow deployment creation despite faulty phase definitions
  frontend/src/js/components/deployments/CreateDeployment.tsx
Due: none

feat(gui): support device-count rollouts in deployment progress
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.tsx
  frontend/src/js/components/deployments/progress/usePhaseProgress.ts
Due: none

refactor(gui): integrate rollout modes into deployment creation
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/utils.ts
Due: none

test(gui): adjust tests for phase rework
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/CustomPhases.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/UniformPhases.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.test.ts
Due: none

chore(gui): allowed time format alignment across the ui
  frontend/src/js/common-ui/Time.tsx
Due: none

chore(gui): allowed deployment creation helper components
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
Due: none

chore(gui): aligned deployment creation options w/ updated design
  frontend/src/js/common-ui/DocsLink.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutSteps.tsx
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/helptips/HelpTooltips.tsx
Due: none

chore(gui): extended checkbox configuration options to align w/ underlying component
  frontend/src/js/common-ui/forms/FormCheckbox.tsx
Due: none

feat(gui): made deployment creation more informative via contextual errors
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/CustomPhases.tsx
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/validation.test.ts
  frontend/src/js/components/deployments/deployment-wizard/validation.ts
Due: none

perf(gui): reduced rendering load during deployment creation
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/Deployments.tsx
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
Due: none

refactor(gui): integrated deployment options further into rhf
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/ScheduleRollout.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/CustomPhases.tsx
  frontend/src/js/components/deployments/deployment-wizard/types.ts
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
Due: none

feat(gui): explained & cleared unavailable deployment options
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/deployments/deployment-wizard/utils.tsx
  frontend/src/js/components/deployments/deployment-wizard/validation.test.ts
  frontend/src/js/components/deployments/deployment-wizard/validation.ts
Due: none

test(gui): aligned deployment creation checks w/ software understanding & design
  frontend/src/js/components/deployments/CreateDeployment.test.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
Due: none

chore(gui): aligned snapshots w/ the updated deployment creation drawer
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/RolloutSteps.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
Due: none

chore(gui): align software tag validation with server
  frontend/src/js/common-ui/Confirm.tsx
  frontend/src/js/common-ui/forms/ChipSelect.tsx
  frontend/src/js/common-ui/forms/helpers.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/dialogs/AddTags.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

chore(gui): use dedicated action to bulk update the software tags
  frontend/src/js/components/releases/dialogs/AddTags.tsx
Due: none

chore(deps): update docker docker tag to v29.7
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(deps): update docker-base-images
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
  frontend/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(inventory): store identities alongside devices docs
  backend/services/inventory/inv/identities.go
  backend/services/inventory/inv/inventory.go
  backend/services/inventory/store/datastore.go
  backend/services/inventory/store/mocks/DataStore.go
  backend/services/inventory/store/mongo/datastore_mongo.go
  backend/services/inventory/store/mongo/datastore_mongo_identities.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(inventory): return the identities with the get devices/:id endpoint
  backend/docs/api/inventory/schemas.yaml
  backend/services/inventory/model/device.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: clients re-generation
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/model_device_inventory_response.go
  backend/tests/mender_client/models/device_inventory_response.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(inventory): add index on identities field
  backend/services/inventory/store/mongo/datastore_mongo.go
  backend/services/inventory/store/mongo/datastore_mongo_test.go
  backend/services/inventory/store/mongo/migration_1_1_1.go
  backend/services/inventory/store/mongo/migration_1_1_1_test.go
  backend/services/inventory/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): moved validation logic to a separate file
  frontend/src/js/common-ui/forms/Form.test.tsx
  frontend/src/js/common-ui/forms/Form.tsx
  frontend/src/js/common-ui/forms/PasswordInput.tsx
  frontend/src/js/common-ui/forms/TextInput.tsx
  frontend/src/js/common-ui/forms/helpers.tsx
  frontend/src/js/common-ui/forms/validations.test.ts
  frontend/src/js/common-ui/forms/validations.ts
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/dialogs/AddTags.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

test: RIP bar.com :saluting_face:
  backend/services/useradm/commands_test.go
  backend/services/useradm/model/user_test.go
  backend/services/useradm/store/mongo/datastore_mongo_test.go
  backend/services/useradm/store/mongo/migration_2_0_0_test.go
  backend/services/useradm/tests/tests/test_api_management.py
  backend/services/useradm/tests/tests/test_auth.py
  backend/services/useradm/tests/tests/test_cli.py
  backend/services/useradm/user/useradm_test.go
  backend/services/useradm/utils/similar_checker_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(e2e): try to always collect test client logs
  frontend/tests/e2e_tests/runner/lifecycle.js
Due: none

refactor(gui): aligned controlled text input further w/ rhf api
  frontend/src/js/common-ui/forms/TextInput.tsx
Due: none

test(gui): aligned artifact generation reliant tests w/ updated implementation
  frontend/src/js/components/releases/dialogs/AddArtifact.test.tsx
  frontend/src/js/components/releases/dialogs/ArtifactInformationForm.test.tsx
  frontend/src/js/components/releases/dialogs/FileInformation.test.tsx
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

chore(gui): removed now unused prebuilt artifact upload confirmation trigger
  frontend/src/js/components/releases/dialogs/ArtifactUpload.test.tsx
  frontend/src/js/components/releases/dialogs/ArtifactUpload.tsx
Due: none

chore(gui): aligned snapshots w/ updated design
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/AddArtifact.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/ArtifactInformationForm.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/ArtifactUpload.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/FileInformation.test.tsx.snap
Due: none

refactor(gui): converted artifact generation to rhf
  frontend/src/js/components/helptips/HelpTooltips.tsx
  frontend/src/js/components/releases/Releases.tsx
  frontend/src/js/components/releases/dialogs/AddArtifact.tsx
  frontend/src/js/components/releases/dialogs/ArtifactInformationForm.tsx
  frontend/src/js/components/releases/dialogs/FileInformation.tsx
Due: none

feat(inventory): search inventory by identity alpha endpoint
  backend/pkg/rest.utils/paging.go
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/api/http/routing.go
  backend/services/inventory/inv/inventory.go
  backend/services/inventory/model/filters.go
  backend/services/inventory/store/datastore.go
  backend/services/inventory/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(inventory): regenerate mocks
  backend/services/inventory/inv/mocks/InventoryApp.go
  backend/services/inventory/store/mocks/DataStore.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
