Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore(deviceauth): handle inventory status attribute outside the client
  backend/services/deviceauth/client/inventory/client.go
  backend/services/deviceauth/client/inventory/client_test.go
  backend/services/deviceauth/cmd/commands.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): let device deployments history access our log viewer as well
  frontend/src/js/components/devices/device-details/Deployments.test.tsx
  frontend/src/js/components/devices/device-details/Deployments.tsx
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/store/deploymentsSlice/selectors.ts
Due: none

ci: openapi specs: ASSEMBLE!
  .gitlab-ci.yml
  backend/docs/api/common/schemas.yaml
  backend/docs/api/common/securitySchemes.yaml
  backend/docs/api/config/plugin.js
  backend/docs/api/config/redocly.yaml
  backend/docs/api/root.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(workflows): add RetryDelaySeconds to workflows
  backend/services/workflows/worker/workflows/decommission_device.json
  backend/services/workflows/worker/workflows/deploy_device_configuration.json
  backend/services/workflows/worker/workflows/provision_device.json
  backend/services/workflows/worker/workflows/provision_external_device.json
  backend/services/workflows/worker/workflows/reindex_inventory.json
  backend/services/workflows/worker/workflows/reindex_reporting.json
  backend/services/workflows/worker/workflows/reindex_reporting_deployment.json
  backend/services/workflows/worker/workflows/update_device_inventory.json
  backend/services/workflows/worker/workflows/update_device_status.json
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: let api docs rely on common internal error response
  backend/docs/api/common/responses.yaml
  backend/docs/api/devices_v1_deployments.yaml
  backend/docs/api/internal_v1_deployments.yaml
  backend/docs/api/inventory_devices_v1.yaml
  backend/docs/api/inventory_internal_v1.yaml
  backend/docs/api/inventory_internal_v2.yaml
  backend/docs/api/inventory_management_v1.yaml
  backend/docs/api/inventory_management_v2.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/docs/api/useradm.openapi.yaml
  backend/docs/api/workflows.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: let api docs rely on common 404 response
  backend/docs/api/common/responses.yaml
  backend/docs/api/devices_v1_deployments.yaml
  backend/docs/api/inventory_internal_v1.yaml
  backend/docs/api/inventory_management_v1.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/docs/api/useradm.openapi.yaml
  backend/docs/api/workflows.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs: let docs rely on common error + security definitions
  backend/docs/api/devices_v1_deployments.yaml
  backend/docs/api/internal_v1_deployments.yaml
  backend/docs/api/inventory_devices_v1.yaml
  backend/docs/api/inventory_internal_v1.yaml
  backend/docs/api/inventory_internal_v2.yaml
  backend/docs/api/inventory_management_v1.yaml
  backend/docs/api/inventory_management_v2.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/docs/api/useradm.openapi.yaml
  backend/docs/api/workflows.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): cleaned up now unused delta jobs info passing
  frontend/src/js/store/releasesSlice/thunks.ts
Due: none

test(gui): restructured e2e tests to ease reuse w/ other clients
  frontend/tests/e2e_tests/integration/01-basic/01-basic.spec.ts
  frontend/tests/e2e_tests/integration/01-basic/02-login.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/02-settings.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/03-saml.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/04-tenant.spec.ts
  frontend/tests/e2e_tests/integration/02-layoutAssertions.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/02-deviceDetails.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/02-webhooks.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-auditlogs.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
  frontend/tests/e2e_tests/integration/session.setup.ts
  frontend/tests/e2e_tests/playwright.config.ts
  frontend/tests/e2e_tests/utils/constants.ts
Due: none

chore(gui): cleaned up e2e test imports
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

ci: improved log output on error in e2e tests
  frontend/tests/e2e_tests/run.js
Due: none

test(gui): added e2e tests for delta generation functionality
  frontend/pipeline.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.rofs.yml
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
  frontend/tests/e2e_tests/playwright-qemu.config.ts
  frontend/tests/e2e_tests/run.js
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

ci: let docker credential input be more literal
  frontend/pipeline.yml
Due: none

fix(gui): fixed an issue that could cause the deployment device limit to be ignored
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
Due: none

chore(gui): reverted to more stable monaco to prevent flaky SAML tests in CI
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): reverted to compatible eslint-config
  frontend/package-lock.json
  frontend/package.json
Due: none

ci: aligned saml editor locator with updated monaco version Ticket: QA-933 Signed-off-by: Manuel Zedel <manuel.zedel@northern.tech>
  frontend/tests/e2e_tests/integration/07-saml.spec.ts
Due: none

fix(gui): fixed an issue that could prevent the billing overview from working
  frontend/src/js/components/settings/organization/Billing.tsx
Due: none

chore(gui): aligned react version w/ testing package requirement
  frontend/package-lock.json
  frontend/package.json
Due: none

test(gui): removed reliance on cookie setting check as it happens in store
  frontend/src/js/components/login/Signup.test.tsx
Due: none

chore(gui): aligned store mock setup w/ current ui state
  frontend/tests/testUtils.ts
Due: none

test(gui): post testing/store package adjustment
  frontend/src/js/components/App.test.tsx
  frontend/src/js/components/dashboard/widgets/ChartAddition.test.tsx
Due: none

test(gui): aligned PAT test naming w/ component
  frontend/src/js/components/settings/AccessTokenManagement.test.tsx
Due: none

refactor(gui): aligned thunk spying w/ updated store package format
  frontend/src/js/components/auditlogs/eventdetails/PortForward.test.tsx
  frontend/src/js/components/auditlogs/eventdetails/TerminalSession.test.tsx
  frontend/src/js/components/dashboard/SoftwareDistribution.test.tsx
  frontend/src/js/components/devices/AuthorizedDevices.test.tsx
  frontend/src/js/components/devices/device-details/Deployments.test.tsx
  frontend/src/js/components/devices/dialogs/PreauthDialog.test.tsx
  frontend/src/js/components/login/Login.test.tsx
  frontend/src/js/components/login/Password.test.tsx
  frontend/src/js/components/login/PasswordReset.test.tsx
  frontend/src/js/components/login/Signup.test.tsx
  frontend/src/js/components/releases/Releases.test.tsx
  frontend/src/js/components/releases/dialogs/AddArtifact.test.tsx
  frontend/src/js/components/settings/AccessTokenManagement.test.tsx
  frontend/src/js/components/settings/ArtifactGeneration.test.tsx
  frontend/src/js/components/settings/Upgrade.test.tsx
  frontend/src/js/components/settings/organization/Billing.test.tsx
  frontend/src/js/components/settings/role-management/Roles.test.tsx
  frontend/src/js/components/settings/user-management/UserManagement.test.tsx
  frontend/src/js/components/subscription/SubscriptionDrawer.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
  frontend/src/js/components/tenants/ExpandedTenant.test.tsx
  frontend/src/js/components/tenants/TenantsForm.test.tsx
Due: none

chore(gui): improve non esm module imports to work w/ vitest
  frontend/src/js/common-ui/Time.tsx
  frontend/src/js/components/auditlogs/eventdetails/utils.tsx
  frontend/src/js/components/deployments/Deployments.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/settings/user-management/UserForm.tsx
Due: none

chore(gui): aligned store constant access to work w/ store package
  frontend/src/js/common-ui/InputErrorNotification.test.tsx
  frontend/src/js/common-ui/InputErrorNotification.tsx
  frontend/src/js/components/App.test.tsx
  frontend/src/js/components/dashboard/Dashboard.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/DeviceLimit.tsx
  frontend/src/js/components/login/Signup.test.tsx
  frontend/src/js/components/releases/Releases.test.tsx
  frontend/src/js/components/settings/ArtifactGeneration.test.tsx
  frontend/src/js/components/settings/Upgrade.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/components/tenants/TenantList.tsx
Due: none

refactor(gui): let email check be done in thunk to align msw handler location
  frontend/src/js/components/tenants/TenantCreateForm.tsx
Due: none

chore(gui): aligned date picking tests with updated component structure
  frontend/src/js/common-ui/forms/TimeFramePicker.test.tsx
Due: none

test(gui): made use of more explicit numeric comparison
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

chore(gui): further increased accessibility for testability
  frontend/src/js/common-ui/ChipSelect.tsx
  frontend/src/js/components/settings/organization/Organization.test.tsx
  frontend/tests/e2e_tests/integration/03-files.spec.ts
  frontend/tests/e2e_tests/integration/07-saml.spec.ts
  frontend/tests/e2e_tests/integration/09-tenant.spec.ts
Due: none

chore(gui): added more accessible descriptions on flakily selected icon buttons
  frontend/src/js/common-ui/Confirm.tsx
  frontend/src/js/common-ui/Pagination.tsx
  frontend/src/js/common-ui/__snapshots__/List.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/AuditLogsList.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Monitoring.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleasesList.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantList.test.tsx.snap
Due: none

chore(4.0.x): release 4.0.2
  .release-please-manifest.json
  CHANGELOG.md
Due: none

docs(api): made operationIds unique across API specs
  backend/docs/api/internal_v1_deployments.yaml
  backend/docs/api/inventory_internal_v1.yaml
  backend/docs/api/inventory_internal_v2.yaml
  backend/docs/api/inventory_management_v2.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/docs/api/useradm.openapi.yaml
  backend/docs/api/workflows.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:validate-open-api, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
