Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

refactor(gui): unified quick actions to use reusable component for consistent styling
  frontend/src/js/common-ui/QuickActions.tsx
  frontend/src/js/components/devices/widgets/DeviceQuickActions.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/manifests/ManifestQuickActions.tsx
Due: none

test(e2e): wait for settings to be loaded before deciding on email verification
  frontend/tests/e2e_tests/integration/02-baseline/02-settings.spec.ts
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/DeviceQuickActions.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDetails.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestQuickActions.test.tsx.snap
Due: none

fix(pkg): masking error when checking for invalidated cache
  backend/pkg/redis/redis.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceconnect): add reliable transmission control over NATS sessions
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/client/nats/client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconnect): refactor playback to use connection oriented stream
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/app/playback.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceconnect): improve error handling reaching session recording limit
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconnect): consolidate error handling and ws close frame
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/utils.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: remove buildkit v0.17.3 pin from buildx setup
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test: use specific version of python in integration tests
  backend/tests/Dockerfile.integration
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): update unit tests for websocket sessions
  backend/services/deviceconnect/api/http/device_test.go
  backend/services/deviceconnect/api/http/management_test.go
  backend/services/deviceconnect/client/nats/mocks/Client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconnect): mender command APIs to use connection oriented streams
  backend/services/deviceconnect/api/http/device_test.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/management_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): adjust acceptance tests error assertions
  backend/services/deviceconnect/tests/tests/test_connect.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): rewrite filetransfer tests to use stream mocks
  backend/services/deviceconnect/api/http/management_filetransfer_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): update deviceconnect application tests
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/app/playback_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(pkg): refactor nats stream connection refused condition
  backend/pkg/stream/nats.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconnect): file transfer to use connection oriented NATS transport
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/management_filetransfer.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: revert gitlab dependency proxy mirrored through buildkit
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: add healthcheck verification job for the gui container
  frontend/pipeline.yml
Due: none

docs(deployments): Change 'name' parameter type to array in software list endpoint
  backend/docs/api/deployments/management_v1alpha1.yaml
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/api_deployments_v1alpha1_management_api.go
  backend/tests/mender_client/api/deployments_v1alpha1_management_api_api.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: remove `ReleaseOrImageFilter` dependency from `getReleaseSortFieldAndOrder`
  backend/services/deployments/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deployments): Implement endpoint for listing software
  backend/services/deployments/api/http/api_deployments_software.go
  backend/services/deployments/api/http/routing.go
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_software.go
  backend/services/deployments/app/mocks/App.go
  backend/services/deployments/model/software.go
  backend/services/deployments/store/datastore.go
  backend/services/deployments/store/mocks/DataStore.go
  backend/services/deployments/store/mongo/datastore_mongo_software.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deployments): Add integration test for `GET /software`
  backend/tests/runner/tests/opensource/deployments_management_v1alpha1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Add `nopkcs11` to go integration test
  backend/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: use request query to test paging links when listing software
  backend/tests/runner/tests/opensource/deployments_management_v1alpha1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): added Manifest creation Drawer
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/Distribution.test.tsx.snap
Due: none

chore(gui): export reused table and file filter
  frontend/src/js/components/releases/dialogs/AddArtifact.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
Due: none

chore(gui): include manifest creation drawer on the software page
  frontend/src/js/components/releases/Releases.tsx
Due: none

chore(gui): adjusted common components to support more props
  frontend/src/js/common-ui/ChipSelect.tsx
  frontend/src/js/common-ui/DocsLink.tsx
  frontend/src/js/common-ui/MaterialDesignIcon.tsx
Due: none

chore(gui): updated and added dependencies
  frontend/directDependencies.csv
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/settings/role-management/Roles.test.tsx
Due: none

chore(gui): let vite resolve store pkg post-MUI migration for better performance
  frontend/vitest.config.ts
Due: none

test(gui): added unit & e2e tests covering manifest upload
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/releases/manifests/ManifestDrawer.test.tsx
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDrawer.test.tsx.snap
  frontend/tests/e2e_tests/integration/02-baseline/03-manifest.spec.ts
Due: none

chore(gui): added .yaml upload request
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
  frontend/src/js/components/releases/manifests/ManifestsList.tsx
Due: none

chore(gui): fixed upgrade notice layout
  frontend/src/js/components/releases/DeltaGeneration.tsx
  frontend/src/js/components/releases/manifests/ManifestsList.tsx
Due: none

chore(gui): swapped text input with editableLongText
  frontend/src/js/components/releases/manifests/ManifestDrawer.test.tsx
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDrawer.test.tsx.snap
  frontend/tests/e2e_tests/integration/02-baseline/03-manifest.spec.ts
Due: none

fix(deviceconnect): mender commands regression after stream migration
  backend/services/deviceconnect/api/http/internal.go
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): fix unit tests after migrating internal cmd APIs
  backend/services/deviceconnect/api/http/internal_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): no longer hide rbac settings for users capable of managing rbac
  frontend/src/js/components/settings/Settings.tsx
Due: none

ci: wip
  .gitlab-ci.yml
  backend/services/Makefile.common
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
  backend/tests/Dockerfile.acceptance
  backend/tests/Dockerfile.integration
  frontend/Dockerfile
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
