Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore(useradm): migrate github.com/urfave/cli/{v1 -> v3}
  backend/services/useradm/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(workflows): migrate github.com/urfave/cli/{v1 -> v3}
  backend/services/workflows/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): clean up github.com/urfave/cli/v1 and friends
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): post list item abort removal cleanup
  frontend/src/js/components/deployments/DeploymentItem.tsx
  frontend/src/js/components/deployments/Deployments.tsx
  frontend/src/js/components/deployments/DeploymentsList.tsx
  frontend/src/js/components/deployments/InProgressDeployments.tsx
  frontend/src/js/components/deployments/ScheduledDeployments.tsx
Due: none

chore(gui): further phased deployments report design alignments
  frontend/src/js/components/deployments/deployment-report/DeploymentStatus.tsx
  frontend/src/js/components/deployments/deployment-report/PhaseStatus.tsx
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.tsx
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/constants.ts
Due: none

chore(gui): cross phases validation adjustment
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.tsx
Due: none

feat(gui): added basic keyboard navigation for deployment lists
  frontend/src/js/components/deployments/DeploymentItem.tsx
  frontend/src/js/components/deployments/DeploymentsList.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/components/deployments/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/DeploymentsList.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/InProgressDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/RolloutSchedule.test.tsx.snap
Due: none

chore(deps): update dependency axios to v1.20.0 [security]
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update module github.com/urfave/cli to v3
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): clarified deployment result notifications to separate skipped deployments from successes
  frontend/src/js/components/deployments/Report.test.tsx
  frontend/src/js/components/deployments/Report.tsx
Due: none

feat(gui): added page titles to ease navigating the browser history
  frontend/src/js/common-ui/PageTitle.test.tsx
  frontend/src/js/common-ui/PageTitle.tsx
  frontend/src/js/components/auditlogs/AuditLogs.tsx
  frontend/src/js/components/dashboard/Dashboard.tsx
  frontend/src/js/components/deployments/Deployments.tsx
  frontend/src/js/components/devices/DeviceGroups.tsx
  frontend/src/js/components/help/Help.tsx
  frontend/src/js/components/login/Activate.tsx
  frontend/src/js/components/login/Login.tsx
  frontend/src/js/components/login/OAuthLink.tsx
  frontend/src/js/components/login/Password.tsx
  frontend/src/js/components/login/Signup.tsx
  frontend/src/js/components/releases/Releases.tsx
  frontend/src/js/components/settings/Settings.tsx
  frontend/src/js/components/tenants/LimitChangeRequestForm.tsx
  frontend/src/js/components/tenants/TenantPage.tsx
Due: none

chore(gui): aligned manifest name limits w/ backend
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

chore(gui): expanded allowed validation rules to be more dot inclusive
  frontend/src/js/common-ui/forms/validations.ts
  frontend/src/js/components/devices/group-management/GroupDefinition.test.tsx
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

test(e2e): ensure dotted group name + release tags are accepted across the product
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
  frontend/tests/e2e_tests/utils/constants.ts
Due: none

chore(gui): ensure copied manifests get their tags copied too
  frontend/src/js/components/releases/manifests/ManifestDrawer.test.tsx
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

chore(gui): treat future dates as now instead of back in time
  frontend/src/js/common-ui/Time.tsx
Due: none

chore(gui): removed unused & broken valueFormat from time component
  frontend/src/js/common-ui/Time.tsx
Due: none

chore(gui): removed broken caching in time component
  frontend/src/js/common-ui/Time.tsx
Due: none

chore(gui): aligned Time typography with theme
  frontend/src/js/components/devices/BaseDevices.tsx
  frontend/src/js/components/devices/device-details/Monitoring.tsx
Due: none

chore(gui): update snapshots
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Dashboard.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/DeploymentsList.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/InProgressDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/BaseDevices.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceInventory.test.tsx.snap
  frontend/src/js/components/devices/troubleshoot/__snapshots__/TerminalWrapper.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/DeltaGeneration.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/AccessTokenManagement.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserManagement.test.tsx.snap
Due: none

chore(gui): unified Time behavior with MaybeTime
  frontend/src/js/common-ui/Time.tsx
  frontend/src/js/components/deployments/Report.tsx
  frontend/src/js/components/deployments/deployment-report/DeviceList.tsx
  frontend/src/js/components/devices/device-details/Deployments.tsx
  frontend/src/js/components/devices/troubleshoot/TerminalWrapper.tsx
  frontend/src/js/components/releases/DeltaGeneration.tsx
  frontend/src/js/components/releases/DeltaGenerationDetailsDrawer.tsx
Due: none

ci: add gomodTidyAll to postUpdateOptions in renovate config
  renovate.json5
Due: none

chore: tidy integration-ng test environment
  backend/tests/runner/go.mod
  backend/tests/runner/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(iot-manager): added X-Total-Count header `List all stored events`
  backend/docs/api/iot-manager/management_v1.yaml
  backend/services/iot-manager/api/http/management.go
  backend/services/iot-manager/api/http/management_test.go
  backend/services/iot-manager/app/app.go
  backend/services/iot-manager/app/app_test.go
  backend/services/iot-manager/app/mocks/App.go
  backend/services/iot-manager/store/datastore.go
  backend/services/iot-manager/store/mocks/DataStore.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events.go
  backend/services/iot-manager/store/mongo/datastore_mongo_events_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: regenerate OAS dependencies
  backend/docs/api/dist/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): avoid nesting paragraphs in each other
  frontend/src/js/components/deployments/DeploymentItem.tsx
  frontend/src/js/components/releases/dialogs/FileInformation.tsx
Due: none

chore(gui): update snapshots
  frontend/src/js/common-ui/__snapshots__/TwoColumnData.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Configuration.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/ArtifactInformationForm.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/FileInformation.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
Due: none

feat(deviceconnect): implement simplified filetransfer download protocol
  backend/services/deviceconnect/api/http/management_filetransfer.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconnect): filetransfer upload v1, v2 share error handler
  backend/services/deviceconnect/api/http/management_filetransfer.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): add unit tests covering new filetransfer protocol
  backend/services/deviceconnect/api/http/management_filetransfer_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(deviceconnect): implement simplified filetransfer upload protocol
  backend/services/deviceconnect/api/http/management_filetransfer.go
  backend/services/deviceconnect/model/filetransfer.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): use `new` way of pointing at things
  backend/services/deviceconnect/api/http/management_filetransfer_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): migrate azure tests to use CLI and bump cryptography
  backend/tests/integration/tests/test_azure_iothub.py
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): align system type w/ orchestrator reported value instead of relying on regular device type
  frontend/src/js/components/devices/device-details/DeviceSystem.test.tsx
  frontend/src/js/components/devices/device-details/DeviceSystem.tsx
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceSystem.test.tsx.snap
Due: none

test(gui): replace pending request tracking with targeted waits and stubs
  frontend/src/js/common-ui/dialogs/Feedback.test.tsx
  frontend/src/js/components/deployments/Report.test.tsx
  frontend/src/js/components/devices/DeviceGroups.test.tsx
  frontend/src/js/components/devices/device-details/Deployments.test.tsx
  frontend/src/js/components/settings/AccessTokenManagement.test.tsx
  frontend/tests/setupTests.ts
  frontend/tests/testUtils.tsx
Due: none

test(gui): add unit tests for uniform phased deployments
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/deployments/deployment-report/RolloutSchedule.test.tsx
  frontend/src/js/components/deployments/deployment-wizard/phases/utils.test.ts
  frontend/src/js/components/deployments/deployment-wizard/utils.test.ts
  frontend/src/js/components/deployments/progress/RolloutProgressBar.test.tsx
  frontend/src/js/components/deployments/progress/utils.test.ts
Due: none
