Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

build:backend:docker-acceptance:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

test:backend:static:
  stage: test
  needs: []
  tags:
  - hetzner-amd-beefy
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:6.0
    alias: mongo
  variables:
    TEST_MONGO_URL: mongodb://mongo
  ...

test:backend:acceptance:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

test:backend:integration:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  variables:
    COVERALLS_TOKEN: $COVERALLS_REPO_TOKEN
  ...

publish:backend:licenses:
  stage: publish
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:${GOLANG_VERSION}
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  - ln -s ../LICENSE ./
  ...

chore: Update pricing info from June 3rd
  frontend/src/js/components/settings/__snapshots__/PlanSelection.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Upgrade.test.tsx.snap
  frontend/src/js/store/appSlice/constants.ts
Due: none

test(gui): ensured api interaction is awaited during login form steps
  frontend/src/js/components/login/Login.test.tsx
Due: none

chore(gui): prevented test failures due to onclick expectation in mui
  frontend/src/js/common-ui/EnterpriseNotification.tsx
Due: none

chore(gui): aligned snapshots after mui update
  frontend/src/js/common-ui/__snapshots__/EnterpriseNotification.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/SharedSnackbar.test.tsx.snap
  frontend/src/js/common-ui/forms/__snapshots__/TimeFramePicker.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Dashboard.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/SoftwareDistribution.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/ChartAddition.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Monitoring.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroupExplainer.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/Filters.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/Roles.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
Due: none

chore: Update prices on addons
  frontend/src/js/components/settings/__snapshots__/AddonSelection.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Upgrade.test.tsx.snap
  frontend/src/js/store/appSlice/constants.ts
Due: none

docs(inventory): Update security scheme from apiToken to http (bearer)
  backend/docs/api/inventory_devices_v1.yaml
  backend/docs/api/inventory_management_v1.yaml
  backend/docs/api/inventory_management_v2.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(inventory): Added make target for generating test clients from OAS
  backend/services/inventory/.gitignore
  backend/services/inventory/Makefile
  backend/services/inventory/tests/.openapi-generator-ignore
  backend/services/inventory/tests/docker-compose.acceptance.yml
  backend/services/inventory/tests/openapi_client/.openapi-generator.yaml
  backend/tests/requirements-acceptance.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): Initialize OAS client and prune pytest options
  backend/services/inventory/tests/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): Consolidate OAS specification to a single file
  backend/docs/api/components/common.yaml
  backend/docs/api/inventory.openapi.yaml
  backend/docs/api/inventory_devices_v1.yaml
  backend/docs/api/inventory_internal_v1.yaml
  backend/docs/api/inventory_internal_v2.yaml
  backend/docs/api/inventory_management_v1.yaml
  backend/docs/api/inventory_management_v2.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

revert: "ci: Debug mongodb in backend unit tests"
  .gitlab-ci.yml
Due: none

test(gui): let device details visibility get confirmed before tag attempt
  frontend/tests/e2e_tests/integration/10-webhooks.spec.ts
Due: none

refactor(inventory): Move common fixture to conftest
  backend/services/inventory/tests/common.py
  backend/services/inventory/tests/conftest.py
  backend/services/inventory/tests/tests/client.py
  backend/services/inventory/tests/tests/conftest.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Expose PYTEST_ADDOPTS in acceptance testing environment
  backend/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): Properly document all valid Attribute value types
  backend/docs/api/inventory.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): Fix count response attributes not required
  backend/docs/api/inventory.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): Refactor inventory tests to use OAS generated clients
  backend/services/inventory/tests/tests/test_api_internal.py
  backend/services/inventory/tests/tests/test_cli.py
  backend/services/inventory/tests/tests/test_grouping_devices.py
  backend/services/inventory/tests/tests/test_inventory_searching.py
  backend/services/inventory/tests/tests/test_inventory_sorting.py
  backend/services/inventory/tests/tests/test_mgmt_tag_attributes.py
  backend/services/inventory/tests/tests/test_mgmt_v2_filters_attributes.py
  backend/services/inventory/tests/tests/test_remove_device_groupping.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Update license header copyright year
  backend/services/inventory/tests/tests/client.py
  backend/services/inventory/tests/tests/test_grouping_devices.py
  backend/services/inventory/tests/tests/test_inventory_searching.py
  backend/services/inventory/tests/tests/test_inventory_sorting.py
  backend/services/inventory/tests/tests/test_mgmt_tag_attributes.py
  backend/services/inventory/tests/tests/test_mgmt_v2_filters_attributes.py
  backend/services/inventory/tests/tests/test_remove_device_groupping.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): simplified tag edit button selection
  frontend/tests/e2e_tests/integration/10-webhooks.spec.ts
Due: none

docs(inventory): Update OAS tags for v1 APIs
  backend/docs/api/inventory.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): Adjust tests to updated OAS tag
  backend/services/inventory/tests/tests/test_api_internal.py
  backend/services/inventory/tests/tests/test_grouping_devices.py
  backend/services/inventory/tests/tests/test_inventory_searching.py
  backend/services/inventory/tests/tests/test_inventory_sorting.py
  backend/services/inventory/tests/tests/test_mgmt_tag_attributes.py
  backend/services/inventory/tests/tests/test_mgmt_v2_filters_attributes.py
  backend/services/inventory/tests/tests/test_remove_device_groupping.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): Fix incorrect empty responses
  backend/docs/api/inventory.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(inventory): Format OAS YAML using yaml-language-server
  backend/docs/api/inventory.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

docs(inventory): Adjust info section and descriptions
  backend/docs/api/inventory.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): used onboarding manager to retrieve onboarding component
  frontend/src/js/components/deployments/Report.tsx
  frontend/src/js/store/onboardingSlice/constants.ts
  frontend/src/js/utils/onboardingManager.tsx
Due: none

fix(gui): fixed wording and position of onboarding tooltip
  frontend/src/js/common-ui/helptips/OnboardingTips.tsx
  frontend/src/js/components/deployments/Report.tsx
Due: none

fix(gui): aligned supported OS versions in download section with tool support
  frontend/src/js/components/help/Downloads.tsx
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
Due: none

ci: fix saas docs changelog generation
  .gitlab-ci.yml
Due: none

docs(deviceauth): Rename operation id for removing device authentication
  backend/services/deviceauth/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): Fix acceptance tests after updating swagger spec
  backend/services/deviceauth/tests/tests/client.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(main): release 4.1.0-saas.6
  .release-please-manifest.json
Due: none

chore: type: integer
  backend/docs/api/inventory.openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): made copy confirmation optional in text copy component
  frontend/src/js/common-ui/CopyText.tsx
Due: none

refactor(gui): isolated organization information in settings to align with design
  frontend/src/js/common-ui/helptips/HelpTooltips.tsx
  frontend/src/js/components/settings/Settings.tsx
  frontend/src/js/components/settings/organization/Organization.tsx
  frontend/src/js/components/settings/organization/OrganizationSettingsItem.tsx
Due: none

fix(devauth): Make rate contextual on device
  backend/services/deviceauth/devauth/devauth_ratelimits.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: migrate dependabot reviewer assignments to CODEOWNERS files
  .github/dependabot.yml
  CODEOWNERS
  backend/CODEOWNERS
  frontend/CODEOWNERS
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(gui): moved billing data to separate settings section & aligned with design
  frontend/src/js/components/settings/Settings.tsx
  frontend/src/js/components/settings/organization/Billing.tsx
Due: none

chore(gui): aligned references to organization & billing pages across ui
  frontend/src/js/components/header/Header.tsx
  frontend/src/js/components/tenants/ExpandedTenant.tsx
  frontend/src/js/components/tenants/TenantCreateForm.tsx
Due: none

chore(gui): adjusted tests to work with billing/organization split
  frontend/src/js/common-ui/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/settings/Upgrade.test.tsx
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/organization/Organization.test.tsx
  frontend/src/js/components/settings/organization/__snapshots__/Billing.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/Organization.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/OrganizationPaymentSettings.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/OrganizationSettingsItem.test.tsx.snap
  frontend/tests/mockData.js
Due: none

test(gui): made e2e tests work with changed tenant token expansion
  frontend/tests/e2e_tests/integration/07-saml.spec.ts
  frontend/tests/e2e_tests/integration/99-settings.spec.ts
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

refactor(gui): centralized support contact component
  frontend/src/js/common-ui/SupportLink.tsx
  frontend/src/js/common-ui/dialogs/StartupNotification.tsx
  frontend/src/js/common-ui/helptips/HelpTooltips.tsx
  frontend/src/js/common-ui/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/login/Password.tsx
  frontend/src/js/components/settings/ArtifactGeneration.tsx
  frontend/src/js/components/settings/Upgrade.tsx
  frontend/src/js/components/settings/__snapshots__/Upgrade.test.tsx.snap
  frontend/src/js/components/settings/organization/Billing.tsx
  frontend/src/js/components/settings/organization/__snapshots__/Billing.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/Organization.test.tsx.snap
  frontend/src/js/components/tenants/ExpandedTenant.tsx
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
