Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

test: aligned v6 client reported device type w/ compat test expectations
  backend/tests/docker/docker-compose.backend-tests-compat.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): improved docslinks defenses against misuse
  frontend/src/js/common-ui/DocsLink.tsx
Due: none

chore(gui): unified docs access tracking for links & tooltips
  frontend/src/js/common-ui/DocsLink.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Configuration.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/ArtifactInformationForm.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/Roles.test.tsx.snap
Due: none

ci: enabled wider tracing in e2e tests
  frontend/tests/e2e_tests/playwright.config.ts
Due: none

feat(gui): adjusted the max limit in group and role definition
  frontend/src/js/common-ui/forms/Form.test.tsx
  frontend/src/js/common-ui/forms/Form.tsx
  frontend/src/js/components/devices/group-management/GroupDefinition.test.tsx
  frontend/src/js/components/devices/group-management/GroupDefinition.tsx
  frontend/src/js/components/settings/role-management/RoleDefinition.tsx
Due: none

chore(gui): added en-US locale env variables to vitest
  frontend/vitest.config.ts
Due: none

chore(gui): added type definitions for validation library
  frontend/directDependencies.csv
  frontend/package-lock.json
  frontend/package.json
Due: none

refactor: Move user model to common pkg
  backend/pkg/common/user/user.go
  backend/pkg/rules/sizes.go
  backend/pkg/rules/validators.go
  backend/services/iot-manager/app/app.go
  backend/services/useradm/api/http/api_useradm.go
  backend/services/useradm/api/http/api_useradm_test.go
  backend/services/useradm/commands.go
  backend/services/useradm/main.go
  backend/services/useradm/model/user.go
  backend/services/useradm/model/user_test.go
  backend/services/useradm/store/datastore.go
  backend/services/useradm/store/mocks/DataStore.go
  backend/services/useradm/store/mongo/bson.go
  backend/services/useradm/store/mongo/datastore_mongo.go
  backend/services/useradm/store/mongo/datastore_mongo_test.go
  backend/services/useradm/store/mongo/migration_2_0_0_test.go
  backend/services/useradm/user/mocks/App.go
  backend/services/useradm/user/useradm.go
  backend/services/useradm/user/useradm_test.go
  backend/services/useradm/utils/similar_checker_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix: deserialization of Setting preventing use of AI summary
  backend/services/useradm/model/settings.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: verify that settings are correctly deserialized
  backend/services/useradm/model/settings_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): made ai analysis depend on ai feature activation
  frontend/src/js/components/header/Header.tsx
Due: none

chore(4.0.x): release 4.1.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore(gui): aligned device filter restrictions w/ backend implementation
  frontend/src/js/components/devices/widgets/Filters.tsx
Due: none

chore(gui): aligned dark tooltip appearance w/ updated design
  frontend/src/js/common-ui/helptips/MenderTooltip.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/common-ui/__snapshots__/EnterpriseNotification.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/Dashboard.test.tsx.snap
  frontend/src/js/components/dashboard/__snapshots__/SoftwareDistribution.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/ChartAddition.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Monitoring.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroupExplainer.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/Filters.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/Roles.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
Due: none

chore(gui): aligned plan notification chips w/ updated design to ensure readability
  frontend/src/js/common-ui/EnterpriseNotification.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
Due: none

refactor(deployments): move common part of releases to new model
  backend/services/deployments/api/http/api_deployments_releases_test.go
  backend/services/deployments/model/release.go
  backend/services/deployments/model/release_test.go
  backend/services/deployments/store/mongo/datastore_mongo_releases_test.go
  backend/services/deployments/store/mongo/migration_1_2_15_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deployments): narrow release database operations to release kind
  backend/services/deployments/store/mongo/datastore_mongo.go
  backend/services/deployments/store/mongo/datastore_mongo_releases.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): restored filter counter after design adjustment
  frontend/src/js/components/devices/AuthorizedDevices.tsx
Due: none

fix(gui): ensured deployment target devices are not needlessly wrapped on smaller viewports
  frontend/src/js/components/deployments/deployment-report/Overview.tsx
Due: none

chore(gui): better deployment statistics rendering until deployment report adopts updated design
  frontend/src/js/components/deployments/deployment-report/DeploymentStatus.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeploymentStatus.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/Overview.test.tsx.snap
Due: none

chore(gui): aligned billing notification in settings w/ updated design to ensure readability
  frontend/src/js/components/settings/organization/Billing.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/components/settings/organization/__snapshots__/Billing.test.tsx.snap
Due: none

test(gui): adjusted tests to work w/ updated releases reference
  frontend/tests/e2e_tests/integration/01-basic/01-basic.spec.ts
  frontend/tests/e2e_tests/integration/01-basic/02-login.spec.ts
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/04-deployments.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
Due: none

chore(gui): aligned release page references to updated naming
  frontend/src/js/components/auditlogs/ColumnComponents.tsx
  frontend/src/js/components/deployments/deployment-report/DeviceList.tsx
  frontend/src/js/components/deployments/deployment-report/Overview.tsx
  frontend/src/js/components/deployments/deployment-wizard/ReleaseArtifactFilter.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
  frontend/src/js/components/devices/device-details/Deployments.tsx
  frontend/src/js/components/releases/DeltaGeneration.tsx
  frontend/src/js/components/releases/DeltaGenerationDetailsDrawer.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
Due: none

feat(gui): let release & related software focused content appear as software in navigation & links
  frontend/src/js/config/routes.tsx
Due: none

chore(gui): updated url <-> ui state parsing to produce software based links via nt-gui package
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): made settings rendering slightly more flexible
  frontend/src/js/common-ui/SettingsItem.tsx
Due: none

refactor(gui): cleanup after device id selection dialog extraction & design alignment
  frontend/src/js/components/settings/Global.test.tsx
  frontend/src/js/components/settings/Global.tsx
  frontend/src/js/components/settings/Settings.tsx
Due: none

chore(gui): allowed more finegrained control over textual docs links to work with more varied usage
  frontend/src/js/common-ui/DocsLink.tsx
Due: none

chore(gui): extracted device list device id selection to own design aligned component
  frontend/src/js/common-ui/DocsLink.tsx
  frontend/src/js/components/devices/DeviceGroups.tsx
  frontend/src/js/components/devices/dialogs/DeviceIdentityDialog.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
Due: none

chore(workflows): Regenerate store mocks with latest `mockery`
  backend/services/workflows/api/http/jobs_test.go
  backend/services/workflows/api/http/workflow_test.go
  backend/services/workflows/app/processor/cli_test.go
  backend/services/workflows/app/processor/http_test.go
  backend/services/workflows/app/processor/nats_test.go
  backend/services/workflows/app/processor/process_test.go
  backend/services/workflows/app/processor/smtp_test.go
  backend/services/workflows/store/datastore.go
  backend/services/workflows/store/mock/datastore_mock.go
  backend/services/workflows/store/mocks/DataStore.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(workflows): Remove `workflow/:name/:id` endpoint from spec
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/workflows/internal_v1.yaml
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api/openapi.yaml
  backend/pkg/api/client/api_workflows_other.go
  backend/pkg/api/client/docs/WorkflowsOtherAPI.md
  backend/tests/mender_client/api/workflows_other_api.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(workflows): Redirect `workflow/:name/:id` endpoint to `jobs/:id`
  backend/services/workflows/api/http/router.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(workflows): Remove logic behind `workflow/:name/:id` endpoint
  backend/services/workflows/api/http/workflow.go
  backend/services/workflows/api/http/workflow_test.go
  backend/services/workflows/store/datastore.go
  backend/services/workflows/store/mocks/DataStore.go
  backend/services/workflows/store/mongo/datastore_mongo.go
  backend/services/workflows/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(iot-manager): Use correct `inline` bson tag
  backend/services/iot-manager/app/app.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
