Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

chore(gui): removed dropped property in child tenant creation endpoint
  frontend/src/js/components/tenants/TenantCreateForm.tsx
  frontend/src/js/components/tenants/TenantsForm.test.tsx
Due: none

chore(gui): aligned code component with design
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/common-ui/CopyCode.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/common-ui/__snapshots__/CopyCode.test.tsx.snap
  frontend/src/js/common-ui/dialogs/__snapshots__/Log.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/EventDetailsDrawer.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/ConnectToGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MakeGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/McuDeviceOnboarding.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/PhysicalDeviceOnboarding.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/VirtualDeviceIOnboarding.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/AccessTokenManagement.test.tsx.snap
Due: none

chore(gui): adapted code component changes across usage instances
  frontend/src/js/components/devices/device-details/authsets/AuthSetListItem.tsx
  frontend/src/js/components/devices/dialogs/ConnectToGatewayDialog.tsx
  frontend/src/js/components/devices/dialogs/MakeGatewayDialog.tsx
  frontend/src/js/components/devices/dialogs/McuDeviceOnboarding.tsx
  frontend/src/js/components/devices/dialogs/PhysicalDeviceOnboarding.tsx
  frontend/src/js/components/devices/dialogs/VirtualDeviceOnboarding.tsx
  frontend/src/js/components/helptips/HelpTooltips.tsx
  frontend/src/js/components/releases/ArtifactPayload.tsx
Due: none

fix(gui): refresh the configuration device details more aggressively
  frontend/src/js/components/devices/device-details/Configuration.tsx
Due: none

docs(deployments): added description of tag filtering in releases endpoint
  backend/docs/api/deployments/management_v2.yaml
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/api/openapi.yaml
  backend/pkg/api/client/api_deployments_v2_management_api.go
  backend/tests/mender_client/api/deployments_v2_management_api_api.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(gui): added manifest upload tip
  frontend/src/js/components/helptips/HelpTooltips.tsx
Due: none

chore(gui): extended artifact upload tip
  frontend/src/js/components/helptips/HelpTooltips.tsx
Due: none

chore(gui): aligned empty state in releases list
  frontend/src/js/components/releases/ReleasesList.tsx
Due: none

chore(gui): aligned delta plan upgrade note positioning
  frontend/src/js/components/releases/DeltaGeneration.tsx
Due: none

chore(gui): removed now unused class from releases
  frontend/src/js/components/releases/Releases.tsx
Due: none

feat(gui): added manifest quick actions component
  frontend/src/js/components/releases/manifests/ManifestQuickActions.test.tsx
  frontend/src/js/components/releases/manifests/ManifestQuickActions.tsx
Due: none

refactor(gui): extracted filter logic from releases component
  frontend/src/js/components/releases/Releases.tsx
Due: none

refactor(gui): extracted release filters into dedicated component
  frontend/src/js/components/releases/ReleasesFilters.test.tsx
  frontend/src/js/components/releases/ReleasesFilters.tsx
Due: none

feat(gui): added manifests list & filters components
  frontend/src/js/components/releases/manifests/ManifestsFilters.test.tsx
  frontend/src/js/components/releases/manifests/ManifestsFilters.tsx
  frontend/src/js/components/releases/manifests/ManifestsList.test.tsx
  frontend/src/js/components/releases/manifests/ManifestsList.tsx
Due: none

refactor(gui): encapsulated release retrieval & refresh handling
  frontend/src/js/components/releases/Releases.tsx
  frontend/src/js/components/releases/ReleasesList.tsx
Due: none

refactor(gui): made use of manifest components in releases view
  frontend/src/js/components/releases/Releases.tsx
Due: none

chore(gui): made use of manifest capable nt-gui packages to faciilitate backend access
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): aligned software tab w/ updated design
  frontend/src/js/components/releases/DeltaGeneration.tsx
  frontend/src/js/components/releases/Releases.tsx
  frontend/src/js/components/releases/ReleasesList.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/DeltaGeneration.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Releases.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleasesFilters.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestQuickActions.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestsFilters.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestsList.test.tsx.snap
Due: none

chore(gui): disabled as of now unsupported manifest functionality
  frontend/src/js/components/releases/Releases.tsx
  frontend/src/js/components/releases/manifests/ManifestsFilters.tsx
Due: none

docs(inventory): consolidate device attribute definitions
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/inventory/devices_v1.yaml
  backend/docs/api/inventory/internal_v1.yaml
  backend/docs/api/inventory/management_v1.yaml
  backend/docs/api/inventory/schemas.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: regenerate OAS clients
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api/openapi.yaml
  backend/pkg/api/client/api_device_inventory_device_api.go
  backend/pkg/api/client/api_device_inventory_internal_api.go
  backend/pkg/api/client/api_device_inventory_management_api.go
  backend/pkg/api/client/mocks/mocks.go
  backend/pkg/api/client/model_attribute.go
  backend/pkg/api/client/model_attribute_v2.go
  backend/pkg/api/client/model_attribute_value.go
  backend/pkg/api/client/model_device_attribute.go
  backend/pkg/api/client/model_device_inventory.go
  backend/pkg/api/client/model_device_inventory_v1.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/device_inventory_device_api_api.py
  backend/tests/mender_client/api/device_inventory_internal_api_api.py
  backend/tests/mender_client/api/device_inventory_management_api_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/attribute.py
  backend/tests/mender_client/models/attribute_v1.py
  backend/tests/mender_client/models/attribute_value.py
  backend/tests/mender_client/models/device_attribute.py
  backend/tests/mender_client/models/device_inventory.py
  backend/tests/mender_client/models/device_inventory_v1.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: fix content type for internal API specs
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/inventory/internal_v1.yaml
  backend/pkg/api/client/api/openapi.yaml
  backend/pkg/api/client/api_device_inventory_internal_api.go
  backend/tests/mender_client/api/device_inventory_internal_api_api.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(inventory): properly sanitize device attribute
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/model/device.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): update tests after OAS spec model consolidation
  backend/services/inventory/tests/tests/client.py
  backend/tests/integration/test_inventory_internal.py
  backend/tests/runner/tests/opensource/inventory_management_v2_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(useradm): Limit email and password length to 256 char
  backend/pkg/rules/sizes.go
  backend/pkg/rules/validators.go
  backend/services/useradm/model/user.go
  backend/services/useradm/model/user_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deviceconnect): properly flush session recording
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/management_test.go
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/app/control_recorder.go
  backend/services/deviceconnect/app/mocks/App.go
  backend/services/deviceconnect/app/recorder.go
  backend/services/deviceconnect/app/recorder_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: fix inventory attribute example
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/inventory/internal_v1.yaml
  backend/pkg/api/client/api/openapi.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(inventory): test that scope cannot be altered through public APIs
  backend/services/inventory/api/http/api_inventory_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: Update mender-artifact arguments to match latest version
  backend/services/deployments/tests/common.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): updated rspack to latest version to restore rspack package compatibility
  frontend/directDependencies.csv
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack.config.js
Due: none

chore(gui): aligned snapshots after mui update
  frontend/src/js/common-ui/__snapshots__/ExpandableAttribute.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/Groups.test.tsx.snap
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactMetadataList.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactPayload.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOConfig.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionSummary.test.tsx.snap
Due: none

chore(gui): updated snapshots after mui update
  frontend/src/js/common-ui/__snapshots__/ExpandableAttribute.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/Groups.test.tsx.snap
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactMetadataList.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactPayload.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/Organization.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/OrganizationSettingsItem.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOConfig.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
Due: none

ci: use consistent go version in ng tests
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

feat(pkg): shared default openapi client configuration
  backend/pkg/api/.openapi-generator.yaml
  backend/pkg/api/client/api_deployments_device_api.go
  backend/pkg/api/client/api_deployments_internal_api_internal_api.go
  backend/pkg/api/client/api_deployments_management_api.go
  backend/pkg/api/client/api_deployments_v2_management_api.go
  backend/pkg/api/client/api_device_authentication_device_api.go
  backend/pkg/api/client/api_device_authentication_internal_api.go
  backend/pkg/api/client/api_device_authentication_management_api.go
  backend/pkg/api/client/api_device_configure_device_api.go
  backend/pkg/api/client/api_device_configure_internal_api.go
  backend/pkg/api/client/api_device_configure_management_api.go
  backend/pkg/api/client/api_device_connect_device_api.go
  backend/pkg/api/client/api_device_connect_internal_api.go
  backend/pkg/api/client/api_device_connect_management_api.go
  backend/pkg/api/client/api_device_inventory_device_api.go
  backend/pkg/api/client/api_device_inventory_filters_and_search_internal_api.go
  backend/pkg/api/client/api_device_inventory_filters_and_search_management_api.go
  backend/pkg/api/client/api_device_inventory_internal_api.go
  backend/pkg/api/client/api_device_inventory_management_api.go
  backend/pkg/api/client/api_io_t_manager_internal_api.go
  backend/pkg/api/client/api_io_t_manager_management_api.go
  backend/pkg/api/client/api_user_administration_and_authentication_internal_api.go
  backend/pkg/api/client/api_user_administration_management_api.go
  backend/pkg/api/client/api_workflows_other.go
  backend/pkg/api/client/client.go
  backend/pkg/api/client/configuration.go
  backend/pkg/api/config.go
  backend/pkg/requestid/client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deployments): use common default openapi client configuration
  backend/services/deployments/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: use common openapi client configuration
  backend/tests/runner/tests/common/docker_compose.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
