Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

docs(inventory): added internal endpoint for getting usage statistics
  backend/docs/api/dist/openapi.yaml
  backend/docs/api/inventory/internal_v2.yaml
  backend/docs/api/inventory/management_v2.yaml
  backend/docs/api/inventory/schemas.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: regenerate clients from OAS spec
  backend/pkg/api/client/.openapi-generator/FILES
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api/openapi.yaml
  backend/pkg/api/client/api_device_inventory_filters_and_search_internal_api.go
  backend/pkg/api/client/api_device_inventory_filters_and_search_management_api.go
  backend/pkg/api/client/docs/DeviceInventoryFiltersAndSearchInternalAPIAPI.md
  backend/pkg/api/client/docs/DeviceInventoryFiltersAndSearchManagementAPIAPI.md
  backend/pkg/api/client/docs/GetStatisticsInternal200Response.md
  backend/pkg/api/client/model_get_statistics_internal_200_response.go
  backend/tests/.openapi-generator/FILES
  backend/tests/mender_client/__init__.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_internal_api_api.py
  backend/tests/mender_client/api/device_inventory_filters_and_search_management_api_api.py
  backend/tests/mender_client/models/__init__.py
  backend/tests/mender_client/models/get_statistics_internal200_response.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

feat(inventory): expose device usage statistics to internal APIs
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/api/http/routing.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: fix undesired `---` remove from the changelog
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test: setup/teardown compose environment integration-test-ng
  .gitlab-ci.yml
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/tests/runner/scripts/run.sh
  backend/tests/runner/tests/backend_integration_opensource_test.go
  backend/tests/runner/tests/backend_integration_test.go
  backend/tests/runner/tests/main_test.go
  backend/tests/runner/tests/useradm_management_v1_opensource_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(4.0.x): release 4.0.2
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore: Added compose override for testing SMTP features
  compose/docker-compose.smtp4dev.yml
Due: none

test: add googleapis and friends to end-to-end tests dependencies
  frontend/tests/e2e_tests/package-lock.json
  frontend/tests/e2e_tests/package.json
Due: none

test: add EmailClient interface with Gmail and smtp4dev implementations
  frontend/tests/e2e_tests/fixtures/fixtures.ts
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
  frontend/tests/e2e_tests/utils/email.ts
Due: none

test: add smtp4dev to enterprise end-to-end tests compose environment
  frontend/tests/e2e_tests/runner/config.js
Due: none

chore: Create utility script to obtain refresh token for Gmail APIs
  frontend/tests/e2e_tests/package-lock.json
  frontend/tests/e2e_tests/package.json
  frontend/tests/e2e_tests/scripts/oauth2authorize.ts
Due: none

test: make smtp4dev setup work in `--local` e2e test mode
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
Due: none

test: refactor email notification assertion to own test
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test: update default username for staging environment
  frontend/tests/e2e_tests/runner/config.js
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

chore: use consistent hostname in smtp4dev overlay
  compose/docker-compose.smtp4dev.yml
Due: none

test: e2e utility function for polling for a condition
  frontend/tests/e2e_tests/integration/session.setup.ts
  frontend/tests/e2e_tests/utils/utils.ts
Due: none

chore(deviceauth): clean up unused reporting dependencies
  backend/services/deviceauth/client/orchestrator/client_orchestrator.go
  backend/services/deviceauth/client/orchestrator/client_orchestrator_test.go
  backend/services/deviceauth/client/orchestrator/mocks/ClientRunner.go
  backend/services/deviceauth/client/orchestrator/models.go
  backend/services/deviceauth/cmd/commands.go
  backend/services/deviceauth/cmd/commands_test.go
  backend/services/deviceauth/config.yaml
  backend/services/deviceauth/config/config.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
  backend/services/deviceauth/main.go
  backend/services/deviceauth/server.go
  backend/services/deviceauth/tests/tests/orchestrator.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(inventory): clean up unused reporting dependencies
  backend/services/inventory/client/workflows/client.go
  backend/services/inventory/client/workflows/client_test.go
  backend/services/inventory/client/workflows/mocks/Client.go
  backend/services/inventory/client/workflows/models.go
  backend/services/inventory/config.go
  backend/services/inventory/config.yaml
  backend/services/inventory/inv/inventory.go
  backend/services/inventory/inv/inventory_test.go
  backend/services/inventory/inv/mocks/InventoryApp.go
  backend/services/inventory/server.go
  backend/services/inventory/server_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(workflows): cleanup reporting related workflows
  backend/services/workflows/tests/docker-compose.yml
  backend/services/workflows/tests/tests/test_reindex_reporting.py
  backend/services/workflows/tests/tests/test_reindex_reporting_deployment.py
  backend/services/workflows/worker/workflows/reindex_reporting.json
  backend/services/workflows/worker/workflows/reindex_reporting_deployment.json
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deployments): clean up unused reporting dependencies
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_os.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/client/reporting/client.go
  backend/services/deployments/client/reporting/client_test.go
  backend/services/deployments/client/reporting/mocks/Client.go
  backend/services/deployments/client/workflows/client.go
  backend/services/deployments/client/workflows/client_test.go
  backend/services/deployments/client/workflows/mocks/Client.go
  backend/services/deployments/client/workflows/models.go
  backend/services/deployments/config.yaml
  backend/services/deployments/config/config.go
  backend/services/deployments/main.go
  backend/services/deployments/propagete_reporting_test.go
  backend/services/deployments/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: remove reporting from dependabot and commit linter
  .github/dependabot.yml
  commitlint.config.js
Due: none

test: create an end to end test for email verification
  frontend/tests/e2e_tests/integration/02-baseline/02-settings.spec.ts
Due: none

test: run two-factor tests on enterprise environment
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

debug: run staging deployment end-to-end tests
  .gitlab-ci.yml
  frontend/tests/e2e_tests/integration/session.setup.ts
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test: move saml tests to advanced tests project
  frontend/tests/e2e_tests/integration/03-advanced/30-saml.spec.ts
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/Overview.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/ReleaseArtifactFilter.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/DeltaGeneration.test.tsx.snap
Due: none

fix(gui): restored billing notification visibility to only non-enterprise users
  frontend/src/js/components/settings/organization/Billing.tsx
  frontend/src/js/components/settings/organization/__snapshots__/Billing.test.tsx.snap
Due: none

test: improve locator for end to end RBAC stress probe
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
Due: none

ci: fix release branch & tag detection for e2e tests & publishing
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

fix(gui): fixed an issue crashing the ui if deploying to a dynamic group targeting only a device id
  frontend/src/js/components/deployments/CreateDeployment.tsx
  frontend/src/js/components/deployments/deployment-wizard/SoftwareDevices.tsx
Due: none

ci: fix release branch & tag detection for e2e tests & publishing
  frontend/pipeline.yml
Due: none

fix(gui): removed invitation to copy in read-only displays if we can't notify about success
  frontend/src/js/common-ui/TwoColumnData.tsx
  frontend/src/js/common-ui/__snapshots__/TwoColumnData.test.tsx.snap
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceConfiguration.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceDetails.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/FileTransfer.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/PortForward.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeploymentStatus.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/Overview.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/RolloutSchedule.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactMetadataList.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactPayload.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
Due: none

chore: added git compatible way of ignoring e.g. formatting induced mass changes
  .git-blame-ignore-revs
Due: none
