Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

build:backend:docker-acceptance:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

test:backend:static:
  stage: test
  needs: []
  tags:
  - hetzner-amd-beefy
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:6.0
    alias: mongo
  variables:
    TEST_MONGO_URL: mongodb://mongo
  ...

test:backend:acceptance:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

test:backend:integration:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  variables:
    COVERALLS_TOKEN: $COVERALLS_REPO_TOKEN
  ...

publish:backend:licenses:
  stage: publish
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:${GOLANG_VERSION}
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  - ln -s ../LICENSE ./
  ...

ci: remove ci queue on backend acceptance test
  .gitlab-ci.yml
Due: none

fix(inventory): Invalid path for device attribute route
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/inventory/api/http/routing.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: carry the exit code from acceptance tests
  backend/services/Makefile.common
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(main): release 4.1.0-saas.6
  .release-please-manifest.json
Due: none

test(deployments): moving deployments tests to Open API 3
  .gitignore
  backend/docs/api/devices_v1_deployments.yaml
  backend/docs/api/internal_v1_deployments.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/services/deployments/Makefile
  backend/services/deployments/tests/.openapi-generator.yml
  backend/services/deployments/tests/common.py
  backend/services/deployments/tests/conftest.py
  backend/services/deployments/tests/docker-compose.acceptance.yml
  backend/services/deployments/tests/tests/client.py
  backend/services/deployments/tests/tests/test_api_internal.py
  backend/services/deployments/tests/tests/test_artifact.py
  backend/services/deployments/tests/tests/test_configuration_deployments.py
  backend/services/deployments/tests/tests/test_deployment.py
  backend/services/deployments/tests/tests/test_release.py
  backend/services/deployments/tests/tests/test_release_v2.py
  backend/tests/requirements-acceptance.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(gui): centralized support contact component
  frontend/src/js/common-ui/SupportLink.tsx
  frontend/src/js/common-ui/dialogs/StartupNotification.tsx
  frontend/src/js/common-ui/helptips/HelpTooltips.tsx
  frontend/src/js/common-ui/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/login/Password.tsx
  frontend/src/js/components/settings/ArtifactGeneration.tsx
  frontend/src/js/components/settings/Upgrade.tsx
  frontend/src/js/components/settings/__snapshots__/Upgrade.test.tsx.snap
  frontend/src/js/components/settings/organization/Billing.tsx
  frontend/src/js/components/settings/organization/__snapshots__/Billing.test.tsx.snap
  frontend/src/js/components/tenants/ExpandedTenant.tsx
Due: none

chore: centralized codeowners config
  CODEOWNERS
  backend/CODEOWNERS
  frontend/CODEOWNERS
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): Increase test timeout for TestSetSessionRecording
  backend/services/deviceconnect/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: update CODEOWNERS
  CODEOWNERS
Due: none

test(deployments): moving deployments tests to Open API 3
  .gitignore
  backend/docs/api/devices_v1_deployments.yaml
  backend/docs/api/internal_v1_deployments.yaml
  backend/docs/api/management_v1_deployments.yaml
  backend/docs/api/management_v2_deployments.yaml
  backend/services/deployments/Makefile
  backend/services/deployments/tests/.openapi-generator.yml
  backend/services/deployments/tests/common.py
  backend/services/deployments/tests/conftest.py
  backend/services/deployments/tests/docker-compose.acceptance.yml
  backend/services/deployments/tests/tests/client.py
  backend/services/deployments/tests/tests/test_api_internal.py
  backend/services/deployments/tests/tests/test_artifact.py
  backend/services/deployments/tests/tests/test_configuration_deployments.py
  backend/services/deployments/tests/tests/test_deployment.py
  backend/services/deployments/tests/tests/test_release.py
  backend/services/deployments/tests/tests/test_release_v2.py
  backend/services/deployments/tests/tests/test_settings_api_internal.py
  backend/tests/requirements-acceptance.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: debug pipeline
  frontend/pipeline.yml
Due: none

chore: debug pool more
  frontend/vitest.config.ts
Due: none

chore: debug pool
  frontend/vitest.config.ts
Due: none

chore: debug vitest parallelism
  frontend/vitest.config.ts
Due: none

chore: debug pool parallelism 2
  frontend/vitest.config.ts
Due: none

chore: debug pool parallelism 4
  frontend/vitest.config.ts
Due: none

chore: debug pool parallelism 3
  frontend/vitest.config.ts
Due: none

chore: debug pool parallelism 5
  frontend/vitest.config.ts
Due: none

fix(gui): fixed billing profile not being fetched
  frontend/src/js/components/settings/organization/Billing.tsx
Due: none

fix(gui): fixed a problem that could apply RBAC restrictions on non-RBAC plans
  frontend/src/js/store/commonSelectors.ts
Due: none

fix(gui): fixed an issue that could cause the organization token to overflow for older tenants
  frontend/src/js/components/settings/organization/Organization.tsx
  frontend/src/js/components/settings/organization/__snapshots__/Organization.test.tsx.snap
Due: none

fix(gui): fixed an issue that would not show progress in the final phase of phased deployments
  frontend/src/js/components/deployments/ProgressChart.tsx
Due: none

fix(gui): fixed another situation that could cause the organization token to overflow
  frontend/src/js/components/settings/organization/Organization.test.tsx
  frontend/src/js/components/settings/organization/Organization.tsx
  frontend/src/js/components/settings/organization/__snapshots__/Organization.test.tsx.snap
Due: none

chore(gui): removed deprecated single upload tracking mechanisms
  frontend/src/js/components/Uploads.tsx
  frontend/src/js/components/releases/ReleasesList.tsx
  frontend/src/js/store/appSlice/index.ts
  frontend/src/js/store/appSlice/selectors.ts
  frontend/src/js/store/devicesSlice/thunks.tsx
Due: none

chore(gui): removed now unused total device counter
  frontend/src/js/store/devicesSlice/index.ts
  frontend/src/js/store/devicesSlice/thunks.tsx
Due: none

refactor(deployments): Migrate from ant0nie/go-json-rest to gin-gonic/gin
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/api/http/api_deployments_last_status.go
  backend/services/deployments/api/http/api_deployments_last_status_test.go
  backend/services/deployments/api/http/api_deployments_releases.go
  backend/services/deployments/api/http/api_deployments_releases_test.go
  backend/services/deployments/api/http/api_deployments_test.go
  backend/services/deployments/api/http/common_test.go
  backend/services/deployments/api/http/images_test.go
  backend/services/deployments/api/http/limits_test.go
  backend/services/deployments/api/http/rest_view.go
  backend/services/deployments/api/http/routing.go
  backend/services/deployments/api/http/routing_test.go
  backend/services/deployments/server.go
  backend/services/deployments/tests/common.py
  backend/services/deployments/tests/tests/client.py
  backend/services/deployments/tests/tests/test_artifact.py
  backend/services/deployments/tests/tests/test_deployment.py
  backend/services/deployments/tests/tests/test_release.py
  backend/services/deployments/tests/tests/test_release_v2.py
  backend/services/deployments/utils/restutil/options.go
  backend/services/deployments/utils/restutil/options_external_test.go
  backend/services/deployments/utils/restutil/request.go
  backend/services/deployments/utils/restutil/view/view.go
  backend/services/deployments/utils/restutil/view/view_external_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor: Remove unused ant0ine/go-json-rest utilities from deployments
  backend/services/deployments/utils/testing/response.go
  backend/services/deployments/utils/testing/test_api.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor: Swap ant0ine/go-json-rest with gin-gonic/gin in routing pkg
  backend/pkg/routing/routing.go
  backend/pkg/routing/routing_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): removed unnecessary device update call
  frontend/src/js/components/dashboard/Devices.tsx
Due: none

refactor(gui): let report data retrieval + generation work per single report
  frontend/src/js/store/devicesSlice/thunks.tsx
Due: none

chore(gui): slightly simplified data retrieval for non-group based reports
  frontend/src/js/store/devicesSlice/thunks.tsx
Due: none

asd
  frontend/src/js/store/devicesSlice/thunks.tsx
Due: none

fix(gui): improved likelyhood of getting all device report related data from backend
  frontend/src/js/store/devicesSlice/thunks.tsx
Due: none

chore(gui): added selector for user init state
  frontend/src/js/store/usersSlice/selectors.ts
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
