Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

fix(gui): ensured tags & device types don't contain whitespace
  frontend/src/js/common-ui/ChipSelect.test.tsx
  frontend/src/js/common-ui/ChipSelect.tsx
  frontend/src/js/common-ui/__snapshots__/ChipSelect.test.tsx.snap
Due: none

fix(gui): ensured manifest handles multi document yaml imports properly
  frontend/src/js/components/releases/manifests/ManifestDrawer.test.tsx
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

fix(gui): let tags etc. no longer appear editable when they are only rendered as data
  frontend/src/js/common-ui/ChipSelect.tsx
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDetails.test.tsx.snap
Due: none

chore(gui): let password reset page always show - even when logged in
  frontend/src/js/components/App.tsx
Due: none

refactor(deviceauth): Replace custom workflows client with generated one
  backend/services/deviceauth/client/orchestrator/client_orchestrator.go
  backend/services/deviceauth/client/orchestrator/client_orchestrator_test.go
  backend/services/deviceauth/client/orchestrator/mocks/ClientRunner.go
  backend/services/deviceauth/client/orchestrator/models.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): Update unit test to use OAS workflow client
  backend/services/deviceauth/devauth/devauth_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceauth): Replace custom inventory client with generated one
  backend/services/deviceauth/client/inventory/client.go
  backend/services/deviceauth/client/inventory/client_test.go
  backend/services/deviceauth/client/inventory/mocks/Client.go
  backend/services/deviceauth/client/inventory/requests.go
  backend/services/deviceauth/client/testing/client.go
  backend/services/deviceauth/cmd/commands.go
  backend/services/deviceauth/cmd/maintenance.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/main.go
  backend/services/deviceauth/server.go
  backend/services/deviceauth/store/mongo/migration_1_7_0.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceauth): Update unit test to use OAS inventory client
  backend/services/deviceauth/cmd/commands_test.go
  backend/services/deviceauth/devauth/devauth_test.go
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: fix typo in device status
  backend/services/deviceauth/devauth/devauth_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(gui): align user settings with updated design
  frontend/src/js/components/settings/AccessTokenManagement.tsx
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
  frontend/src/js/components/settings/user-management/TwoFactorAuthSetup.tsx
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
Due: none

chore(gui): aligned settings input width w/ updated design
  frontend/src/js/components/settings/constants.ts
Due: none

chore(gui): removed password strength meter to align w/ updated design
  frontend/src/js/common-ui/forms/PasswordInput.tsx
  frontend/src/js/components/settings/user-management/UserForm.tsx
Due: none

chore(gui): further unified settings wide component width definitions
  frontend/src/js/common-ui/SettingsItem.tsx
Due: none

chore(gui): aligned width override possibilities in password input w/ regular textinputs
  frontend/src/js/common-ui/forms/PasswordInput.tsx
Due: none

chore(gui): fixed lint warning
  frontend/src/js/components/devices/device-details/Configuration.tsx
Due: none

test(gui): align user settings & password gen tests w/ updated design
  frontend/src/js/components/login/Signup.test.tsx
  frontend/src/js/components/settings/user-management/SelfUserManagement.test.tsx
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

chore(gui): aligned snapshots after nt-gui update
  frontend/src/js/components/dashboard/__snapshots__/SoftwareDistribution.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/Distribution.test.tsx.snap
Due: none

fix(gui): aligned yaml validation further w/ backend expectations
  frontend/src/js/components/releases/manifests/ManifestDrawer.test.tsx
  frontend/src/js/components/releases/manifests/ManifestDrawer.tsx
Due: none

chore: migrate to x-deprecated-description
  backend/docs/api/deployments/management_v1.yaml
  backend/docs/api/deployments/schemas.yaml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: client re-generation
  backend/docs/api/dist/openapi.yaml
  backend/pkg/api/client/README.md
  backend/pkg/api/client/api_deployments_management_api.go
  backend/pkg/api/client/model_update.go
  backend/tests/mender_client/api/deployments_management_api_api.py
  backend/tests/mender_client/models/update.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): unified spacing for common drawer header
  frontend/src/js/common-ui/DrawerTitle.tsx
  frontend/src/js/components/deployments/Report.tsx
  frontend/src/js/components/releases/DeltaGenerationDetailsDrawer.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/manifests/ManifestDetails.tsx
Due: none

refactor(gui): improved typescript adoption in artifact details
  frontend/src/js/components/releases/ArtifactDetails.tsx
Due: none

chore(gui): replaced Artifact removal dialog with common confirm
  frontend/src/js/common-ui/ConfirmModal.tsx
  frontend/src/js/components/releases/ReleaseDetails.tsx
  frontend/src/js/components/releases/Releases.test.tsx
  frontend/src/js/components/releases/dialogs/RemoveArtifact.test.tsx
  frontend/src/js/components/releases/dialogs/RemoveArtifact.tsx
  frontend/src/js/components/releases/dialogs/__snapshots__/RemoveArtifact.test.tsx.snap
Due: none

chore(gui): aligned Artifact Details with design
  frontend/src/js/components/releases/ArtifactDetails.tsx
Due: none

chore(gui): aligned Artifact Accordion with design
  frontend/src/js/components/releases/Artifact.tsx
Due: none

chore(gui): adjusted QuickAction label color
  frontend/src/js/common-ui/QuickActions.tsx
Due: none

chore(gui): adjusted ContentSection spacing to align with the design
  frontend/src/js/common-ui/ContentSection.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/common-ui/__snapshots__/ContentSection.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/AuthStatus.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Configuration.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Deployments.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceInventory.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceTags.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceTwin.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Identity.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/InstalledSoftware.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Monitoring.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/DeviceQuickActions.test.tsx.snap
  frontend/src/js/components/releases/Artifact.test.tsx
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactPayload.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDetails.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDrawer.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestQuickActions.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
Due: none

chore(gui): aligned Artifact Payload with design
  frontend/src/js/components/releases/Artifact.tsx
  frontend/src/js/components/releases/ArtifactDetails.tsx
  frontend/src/js/components/releases/ArtifactPayload.tsx
Due: none

chore(gui): aligned Release Details with updated design
  frontend/src/js/components/releases/ReleaseDetails.tsx
Due: none

test(e2e): updated release details selector
  frontend/tests/e2e_tests/integration/02-baseline/01-releases.spec.ts
Due: none

chore(gui): let settings rely on default margin wherever possible to increase design consistency
  frontend/src/js/components/settings/Global.tsx
  frontend/src/js/components/settings/organization/Organization.tsx
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
  frontend/src/js/components/settings/user-management/TwoFactorAuthSetup.tsx
Due: none

refactor(gui): let organization organization + sso settings rely more on default setting appearance
  frontend/src/js/components/settings/organization/Organization.tsx
Due: none

chore(gui): aligned settings default margin w/ design
  frontend/src/js/common-ui/SettingsItem.tsx
Due: none

chore(gui): aligned snapshots
  frontend/src/js/common-ui/__snapshots__/SettingsItem.test.tsx.snap
  frontend/src/js/common-ui/forms/__snapshots__/Form.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/PasswordReset.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Signup.test.tsx.snap
  frontend/src/js/components/login/signup-steps/__snapshots__/UserdataEntry.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/AccessTokenManagement.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/Billing.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/Organization.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/RoleDefinition.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/TwoFactorAuthSetup.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
Due: none

chore(gui): added type information for purely textual inputs
  frontend/src/js/common-ui/forms/PasswordInput.tsx
  frontend/src/js/common-ui/forms/TextInput.tsx
Due: none

chore(gui): made width prop absence more explicit
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
Due: none

fix(gui): let onboarding tip to create a deployment point to the right button again
  frontend/src/js/components/deployments/CreateDeployment.tsx
Due: none

fix(deviceconnect): consolidate default config with config.yaml file
  backend/services/deviceconnect/config.yaml
  backend/services/deviceconnect/config/config.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(gui): let onboarding tooltip position be handled by related components via mui v9 slotprops
  frontend/src/js/common-ui/helptips/MenderTooltip.tsx
  frontend/src/js/components/helptips/BaseOnoardingTip.tsx
  frontend/src/js/components/helptips/OnboardingCompleteTip.tsx
Due: none
