Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*

chore: aligned terminal screenshot w/ updated playwright version
  frontend/tests/e2e_tests/fixtures/terminalContent.png
Due: none

fix: additional compose alignment after compose setup changes
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
Due: none

chore(compose): Change routing rule for SeaweedFS to use PathPrefix
  docker-compose.yml
Due: none

chore(compose): Consistently use `deploy.replicas` instead of `scale`
  backend/tests/docker-compose.yml
  docker-compose.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage

ci: fix missing flag
  .gitlab-ci.yml
Due: none

chore: add empty CHANGELOG.md for git cliff
  CHANGELOG.md
Due: none

chore: added missing license headers
  frontend/src/js/components/common/forms/autocomplete.js
  frontend/src/js/components/common/list.tsx
  frontend/src/js/tracking.js
Due: none

feat: reinstated source license check
  frontend/pipeline.yml
  frontend/scripts/addLicense.js
  frontend/scripts/common.js
  frontend/scripts/deno.json
  frontend/scripts/typeGeneration/convert.js
Due: none

chore(compose): Fix SeaweedFS command passed as single string
  docker-compose.yml
Due: none

chore(compose): Lower startup time for s3fs service
  docker-compose.yml
Due: none

ci: force version 4.0.0
  .gitlab-ci.yml
Due: none

ci: drop prepend flag
  .gitlab-ci.yml
Due: none

chore(e2e-tests): instructed auditlog terminal test to provide more context in case of failure
  frontend/tests/e2e_tests/integration/06-auditlogs.spec.ts
Due: none

refac(compose): Refactor SeaweedFS topology and optimize startup/shutdown time
  compose/docker-compose.seaweedfs.yml
  docker-compose.yml
Due: none

feat: add `version` command to all Go binaries
  backend/pkg/version/version.go
  backend/services/Makefile.common
  backend/services/create-artifact-worker/cmd/root.go
  backend/services/deployments/main.go
  backend/services/deviceauth/main.go
  backend/services/deviceconfig/main.go
  backend/services/deviceconnect/main.go
  backend/services/inventory/main.go
  backend/services/iot-manager/main.go
  backend/services/reporting/main.go
  backend/services/useradm/main.go
  backend/services/workflows/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

ci: clone every job to get the full history
  .gitlab-ci.yml
Due: none

ci: unset git depth to get full history
  .gitlab-ci.yml
Due: none

chore(main): release 3.8.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore(compose): Change S3 port to 8080 and remove exception from tests
  backend/tests/integration/tests/testutils/common.py
  compose/docker-compose.seaweedfs.yml
  docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage

chore(compose): Adjust test environments to s3 service rename
  backend/services/deployments/tests/docker-compose.acceptance.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage

ci: prerelease support to release-please
  release-please-config.json
Due: none

ci: temporary workaround for release-pr
  .gitlab-ci.yml
Due: none

feat(deployments): add filter field to deployment object
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/docs/management_api.yml
  backend/services/deployments/model/deployment.go
  backend/services/deployments/model/filters.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

fix: fixed an issue that prevented onboarding tips from showing
  frontend/src/js/store/onboardingSlice/index.ts
  frontend/src/js/store/onboardingSlice/reducer.test.ts
Due: none

fix: removed api spec validation restriction to management apis
  .gitlab-ci.yml
Due: none

feat: review of the supported cryptographic keys
  backend/services/deviceauth/docs/devices_api.yml
  backend/services/deviceauth/docs/internal_api.yml
  backend/services/deviceauth/docs/management_api.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage

build(make): Add fallback version for development
  backend/services/Makefile.common
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage

feat(deviceconfig): support for the hidden Configure Add-on fields
  backend/services/deviceconfig/api/http/management.go
  backend/services/deviceconfig/api/http/router.go
  backend/services/deviceconfig/docs/management_api_v2.yml
  backend/services/deviceconfig/model/attribute.go
  backend/services/deviceconfig/model/validation.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

feat(inventory): add support for "$in" operator in the device search API
  backend/services/inventory/docs/internal_api_v2.yml
  backend/services/inventory/docs/management_api_v2.yml
  backend/services/inventory/model/filters.go
  backend/services/inventory/model/filters_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage

chore(main): release 4.0.0-rc.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore: Update changelog header for release candidate
  CHANGELOG.md
Due: none

chore: moved FileSize component from helpers to components
  frontend/src/js/components/common/__snapshots__/filesize.test.js.snap
  frontend/src/js/components/common/filesize.test.js
  frontend/src/js/components/common/filesize.tsx
  frontend/src/js/components/deployments/deployment-report/devicelist.js
  frontend/src/js/components/deployments/deploymentitem.js
  frontend/src/js/components/releases/artifactPayload.js
  frontend/src/js/components/releases/dialogs/fileinformation.js
  frontend/src/js/components/releases/releasedetails.js
  frontend/src/js/components/uploads.js
  frontend/src/js/helpers.js
  frontend/src/js/helpers.test.js
Due: none
