Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

chore: do not upgrade crypthography packege to avoid conflicting dependencies
  backend/tests/requirements-integration.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(gui): adjust e2e user creation test to invitation flow
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
  frontend/tests/e2e_tests/integration/03-advanced/30-saml.spec.ts
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

chore(gui): theme adjustments in user creation modal
  frontend/src/js/components/settings/constants.ts
  frontend/src/js/components/settings/user-management/UserDefinition.tsx
  frontend/src/js/components/settings/user-management/UserForm.tsx
Due: none

test(gui): adjust user creation unit test
  frontend/src/js/components/settings/user-management/UserManagement.test.tsx
Due: none

chore(gui): add disableMargin prop for content section
  frontend/src/js/common-ui/ContentSection.tsx
Due: none

ci: bump docker from 27.3 to 29.1 for CI jobs
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: bump integration-tester container tag
  backend/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: do not download mender-artifact in run script
  backend/tests/docker-compose.yml
  backend/tests/integration/run
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): select readonly role by default in user creation form
  frontend/src/js/components/settings/user-management/UserForm.tsx
Due: none

chore(gui): align snapshots
  frontend/src/js/common-ui/forms/__snapshots__/Form.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Login.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/PasswordReset.test.tsx.snap
  frontend/src/js/components/login/__snapshots__/Signup.test.tsx.snap
  frontend/src/js/components/login/signup-steps/__snapshots__/UserdataEntry.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
Due: none

test(e2e): also authorize qemu devices via updated pendings notification
  frontend/tests/e2e_tests/integration/04-qemu-dependent/01-delta-gen-features.spec.ts
Due: none

chore: replace pointer utility funcs with built-in `new`
  backend/pkg/identity/token_test.go
  backend/pkg/utils/types/pointer.go
  backend/services/deployments/api/http/api_deployments_test.go
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/app/images_test.go
  backend/services/deployments/app/status_test.go
  backend/services/deployments/model/device_deployment_external_test.go
  backend/services/deployments/storage/s3/options.go
  backend/services/deployments/store/mongo/datastore_mongo_test.go
  backend/services/deployments/store/mongo/deployments_external_test.go
  backend/services/deployments/store/query_device_deployments_test.go
  backend/services/deployments/store/query_test.go
  backend/services/deployments/utils/pointers/pointers.go
  backend/services/deployments/utils/pointers/pointers_test.go
  backend/services/deviceauth/api/http/api_devauth_test.go
  backend/services/deviceauth/devauth/devauth.go
  backend/services/deviceauth/devauth/devauth_test.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
  backend/services/deviceauth/store/mongo/migration_1_4_0.go
  backend/services/deviceauth/store/mongo/migration_1_5_0.go
  backend/services/deviceauth/utils/to/pointer.go
  backend/services/deviceconfig/app/app_test.go
  backend/services/deviceconnect/api/http/management_filetransfer_test.go
  backend/services/deviceconnect/model/filetransfer_test.go
  backend/services/inventory/api/http/api_inventory_test.go
  backend/services/inventory/inv/inventory_test.go
  backend/services/inventory/store/mongo/datastore_mongo_test.go
  backend/services/inventory/store/mongo/migration_0_2_0_test.go
  backend/services/inventory/store/mongo/migration_1_0_0_test.go
  backend/services/iot-manager/app/app_iot_core_test.go
  backend/services/iot-manager/app/app_iot_hub_test.go
  backend/services/iot-manager/model/aws_credentials_test.go
  backend/services/iot-manager/model/integration_test.go
  backend/services/useradm/api/http/api_useradm_test.go
  backend/services/useradm/store/mongo/datastore_mongo_test.go
  backend/services/useradm/user/useradm_test.go
  backend/tests/runner/tests/common/device.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix: harden redis cluster client against stale topology change
  backend/pkg/redis/redis.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: establish common device utility for all ng tests
  backend/tests/runner/tests/common/crypto.go
  backend/tests/runner/tests/common/device.go
  backend/tests/runner/tests/common/docker_compose_environment.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: use common device in opensource inventory management v2 ng-tests
  backend/tests/runner/tests/opensource/inventory_management_v2_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: use common device in opensource inventory management v2alpha1 ng-tests
  backend/tests/runner/tests/opensource/inventory_management_v2alpha1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: pin down redis cluster hardening error classification
  backend/pkg/redis/redis_hardening_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: run pkg/redis's existing tests against a real redis
  .gitlab-ci.yml
  backend/pkg/redis/ratelimit_test.go
  renovate.json5
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix: parse the `cluster` connection-string query param correctly
  backend/pkg/redis/redis.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(e2e): cleaned up admin-panel tests to rely on backend tests where browser usage is optional
  frontend/tests/e2e_tests/integration/03-advanced/06-adminPanel.spec.ts
  frontend/tests/e2e_tests/integration/05-admin-panel/01-navigation.spec.ts
  frontend/tests/e2e_tests/integration/05-admin-panel/02-tenants.spec.ts
  frontend/tests/e2e_tests/integration/05-admin-panel/03-users.spec.ts
  frontend/tests/e2e_tests/integration/05-admin-panel/04-notices.spec.ts
  frontend/tests/e2e_tests/integration/09-potentially-destructive/02-adminPanel.spec.ts
  frontend/tests/e2e_tests/utils/adminPanel.ts
Due: none

chore: remove tests for now dropped tenant notice functionality
  frontend/tests/e2e_tests/integration/05-admin-panel/04-notices.spec.ts
  frontend/tests/e2e_tests/utils/adminPanel.ts
Due: none

chore(deployments): ignore empty type info when parsing artifacts
  backend/services/deployments/app/app.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(e2e): aligned search access w/ updated implementation
  frontend/tests/e2e_tests/integration/03-advanced/01-devices.spec.ts
Due: none

test: use container hostname for compat clients device identity
  backend/tests/docker/docker-compose.backend-tests-compat.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: avoid geo script execution for compat clients
  backend/tests/docker/docker-compose.backend-tests-compat.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update dependency mendersoftware/mender-artifact to v4.4.2
  backend/services/create-artifact-worker/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update golang-dependencies
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(deps): update npm-mui
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency @babel/plugin-transform-runtime to v8
  frontend/package.json
Due: none

chore(deps): downgrade mender-artifact to v0.0.0-20250724101633-c5f6563a4bcf
  backend/go.mod
  backend/go.sum
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(e2e): aligned tenant names w/ their configuration across the e2e tests
  frontend/tests/e2e_tests/integration/05-admin-panel/02-tenants.spec.ts
  frontend/tests/e2e_tests/runner/test-execution.js
  frontend/tests/e2e_tests/utils/adminPanel.ts
  frontend/tests/e2e_tests/utils/constants.ts
Due: none

chore: removed leftover from tenant notices functionality removal
  frontend/tests/e2e_tests/integration/05-admin-panel/01-navigation.spec.ts
Due: none

fix(workflows): do not evaluate ${...} expressions coming from user-supplied data
  backend/services/workflows/app/processor/job.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

perf(gui): skip time tooltip rendering if no relevant time info is available
  frontend/src/js/common-ui/Time.tsx
Due: none

perf(gui): simplify dynamic deployment refresh
  frontend/src/js/components/deployments/InProgressDeployments.test.tsx
  frontend/src/js/components/deployments/InProgressDeployments.tsx
Due: none

chore(gui): adjust styles of a new global search modal
  frontend/src/js/components/header/SearchV2.tsx
Due: none

test(deployments): test mender-artifact artifact backwards compatibility
  backend/tests/runner/tests/data/missing-type-info.mender
  backend/tests/runner/tests/opensource/deployments_management_v1_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses
