Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

build:backend:docker:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

build:backend:docker-acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:validate-open-api:
  stage: test
  needs: []
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/alpine:${ALPINE_VERSION}
  before_script:
  - apk add --no-cache curl
  - curl -L https://raw.githubusercontent.com/stoplightio/spectral/master/scripts/install.sh -o install.sh
  - sh install.sh
  script:
  ...

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  resource_group: test_backend_unit
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:${MONGO_VERSION}
    alias: mongo
  variables:
  ...

test:backend:acceptance:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

test:backend:integration:
  before_script:
  - - DOCKER_RETRY_SLEEP_S=10
    - DOCKER_RUNNING=false
    - for try in 4 3 2 1; do
    - docker ps && DOCKER_RUNNING=true
    - if [ "${DOCKER_RUNNING}" == "true" ]; then
    - echo "DEBUG - docker is running - continue"
    - break
    - fi
    - sleep "${DOCKER_RETRY_SLEEP_S}"
    - done
  ...

publish:backend:coverage:
  stage: publish
  needs:
  - job: test:backend:unit
    artifacts: true
    optional: true
  - job: test:backend:acceptance
    artifacts: true
    optional: true
  - job: test:backend:integration
    artifacts: true
    optional: true
  image: golang:${GOLANG_VERSION}
  allow_failure: true
  variables:
  ...

publish:backend:licenses:
  stage: publish
  image: golang:${GOLANG_VERSION}
  variables:
    GOFLAGS: -tags=nopkcs11
  before_script:
  - go install github.com/google/go-licenses@v1.6.0
  script:
  - cd backend
  ...

fix(deviceconnect): improve error handling reaching session recording limit
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: update deviceconnect unit tests for websocket sessions
  backend/services/deviceconnect/api/http/device_test.go
  backend/services/deviceconnect/api/http/management_test.go
  backend/services/deviceconnect/client/nats/mocks/Client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconnect): mender command APIs to use connection oriented streams
  backend/services/deviceconnect/api/http/device_test.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/api/http/management_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): adjust acceptance tests status assertions
  backend/services/deviceconnect/tests/tests/test_connect.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

refactor(deviceconnect): file transfer to use connection oriented NATS transport
  backend/services/deviceconnect/api/http/management_filetransfer.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): update deviceconnect application tests
  backend/services/deviceconnect/app/app_test.go
  backend/services/deviceconnect/app/playback_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test(deviceconnect): rewrite filetransfer tests to use stream mocks
  backend/services/deviceconnect/api/http/management_filetransfer_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(deployments): correct total count when result page overshoots
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/store/mongo/datastore_mongo.go
  backend/services/deployments/store/mongo/datastore_mongo_test.go
  backend/tests/integration/test_deployments.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(gui): ensured child tenant modifications are properly awaited
  frontend/src/js/components/tenants/ExpandedTenant.tsx
Due: none

feat(gui): added an unlink Oauth button in profile settings
  frontend/src/js/components/settings/user-management/SelfUserManagement.tsx
Due: none

chore(gui): updated snapshots
  frontend/src/js/common-ui/__snapshots__/InventoryTable.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/TextOverflowMultiline.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/TwoColumnData.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceConfiguration.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/DeviceDetails.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/FileTransfer.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/PortForward.test.tsx.snap
  frontend/src/js/components/auditlogs/eventdetails/__snapshots__/TerminalSession.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeploymentStatus.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeviceList.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/Overview.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/__snapshots__/RolloutSchedule.test.tsx.snap
  frontend/src/js/components/deployments/deployment-wizard/__snapshots__/ReleaseItem.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Configuration.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/DeviceInventory.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Identity.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/InstalledSoftware.test.tsx.snap
  frontend/src/js/components/helptips/__snapshots__/HelpTooltips.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactMetadataList.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactPayload.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/manifests/__snapshots__/ManifestDetails.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
Due: none

chore(gui): add TextOverflowMultiline component to replace WebkitLineClamp usage
  frontend/src/js/common-ui/TextOverflowMultiline.test.tsx
  frontend/src/js/common-ui/TextOverflowMultiline.tsx
Due: none

chore(gui): adopted text overflow component where suitable
  frontend/src/js/common-ui/CopyableText.tsx
  frontend/src/js/components/deployments/deployment-wizard/ReleaseItem.tsx
Due: none

chore(gui): aligned snapshots after mui update
  frontend/src/js/common-ui/__snapshots__/ExpandableAttribute.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/Groups.test.tsx.snap
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactMetadataList.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactPayload.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOConfig.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionSummary.test.tsx.snap
Due: none

chore(gui): added rhf number component
  frontend/src/js/common-ui/forms/NumberInput.tsx
Due: none

chore(gui): cleaned up and added props to NumberField
  frontend/src/js/common-ui/forms/CopiedNumberField.tsx
  frontend/src/js/common-ui/forms/NumberField.tsx
Due: none

chore(gui): made use of number field component
  frontend/src/js/components/deployments/deployment-wizard/PhaseSettings.tsx
  frontend/src/js/components/deployments/deployment-wizard/RolloutOptions.tsx
  frontend/src/js/components/settings/Global.tsx
Due: none

chore(gui): made use of number input component
  frontend/src/js/components/subscription/SubscriptionPage.tsx
  frontend/src/js/components/tenants/TenantCreateForm.tsx
Due: none

test(gui): added/updated tests to work with number input
  frontend/src/js/common-ui/forms/NumberField.test.tsx
  frontend/src/js/components/deployments/Deployments.test.tsx
  frontend/src/js/components/subscription/SubscriptionPage.test.tsx
  frontend/src/js/components/tenants/ExpandedTenant.test.tsx
  frontend/src/js/components/tenants/TenantsForm.test.tsx
Due: none

ci: let e2e test jobs rely on docker install from testing image
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(gui): updated snapshots after mui update
  frontend/src/js/common-ui/__snapshots__/ExpandableAttribute.test.tsx.snap
  frontend/src/js/common-ui/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/__snapshots__/App.test.tsx.snap
  frontend/src/js/components/__snapshots__/LeftNav.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/DeviceGroups.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/Groups.test.tsx.snap
  frontend/src/js/components/help/__snapshots__/Help.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/Artifact.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactDetails.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactMetadataList.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ArtifactPayload.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/Organization.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/OrganizationSettingsItem.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOConfig.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
Due: none

chore(gui): updated snapshot
  frontend/src/js/common-ui/forms/__snapshots__/NumberField.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/Global.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionPage.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionSummary.test.tsx.snap
Due: none

chore(gui): updated snapshots
  frontend/src/js/components/settings/__snapshots__/Settings.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/SelfUserManagement.test.tsx.snap
Due: none

chore: move golinter to the k8s runner
  .gitlab-ci.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

fix(gui): aligned the deployment status dark mode background color
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/deployments/deployment-report/DeploymentStatus.tsx
  frontend/src/js/components/deployments/deployment-report/__snapshots__/DeploymentStatus.test.tsx.snap
Due: none

test(gui): increased unit test timeout
  frontend/pipeline.yml
Due: none

chore(gui): reverted vite react plugin to compatible version
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): reverted theme package to compatible version
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(gui): aligned snapshots after jsdom update
  frontend/src/js/common-ui/dialogs/__snapshots__/ConfirmDismissHelpTips.test.tsx.snap
  frontend/src/js/common-ui/dialogs/__snapshots__/Log.test.tsx.snap
  frontend/src/js/components/__snapshots__/SearchResult.test.tsx.snap
  frontend/src/js/components/__snapshots__/Uploads.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/Distribution.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/ConfigImportDialog.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/ConnectToGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/DeviceConnectionDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MakeGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MonitorDetailsDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/PreauthDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/customColumnsDialog.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroup.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroupExplainer.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/RemoveGroup.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/DeviceQuickActions.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/AddArtifact.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/RemoveArtifact.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/ArtifactGeneration.test.tsx.snap
  frontend/src/js/components/settings/dialogs/__snapshots__/CancelRequest.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOEditor.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/RoleDefinition.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantsForm.test.tsx.snap
Due: none

test(gui): ensured file upload works w/ updated jsdom version
  frontend/src/js/components/devices/dialogs/PreauthDialog.test.tsx
Due: none

test(gui): fixed the email length issue
  frontend/tests/e2e_tests/integration/03-advanced/05-rbac.spec.ts
Due: none

chore(gui): aligned snapshots after jsdom dep update
  frontend/src/js/common-ui/dialogs/__snapshots__/ConfirmDismissHelpTips.test.tsx.snap
  frontend/src/js/common-ui/dialogs/__snapshots__/Log.test.tsx.snap
  frontend/src/js/components/__snapshots__/SearchResult.test.tsx.snap
  frontend/src/js/components/__snapshots__/Uploads.test.tsx.snap
  frontend/src/js/components/dashboard/widgets/__snapshots__/Distribution.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/CreateDeployment.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/Report.test.tsx.snap
  frontend/src/js/components/devices/__snapshots__/ExpandedDevice.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/ConfigImportDialog.test.tsx.snap
  frontend/src/js/components/devices/device-details/__snapshots__/Connection.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/ConnectToGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/DeviceConnectionDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MakeGatewayDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/MonitorDetailsDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/PreauthDialog.test.tsx.snap
  frontend/src/js/components/devices/dialogs/__snapshots__/customColumnsDialog.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroup.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/CreateGroupExplainer.test.tsx.snap
  frontend/src/js/components/devices/group-management/__snapshots__/RemoveGroup.test.tsx.snap
  frontend/src/js/components/devices/widgets/__snapshots__/DeviceQuickActions.test.tsx.snap
  frontend/src/js/components/releases/__snapshots__/ReleaseDetails.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/AddArtifact.test.tsx.snap
  frontend/src/js/components/releases/dialogs/__snapshots__/RemoveArtifact.test.tsx.snap
  frontend/src/js/components/settings/__snapshots__/ArtifactGeneration.test.tsx.snap
  frontend/src/js/components/settings/dialogs/__snapshots__/CancelRequest.test.tsx.snap
  frontend/src/js/components/settings/organization/__snapshots__/SSOEditor.test.tsx.snap
  frontend/src/js/components/settings/role-management/__snapshots__/RoleDefinition.test.tsx.snap
  frontend/src/js/components/settings/user-management/__snapshots__/UserForm.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionConfirmation.test.tsx.snap
  frontend/src/js/components/subscription/__snapshots__/SubscriptionDrawer.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/ExpandedTenant.test.tsx.snap
  frontend/src/js/components/tenants/__snapshots__/TenantsForm.test.tsx.snap
Due: none

ci: made use of gitlab registry test container images
  .gitlab-ci.yml
  frontend/pipeline.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:validate-open-api, test:backend:unit, test:backend:acceptance, test:backend:integration

test(gui): clear the number input before entering a new value
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

test(gui): select text in number input using keystroke in e2e
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

chore(gui): updated snapshots
  frontend/src/js/common-ui/forms/__snapshots__/TimeFramePicker.test.tsx.snap
  frontend/src/js/components/auditlogs/__snapshots__/Auditlogs.test.tsx.snap
  frontend/src/js/components/deployments/__snapshots__/PastDeployments.test.tsx.snap
Due: none

test(gui): cleared mcu device limit before increasing their amount in e2e scenario
  frontend/tests/e2e_tests/integration/09-potentially-destructive/01-settings.spec.ts
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*, .gitlab-ci.yml
  build:backend:docker-acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:static: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:validate-open-api: any of: backend/**/docs/*.yml, backend/docs/api/*.yaml, .gitlab-ci.yml
  test:backend:unit: any of: backend/**/*.go, backend/go.mod, .gitlab-ci.yml
  test:backend:acceptance: any of: backend/**/*, .gitlab-ci.yml
  test:backend:integration: any of: backend/**/*, .gitlab-ci.yml
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*
